<div class="features web-form form-wrapper alert-modal-css">
  <div class="modal-footer alert alert-info" role="alert">推荐说明：紧急程度分为 1-9 级别，1-3 代表“暂无需求，有机会合作”，4-6 代表“模糊需求，但公司知名度或联系人职位高，需要联系”，7-9 代表“明确需求，需尽快联系”。推荐人将被纳入牛人推荐奖励计划。</div>
  <div class="container">
    <div class="form-box">
      <h1 class="title">客户推荐表</h1>
      <%= form_for Recommendation.new, url: {controller: "recommendations", action: "create", t: SecureRandom.uuid}, :remote => true, html: {class: "form-horizontal", id: "recommendation-form"} do |f| %>
        <%= f.hidden_field :referer, value: request.original_url -%>

        <div class="form-group">
          <label for="recommendation-company" class="col-sm-2 control-label">公司名称<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.text_field :company, class:"form-control", id:"recommendation-company", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请填写公司名称</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-name" class="col-sm-2 control-label">联系人姓名<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.text_field :name, class:"form-control", id:"recommendation-name", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请填写联系人姓名</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-position" class="col-sm-2 control-label">职务<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.text_field :position, class:"form-control", id:"recommendation-position", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请填写职务</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-email" class="col-sm-2 control-label">电子邮箱<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.text_field :email, type: "email", class:"form-control", id:"recommendation-email", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请填写电子邮箱</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-phone" class="col-sm-2 control-label">联系电话<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.telephone_field :phone, class:"form-control", id:"recommendation-phone", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请以正确的格式填写联系电话</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-desc" class="col-sm-2 control-label">需求描述<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.text_area :desc, size: "x5", maxLength: 200, class: "form-control", id:"recommendation-desc", validate: true %>
            <div class="maxLength-tips">
              <label for="" class="maxLength-label">最多可输入200字</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-business" class="col-sm-2 control-label">紧急程度<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <select role="tablist" id="emergency" class="select-lg form-control" name="recommendation[emergency]">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-recommender_name" class="col-sm-2 control-label">推荐人姓名<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.text_field :recommender_name, class:"form-control", id:"recommendation-recommender_name", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请填写推荐人姓名</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recommendation-recommender_phone" class="col-sm-2 control-label">推荐人手机<small class="text-danger">*</small></label>
          <div class="col-sm-10">
            <%= f.telephone_field :recommender_phone, class:"form-control", id:"recommendation-recommender_phone", validate: true %>
            <div class="div-error">
              <label for="" class="error-label">请以正确的格式填写推荐人手机</label>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.button "提 交", class:"btn btn-primary", id:"recommendation-submit", disabled: true, data: {disable_with: "正在提交中..."}  %>
        </div>
      <% end %>
    </div>
  </div>
</div>