<div class="fluid-slider-wrapper">
    <div class="fluid-slider">
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-1.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-2.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-3.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-4.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-5.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-6.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-7.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-8.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-9.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-10.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-11.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-12.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-13.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-14.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-15.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-16.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-17.jpg"%></div></div>
        <div><div class="fluid-slider-img-wraaper"><%= image_tag "photo-18.jpg"%></div></div>
    </div>
</div>

<div class="features features-less tab-content-section-4" style="padding-top: 100px;">
    <div class="container">
        <div class="fluid-wordbutton-slider conveyor slick-slider draggable">
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-mayiqing.png" alt="Avatar mayiqing" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>马逸清</b></h4>
                                    <h5 align="left">2013届 毕业生</h5>
                                    <h5 align="left">前端开发工程师</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:50px; padding-right: 50px">
                                <p align="left">
                                    由于提供的是技术类的产品，业务和技术关系
                                    非常紧密，这也让我们的技术氛围比较好，是比
                                    较典型的工程师文化。我们喜欢思考问题的本质，
                                    尽量用简单的规则和办法去解决看似复杂的问题。
                                    这也是公司一直以来崇尚的文化——简单·可信赖。
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-fengliyuan.png" alt="Avatar fengliyuan" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>冯立元</b></h4>
                                    <h5 align="left">2013届 毕业生</h5>
                                    <h5 align="left">服务端开发工程师</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:50px; padding-right: 50px">
                                <p align="left">
                                    在七牛，我经历了初出茅庐前来实习，到扛起一整条产品线的责任。
                                    刚来实习的时候公司只有十几个人，身边的小伙伴都很有技术范儿，
                                    对技术细节很讲究、也很有品味。我所承担的工作对当时的我而言极
                                    具挑战性。在这里，写代码、做产品是没法马马虎虎的，严格到变态
                                    的代码Review、各种意想不到的测试场景、小伙伴们认真作战的感染
                                    力，以及你自身的责任感都驱使你不断突破，追求极致。
                                </p>
                            </div>    
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-maolifu.png" alt="Avatar maolifu" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>茅力夫</b></h4>
                                    <h5 align="left">2014届 毕业生</h5>
                                    <h5 align="left">技术支持工程师</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:50px; padding-right: 50px">
                                <p align="left">
                                    在七牛，你会看到每一个团队和七牛人都在为用户至上的服务宗旨、打造更极致的产品而努力，
                                    在不断自我突破、野蛮成长的过程中，开放融洽的团队氛围、丰富的牛棚活动、充满惊喜的节
                                    日小礼物又总会为我们在紧张而快速的节奏中带来满满正能量。
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-shengxiaoyan.png" alt="Avatar shengxiaoyan" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>沈晓燕</b></h4>
                                    <h5 align="left">2015届 毕业生</h5>
                                    <h5 align="left">大客户经理</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:50px; padding-right: 50px">
                                <p align="left">
                                    经过两年多点学习和沟通，开始对云服务这个大的方向有更深入的了解，
                                    从最开始的小白到现在略有积累，从职场菜鸟到可以独当一面，作为服务
                                    在第一线的销售，未来的路还很长，愿和七牛一同成长，一起服务好我们
                                    的用户，让天下没有难写的代码。
                                </p>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-zhangchenfei.png" alt="Avatar zhangchenfei" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>张晨菲</b></h4>
                                    <h5 align="left">2016届 毕业生</h5>
                                    <h5 align="left">人力资源专员</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:20px; padding-right: 50px">
                                <p align="left">
                                    入职七牛一年多，老大们筚路蓝缕多创业精神，攻城狮们追求极致的工匠精神，
                                    服务线小伙伴以客户为先的兢兢业业，让我感动颇深，见证了来自五湖四海的
                                    年轻人一起奋斗发出的光芒。如果你想在一个简单的环境里简单地做一些可以
                                    改变世界的事，相信七牛会是你的第一选择。
                                </p>
                            </div>                             
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-luoyisi.png" alt="Avatar luoyisi" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>罗轶斯</b></h4>
                                    <h5 align="left">2016届 毕业生</h5>
                                    <h5 align="left">活动运营专员</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:50px; padding-right: 50px">
                                <p align="left">
                                    七牛给我的最大的感觉就是，工作氛围很好。在工作中，身边的每一位小伙伴
                                    都在认真负责着自己的工作，毫不懈怠，我觉得年轻人就应该在这种工作圈中
                                    工作，才会得到提升。所以一直庆幸选择了七牛。
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-zhaoziqi.png" alt="Avatar zhaoziqi" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>赵梓旗</b></h4>
                                    <h5 align="left">2017届 毕业生</h5>
                                    <h5 align="left">服务端开发工程师</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left:50px; padding-right: 50px">
                                <p align="left">
                                    丰富的早餐与夜宵、免费健身、温馨的节日祝福……"温暖"与”成长”是七牛
                                    给到刚刚加入公司的我最初的感受。更重要的是，扁平化的管理，以客户为
                                    导向的宗旨，技术为本、体验至上的产品理念，快速高效的决策流程，干活
                                    满满的技术分享，创始人与老员工的言传身教，这一切都在让我不断的野蛮
                                    生长，期待着未来与七牛一起走更多更长的奋斗之路！
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="fluid-media-slider" style="padding-top: 70px;">
    <div class="fluid-slider-img-wraaper">
        <div class="grid-container">
            <%= image_tag "career/shipin-2.jpg", alt: "视频2" -%>
            <a class="btn-icon" data-toggle="modal" data-target="#myModal1"></a>
        </div>
    </div>                                                         
    <div class="fluid-slider-img-wraaper">
        <div class="grid-container">
            <%= image_tag "career/shipin-3.jpg", alt: "视频3" -%>
            <a class="btn-icon" data-toggle="modal" data-target="#myModal2"></a>
        </div>
    </div>
    <div class="fluid-slider-img-wraaper">
        <div class="grid-container">
            <%= image_tag "career/shipin-4.jpg", alt: "视频4" -%>
            <a class="btn-icon" data-toggle="modal" data-target="#myModal3"></a>
        </div>
    </div>
</div>

<!-- 模态框1（Modal1） -->
<div class="modal fade bs-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <%= video_tag "1.mp4", controls: true, autobuffer: true %>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框2（Modal2） -->
<div class="modal fade bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <%= video_tag "2.m4v",controls: true, autobuffer: true %>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div> 
<!-- 模态框3（Modal3） -->
<div class="modal fade bs-example-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="position: absolute; padding: 0px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <%= video_tag "3.mp4",controls: true, autobuffer: true %>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

 
<div class="features features-less tab-content-section-4" style="padding-top: 100px;">
    <div class="container bottom-line">
        <div class="fluid-wordbutton-slider conveyor slick-slider draggable">
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-xushiwei.png" alt="Avatar xushiwei" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>许式伟</b></h4>
                                    <h5 align="left">aaaa</h5>
                                    <h5 align="left">bbbbb</h5>
                                    <h5 align="left">cccccc</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left: 50px; padding-right: 50px">
                                <p align="left">
                                aàaaaaadfdjfl;asjdfl;kjasldfkjl;sakjdfl;aksjfl;kjasl;kdjflaskjf;lksdajl;kfasjdlk
                                dlsajflkasjdfljaslkfjl;aksdjflkasj;lkdfjasl;kdjfl;kasdj;flk
                                </p>
                            </div>                            
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-lvguihua.png" alt="Avatar lvguihua" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>吕桂华</b></h4>
                                    <h5 align="left">aàaaaaadfdjfl</h5>
                                    <h5 align="left">bbbbbb</h5>
                                    <h5 align="left">ccccccccc</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left: 50px; padding-right: 50px"> 
                                <p align="left">
                                    aàaaaaadfdjfl;asjdfl;kjasldfkjl;sakjdfl;aksjfl;kjasl;kdjflaskjf;lksdajl;kfasjdlk
                                    dlsajflkasjdfljaslkfjl;aksdjflkasj;lkdfjasl;kdjfl;kasdj;flk
                                </p>
                            </div>                            
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-chenchao.png" alt="Avatar chenchao" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>陈超</b></h4>
                                    <h5 align="left">七牛云技术总监</h5>
                                    <h5 align="left">国内Spark领域首席布道专家</h5>
                                    <h5 align="left">Spark Summit China 终身主席</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left: 50px; padding-right: 50px">
                                <p align="left">
                                    七牛是一家工程师文化极强的公司，任何人在这里都可以充分发挥自己在技术与产品方面的天赋。
                                    我们秉承着“简单·可信赖”的理念，让沟通更高效，让协作更紧密，让思维更开阔。同时，基于
                                    以客户为导向的理念，公司一直在为培养超一流的人才，做出超一流的产品而不断努力。
                                </p>
                            </div>
                          </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-lidaobing.png" alt="Avatar lidaobing" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>李道兵</b></h4>
                                    <h5 align="left">七牛云首席架构师</h5>
                                    <h5 align="left">前维基百科中文管理员</h5>
                                    <h5 align="left">前Debian Developer,协助维护iso-codes等开源软件</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left: 50px; padding-right: 50px">
                                <p align="left">
                                    “简单·可信赖”是七牛非常重要的文化，对于一个创业公司来讲，做正确的事情重要，正确地做事情也很重要。
                                    后一个目标的达成大部分来自于我们持续地贯彻“简单·可信赖”这个文化。公有云不仅仅考验公司的技术，还要
                                    考验公司的运维体系、事故响应体系、服务体系和销售体系，要灵活运转这些体系，平等对话的态度、高效的沟
                                    通和跟进以及与之匹配的企业文化是必不可少的，这些正是七牛的基石所在。
                                </p>
                            </div>                            
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-yuanxiaopei.png" alt="Avatar yuanxiaopei" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>袁晓沛</b></h4>
                                    <h5 align="left">七牛云技术总监</h5>
                                    <h5 align="left">主要方向在分布式系统的架构设计</h5>
                                    <h5 align="left">开发、性能调优、以及后期运维优化</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left: 50px; padding-right: 50px">
                                <p align="left">
                                    这是一个变化大、节奏快的环境，欢迎真正的自虐者、破坏者、挑战者、颠覆者加入！在这里，不太会有人告诉你应该做什么，
                                    你得有足够的主人翁意识和自驱力，要找到自己和产品、团队、公司的最佳契合点。在这里，从不缺乏毕业两年就独当一面、
                                    甚至带领团队的佼佼者，相信这绝对是一段绝佳而难忘的奋斗经历与人生体验。
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left" style="padding-left: 20px; padding-right 50px">
                            <img class="media-object" height="100" src="/assets/avatar-pengyao.png" alt="Avatar pengyao" style="max-width: 100px; max-height: 200px;">
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4">
                                <div class="media-heading">
                                    <h4 align="left"><b>彭垚</b></h4>
                                    <h5 align="left">七牛云技术总监</h5>
                                    <h5 align="left">人工智能实验室发起人和负责人</h5>
                                    <h5 align="left">在美国、法国发表数篇专业领域发明专利</h5>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding-left: 50px; padding-right: 50px">
                                <p align="left">
                                    在七牛，我们希望通过人工智能革新陈旧的生产力和生产方式，促进既有行业的从业人员学习更多先进知识和技能，
                                    改善整个团队的运行模式和工作效率。我们希望通过自己的努力与价值为人类的不断演进、不断进步做出一点贡献。
                                    如果你也希望改变这个世界，那就加入我们！
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features tab-content-section-2">
    <div class="container bottom-line">
        <div class="intro">
            <div class="media-heading">
                <h3 align="center"><b>关心你，关心你的家人</b></h3>
                <p align="center">牛棚福利</p>
            </div>
            </h>
        </div>
    <div class="row" style="font-size=3.6">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-liwu.png", class: "media-object", alt: "节日礼物", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">给七牛家人的节日礼物</font></h>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-qiquanjiangli.png", class: "media-object", alt: "期权奖励", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">期权奖励</font></h>  
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-wuxianyijin.png", class: "media-object", alt: "五险一金", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">五险一金 + 商业保险</font></h>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-lingshichangxiang.png", class: "media-object", alt: "零食畅享", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">零食畅享 + 免费健身</font></h>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-daixinbingjia.png", class: "media-object", alt: "带薪病假", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">5天带薪病假 + 年度体检</font></h>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-daixinnianjia.png", class: "media-object", alt: "带薪年假", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">年度不少于12天的带薪年假</font></h>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-tanxingbangong.png", class: "media-object", alt: "弹性办公", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">弹性办公</font></h>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "career/icon-xinchou.png", class: "media-object", alt: "薪酬", width: 80 %>
          <div class="caption" align="center">
            <h><font size="3.6">有竞争力的薪酬</font></h>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features tab-content-section-2" style="padding-bottom: 262px;">
    <div class="container">
        <div class="intro">
            <div class="media-heading">
                <h3 align="center"><b>七牛人学习成长与发展</b></h3>
            </div>
        </div>       
            <div class="col-md-4 col-sm-6 col-xs-6">
                <%= image_tag "image.jpg", alt: "line", width: 55 %>
                <div class="caption">
                    <h><font size="3.6">新员工落地与成长计划</font></h>
                    <p>我们将帮助每一位新入职的小伙伴在最短时间内适应新环境，融入牛棚团队，专注成长并且找到未来。</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <%= image_tag "image.jpg", alt: "line", width: 55 %>
                <div class="caption">
                    <h><font size="3.6">业务技能提升</font></h>
                    <p>产品布道、大咖指导、1:1的Buddy带领、学习文档、项目实战将带你野蛮成长。</p>
                </div>
            </div>        
            <div class="col-md-4 col-sm-6 col-xs-6">
                <%= image_tag "image.jpg", alt: "line", width: 55 %>
                <div class="caption">
                    <h><font size="3.6">Niubility Share</font></h>
                    <p>业界大咖、内部大牛、以及各路奇才的精彩分享将涉及前沿技术、行业资讯、工具技能、软性素质、趣味生活等方方面面。</p>
                </div>
            </div>          
            <div class="col-md-4 col-sm-6 col-xs-6">
                <%= image_tag "image.jpg", alt: "line", width: 55 %>
                <div class="caption">
                    <h><font size="3.6">软技能进阶</font></h>
                    <p>沟通力提升、团队协作、领导力进阶、公共演讲、思维方式......丰富多元的软技能进阶课程将带你全方位发展与成长。</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <%= image_tag "image.jpg", alt: "line", width: 55 %>
                <div class="caption">
                    <h><font size="3.6">素拓与团建</font></h>
                    <p>每一次素拓与团建，都是发掘、挑战并突破自我，重新认识你的战友，提升团队战斗力，熔炼自我与团队的一场历程。</p>
                </div>
            </div>                 
    </div>
</div>