<div class="jumbotron hero hero-banner1 hero-career">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="banner-desc">
            <h2>永不停歇的奋斗之路,</h2>
            <h2>期待能有你的加入！</h2>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "image-banner.png", alt: "招聘图片", width: "90%" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h3 class="title">招聘流程</h3>
    </div>
    <div class="hiring-content text-center">
      <div class="row">
        <div class="col-sm-1">
          <%= image_tag "career/icon-jianlitoudi.png", alt: "简历投递", width: "60" %>
        </div>
        <div class="col-sm-11">
          <h4 class="title text-left">简历投递</h4>
          <li class="text-left">即日起-10月27日，请投递至fresh@qiniu.com;</li>
          <li class="text-left">邮件标题：校招-应聘岗位-姓名；</li>
          <li class="text-left">投递简历后的恢复邮件请仔细阅读，完成笔面试报名。</li>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <%= image_tag "career/icon-zaixianbishi.png", alt: "在线笔试", width: "60" %>
        </div>
        <div class="col-sm-11">
          <h4 class="title text-left">在线笔试</h4>
          <li class="text-left">共三场可选批次，分别在10月13日、20日、28日19：30-21：30举行；</li>
          <li class="text-left">需笔试岗位：前端开发工程师、服务端开发工程师（其他岗位我们将根据你的报名信息，在简历通过筛选后直接邀约面试）；</li>
          <li class="text-left">我们将根据你的报名信息，在每批次笔试开始前3-5天，通过邮件或短信最后通知笔试详情，确认参与细节与注意事项。</li>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <%= image_tag "career/icon-mianshioffer.png", alt: "面试&offer", width: "60" %>
        </div>
        <div class="col-sm-11">
          <h4 class="title text-left">面试&录用通知</h4>
          <li class="text-left">笔试结束后一周内，通过笔试的同学将收到笔试通过邮件通知；</li>
          <li class="text-left">后续我们将电话与你沟通面试的具体安排；</li>
          <li class="text-left">通过所有面试，将获得七牛《录取通知书》。</li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-pbt">
  <div class="container">
    <div class="intro">
      <h3 class="title">岗位列表</h3>
      <p class="text-center">这些机会，期待你的加入</p>
      <p class="text-center">我们是一个简单的团队，希望成就不简单的事。</p>
      <p class="text-center">我们是一群充满热情，追求创新的人，期待遇见同样的你。</p>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-4 text-center pointer" data-toggle="modal" data-target="#positionModal" data-whatever="tech">
        <%= image_tag "career/icon-jishu.png", alt: "技术", width: "100" %>
        <h4 class="media-heading">技术</h4>
      </div>
      <div class="col-sm-2 col-xs-4 text-center pointer" data-toggle="modal" data-target="#positionModal" data-whatever="market">
        <%= image_tag "career/icon-shichang.png", alt: "市场", width: "100" %>
        <h4 class="media-heading">市场</h4>
      </div>
      <div class="col-sm-2 col-xs-4 text-center pointer" data-toggle="modal" data-target="#positionModal" data-whatever="product">
        <%= image_tag "career/icon-chanpin.png", alt: "产品", width: "100" %>
        <h4 class="media-heading">产品</h4>
      </div>
      <div class="col-sm-2 col-xs-4 text-center pointer" data-toggle="modal" data-target="#positionModal" data-whatever="design">
        <%= image_tag "career/icon-sheji.png", alt: "设计", width: "100" %>
        <h4 class="media-heading">设计</h4>
      </div>
      <div class="col-sm-2 col-xs-4 text-center pointer" data-toggle="modal" data-target="#positionModal" data-whatever="sales">
        <%= image_tag "career/icon-xiaoshou.png", alt: "销售", width: "100" %>
        <h4 class="media-heading">销售</h4>
      </div>
      <div class="col-sm-2 col-xs-4 text-center pointer" data-toggle="modal" data-target="#positionModal" data-whatever="office">
        <%= image_tag "career/icon-zhineng.png", alt: "职能", width: "100" %>
        <h4 class="media-heading">职能</h4>
      </div>
      <!-- varying positionModal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="positionModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="tech d-none section">
                <% if @tech_school_lists.length == 0 %>
                  <div>该岗位暂没有招聘信息</div>
                <% else %>
                  <% @tech_school_lists.each do |archive| %>
                    <div class="py-2 <%= archive === @tech_school_lists.last ? '' : 'bb-1' %>">
                      <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-triangle-right m-r-1") + content_tag(:span, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d"), class: "float-right"), "#" + archive[:id].to_s, class: "title", data:{ toggle:"collapse" }, aria:{ expanded:"false", controls: archive[:id].to_s } -%>

                      <div class="collapse" id="<%= archive[:id].to_s %>">
                        <div class="position-details">
                          <h4>岗位职责</h4>
                          <p><%= archive[:description] %></p>
                          <h4>任职要求</h4>
                          <p><%= archive[:requirement] %></p>
                          <h4>工作城市</h4>
                          <p>
                            <% archive.location.each do |city| %>
                              <span><%= city -%></span>
                            <% end %>
                          </p>
                          <%= link_to "现在投递", "mailto:hr@qiniu.com?subject=社招-" + archive[:title], class: "btn btn-primary", role: "button" -%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="market d-none section">
                <% if @market_school_lists.length == 0 %>
                  <div>该岗位暂没有招聘信息</div>
                <% else %>
                  <% @market_school_lists.each do |archive| %>
                    <div class="py-2 <%= archive === @market_school_lists.last ? '' : 'bb-1' %>">
                      <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-triangle-right m-r-1") + content_tag(:span, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d"), class: "float-right"), "#" + archive[:id].to_s, class: "title", data:{ toggle:"collapse" }, aria:{ expanded:"false", controls: archive[:id].to_s } -%>

                      <div class="collapse" id="<%= archive[:id].to_s %>">
                        <div class="position-details">
                          <h4>岗位职责</h4>
                          <p><%= archive[:description] %></p>
                          <h4>任职要求</h4>
                          <p><%= archive[:requirement] %></p>
                          <h4>工作城市</h4>
                          <p>
                            <% archive.location.each do |city| %>
                              <span><%= city -%></span>
                            <% end %>
                          </p>
                          <%= link_to "现在投递", "mailto:hr@qiniu.com?subject=社招-" + archive[:title], class: "btn btn-primary", role: "button" -%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="product d-none section">
                <% if @product_school_lists.length == 0 %>
                  <div>该岗位暂没有招聘信息</div>
                <% else %>
                  <% @product_school_lists.each do |archive| %>
                    <div class="py-2 <%= archive === @product_school_lists.last ? '' : 'bb-1' %>">
                      <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-triangle-right m-r-1") + content_tag(:span, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d"), class: "float-right"), "#" + archive[:id].to_s, class: "title", data:{ toggle:"collapse" }, aria:{ expanded:"false", controls: archive[:id].to_s } -%>

                      <div class="collapse" id="<%= archive[:id].to_s %>">
                        <div class="position-details">
                          <h4>岗位职责</h4>
                          <p><%= archive[:description] %></p>
                          <h4>任职要求</h4>
                          <p><%= archive[:requirement] %></p>
                          <h4>工作城市</h4>
                          <p>
                            <% archive.location.each do |city| %>
                              <span><%= city -%></span>
                            <% end %>
                          </p>
                          <%= link_to "现在投递", "mailto:hr@qiniu.com?subject=社招-" + archive[:title], class: "btn btn-primary", role: "button" -%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="design d-none section">
                <% if @design_school_lists.length == 0 %>
                  <div>该岗位暂没有招聘信息</div>
                <% else %>
                  <% @design_school_lists.each do |archive| %>
                    <div class="py-2 <%= archive === @design_school_lists.last ? '' : 'bb-1' %>">
                      <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-triangle-right m-r-1") + content_tag(:span, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d"), class: "float-right"), "#" + archive[:id].to_s, class: "title", data:{ toggle:"collapse" }, aria:{ expanded:"false", controls: archive[:id].to_s } -%>

                      <div class="collapse" id="<%= archive[:id].to_s %>">
                        <div class="position-details">
                          <h4>岗位职责</h4>
                          <p><%= archive[:description] %></p>
                          <h4>任职要求</h4>
                          <p><%= archive[:requirement] %></p>
                          <h4>工作城市</h4>
                          <p>
                            <% archive.location.each do |city| %>
                              <span><%= city -%></span>
                            <% end %>
                          </p>
                          <%= link_to "现在投递", "mailto:hr@qiniu.com?subject=社招-" + archive[:title], class: "btn btn-primary", role: "button" -%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="sales d-none section">
                <% if @sales_school_lists.length == 0 %>
                  <div>该岗位暂没有招聘信息</div>
                <% else %>
                  <% @sales_school_lists.each do |archive| %>
                    <div class="py-2 <%= archive === @sales_school_lists.last ? '' : 'bb-1' %>">
                      <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-triangle-right m-r-1") + content_tag(:span, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d"), class: "float-right"), "#" + archive[:id].to_s, class: "title", data:{ toggle:"collapse" }, aria:{ expanded:"false", controls: archive[:id].to_s } -%>

                      <div class="collapse" id="<%= archive[:id].to_s %>">
                        <div class="position-details">
                          <h4>岗位职责</h4>
                          <p><%= archive[:description] %></p>
                          <h4>任职要求</h4>
                          <p><%= archive[:requirement] %></p>
                          <h4>工作城市</h4>
                          <p>
                            <% archive.location.each do |city| %>
                              <span><%= city -%></span>
                            <% end %>
                          </p>
                          <%= link_to "现在投递", "mailto:hr@qiniu.com?subject=社招-" + archive[:title], class: "btn btn-primary", role: "button" -%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="office d-none section">
                <% if @office_school_lists.length == 0 %>
                  <div>该岗位暂没有招聘信息</div>
                <% else %>
                  <% @office_school_lists.each do |archive| %>
                    <div class="py-2 <%= archive === @office_school_lists.last ? '' : 'bb-1' %>">
                      <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-triangle-right m-r-1") + content_tag(:span, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d"), class: "float-right"), "#" + archive[:id].to_s, class: "title", data:{ toggle:"collapse" }, aria:{ expanded:"false", controls: archive[:id].to_s } -%>

                      <div class="collapse" id="<%= archive[:id].to_s %>">
                        <div class="position-details">
                          <h4>岗位职责</h4>
                          <p><%= archive[:description] %></p>
                          <h4>任职要求</h4>
                          <p><%= archive[:requirement] %></p>
                          <h4>工作城市</h4>
                          <p>
                            <% archive.location.each do |city| %>
                              <span><%= city -%></span>
                            <% end %>
                          </p>
                          <%= link_to "现在投递", "mailto:hr@qiniu.com?subject=社招-" + archive[:title], class: "btn btn-primary", role: "button" -%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
</div>