<div class="banner-box banner-career-school">
  <a href="https://www.nowcoder.com/careers/qiniuyun/7667?ncsr=iRPiMR" target="_blank">
    <%= image_tag "career/career-school-banner-2019-autumn.jpg", class: "banner-image", alt: "七牛云 2020 秋季校园招聘", title: "七牛云 2020 秋季校园招聘" -%>
  </a>
</div>

<%# 校招页面改版 %>
<%# https://jira.qiniu.io/browse/BO-6616 %>
<% if false -%>
<div class="features">
  <div class="container">
    <div class="intro">
      <h3 class="title">招聘流程</h3>
    </div>
    <div class="hiring-content text-center">
      <div class="row">
        <div class="col-sm-1">
          <%= image_tag "career/icon-jianlitoudi.png", alt: "投递简历", width: "60" %>
        </div>
        <div class="col-sm-11">
          <h4 class="title text-left">网申阶段</h4>
          <ul class="career-list">
            <li class="text-left">即日起-4月9日，请点击 <%= link_to '投递简历', 'http://cn.mikecrm.com/httqqWJ', target:'_blank', class:'more' %></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <%= image_tag "career/icon-zaixianbishi.png", alt: "在线笔试", width: "60" %>
        </div>
        <div class="col-sm-11">
          <h4 class="title text-left">在线笔试</h4>
          <ul class="career-list">
            <li class="text-left">共三场可选批次，分别在4月13日19:00-20:30，4月14日14:00-15:30，19:00-20:30；</li>
            <li class="text-left">需笔试岗位：前端工程师、后端工程师、技术支持工程师、算法工程师（其他岗位我们将根据你的报名信息，在简历通过筛选后直接邀约面试）；</li>
            <li class="text-left">我们将根据你的报名信息，在每批次笔试开始前3-5天，通过邮件或短信最后通知笔试详情，确认参与细节与注意事项。</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <%= image_tag "career/icon-mianshioffer.png", alt: "面试&offer", width: "60" %>
        </div>
        <div class="col-sm-11">
          <h4 class="title text-left">面试&amp;录用通知</h4>
          <ul class="career-list">
            <li class="text-left">笔试结束后一周内，通过笔试的同学将收到笔试通过邮件通知；</li>
            <li class="text-left">后续我们将电话与你沟通面试的具体安排；</li>
            <li class="text-left">通过所有面试，将获得七牛《录取通知书》。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end -%>


<div class="career-school-2019">

  <%# 2019 年校招屏蔽部分职位 %>
  <%# https://jira.qiniu.io/browse/BO-6616 %>
  <div class="features  features-less features-cases features-positions features-positions-school">
    <div class="container">
      <div class="intro">
        <h3 class="title">岗位列表</h3>
        <p class="text-center">这些机会，期待你的加入</p>
        <p class="text-center">我们是一个简单的团队，希望成就不简单的事。</p>
        <p class="text-center">我们是一群充满热情，追求创新的人，期待遇见同样的你。</p>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <%= image_tag "career/icon-jishu.png", alt: "技术", width: "100" %>
          <a href="#tech-position" aria-controls="tech-position" role="tab" data-toggle="tab">技术</a>
        </li>
        <li role="presentation">
          <%= image_tag "career/icon-shichang.png", alt: "市场", width: "100" %>
          <a href="#market-position" aria-controls="market-position" role="tab" data-toggle="tab">市场</a>
        </li>
        <li role="presentation">
          <%= image_tag "career/icon-chanpin.png", alt: "产品", width: "100" %>
          <a href="#product-position" aria-controls="product-position" role="tab" data-toggle="tab">产品</a>
        </li>
        <li role="presentation">
          <%= image_tag "career/icon-sheji.png", alt: "设计", width: "100" %>
          <a href="#design-position" aria-controls="design-position" role="tab" data-toggle="tab">设计</a>
        </li>
        <li role="presentation">
          <%= image_tag "career/icon-xiaoshou.png", alt: "销售", width: "100" %>
          <a href="#sales-position" aria-controls="sales-position" role="tab" data-toggle="tab">销售</a>
        </li>
        <li role="presentation">
          <%= image_tag "career/icon-zhineng.png", alt: "职能", width: "100" %>
          <a href="#office-position" aria-controls="office-position" role="tab" data-toggle="tab">职能</a>
        </li>
        <li role="presentation">
          <%= image_tag "career/icon-yunying.png", alt: "运营", width: "auto", height: "86", class: "m-b-20px" %>
          <a href="#operate-position" aria-controls="operate-position" role="tab" data-toggle="tab">运营</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content positionTab">
        <%= render :partial => "positions", :locals => {:positions => @school_positions.tech, :type => "tech-position"} %>

        <%= render :partial => "positions", :locals => {:positions => @school_positions.market, :type => "market-position"} %>

        <%= render :partial => "positions", :locals => {:positions => @school_positions.product, :type => "product-position"} %>

        <%= render :partial => "positions", :locals => {:positions => @school_positions.design, :type => "design-position"} %>

        <%= render :partial => "positions", :locals => {:positions => @school_positions.sales, :type => "sales-position"} %>

        <%= render :partial => "positions", :locals => {:positions => @school_positions.office, :type => "office-position"} %>

        <%= render :partial => "positions", :locals => {:positions => @school_positions.operate, :type => "operate-position"} %>
      </div>
    </div>
  </div>

  <%# 如何加入我们 %>
  <div class="features">
    <div class="intro">
      <h2 class="title">如何加入我们</h2>
    </div>

    <div class="container">
      <div class="timeline">
        <ul class="timeline-ul">
          <li class="left left-li">
            <div class="li-content">
              <div class="info-div">
                <span class="icon-point icon-point-left"></span>
                <span class="icon-point icon-point-right icon-event"></span>
                <time>网申</time>
                <p>(即日起开启，<%= link_to "点击申请", "https://www.nowcoder.com/careers/qiniuyun/7667?ncsr=iRPiMR", target:"_blank", style: "text-decoration: underline" -%>)</p>
              </div>
            </div>
          </li>
          <li class="right">
            <div class="li-content">
              <div class="info-div">
                <span class="icon-point icon-point-left"></span>
                <span class="icon-point icon-point-right icon-event"></span>
                <time>内推</time>
                <p>(寻找七牛云内部员工获取内推二维码或链接，可优先进入简历筛选，抢先拿到OFFER，不影响后续网申)</p>
              </div>
            </div>
          </li>
          <li class="left left-li">
            <div class="li-content">
              <div class="info-div">
                <time>无需笔试的岗位</time>
                <p>(筛选成功后可直接进入面试)</p>
                <span class="icon-point icon-point-right"></span>
                <span class="icon-point icon-point-left icon-event"></span>
              </div>
            </div>
          </li>
          <li class="right">
            <div class="li-content">
              <div class="info-div">
                <span class="icon-point icon-point-left"></span>
                <span class="icon-point icon-point-right icon-event"></span>
                <time>需笔试的职位</time>
                <p>(笔试时间：10月16日19点，注意：仅有一次笔试机会)</p>
              </div>
            </div>
          </li>
          <li class="left left-li">
            <div class="li-content">
              <div class="info-div">
                <time>线下宣讲会</time>
                <p>(请留意『七牛官网』和『七牛招聘』公众号后续更新)</p>
                <span class="icon-point icon-point-right"></span>
                <span class="icon-point icon-point-left icon-event"></span>
              </div>
            </div>
          </li>
          <li class="right">
            <div class="li-content">
              <div class="info-div">
                <span class="icon-point icon-point-left"></span>
                <span class="icon-point icon-point-right icon-event"></span>
                <time>面试</time>
                <p>(9月中旬开始，2轮业务部门面试+1轮HR面试)</p>
              </div>
            </div>
          </li>
          <li class="left left-li">
            <div class="li-content">
              <div class="info-div">
                <time>OFFER</time>
                <p>(按照面试情况，通过即发OFFER)</p>
                <span class="icon-point icon-point-right"></span>
                <span class="icon-point icon-point-left icon-event"></span>
              </div>
            </div>
          </li>
          <li class="right">
            <div class="li-content">
              <div class="info-div">
                <p>七牛云秋季校招QQ讨论群，加群请备注：姓名+学校+求职方向</p>
                <%= image_tag "career/qrcode-qq-school-2019-autumn.jpg", alt: "QQ七牛云秋季校招讨论群二维码", title: "QQ七牛云秋季校招讨论群二维码" -%>
                <span class="icon-point icon-point-right"></span>
                <span class="icon-point icon-point-left icon-event"></span>
              </div>
            </div>
          </li>
          <li class="left left-li">
            <div class="li-content">
              <div class="info-div">
                <span class="icon-point icon-point-left"></span>
                <span class="icon-point icon-point-right icon-event"></span>
                <p>简历投递二维码</p>
                <%= image_tag "career/qrcode-resume-school-2019-autumn.png", alt: "简历投递二维码", title: "简历投递二维码" -%>
              </div>
            </div>
          </li>
          <li class="right">
            <div class="li-content"></div>
          </li>
        </ul>
      </div>
    </div>
    <%= link_to "加入七牛云", "https://www.nowcoder.com/careers/qiniuyun/7667?ncsr=iRPiMR", class: "intro32a", title: "加入七牛云", target: "_blank" -%>
  </div>

  <%# 你将会收获 %>
  <div class="features features-less features-cases features-positions features-pbt">
    <div class="container">
      <div class="intro">
        <h3 class="title">福利情况</h3>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-6 m-b-5 text-center">
          <%= image_tag "career/icon-liwu.png", alt: "给七牛家人的节日礼物", width: "50" %>
          <h4 class="media-heading">给七牛家人的节日礼物</h4>
        </div>
        <div class="col-sm-4 col-xs-6 m-b-5 text-center">
          <%= image_tag "career/icon-wuxianyijin.png", alt: "五险一金 + 商业保险", width: "50" %>
          <h4 class="media-heading">五险一金 + 商业保险</h4>
        </div>
        <div class="col-sm-4 col-xs-6 m-b-5 text-center">
          <%= image_tag "career/icon-lingshichangxiang.png", alt: "零食畅享 + 免费健身", width: "50" %>
          <h4 class="media-heading">零食畅享 + 免费健身</h4>
        </div>
        <div class="col-sm-4 col-xs-6 m-b-5 text-center">
          <%= image_tag "career/icon-daixinnianjia.png", alt: "年假不少于 12 天的带薪年假", width: "50" %>
          <h4 class="media-heading">不少于 12 天的带薪年假</h4>
        </div>
        <div class="col-sm-4 col-xs-6 m-b-5 text-center">
          <%= image_tag "career/icon-daixinbingjia.png", alt: "天带薪病假 + 年度体检", width: "50" %>
          <h4 class="media-heading">5 天带薪病假 + 年度体检</h4>
        </div>
        <div class="col-sm-4 col-xs-6 m-b-5 text-center">
          <%= image_tag "career/icon-xinchou.png", alt: "有竞争力的薪酬", width: "50" %>
          <h4 class="media-heading">有竞争力的薪酬</h4>
        </div>
      </div>
    </div>
  </div>

</div>

