<div class="fluid-media-slider-wrapper">
  <div class="fluid-slider-wrapper">
    <div class="social-slider">
      <div><div class="fluid-slider-img-wraaper"><%= image_tag "https://dn-group-photos.qbox.me/FvS4_XUTxBId1t7Xx6GhKGQJtkUi?imageView2/1/w/440/h/300/q/80/format/JPG", width:'100%' %></div></div>
      <div><div class="fluid-slider-img-wraaper"><%= image_tag "https://dn-group-photos.qbox.me/Fv-lSu4zc2BnspnT7uT9nYXeah7B?imageView2/1/w/440/h/300/q/80/format/JPG", width:'100%' %></div></div>
      <div><div class="fluid-slider-img-wraaper"><%= image_tag "https://dn-group-photos.qbox.me/liZ5OaVAPiMtRbX1k8VEshvJjmw8?imageView2/1/w/440/h/300/q/80/format/JPG", width:'100%' %></div></div>
      <div><div class="fluid-slider-img-wraaper"><%= image_tag "https://dn-group-photos.qbox.me/lqerAH03J-6sel7fgQJ6T6lhqttY?imageView2/1/w/440/h/300/q/80/format/JPG", width:'100%' %></div></div>
      <div><div class="fluid-slider-img-wraaper"><%= image_tag "https://dn-group-photos.qbox.me/ln9uSuvMz9Rg_eR6E98ZXc7gZf_n?imageView2/1/w/440/h/300/q/80/format/JPG", width:'100%' %></div></div>
      <div><div class="fluid-slider-img-wraaper"><%= image_tag "https://dn-group-photos.qbox.me/lsX-hF0AT2wUa4zW_HOaxCA29JZ0?imageView2/1/w/440/h/300/q/80/format/JPG", width:'100%' %></div></div>
    </div>
  </div>
</div>

<div class="features features-positions features-positions-social">
  <div class="container">
    <div class="intro">
      <h3 class="title">福利情况</h3>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-daixinbingjia.png", alt: "给七牛家人的节日礼物", width: "50" %>
        <h4 class="media-heading">给七牛家人的节日礼物</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-daixinnianjia.png", alt: "期权奖励", width: "50" %>
        <h4 class="media-heading">期权奖励</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-lingshichangxiang.png", alt: "五险一金 + 商业保险", width: "50" %>
        <h4 class="media-heading">五险一金 + 商业保险</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-liwu.png", alt: "零食畅享 + 免费健身", width: "50" %>
        <h4 class="media-heading">零食畅享 + 免费健身</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-qiquanjiangli.png", alt: "天带薪病假 + 年度体检", width: "50" %>
        <h4 class="media-heading">5 天带薪病假 + 年度体检</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-tanxingbangong.png", alt: "年假不少于 12 天的带薪年假", width: "50" %>
        <h4 class="media-heading">年假不少于 12 天的带薪年假</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-wuxianyijin.png", alt: "弹性办公", width: "50" %>
        <h4 class="media-heading">弹性办公</h4>
      </div>
      <div class="col-sm-3 col-xs-6 m-b-5 text-center">
        <%= image_tag "career/icon-xinchou.png", alt: "有竞争力的薪酬", width: "50" %>
        <h4 class="media-heading">有竞争力的薪酬</h4>
      </div>
    </div>
  </div>
</div>

<div class="features feature-color features-positions">
  <div class="container">
    <div class="intro">
      <h3 class="title">招聘流程</h3>
    </div>
    <div class="hiring-content row">
      <div class="col-sm-3 col-xs-12 text-center">
        <%= image_tag "career/icon-jianlitoudi.png", alt: "简历投递", width: "50" %>
        <h4 class="title text-center">简历投递</h4>
        <p class="text-left">发送个人简历到：hr@qiniu.com，如果邮件正文有简单的自我介绍和求职信就更好了~</p>
      </div>
      <div class="col-sm-6 col-xs-12 text-center">
        <div class="col-sm-3 hidden-xs text-center" style="padding-top:0.9rem">
          <%= image_tag "career/arrow.png", alt: "箭头", width: "100%" %>
        </div>
        <div class="col-sm-6 col-xs-12 text-center social-interview-col">
          <%= image_tag "career/icon-mianshiyaoqing.png", alt: "面试邀约", width: "50" %>
          <h4 class="title text-center">面试邀约</h4>
          <p class="text-left">我们会在一周的时间内，电话联系简历通过筛选的候选人，安排面试；</p>
        </div>
        <div class="col-sm-3 hidden-xs text-center" style="padding-top:0.9rem">
          <%= image_tag "career/arrow.png", alt: "箭头", width: "100%" %>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
        <%= image_tag "career/icon-mianshioffer.png", alt: "面试&offer", width: "50" %>
        <h4 class="title text-center">面试 &amp; offer</h4>
        <p class="text-left">我们将根据意向工作地及目前所在城市，协调安排面试形式及地点。通过所有环节面试将邮件收到七牛通知书。</p>
      </div>
    </div>
  </div>
</div>

<div class="features features-pbt features-positions">
  <div class="container">
    <div class="intro">
      <h3 class="title">岗位列表</h3>
      <p class="text-center">这些机会，期待你的加入</p>
      <p class="text-center">我们是一个简单的团队，希望成就不简单的事。</p>
      <p class="text-center">我们是一群充满热情，追求创新的人，期待遇见同样的你。</p>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <%= image_tag "career/icon-jishu.png", alt: "技术", width: "100" %>
        <a href="#tech-position" aria-controls="tech-position" role="tab" data-toggle="tab">技术</a>
      </li>
      <li role="presentation">
        <%= image_tag "career/icon-shichang.png", alt: "市场", width: "100" %>
        <a href="#market-position" aria-controls="market-position" role="tab" data-toggle="tab">市场</a>
      </li>
      <li role="presentation">
        <%= image_tag "career/icon-chanpin.png", alt: "产品", width: "100" %>
        <a href="#product-position" aria-controls="product-position" role="tab" data-toggle="tab">产品</a>
      </li>
      <li role="presentation">
        <%= image_tag "career/icon-sheji.png", alt: "设计", width: "100" %>
        <a href="#design-position" aria-controls="design-position" role="tab" data-toggle="tab">设计</a>
      </li>
      <li role="presentation">
        <%= image_tag "career/icon-xiaoshou.png", alt: "销售", width: "100" %>
        <a href="#sales-position" aria-controls="sales-position" role="tab" data-toggle="tab">销售</a>
      </li>
      <li role="presentation">
        <%= image_tag "career/icon-zhineng.png", alt: "职能", width: "100" %>
        <a href="#office-position" aria-controls="office-position" role="tab" data-toggle="tab">职能</a>
      </li>
      <li role="presentation">
        <%= image_tag "career/icon-yunying.png", alt: "运营", width: "auto", height: "86", class: "m-b-20px" %>
        <a href="#operate-position" aria-controls="operate-position" role="tab" data-toggle="tab">运营</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content positionTab">
      <%= render :partial => "positions", :locals => {:positions => @social_positions.tech, :type => "tech-position"} %>

      <%= render :partial => "positions", :locals => {:positions => @social_positions.market, :type => "market-position"} %>

      <%= render :partial => "positions", :locals => {:positions => @social_positions.product, :type => "product-position"} %>

      <%= render :partial => "positions", :locals => {:positions => @social_positions.design, :type => "design-position"} %>

      <%= render :partial => "positions", :locals => {:positions => @social_positions.sales, :type => "sales-position"} %>

      <%= render :partial => "positions", :locals => {:positions => @social_positions.office, :type => "office-position"} %>

      <%= render :partial => "positions", :locals => {:positions => @social_positions.operate, :type => "operate-position"} %>
    </div>
  </div>
</div>
