<div class="jumbotron hero hero-banner1">
    <div class="container">
        <div class="middle-container">
          <div class="col-sm-6">
            <div class="banner-desc" style="padding-top:30px">
              <h2>永不停歇的奋斗之路,</h2>
              <h2>期待能有你的加入！</h2>
            </div>
          </div>
          <div class="col-sm-6 hidden-xs">
            <div class="right-mask-banner">
              <%= image_tag "image-banner.png", alt: "招聘图片", width: '90%' %>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="features section tab-content-section-1">
	<div class="container">
		<div class="intro">
			<h3 class="title"><b>招聘流程</b></h3>
		</div>
		<div class="hiring-content col-sm-12">
			<div class="small-content col-sm-3" align="center">
				<%= image_tag "career/icon-jianlitoudi.png", alt: "简历投递", width: '30%' %>
				<h4 class="title" align="center">简历投递</h4>
				<p align="left">发送个人简历到：hr@qiniu.com,如果邮件正文有简单的自我介绍和求职信就更好了~</p>
			</div>
			<div class="small-content col-sm-6" align="center">
				<div class="small-content col-sm-3" align="center" style="padding-top:0.9rem">
					<%= image_tag "career/arrow.png", alt: "箭头", width: '80%' %>	
				</div>						
				<div class="small-content col-sm-6" align="center">
					<%= image_tag "career/icon-mianshiyaoqing.png", alt: "面试邀约", width: '30%' %>
					<h4 class="title" align="center">面试邀约</h4>
					<p align="left">我们会在一周的时间内，电话联系简历通过筛选的候选人，安排面试；</p>
				</div>
				<div class="small-content col-sm-3" align="center" style="padding-top:0.9rem">
					<%= image_tag "career/arrow.png", alt: "箭头", width: '80%' %>	
				</div>						
			</div>
			<div class="small-content col-sm-3" align="center">
				<%= image_tag "career/icon-mianshioffer.png", alt: "面试&offer", width: '30%' %>
				<h4 class="title" align="center">面试&offer</h4>
				<p align="left">我们将根据意向工作地及目前所在城市，协调安排面试形式及地点。通过所有环节面试将邮件收到七牛通知书。</p>
			</div>																				
		</div>
	</div>
</div>

<div class="features tab-content-section-2" style="padding-top: 40px; padding-bottom: 200px">
	<div class="container">
		<div class="intro">
			<h3 class="title"><b>岗位列表</b></h3>
			<p align="center">这些机会，期待你的加入</p>
			<p align="center">我们是一个简单的团队，希望成就不简单的事。</p>
			<p align="center">我们是一群充满热情，追求创新的人，期待遇见同样的你。</p>                        
		</div>
		<div class="row">
			<div class="col-sm-2 col-xs-4" align="center">
				<%= image_tag "career/icon-jishu.png", alt: "技术", width: 120 %>
				<h4 class="media-heading">技术</h4>
			</div> 
			<div class="col-sm-2 col-xs-4" align="center">
				<%= image_tag "career/icon-shichang.png", alt: "市场", width: 120 %>
				<h4 class="media-heading">市场</h4>
			</div> 
			<div class="col-sm-2 col-xs-4" align="center">
				<%= image_tag "career/icon-chanpin.png", alt: "产品", width: 120 %>
				<h4 class="media-heading">产品</h4>
			</div>
			<div class="col-sm-2 col-xs-4" align="center">
				<%= image_tag "career/icon-sheji.png", alt: "设计", width: 120 %>
				<h4 class="media-heading">设计</h4>
			</div>
			<div class="col-sm-2 col-xs-4" align="center">
				<%= image_tag "career/icon-xiaoshou.png", alt: "销售", width: 120 %>
				<h4 class="media-heading">销售</h4>
			</div>                                                        
			<div class="col-sm-2 col-xs-4" align="center">
				<%= image_tag "career/icon-zhineng.png", alt: "职能", width: 120 %>
				<h4 class="media-heading">职能</h4>
			</div>               
		</div>
		<div align="center" style="padding-top: 56px">
			<%= link_to "查看岗位", positions_path, class: "btn btn-lg btn-career", role: "button", style:"color:white" -%>
		</div>   
	</div>
</div>