<div class="features features-cooperation">
  <div class="container">
    <div class="row bottom-line">
      <div class="col-sm-6">
        <h2>工具、插件、SDK 合作</h2>
        <p>七牛云欢迎广大开发者提交工具、插件、SDK，我们会及时跟进您的提交申请。通过审核的工具、插件、SDK 将会在七牛云开发者中心社区资源上线。并且，您可以免费享受一定额度的云服务一整年。</p>
        <div class="feature-contact-box">
          <%= link_to "marketing@qiniu.com", "mailto:marketing@qiniu.com", class:"email-box" -%>
          <%= link_to "400-808-9176", "tel:400-808-9176", class:"tel-box" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-cooperation">
  <div class="container">
    <h2>合作流程</h2>
    <ul class="cooperation-step">
      <li class="step-li step-li-first">
        <div class="step-no">1</div>
        <h4>提交申请</h4>
        <p>点击下面「立即申请」按钮，填写合作申请表。</p>
      </li>

      <li class="step-li">
        <div class="step-no">2</div>
        <h4>审核</h4>
        <p>收到您提交的工具、插件、SDK 后，我们将在 10 个工作日内审核完毕。</p>
      </li>

      <li class="step-li-no">
        <div class="step-no">3</div>
        <h4>上线</h4>
        <p>如果您提交的资源通过审核后，我们会将其上线到<a href="http://developer.qiniu.com/resource/community.html">社区资源</a>。</p>
      </li>
    </ul>
  </div>
  <div class="container container-center">
    <%= link_to "立刻申请", "", class: "btn btn-primary", data:{toggle: "modal", target: "#developer-modal"} -%>
  </div>
</div>

<div class="features feature-color features-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>渠道合作</h2>
        <p>欢迎加入七牛云合作伙伴发展计划，利用七牛云的技术能力，我们协助你一起聚焦客户的数据智能与管理，提供更有价值的解决方案和服务。</p>
        <%= link_to "查看详情", partner_path, class: "btn btn-primary" -%>
      </div>
    </div>
  </div>
</div>

<div class="features features-cooperation">
  <div class="container">
    <div class="row bottom-line">
      <div class="col-sm-6">
        <h2>合作伙伴&友情链接</h2>
        <p>欢迎与七牛云交换友情链接，交换条件：PR >= 5</p>
        <div class="feature-contact-box">
          <%= link_to "marketing@qiniu.com", "mailto:marketing@qiniu.com", class:"email-box" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>合作伙伴</h2>
      </div>

      <% I18n.t("partners").each do |partner| %>
        <div class="col-sm-2 col-xs-6">
          <div class="thumbnail feature-case">
            <%= image_tag partner[:path], class: "list-img", alt: partner[:desc], width: 100 %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>

<div class="features feature-color features-cooperation">
  <div class="container">
    <h2>友情链接</h2>
    <ul class="friend-link">
      <li><a href="http://36kr.com/" target="_blank">36 Kr</a></li>
      <li><a href="http://amh.sh/" target="_blank">AMH</a></li>
      <li><a href="http://www.hostucan.cn/cloud-storage" target="_blank">IDC 点评</a></li>
      <li><a href="https://www.jpush.cn/" target="_blank">极光推送</a></li>
      <li><a href="http://www.sdk.cn/" target="_blank">SDK.CN</a></li>
      <li><a href="http://www.uisdc.com/" target="_blank">优设</a></li>
      <li><a href="http://www.tingyun.com/" target="_blank">听云</a></li>
      <li><a href="http://www.oschina.net/" target="_blank">开源中国</a></li>
      <li><a href="http://www.welian.com/" target="_blank">微链</a></li>
      <li><a href="http://www.tuicool.com/" target="_blank">推酷</a></li>
      <li><a href="http://www.easemob.com/hx/index.html" target="_blank">环信</a></li>
      <li><a href="http://www.zentao.net" target="_blank">禅道</a></li>
      <li><a href="http://www.proginn.com/" target="_blank">程序员客栈</a></li>
      <li><a href="http://www.managershare.com/" target="_blank">经理人分享</a></li>
      <li><a href="http://www.pgyer.com/" target="_blank">蒲公英</a></li>
      <li><a href="http://www.datagrand.com/" target="_blank">达观数据</a></li>
      <li><a href="http://www.jisuapp.cn/">即速应用微信小程序</a></li>
      <li><a href="https://www.cnblogs.com">博客园</a></li>
      <li><a href="http://www.jikexueyuan.com">极客学院</a></li>
    </ul>
  </div>
</div>

<!-- channel Modal -->
    <div class="modal fade alert-modal-css form-wrapper" id="channel-modal" tabindex="-1" role="dialog" aria-labelledby="channel-modal-label" data-keyboard="false" data-backdrop="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="channel-modal-label">七牛云渠道代理合作申请表</h4>
          </div>
          <div class="modal-body">
            <div id="channel-alert" class="alert alert-success submit-alert" style="display: none;"></div>


            <%= form_for ChannelCooperation.new, url: {controller: "cooperations", action: "create_channel", t: SecureRandom.uuid}, :remote => true, html: {class: "form-horizontal", id: "channel-form"} do |f| %>
              <%= f.hidden_field :referer, value: request.original_url -%>

              <div class="form-group">
                <label for="channel-company" class="col-sm-2 control-label">公司名称<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :company, class: "form-control", id:"channel-company", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写公司名称</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-website" class="col-sm-2 control-label">公司官网<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :website, class:"form-control", id:"channel-website", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写公司官网</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-business" class="col-sm-2 control-label">主营业务<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :business, class:"form-control", id:"channel-business", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写主营业务</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-name" class="col-sm-2 control-label">姓名<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :name, class:"form-control", id:"channel-name", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写联系人姓名</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-phone" class="col-sm-2 control-label">联系电话<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.telephone_field :phone, class:"form-control", id:"channel-phone", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写联系电话</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-im" class="col-sm-2 control-label">QQ<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :im, class:"form-control", id:"channel-im", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请以填写 QQ 号</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-email" class="col-sm-2 control-label">E-mail<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :email, type: "email", class:"form-control", id:"channel-email", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写 E-mail</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="channel-intention" class="col-sm-2 control-label">合作意向</label>
                <div class="col-sm-10">
                  <%= f.text_area :intention, class: "form-control", id:"channel-intention" %>
                </div>
              </div>

              <div class="actions">
                <%= f.button "提 交", class:"btn btn-primary", id:"channel-submit", disabled: true, data: {disable_with: "正在提交中..."}  %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer alert alert-info" role="alert">感谢您对七牛产品的关注和信任，我们期待您成为七牛云的渠道代理合作伙伴。在表单填写过程中有任何问题欢迎联系 marketing@qiniu.com，邮件标题注明【渠道合作】，会有专人与您联系。</div>
        </div>
      </div>
    </div>

<!--developer Modal-->
    <div class="modal fade alert-modal-css form-wrapper" id="developer-modal" tabindex="-1" role="dialog" aria-labelledby="developer-modal-label" data-keyboard="false" data-backdrop="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="developer-modal-label">七牛云开发合作申请表</h4>
          </div>
          <div class="modal-body">
            <div id="developer-alert" class="alert alert-success submit-alert" style="display: none;"></div>


            <%= form_for DeveloperCooperation.new, url: {controller: "cooperations", action: "create_developer", t: SecureRandom.uuid}, :remote => true, html: {class: "form-horizontal", id: "developer-form"} do |f| %>
              <%= f.hidden_field :referer, value: request.original_url -%>

              <div class="form-group">
                <label for="developer-resource_name" class="col-sm-2 control-label">资源名称<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :resource_name, class: "form-control", id:"developer-resource_name", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写资源名称</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-resource_desc" class="col-sm-2 control-label">资源描述<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :resource_desc, class: "form-control", id:"developer-resource_desc", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写资源描述</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-author_name" class="col-sm-2 control-label">姓名<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :author_name, class:"form-control", id:"developer-author_name", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写姓名</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-phone" class="col-sm-2 control-label">手机<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.telephone_field :phone, class:"form-control", id:"developer-phone", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写联系电话</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-im" class="col-sm-2 control-label">QQ<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :im, class:"form-control", id:"developer-im", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请以填写 QQ 号</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-email" class="col-sm-2 control-label">E-mail<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :email, type: "email", class:"form-control", id:"developer-email", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写 E-mail</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-website" class="col-sm-2 control-label">作者主页</label>
                <div class="col-sm-10">
                  <%= f.text_field :website, class:"form-control", id:"developer-website" %>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-download_link" class="col-sm-2 control-label">下载链接<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :download_link, class:"form-control", id:"developer-download_link", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写下载链接</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-doc_link" class="col-sm-2 control-label">文档链接<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :doc_link, class:"form-control", id:"developer-doc_link", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写文档链接</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="developer-sourcecode_link" class="col-sm-2 control-label">源码链接<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :sourcecode_link, class:"form-control", id:"developer-sourcecode_link", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写源码链接</label>
                  </div>
                </div>
              </div>

              <div class="actions">
                <%= f.button "提 交", class:"btn btn-primary", id:"developer-submit", disabled: true, data: {disable_with: "正在提交中..."}  %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer alert alert-info" role="alert">感谢您对七牛产品的关注和信任，我们期待您向七牛社区提交您的插件、SDK 或工具。在表单填写过程中有任何问题欢迎联系 marketing@qiniu.com，邮件标题注明【开发合作】，会有专人与您联系。</div>
        </div>
      </div>
    </div>