<div class="jumbotron hero blog-banner">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-7 banner-title">
          <h3>七牛直播云</br>一站式直播解决方案</h3>
          <h4>快速搭建完整的视频直播系统</h4>
          <div class="actions">
            <%= link_to "立即搭建", "https://www.qiniu.com/products/pili?hmsr=blog&hmpl=AD-blog&hmcu=pili&hmkw=&hmci=",target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-5 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-pili-right-zh.png", alt: "pili", width: '90%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-blog container-blog">
  <div class="container">
    <div class="row row-clear">
      <div class="col-sm-8">
        <div class="tapbar">
          <%= link_to '所有文章', '/archives/all', class: 'link' %>
          <%= link_to '大数据', '/archives/category/51', class: 'link' %>
          <%= link_to '人工智能', '/archives/category/52', class: 'link' %>
          <%= link_to '容器云', '/archives/category/53', class: 'link' %>
          <%= link_to '基础设施', '/archives/category/54', class: 'link' %>
          <%= link_to '音视频', '/archives/category/55', class: 'link' %>
          <%= link_to 'Go 语言', '/archives/category/56', class: 'link' %>
        </div>
        <% @archives.each do |archive| %>
          <div class="row">
            <div class="blog-content">
              <% if archive.cover? %><div class="col-sm-8">
              <% else %><div class="col-sm-12"><% end %>
                <div class="entry-header">
                  <div class="entry-title">
                    <%= link_to archive.title, archives_path(id: archive.id), class: "title" -%>
                  </div>
                  <% if archive.cover? %>
                    <div class="blog-text"><%= truncate(archive.summary, length: 70) %></div>
                  <% else %>
                    <div class="blog-text"><%= truncate(archive.summary, length: 100) %></div>
                  <% end %>
                  
                  <div class="entry-meta">
                    <span class="entry-meta-unit entry-author">
                      <%= image_tag "blog/icon-zuozhe.png", class:"img", alt: "作者" -%>
                      <%= link_to archive.author, archives_author_path(author: archive.author) -%>
                    </span>
                    <span class="entry-meta-unit entry-date">
                      <%= image_tag "blog/icon-riqi.png", class:"img", alt: "日期" -%>
                      <a href="">
                        <%=archive.created_at.strftime("%Y-%m-%d") %>
                      </a>
                    </span>
                    <span class="entry-meta-unit entry-utility-prep">
                      <%= image_tag "blog/icon-fabu.png", class:"img", alt: "发布" -%>
                      <span>发布在</span>
                      <%= link_to Archive::CATEGORIES[archive.category], archives_category_path(category: archive.category) -%>
                    </span>
                    <!--
                    <span class="entry-meta-unit page-views">
                      <%= image_tag "blog/icon-liulanliang.png", class:"img", alt: "浏览量" -%>
                      <span class="entry-utility-prep">
                        浏览量
                      </span>
                      <span class="entry-utility-prep">
                        2128
                      </span>
                    </span>
                    -->
                  </div>
                </div>
              </div>
              <% if archive.cover? %>
                <div class="col-sm-4">
                  <div class="blog-imgBox">
                    <img src=<%=archive.cover %>>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="paginate-wrapper"><%= paginate @archives, window: 2, outer_window: 3 %></div>
      </div>
      <div class="col-sm-4 side-mbbar-wrapper">
        <%= render :partial => "sidebar" %>
      </div>
    </div>
  </div>
</div>