<%# 抗击 2019-nCoV 页面 %>
<%# https://jira.qiniu.io/browse/BO-10832 %>

<%# banner %>
<div class="jumbotron hero hero-fighting-ncov"></div>

<div class="features features-fighting-ncov features-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">共克时艰，守望相助，七牛云在行动！</h2>
      <p class="desc">全面、全力、全产品线</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6 col-item">
        <div class="thumbnail">
          <%= image_tag "fighting_ncov/icon-kodo.png", class: "media-object", title: "共克时艰，守望相助，七牛云在行动 - 云存储", alt: "共克时艰，守望相助，七牛云在行动 - 云存储", width: 100 -%>
          <div class="caption">
            <h4>云存储</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-item">
        <div class="thumbnail">
          <%= image_tag "fighting_ncov/icon-fusion.png", class: "media-object", title: "共克时艰，守望相助，七牛云在行动 - CDN", alt: "共克时艰，守望相助，七牛云在行动 - CDN", width: 100 -%>
          <div class="caption">
            <h4>CDN</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-item">
        <div class="thumbnail">
          <%= image_tag "fighting_ncov/icon-pili.png", class: "media-object", title: "共克时艰，守望相助，七牛云在行动 - 视频直播", alt: "共克时艰，守望相助，七牛云在行动 - 视频直播", width: 100 -%>
          <div class="caption">
            <h4>视频直播</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-item">
        <div class="thumbnail">
          <%= image_tag "fighting_ncov/icon-qvm.png", class: "media-object", title: "共克时艰，守望相助，七牛云在行动 - 云主机", alt: "共克时艰，守望相助，七牛云在行动 - 云主机", width: 100 -%>
          <div class="caption">
            <h4>云主机</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-info">
        <p>支持与疫情相关的各种场景与项目 ！</p>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 col-apply">
        <%= link_to "立即申请，共战疫情", signin_url('www', '/events/fighting-2019-ncov'), title: "立即申请，共战疫情", class: "btn btn-lg btn-apply disabled", target: "_blank" -%>
      </div>
    </div>
  </div>
</div>

<div class="features features-fighting-ncov features-2">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 col-item">
        <div class="thumbnail">
          <div class="caption">
            <h4>疫情直播</h4>
          </div>
          <%= image_tag "fighting_ncov/img-live.jpg", class: "media-object", title: "疫情直播", alt: "疫情直播", width: "100%" -%>
          <p class="margin-t-l">&bull;&nbsp;&nbsp;直击疫情现场，助力抗疫宣传</p>
          <p class="margin-t-m">&bull;&nbsp;&nbsp;在线观看，减少聚集</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-item">
        <div class="thumbnail">
          <div class="caption">
            <h4>远程教育</h4>
          </div>
          <%= image_tag "fighting_ncov/img-edu.jpg", class: "media-object", title: "远程教育", alt: "远程教育", width: "100%" -%>
          <p class="margin-t-l">&bull;&nbsp;&nbsp;停课不停学</p>
          <p class="margin-t-m">&bull;&nbsp;&nbsp;防疫学习两不误</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-item">
        <div class="thumbnail">
          <div class="caption">
            <h4>在线办公</h4>
          </div>
          <%= image_tag "fighting_ncov/img-work.jpg", class: "media-object", title: "在线办公", alt: "在线办公", width: "100%" -%>
          <p class="margin-t-l">&bull;&nbsp;&nbsp;视频会议，远程协同</p>
          <p class="margin-t-m">&bull;&nbsp;&nbsp;助力「在家办公」新模式</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-item">
        <div class="thumbnail">
          <div class="caption">
            <h4>远程医疗</h4>
          </div>
          <%= image_tag "fighting_ncov/img-medical.jpg", class: "media-object", title: "远程医疗", alt: "远程医疗", width: "100%" -%>
          <p class="margin-t-l">&bull;&nbsp;&nbsp;在线问诊，远程会诊</p>
          <p class="margin-t-m">&bull;&nbsp;&nbsp;减少人员流动，降低感染可能</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-fighting-ncov features-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">七牛云为您提供云存储、CDN、视频直播、云主机等多种云服务的全力支持，让我们携手共抗疫情！</h2>
    </div>
  </div>
</div>
