<div class="gradual-bg-qvm1rmb qvm1rmb-1123">
  <%# banner part %>
  <div class="jumbotron hero hero-qvm1rmb qvm1rmb-1123"></div>

  <%# tab 切换按钮 %>
  <%# qvm1rmb 页面改版 %>
  <%# https://jira.qiniu.io/browse/BO-5681 %>
  <div class="features features-qvm1rmb-nav">
    <div class="container">
      <ul class="nav nav-tabs nav-justified points-bar nav-qvm1rmb">
        <li>
          <%= link_to "企业版", "/events/qvm0rmb?entry=qvm1rmb", class: "enterprise-item", target: "_self" -%>
        </li>
        <li class="active">
          <%= link_to content_tag(:span, content_tag(:span, "个人版") + content_tag(:span, "（活动已结束）", class: "nav-tip")), "/events/qvm1rmb", class: "person-item", target: "_self" -%>
        </li>
      </ul>
    </div>
  </div>

  <%# 个人优惠 %>
  <div class="page-body-qvm1rmb qvm-evnets-person">
    <%# model part %>
    <div class="features features-qvm1rmb features-qvm1rmb-model">
      <div class="container">
        <div class="intro">
          <%= image_tag "qvmevent/title-shouyue.png", title: "首月任性 1 元购", alt: "首月任性 1 元购", width: 250 -%>
        </div>
        <%# qvm1rmb 页面改版 %>
        <%# https://jira.qiniu.io/browse/BO-5681 %>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-4 col-model qvm1rmb-1123">
            <%= image_tag "qvmevent/model-tufa-person-1.png", alt: "突发性能实例 1 核 1G 40G 全国通用", title: "突发性能实例 1 核 1G 40G 全国通用", width: "100%" -%>
            <%#= link_to "立即抢购", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=cn-qingdao&instance_type=ecs.t5-lc1m1.small&buymonth=1", target: "_blank", class: "btn btn-qvm1rmb" -%>
            <%= link_to "立即抢购", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 col-model qvm1rmb-1123">
            <%= image_tag "qvmevent/model-tufa-person-2.png", alt: "突发性能实例 1 核 2G 40G 全国通用", title: "突发性能实例 1 核 2G 40G 全国通用", width: "100%" -%>
            <%#= link_to "立即抢购", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=cn-qingdao&instance_type=ecs.t5-lc1m2.small&buymonth=1", target: "_blank", class: "btn btn-qvm1rmb" -%>
            <%= link_to "立即抢购", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 col-model qvm1rmb-1123">
            <%= image_tag "qvmevent/model-tufa-person-3.png", alt: "突发性能实例 1 核 1G 40G 海外主机", title: "突发性能实例 1 核 1G 40G 海外主机", width: "100%" -%>
            <%#= link_to "立即抢购", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=us-west-1&instance_type=ecs.t5-lc1m1.small&buymonth=1", target: "_blank", class: "btn btn-qvm1rmb" -%>
            <%= link_to "立即抢购", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 col-model qvm1rmb-1123">
            <%= image_tag "qvmevent/model-tufa-person-4.png", alt: "突发性能实例 1 核 0.5G 40G 海外主机", title: "突发性能实例 1 核 0.5G 40G 海外主机", width: "100%" -%>
            <%#= link_to "立即抢购", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=us-west-1&instance_type=ecs.t5-lc2m1.nano&buymonth=1", target: "_blank", class: "btn btn-qvm1rmb" -%>
            <%= link_to "立即抢购", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 col-model qvm1rmb-1123">
            <%= image_tag "qvmevent/model-tufa-person-5.png", alt: "突发性能实例 2 核 2G 40G 全国通用", title: "突发性能实例 2 核 2G 40G 全国通用", width: "100%" -%>
            <%#= link_to "立即抢购", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=cn-qingdao&instance_type=ecs.t5-c1m1.large&buymonth=1", target: "_blank", class: "btn btn-qvm1rmb" -%>
            <%= link_to "立即抢购", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 col-model qvm1rmb-1123">
            <%= image_tag "qvmevent/model-daikuan-person-1.png", alt: "带宽 1M 40G 全国通用", title: "带宽 1M 40G 全国通用", width: "100%" -%>
            <%#= link_to "立即抢购", Rails.configuration.portal_host + "/qvm/network/eip?modal=create&activity=onermb20181123&region_id=cn-qingdao&buymonth=1", target: "_blank", class: "btn btn-qvm1rmb" -%>
            <%= link_to "立即抢购", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
          </div>
        </div>
      </div>
    </div>

    <%# next month model part %>
    <%# qvm1rmb 页面改版 %>
    <%# https://jira.qiniu.io/browse/BO-5681 %>
    <div class="features features-qvm1rmb features-qvm1rmb-model">
      <div class="container">
        <div class="intro">
          <%= image_tag "qvmevent/title-ciyue.png", title: "次月肆意 1 元续", alt: "次月肆意 1 元续", width: 250 -%>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 col-next">
            <%= image_tag "qvmevent/model-next-gongxiang.png", alt: "共享计算型 N4 1 核 2G 40G", title: "共享计算型 N4 1 核 2G 40G", width: "100%" -%>
            <p class="btn-container">
              <span class="tip">1 元</span>
              <%#= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=cn-qingdao&instance_type=ecs.n4.small&buymonth=2", target: "_blank", class: "btn btn-qvm1rmb" -%>
              <%= link_to "立即购买", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 col-next">
            <%= image_tag "qvmevent/model-next-tufa.png", alt: "突发性能实例 T5 2 核 2G 40G", title: "突发性能实例 T5 2 核 2G 40G", width: "100%" -%>
            <p class="btn-container">
              <span class="tip">1 元</span>
              <%#= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?activity=onermb20181123&region_id=cn-qingdao&instance_type=ecs.t5-c1m1.large&buymonth=2", target: "_blank", class: "btn btn-qvm1rmb" -%>
              <%= link_to "立即购买", "", target: "_blank", class: "btn btn-qvm1rmb" -%>
            </p>
          </div>
        </div>

        <div class="row qvm1rmb-progress-row">
          <%# qvm1rmb 页面改版 %>
          <%# https://jira.qiniu.io/browse/BO-5681 %>
          <%# title %>
          <h5 class="qvm1rmb-progress-title person-title"></h5>
          <%# days left %>
          <div class="qvm1rmb-progress-tip person-tip"></div>
          <div class="qvm1rmb-progress-bar person-bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar"
                  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%# join part %>
    <div class="features features-qvm1rmb features-qvm1rmb-join">
      <div class="container">
        <div class="intro">
          <%= image_tag "qvmevent/title-ruhecanyu-1.png", alt: "如何参与", width: 250 -%>
        </div>

        <div class="join-bg-container">
          <div class="join-container">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 col-join">
                <%= link_to image_tag("qvmevent/join-zhuce-w.png", alt: "注册", class: "image-normal", height: "100%") + image_tag("qvmevent/join-zhuce-h.png", alt: "注册", class: "image-hover", height: "100%") + content_tag(:h4, "注册"), Rails.configuration.portal_host + "/signup", target: "_blank" -%>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 col-join">
                <%= image_tag "qvmevent/join-arrow.png", alt: "箭头", width: "60%" -%>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 col-join">
                <%= link_to image_tag("qvmevent/join-renzheng-w.png", alt: "认证", class: "image-normal", height: "100%") + image_tag("qvmevent/join-renzheng-h.png", alt: "认证", class: "image-hover", height: "100%") + content_tag(:h4, "认证"), Rails.configuration.portal_host + "/identity", target: "_blank" -%>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 col-join">
                <%= image_tag "qvmevent/join-arrow.png", alt: "箭头", width: "60%" -%>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 col-join">
                <%= link_to image_tag("qvmevent/join-goumai-w.png", alt: "购买", class: "image-normal", height: "100%") + image_tag("qvmevent/join-goumai-h.png", alt: "购买", class: "image-hover", height: "100%") + content_tag(:h4, "购买"), Rails.configuration.portal_host + "/qvm/vm/instance/create?region=cn-qingdao&activity=onermb", target: "_blank" -%>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%# rule part %>
    <div class="features features-qvm1rmb features-qvm1rmb-rule">
      <div class="container">
        <div class="intro">
          <%= image_tag "qvmevent/title-huodongguize-1.png", alt: "活动规则", width: 250 -%>
        </div>

        <div class="rule-bg-container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%# qvm1rmb 页面改版 %>
              <%# https://jira.qiniu.io/browse/BO-5681 %>
              <div class="rule-item">
                <h4>一. 活动时间</h4>
                <p class="activity-time person">活动未开始</p>
              </div>

              <div class="rule-item">
                <h4>二. 活动规则</h4>
                <p>1. 本活动面向新注册用户，及从未有过七牛云主机产品消费的用户（参加过企业 0 元购的用户视为未有过消费）</p>
                <p>2. 指定预付费机型（公网带宽需另外购买）包月购买时，订单价格优惠至 1 元；1Mbps 弹性公网带宽包月购买时，订单价格优惠至 1 元</p>
                <p>3. 优惠订单价格包括：指定机型主机 + 40G 系统盘（高效云盘类型）</p>
                <p>4. 同一身份认证的用户只能享有一次优惠（主机和带宽不可同时享有），OEM 父子账号子账号无法享有活动</p>
                <p>5. 新用户下单时，必须是指定机型、时长为 1 月及以上（超过 1 月自动减免 1 个月价格）</p>
                <p>6. 订单下单时，如果系统盘选择其他配置，仅优惠金额按照 40G 高效云盘减免</p>
                <p>7. 本次活动优惠限定前 1000 名用户，为保证公平公正，七牛云有权对恶意刷抢活动资源，长期资源闲置，利用资源从事违法违规行为的用户收回云资源</p>
                <p>8. 活动最终解释权在法律允许范围内归七牛云所有</p>
              </div>

              <div class="rule-item">
                <h4>三. 活动限制</h4>
                <p>如您在活动或使用过程中有任何疑问，请<%= link_to "点击此处", "https://support.qiniu.com/tickets/category", class: "email-box", target: "_blank" -%>提交工单或发送邮件至 <%= link_to "marketing@qiniu.com", "mailto:marketing@qiniu.com", class:"email-box" -%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
