<div class="features features-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-stacked left-tab" id="about-left-bar">
          <li class="active"><%= link_to "公司介绍", company_path -%></li>
          <li class="news"><%= link_to "新闻动态", news_path -%></li>
          <li class="product_news"><%= link_to "产品动态", product_news_path -%></li>
          <li class="welfares"><%= link_to "近期福利", welfares_path -%></li>
          <li><%= link_to "客户案例", case_path -%></li>
          <li><%= link_to "市场合作", cooperations_path -%></li>
          <li><%= link_to "加入我们", "http://career.qiniu.com/" -%></li>
          <li><%= link_to "联系我们", contact_path -%></li>
        </ul>
      </div>

      <div class="col-sm-10">
        <div class="sections-wrapper">
          <section id=<%= action_name -%>>
            <% @archives.each do |archive| %>
              <%= content_tag :div, link_to(content_tag(:h4, archive[:title]) + content_tag(:time, archive[:created_at].strftime("%Y-%m-%d")) + content_tag(:span, "发布在   " + Archive::CATEGORIES[archive.category], class: "category") + content_tag(:p, archive[:summary], class: "news-content"), "#{ Rails.application.config.blog_host }/archives/#{ archive.id }", target: "_blank" ), class: "news-modal clear-pt" -%>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
