<div class="jumbotron hero hero-alaccelerator">
  <div class="container">
    <div class="middle-container">
      <div class="alaccelerator-price">
        <div class="intro">
          <h2>AI 创新扶持计划</h2>
          <p class="m-t-sm">让 AI 在业务中落地，助力产品智能升级</p>
          <div class="actions">
            <%= link_to "提交需求", "https://jinshuju.net/f/PmruT3", class: "btn btn-lg btn-hollow" -%>
          </div>
          <p class="text-left m-t">AI 创新扶持计划由七牛云人工智能实验室 Atlab 发起。面对人工智能在产品应用中面对的落地难、成本高、招人难和周期长等问题，提出 AI 创新扶持计划。由 Atlab 人工智能专家为您梳理需求，定制开发模型，提供 API/SDK。专注于计算机视觉领域，助力产品智能升级。</p>
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table border-none">
          <tbody>
            <tr>
              <td><span class="title">100+</span><span class="desc">AI 工程师</span></td>
              <td><span class="line"></span></td>
              <td><span class="title">500+</span><span class="desc">场景物体识别</span></td>
              <td><span class="line"></span></td>
              <td><span class="title">30天+</span><span class="desc">从想法到产品</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="features feature-color features-alaccelerator">
  <div class="container">
    <div class="intro">
      <h2 class="title">我们提供的服务</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="alaccelerator-service">
            <%= image_tag "alaccelerator/object-recognition.jpg", class: "", alt: "特定物体识别", width: "100%" %>
            <div class="caption">
              <p class="text-center title">特定物体识别</p>
              <p class="text-left">特定物体、品牌 logo 的识别与检索，可应用于场景化的广告营销和相册中不同维度的分类等场景。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="alaccelerator-service">
            <%= image_tag "alaccelerator/ocr.jpg", class: "", alt: "OCR", width: "100%" %>
            <div class="caption">
              <p class="text-center title">OCR</p>
              <p class="text-left">自然场景下对整图和文字进行检测、定位和识别。常用于对各种证件、票据、水电表所含信息进行自动识别和结构化处理。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
         <div class="thumbnail">
          <div class="alaccelerator-service">
            <%= image_tag "alaccelerator/classify.jpg", class: "", alt: "分类", width: "100%" %>
            <div class="caption">
              <p class="text-center title">分类</p>
              <p class="text-left">根据图像的信息将不同类别的图片或视频进行分类。可以用于定制场景分类、商品分类等。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="thumbnail">
          <%= image_tag "alaccelerator/icon-keyongxing.png", class: "media-object", alt: "业务需求梳理", width: 100 %>
          <div class="caption text-center">
            <h4>业务需求梳理</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="thumbnail">
          <%= image_tag "alaccelerator/icon-shejilinghuo.png", class: "media-object", alt: "模型训练", width: 100 %>
          <div class="caption text-center">
            <h4>模型训练</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="thumbnail">
          <%= image_tag "alaccelerator/icon-gongnengfengfu.png", class: "media-object", alt: "契合业务的 API/SDK", width: 100 %>
          <div class="caption text-center">
            <h4>契合业务的 API/SDK</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">30 天，从想法到产品</h2>
    </div>
    <ul class="list-style">
      <li>
        <div>
          <%= image_tag 'alaccelerator/icon-submit-requirement.png', width: 80 %>
          <p>提交需求</p>
        </div>
      </li>
      <li><span class="dots"></span></li>
      <li>
        <div>
          <%= image_tag 'alaccelerator/icon-assessment.png', width: 80 %>
          <p>需求评定</p>
        </div>
      </li>
      <li><span class="dots"></span></li>
      <li>
        <div>
          <%= image_tag 'alaccelerator/icon-data.png', width: 80 %>
          <p>准备数据</p>
        </div>
      </li>
      <li><span class="dots"></span></li>
      <li>
        <div>
          <%= image_tag 'alaccelerator/icon-model.png', width: 80 %>
          <p>数据标注</p>
          <p>模型训练</p>
          <p>测试集测试</p>
        </div>
      </li>
      <li><span class="dots"></span></li>
      <li>
        <div>
          <%= image_tag 'alaccelerator/icon-release.png', width: 80 %>
          <p>线上发布</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="features alaccelerator-bg features-alaccelerator">
  <div class="container">
    <div class="intro">
      <h2 class="title light-color">套餐包</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="price-box active">
          <div class="price-title">
            <span class="num">9 万元/年</span>
            <span class="tail">起</span>
          </div>
          <div class="price-info">
            <div class="begin">600 万次调用</div>
            <div class="outpart">超出部分单价 1.3 元/百次</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="price-box">
          <div class="price-title">
            <span class="num">15 万元/年</span>
            <span class="tail">起</span>
          </div>
          <div class="price-info">
            <div class="begin">1500 万次调用</div>
            <div class="outpart">超出部分单价 1.3 元/百次</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="price-box">
          <div class="price-title">
            <span class="num">30 万元/年</span>
            <span class="tail">起</span>
          </div>
          <div class="price-info">
            <div class="begin">6000 万次调用</div>
            <div class="outpart">超出部分单价 1.3 元/百次</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tips">*注：创新扶持计划委员会评估模型难度并提供具体报价。</div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">客户案例</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail feature-case p-relative">
          <div class="middle">
            <%= image_tag "alaccelerator/magicears.jpg", class: "list-img", alt: "magicears", width: 150 %>
          </div>
          <div class="cover">
            <p>识别在线少儿英语视频中的奖杯，记录奖杯在视频中的位置，截取学生表现良好的视频片段，形成视频集锦。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail feature-case p-relative">
          <div class="middle">
            <%= image_tag "alaccelerator/xinhuashe.jpg", class: "list-img", alt: "xinhuashe", width: 150 %>
          </div>
          <div class="cover">
            <p>根据新华社在重阳节策划的 H5 游戏，识别用户上传的人脸图像，自动检测人脸并通过算法进行人脸老化处理，反馈给用户老化后的人脸图像。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail feature-case p-relative">
          <div class="middle">
            <%= image_tag "alaccelerator/danlan.png", class: "list-img", alt: "danlan", width: 150 %>
          </div>
          <div class="cover">
            <p>准确识别应用中的图片物体类别，向用户展示带有眼镜等多种有特定外貌特征的图片，有效提高社交产品粘性。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail feature-case p-relative">
          <div class="middle">
            <%= image_tag "alaccelerator/asiainfo.jpg", class: "list-img", alt: "asiainfo", width: 150 %>
          </div>
          <div class="cover">
            <p>OCR 识别煤气表，将煤气表上的文字内容，直接转换为可编辑文本，节省人力成本。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-alaccelerator">
  <div class="container">
    <div class="intro">
      <h2 class="title">通用内容审核API</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="alaccelerator-service">
            <%= image_tag "alaccelerator/pornographic.jpg", class: "", alt: "色情识别", width: "100%" %>
            <div class="caption">
              <p class="text-center title">色情识别</p>
              <p class="text-left">识别图片及视频中的色情内容，包括有明显的敏感部分裸露的图片，血腥图片，描述性交行为的体位或姿势和色情场景的图片等。</p>
            </div>
            <div class="action">
              <%= link_to "立即使用", "https://portal.qiniu.com/dora/fop/pulp", target: "_blank", class: "more" -%>
              <%= link_to "查看文档", "https://developer.qiniu.com/censor", target: "_blank", class: "more" -%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="alaccelerator-service">
            <%= image_tag "alaccelerator/terrorist-attacks.jpg", class: "", alt: "暴恐识别", width: "100%" %>
            <div class="caption">
              <p class="text-center title">暴恐识别</p>
              <p class="text-left">识别图片及视频中的暴恐元素，包括爆炸、血腥、打架斗殴等暴力恐怖主义特征或游行集会等。</p>
            </div>
            <div class="action">
              <%= link_to "立即使用", "https://portal.qiniu.com/dora/fop/terror", target: "_blank", class: "more" -%>
              <%= link_to "查看文档", "https://developer.qiniu.com/censor", target: "_blank", class: "more" -%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="alaccelerator-service">
            <%= image_tag "alaccelerator/politician.jpg", class: "", alt: "政治人脸识别", width: "100%" %>
            <div class="caption">
              <p class="text-center title">政治人物识别</p>
              <p class="text-left">高效精准识别图片及视频中的政治敏感人物。</p>
            </div>
            <div class="action">
              <%= link_to "立即使用", "https://portal.qiniu.com/dora/fop/politician", target: "_blank", class: "more" -%>
              <%= link_to "查看文档", "https://developer.qiniu.com/censor", target: "_blank", class: "more" -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>