<div class="jumbotron hero hero-case">
  <div class="container">
    <center class="title">
      <h2>与 600,000+ 企业和开发者</h2>
      <h2>一起使用七牛</h2>
    </center>
  </div>
</div>

<div class="features">
  <div class="container bottom-line">
    <div class="row">
      <div class="col-sm-6">
        <p>目前七牛已服务 60 多万家企业和开发者，七牛提供的云服务，正在包围我们的生活。顺丰、网易、饿了么、美拍、知乎、陌陌、蘑菇街等，都在使用七牛的服务。</p>
        <%= link_to raw("更多内容 &gt;"), "http://blog.qiniu.com/archives/category/showcase", target: "_blank", class: "more" -%>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="cases-wrapper">
            <%= link_to image_tag("case/img-changjiangyun.jpg", alt: "长江云"), "", class: "img-box" -%>
            <div class="btn-icon-wrap"><%= link_to "查看案例详情", "http://blog.qiniu.com/archives/8544", class: "btn-icon", target: "_blank" -%></div>
            <div class="media">
                <div class="media-left">
                  <%= image_tag "case/icon-changjiangyun@2x.png", class: "media-object case-icon", alt: "长江云" -%>
              </div>
              <div class="media-body info-box">
                <h4 class="media-heading">长江云</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cases-wrapper">
            <%= link_to image_tag("case/img-zhongxingtongxun.jpg", alt: "中兴通讯"), "", class: "img-box" -%>
            <div class="btn-icon-wrap"><%= link_to "查看案例详情", "http://blog.qiniu.com/archives/8547", class: "btn-icon", target: "_blank" -%></div>
            <div class="media">
                <div class="media-left">
                  <%= image_tag "case/icon-zhongxing@2x.png", class: "media-object case-icon", alt: "中兴通讯" -%>
              </div>
              <div class="media-body info-box">
                <h4 class="media-heading">中兴通讯</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cases-wrapper">
            <%= link_to image_tag("case/img-xiongmaozhibo.jpg", alt: "熊猫直播"), "", class: "img-box" -%>
            <div class="btn-icon-wrap"><%= link_to "查看案例详情", "http://blog.qiniu.com/archives/8549", class: "btn-icon", target: "_blank" -%></div>
            <div class="media">
              <div class="media-left">
                <%= image_tag "case/icon-xiongmao@2x.png", class: "media-object case-icon", alt: "熊猫直播" -%>
              </div>
              <div class="media-body info-box">
                <h4 class="media-heading">熊猫直播</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">他们都在用七牛云，寻找你的同行</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar" role="tablist">
        <li class="active"><a href="#im" data-toggle="tab">社交网络</a></li>
        <li><a href="#fashion" data-toggle="tab">时尚生活</a></li>
        <li><a href="#enjoyment" data-toggle="tab">文化娱乐</a></li>
        <li><a href="#health" data-toggle="tab">医疗健康</a></li>
        <li><a href="#education" data-toggle="tab">在线教育</a></li>
        <li><a href="#traffics" data-toggle="tab">交通旅游</a></li>
        <li><a href="#hardware" data-toggle="tab">智能硬件</a></li>
        <li><a href="#software" data-toggle="tab">工具软件</a></li>
        <li><a href="#safe" data-toggle="tab">安防</a></li>
        <li><a href="#wealth" data-toggle="tab">金融</a></li>
        <li><a href="#media" data-toggle="tab">广电</a></li>
        <li><a href="#network" data-toggle="tab">移动通信</a></li>
      </ul>
      <div class="tab-content">
        <% I18n.t("cases").each do |logos| %>
          <% groupid = logos[:groupid] %>
          <section id= <%= groupid %> class="tab-pane fade in active">
            <% logos[:group].each do |logo| %>
              <div class="col-sm-3 col-md-2">
                <div class="thumbnail feature-case">
                  <%= image_tag logo[:imgpath], class: "list-img", alt: "案例", width: 100 %>
                </div>
              </div>
            <% end %>
          </section>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="features feature-color features-eval">
  <div class="container">
    <div class="evaluation-left">
      <h4>用户评价</h4>
      <h2>听听他们怎么说</h2>
    </div>

    <div class="tabs evaluation-right">
      <ul class="nav client-list" role="tablist">
        <li class="active tab-current"><a href="#tab-evaluation-section-1" data-toggle="tab"><%= image_tag "case/liuhongwei.jpg", width: "60", height: "60" %></a></li>
        <li><a href="#tab-evaluation-section-2" data-toggle="tab"><%= image_tag "case/wangwei.jpg", width: "60", height: "60" %></a></li>
        <li><a href="#tab-evaluation-section-3" data-toggle="tab"><%= image_tag "case/tianbo.jpg", width: "60", height: "60" %></a></li>
        <li><a href="#tab-evaluation-section-4" data-toggle="tab"><%= image_tag "case/lixingbo.jpg", width: "60", height: "60" %></a></li>
        <li><a href="#tab-evaluation-section-5" data-toggle="tab"><%= image_tag "case/xvhua.jpg", width: "60", height: "60" %></a></li>
        <li><a href="#tab-evaluation-section-6" data-toggle="tab"><%= image_tag "case/ruanyongli.jpg", width: "60", height: "60" %></a></li>
      </ul>

      <div class="tab-content tab-content-evaluation-details">
        <section id="tab-evaluation-section-1" class="tab-pane fade in active">
          <h3>刘宏伟<span>Camera360 副总裁</span></h3>
          <p class="team-text">七牛在图像存储方面做了很多贴心服务，不仅解决了大规模存储问题， 也解决了移动互联网对照片浏览和计算的特殊需求。合作过程中，我们也从七牛研发团队里吸取到了前沿的研发流程。</p>
        </section class="tab-pane fade">
        <section id="tab-evaluation-section-2" class="tab-pane fade">
          <h3>汪威<span>咸蛋家 CTO</span></h3>
          <p class="team-text">七牛为咸蛋家提供了整套的解决方案，在手机直播竞争激烈的当下，七牛提供的稳定、高效、可信赖的底层服务，使咸蛋家开发人员能集中精力开展业务逻辑方面的工作，也给咸蛋家赢得了时间和更好的行业领先地位。</p>
        </section>
         <section id="tab-evaluation-section-3" class="tab-pane fade">
          <h3>田波<span>中兴家庭网络运营总监</span></h3>
          <p class="team-text">中兴智能家居产品依托七牛云服务，向用户提供音视频云存储、检索、分享等衍生增值服务，七牛的专业团队为海量数据的安全性及稳定性提供了有力保障。</p>
        </section>
        <section id="tab-evaluation-section-4" class="tab-pane fade">
          <h3>李兴波<span>海康威视萤石云平台技术总监</span></h3>
          <p class="team-text">在和七牛合作的这几年中，深刻的感受到七牛的的确确是一家做“云服务”的公司。作为技术产品服务供应商，在技术和服务品质上有一贯的追求是七牛的核心竞争力，同时在七牛的各个方面都同时体现着另种竞争力——对服务的理解。这就是除技术和产品等硬性表现外，赢的合作伙伴信任更为重要的基础。</p>
        </section>
         <section id="tab-evaluation-section-5" class="tab-pane fade">
          <h3>徐华<span>沪江网副总裁</span></h3>
          <p class="team-text">七牛为沪江提供了稳定高可用的云端文件大规模存储服务，很好地帮助企业降低了运营成本，提高了响应速度。我们相信，伴随着互联网教育的快速发展，沪江和七牛会有更多深入的合作，让我们能更专注于在线教育用户的核心需求。</p>
        </section>
        <section id="tab-evaluation-section-6" class="tab-pane fade">
          <h3>阮永丽<span>美图秀秀 CTO</span></h3>
          <p class="team-text">美图有幸见证七牛这一路策马扬鞭的茁壮成长，其可靠云服务亦令美图的发展如虎添翼。回顾走过的历程，七牛攀登的路途上，每个足印都记录着技术的飞跃，每个里程碑都带给我们新的体验。</p>
        </section>
      </div>
    </div>
  </div>
</div>