<div class="jumbotron hero hero-case">
  <div class="container">
    <center class="title">
      <h2>与 600,000+ 企业和开发者</h2>
      <h2>一起使用七牛</h2>
    </center>
  </div>
</div>

<div class="features">
  <div class="container bottom-line">
    <div class="row">
      <div class="col-sm-6">
        <p>目前七牛已服务 60 多万家企业和开发者，七牛提供的云服务，正在包围我们的生活。顺丰、网易、饿了么、美拍、知乎、陌陌、蘑菇街等，都在使用七牛的服务。</p>
        <%= link_to raw("更多内容 &gt;"), "http://blog.qiniu.com/archives/category/showcase", target: "_blank", class: "more" -%>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="cases-wrapper">
            <%= link_to image_tag("case/img-changjiangyun.jpg", alt: "长江云"), "", class: "img-box" -%>
            <div class="btn-icon-wrap"><%= link_to "查看案例详情", "http://blog.qiniu.com/archives/8544", class: "btn-icon", target: "_blank" -%></div>
            <div class="media">
                <div class="media-left">
                  <%= image_tag "case/icon-changjiangyun@2x.png", class: "media-object case-icon", alt: "长江云" -%>
              </div>
              <div class="media-body info-box">
                <h4 class="media-heading">长江云</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cases-wrapper">
            <%= link_to image_tag("case/img-zhongxingtongxun.jpg", alt: "中兴通讯"), "", class: "img-box" -%>
            <div class="btn-icon-wrap"><%= link_to "查看案例详情", "http://blog.qiniu.com/archives/8547", class: "btn-icon", target: "_blank" -%></div>
            <div class="media">
                <div class="media-left">
                  <%= image_tag "case/icon-zhongxing@2x.png", class: "media-object case-icon", alt: "中兴通讯" -%>
              </div>
              <div class="media-body info-box">
                <h4 class="media-heading">中兴通讯</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cases-wrapper">
            <%= link_to image_tag("case/img-xiongmaozhibo.jpg", alt: "熊猫直播"), "", class: "img-box" -%>
            <div class="btn-icon-wrap"><%= link_to "查看案例详情", "http://blog.qiniu.com/archives/8549", class: "btn-icon", target: "_blank" -%></div>
            <div class="media">
              <div class="media-left">
                <%= image_tag "case/icon-xiongmao@2x.png", class: "media-object case-icon", alt: "熊猫直播" -%>
              </div>
              <div class="media-body info-box">
                <h4 class="media-heading">熊猫直播</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">他们都在用七牛云，寻找你的同行</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">社交网络</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">时尚生活</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">文化娱乐</a></li>
        <li><a href="#tab-usage-section-4" data-toggle="tab">医疗健康</a></li>
        <li><a href="#tab-usage-section-5" data-toggle="tab">在线教育</a></li>
        <li><a href="#tab-usage-section-6" data-toggle="tab">交通旅游</a></li>
        <li><a href="#tab-usage-section-7" data-toggle="tab">智能硬件</a></li>
        <li><a href="#tab-usage-section-8" data-toggle="tab">工具软件</a></li>
        <li><a href="#tab-usage-section-9" data-toggle="tab">安防</a></li>
        <li><a href="#tab-usage-section-10" data-toggle="tab">金融</a></li>
        <li><a href="#tab-usage-section-11" data-toggle="tab">广电</a></li>
        <li><a href="#tab-usage-section-12" data-toggle="tab">移动通信</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-usage-section-1" class="tab-pane fade in active">
          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-jiandanyiyong@2x.png", class: "media-object", alt: "简单易用", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-gaoxiaowending@2x.png", class: "media-object", alt: "高效稳定", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-jiandanyiyong@2x.png", class: "media-object", alt: "简单易用", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-gaoxiaowending@2x.png", class: "media-object", alt: "高效稳定", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-kaifangronghe@2x.png", class: "media-object", alt: "开放融合", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-kedingzhihua@2x.png", class: "media-object", alt: "可定制化", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-kaifangronghe@2x.png", class: "media-object", alt: "开放融合", width: 60 %>
            </div>
          </div>

          <div class="col-sm-3 col-md-2">
            <div class="thumbnail feature-case">
              <%= image_tag "pandora/icon-kedingzhihua@2x.png", class: "media-object", alt: "可定制化", width: 60 %>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>

<div class="features feature-color features-eval">
  <div class="container">
    <div class="evaluation-left">
      <h4>用户评价</h4>
      <h2>听听他们怎么说</h2>
    </div>

    <div class="tabs evaluation-right">

    </div>
  </div>
</div>