<div class="jumbotron hero hero-censor">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-10 col-sm-10">
          <h1>「 明瞳 」内容安全</h1>
          <h3><%= I18n.t("views.welcome.censor.subtitle") -%></h3>
          <p><%= I18n.t("views.welcome.censor.describe1") -%></p>
          <div class="actions <%= I18n.t("views.language") != "zh" ? "d-none" : "" -%>">
            <%= link_to "立即使用", "https://portal.qiniu.com/censor", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
            <%= link_to "产品接入文档", "https://developer.qiniu.com/censor/manual/4829/censor-introduction", target: "_blank", class: "product-link underline" -%>
          </div>
          <p><%= I18n.t("views.welcome.censor.describe2") -%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# process tab %>
<div class="features features-censor-pro">
  <div class="container censor-pro-container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.censor.process.title") -%></h2>
    </div>
    <div class="text-center img-container">
      <%= image_tag I18n.t("views.welcome.censor.process.image"), width:"100%" -%>
    </div>
  </div>
</div>

<%# special tab %>
<div class="features features-censor-special">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.censor.special.title") -%></h2>
    </div>
    <div class="row">
      <% I18n.t("views.welcome.censor.special.cols").each do |col| -%>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="thumbnail">
            <%= image_tag col[:image], alt: col[:title], width: "100%" -%>
            <div class="caption">
              <h2><%= col[:title] -%></h2>
              <h4><%= col[:subtitle] -%></h4>
            </div>
            <div class="special-list">
              <% col[:items].each do |item| -%>
                <p><%= item -%></p>
              <% end -%>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# demo tab %>
<div class="features features-less features-cases features-censor-demo">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.censor.demo.title") -%></h2>
    </div>
    <div class="row">
      <%= render :partial => "demo" -%>
    </div>
  </div>
</div>

<%# scene tab %>
<div class="features features-censor-scene">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.censor.scene.title") -%></h2>
    </div>
    <div class="row scene-row">
      <% I18n.t("views.welcome.censor.scene.row1").each do |col| -%>
        <div class="col-md-3 col-sm-3 col-xs-3 scene-col">
          <%= image_tag col[:image], alt: col[:title], title: col[:title], width: "100%" -%>
          <div class="hide-block">
            <%= image_tag col[:icon], alt: col[:title], title: col[:title], width: "20%" -%>
            <p><%= col[:title] -%></p>
          </div>
        </div>
      <% end -%>
    </div>
    <div class="row scene-row">
      <% I18n.t("views.welcome.censor.scene.row2").each do |col| -%>
        <div class="col-md-3 col-sm-3 col-xs-3 scene-col">
          <%= image_tag col[:image], alt: col[:title], title: col[:title], width: "100%" -%>
          <div class="hide-block">
            <%= image_tag col[:icon], alt: col[:title], title: col[:title], width: "20%" -%>
            <p><%= col[:title] -%></p>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# client tab %>
<div class="features features-less features-cases features-censor-client">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.censor.client.title") -%></h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <% I18n.t("views.welcome.censor.client.items").each do |item| -%>
            <div><%= image_tag item[:image], class: "case", alt: item[:title], title: item[:title] -%></div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>

<%# price tab %>
<div class="features features-censor-price">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.censor.price.title") -%></h2>
      <p class="desc"><%= I18n.t("views.welcome.censor.price.subtitle") -%></p>
    </div>
    <div class="tab-content-pricing">
      <div class="table-responsive pricing-white-bg">
        <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
          <tbody>
            <tr class="light-bkcolor">
              <th class="thead-title text-center border-right border-bottom">服务内容</th>
              <th colspan="2" class="thead-title text-center border-bottom">定价</th>
            </tr>
            <tr>
              <th class="border-right text-center">机器智能审核</th>
              <th class="border-right text-center">
                <%= link_to "按次阶梯价格", "https://developer.qiniu.com/censor/manual/4833/censor-price", target: "_blank", class: "cell-link" -%>
              </th>
              <th class="text-center">
                <%= link_to "特惠套餐包", "https://developer.qiniu.com/censor/manual/4835/censor-plus-manual", target: "_blank", class: "cell-link" -%>
              </th>
            </tr>
            <tr>
              <th class="border-right text-center">机器智能审核+人工审核</th>
              <th class="border-right text-center">
                <%= link_to "按次阶梯价格", "https://developer.qiniu.com/censor/manual/4839/autocensor-and-manualcensor", target: "_blank", class: "cell-link" -%>
              </th>
              <th class="text-center">
                <%= link_to "特惠套餐包", "https://developer.qiniu.com/censor/manual/4840/auto-and-manual-package", target: "_blank", class: "cell-link" -%>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>