<div class="jumbotron hero hero-company">

</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.company.title") %></h2>
    </div>
    <p><%= I18n.t("views.welcome.company.desc") %></p>
  </div>
</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.company.feature1.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.company.feature1.col").each do |col| %>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 60 %>
            <div class="caption">
              <h4><%= col[:title] %></h4>
              <p><%= col[:desc] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.company.feature2.title") %></h2>
    </div>
    <div class="timeline">
      <ul class="timeline-ul">
        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span"><%= I18n.t("views.welcome.company.feature2.ul.li1.time") %></span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <span class="icon-point icon-point-right icon-event"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li2.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li2.desc") %></p>
            </div>
            <span class="icon-img chenli"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time><%= I18n.t("views.welcome.company.feature2.ul.li3.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li3.desc") %></p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img yunpingtai"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span"><%= I18n.t("views.welcome.company.feature2.ul.li4.time") %></span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li5.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li5.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img alun"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time><%= I18n.t("views.welcome.company.feature2.ul.li6.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li6.desc") %></p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img go"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span"><%= I18n.t("views.welcome.company.feature2.ul.li7.time") %></span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li8.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li8.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img blun"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span"><%= I18n.t("views.welcome.company.feature2.ul.li9.time") %></span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li10.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li10.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img cunchu"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time><%= I18n.t("views.welcome.company.feature2.ul.li11.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li11.desc") %></p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img clun"></span>
          </div>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li12.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li12.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img haiwaijiasu"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span"><%= I18n.t("views.welcome.company.feature2.ul.li13.time") %></span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li14.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li14.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img kexinyun"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time><%= I18n.t("views.welcome.company.feature2.ul.li15.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li15.desc") %></p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img shujuchuli"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span"><%= I18n.t("views.welcome.company.feature2.ul.li16.time") %></span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li17.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li17.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img dlun"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time><%= I18n.t("views.welcome.company.feature2.ul.li18.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li18.desc") %></p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img zhibo"></span>
          </div>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time><%= I18n.t("views.welcome.company.feature2.ul.li19.time") %></time>
              <p><%= I18n.t("views.welcome.company.feature2.ul.li19.desc") %></p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img xinxianquan"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
