<div class="jumbotron hero hero-contact">

</div>

<div class="features">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 ipo-col">
        <div class="media">
          <div class="media-left">
            <%= image_tag "contactus/icon-presale@2x.png", class: "media-object", alt: "售前服务", width: 110 %></a>
          </div>
          <div class="media-body media-left-line">
            <h4 class="media-heading">售前服务</h4>
            <h6>提供云服务产品咨询服务</h6>
            <div class="media-body-tail">
              <p>
                <strong>邮箱</strong>
                <em>sales@qiniu.com</em>
              </p>
              <p>
                <strong>电话</strong>
                <em>400-808-9176</em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 ipo-col">
        <div class="media">
          <div class="media-left">
            <%= image_tag "contactus/icon-aftersale@2x.png", class: "media-object", alt: "售后服务", width: 110 %>
          </div>
          <div class="media-body media-right">
            <h4 class="media-heading">售后服务</h4>
            <h6>提供7*24小时技术支持服务</h6>
            <div class="media-body-tail">
              <p>
                <strong>邮箱</strong>
                <em>support@qiniu.com</em>
              </p>
              <p>
                <strong>电话</strong>
                <em>400-808-9176</em>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="features features-solution">
  <div class="container">
    <div class="intro">
      <h2 class="title">公司分布</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>Shanghai</span>
            </div>
            <%= image_tag "contactus/image-shanghaiHQ@2x.jpg", alt: "Shanghai"%>
          </div>
          <div class="caption">
            <strong>上海总部</strong>
            <p>上海市浦东新区亮秀路112号Y1座3楼</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>Beijing</span>
            </div>
            <%= image_tag "contactus/image-beijingseg@2x.jpg", alt: "Beijing"%>
          </div>
          <div class="caption">
            <strong>北京分部</strong>
            <p>北京市朝阳区太阳宫中路12号太阳宫大厦1210室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>Shenzhen</span>
            </div>
            <%= image_tag "contactus/image-shenzhenseg@2x.jpg", alt: "Shenzhen"%>
          </div>
          <div class="caption">
            <strong>深圳分部</strong>
            <p>广东省深圳市南山区深南大道0680号大冲商务中心1号楼2405室</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>Hangzhou</span>
            </div>
            <%= image_tag "contactus/image-hangRDcenter@2x.jpg", alt: "Hangzhou"%>
          </div>
          <div class="caption">
            <strong>杭州研发中心</strong>
            <p>浙江省杭州市下城区上塘路15号武林时代商务中心936室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>Hangzhou</span>
            </div>
            <%= image_tag "contactus/image-hangzhouseg@2x.jpg", alt: "Hangzhou"%>
          </div>
          <div class="caption">
            <strong>杭州分部</strong>
            <p>浙江省杭州市西湖区文三路478号华星时代广场A座607室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>Chengdu</span>
            </div>
            <%= image_tag "contactus/image-chengduseg@2x.jpg", alt: "Chengdu"%>
          </div>
          <div class="caption">
            <strong>成都分部</strong>
            <p>四川省成都市高新区天府大道656号希顿国际广场C座2504室</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>