<div class="jumbotron hero hero-contact">

</div>

<div class="features feature-color features-contact contact-box">
  <div class="container">

    <div class="row ipo-row">
      <div class="col-sm-6 ipo-col right-line">
        <div class="media">
          <div class="media-left">
            <%= image_tag "contact/icon-shouqian@2x.png", class: "media-object", alt: "售前服务", width: 50 %></a>
          </div>
          <div class="media-body service-box">
            <h4 class="media-heading">售前服务</h4>
            <h6 class="media-heading">提供云服务产品咨询服务</h6>
            <div class="service-box-tail">
              <p>
                <strong>电子邮箱</strong>
                <em><%= link_to "sales@qiniu.com", "mailto:sales@qiniu.com" -%></em>
              </p>
              <p>
                <strong>联系电话</strong>
                <em><%= link_to "400-808-9176 转 1", "tel:400-808-9176" -%></em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 ipo-col">
        <div class="media">
          <div class="media-left">
            <%= image_tag "contact/icon-shouhou@2x.png", class: "media-object", alt: "售后服务", width: 50 %>
          </div>
          <div class="media-body service-box">
            <h4 class="media-heading">售后服务</h4>
            <h6 class="media-heading">提供 7*24 小时技术支持服务</h6>
            <div class="service-box-tail">
              <p>
                <strong>工单服务</strong>
                <em><%= link_to "访问工单系统", "https://support.qiniu.com/tickets/category", class: "more", target: "_blank" -%></em>
              </p>
              <p>
                <strong>联系电话</strong>
                <em><%= link_to "400-808-9176 转 2", "tel:400-808-9176" -%></em>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="features features-contact">
  <div class="container">
    <div class="intro">
      <h2 class="title">公司分布</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Shanghai
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-shanghaizongbu@2x.jpg", alt: "Shanghai"%>
          </div>
          <div class="caption caption-contact">
            <strong>上海总部</strong>
            <p>上海市浦东新区浦东软件园博霞路 66 号 Q 座</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Beijing
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-beijingfenbu@2x.jpg", alt: "Beijing"%>
          </div>
          <div class="caption caption-contact">
            <strong>北京分部</strong>
            <p>北京市朝阳区太阳宫中路 12 号冠城大厦 1503 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Hangzhou
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-hangzhouyanfazhongxin@2x.jpg", alt: "Hangzhou"%>
          </div>
          <div class="caption caption-contact">
            <strong>杭州分部</strong>
            <p>浙江省杭州市下城区上塘路 15 号武林时代商务中心 21 楼 04-06 室（电话：0571-28211067）</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Shenzhen
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-shenzhenfenbu@2x.jpg", alt: "Shenzhen"%>
          </div>
          <div class="caption caption-contact">
            <strong>深圳分部</strong>
            <p>广东省深圳市南山区深南大道 9680 号大冲商务中心 1 号楼 2405 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Nanjing
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-nanjingfenbu@2x.jpg", alt: "Nanjing"%>
          </div>
          <div class="caption caption-contact">
            <strong>南京分部</strong>
            <p>江苏省雨花区软件大道 170-1 号 2 幢 1607 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Chengdu
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-chengdufenbu@2x.jpg", alt: "Chengdu"%>
          </div>
          <div class="caption caption-contact">
            <strong>成都分部</strong>
            <p>四川省成都市高新区天府大道中段 666 号希顿国家广场 C 座 2503/2504 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Qingdao
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-qingdaofenbu@2x.jpg", alt: "Qingdao"%>
          </div>
          <div class="caption caption-contact">
            <strong>青岛分部</strong>
            <p>山东省青岛市市南区延安三路 234 号海航万邦中心 4402 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Guangzhou
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-gaungzhoufenbu@2x.jpg", alt: "Guangzhou"%>
          </div>
          <div class="caption caption-contact">
            <strong>广州分部</strong>
            <p>广州市天河区珠江新城花城大道 85 号高德置地春广场 A 座 1706B</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Xiamen
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-xiamenfenbu@2x.jpg", alt: "Xiamen"%>
          </div>
          <div class="caption caption-contact">
            <strong>厦门分部</strong>
            <p>福建省厦门市思明区软件园二期望海路 12 号楼 3 单元 2 楼</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Suzhou
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-suzhoufenbu@2x.jpg", alt: "Suzhou"%>
          </div>
          <div class="caption caption-contact">
            <strong>苏州分部</strong>
            <p>苏州工业园区东平街 280 号黄金屋大厦 208 室（电话：0512-88968890）</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
