<div class="jumbotron hero hero-contact">

</div>

<div class="features ipo-features-contact contact-box">
  <div class="container">

    <div class="row ipo-row">
      <div class="col-sm-6 ipo-col">
        <div class="media">
          <div class="media-left">
            <%= image_tag "contact/icon-presale@2x.png", class: "media-object", alt: "售前服务", width: 50 %></a>
          </div>
          <div class="media-body service-box">
            <h4 class="media-heading">售前服务</h4>
            <h6>提供云服务产品咨询服务</h6>
            <div class="service-box-tail">
              <p>
                <strong>电子邮箱</strong>
                <em><%= link_to "sales@qiniu.com", "mailto:sales@qiniu.com" -%></em>
              </p>
              <p>
                <strong>联系电话</strong>
                <em><%= link_to "400-808-9176 转 2", "tel:400-808-9176" -%></em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <span class="middle-line"></span>

      <div class="col-sm-6 ipo-col">
        <div class="media">
          <div class="media-left">
            <%= image_tag "contact/icon-aftersale@2x.png", class: "media-object", alt: "售后服务", width: 50 %>
          </div>
          <div class="media-body service-box">
            <h4 class="media-heading">售后服务</h4>
            <h6>提供 7*24 小时技术支持服务</h6>
            <div class="service-box-tail">
              <p>
                <strong>工单服务</strong>
                <%= link_to "访问工单系统", "https://support.qiniu.com/tickets/category", class: "more", target: "_blank" -%>
              </p>
              <p>
                <strong>联系电话</strong>
                <em><%= link_to "400-808-9176 转 1", "tel:400-808-9176" -%></em>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="features ipo-features-contact">
  <div class="container">
    <div class="intro">
      <h2 class="title">公司分布</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Shanghai
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-shanghaiHQ@2x.jpg", alt: "Shanghai"%>
          </div>
          <div class="caption">
            <strong>上海总部</strong>
            <p>上海市浦东新区亮秀路 112 号 Y1 座 3 楼</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Beijing
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-beijingseg@2x.jpg", alt: "Beijing"%>
          </div>
          <div class="caption">
            <strong>北京分部</strong>
            <p>北京市朝阳区太阳宫中路 12 号太阳宫大厦 1210 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Shenzhen
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-shenzhenseg@2x.jpg", alt: "Shenzhen"%>
          </div>
          <div class="caption">
            <strong>深圳分部</strong>
            <p>广东省深圳市南山区深南大道 0680 号大冲商务中心 1 号楼 2405 室</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Hangzhou
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-hangRDcenter@2x.jpg", alt: "Hangzhou"%>
          </div>
          <div class="caption">
            <strong>杭州研发中心</strong>
            <p>浙江省杭州市下城区上塘路 15 号武林时代商务中心 936 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Hangzhou
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-hangzhouseg@2x.jpg", alt: "Hangzhou"%>
          </div>
          <div class="caption">
            <strong>杭州分部</strong>
            <p>浙江省杭州市西湖区文三路 478 号华星时代广场 A 座 607 室</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="mask-layer">
            <div class="layer">
              <span>
                Chengdu
                <i></i>
              </span>
            </div>
            <%= image_tag "contact/image-chengduseg@2x.jpg", alt: "Chengdu"%>
          </div>
          <div class="caption">
            <strong>成都分部</strong>
            <p>四川省成都市高新区天府大道 656 号希顿国际广场 C 座 2504 室</p>
          </div>
        </div>
      </div>
    </div>
  </div>
