<div class="features feature-color feature-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>工具、插件、SDK 合作</h2>
        <p>七牛云欢迎广大开发者提交工具、插件、SDK，我们会及时跟进您的提交申请。通过审核的工具、插件、SDK 将会在七牛云开发者中心社区资源上线。并且，您可以免费享受一定额度的云服务一整年。</p>
        <div class="feature-contact-box">
          <%= link_to "marketing@qiniu.com", "mailto:marketing@qiniu.com", class:"email-box" -%>
          <%= link_to "400-808-9176", "tel:400-808-9176", class:"tel-box" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-cooperation">
  <div class="container">
    <h2>合作流程</h2>
    <ul class="cooperation-step">
      <li class="step-li step-li-first">
        <div class="step-no">1</div>
        <h4>提交申请</h4>
        <p>点击下面「立即申请」按钮，填写合作申请表。</p>
      </li>

      <li class="step-li">
        <div class="step-no">2</div>
        <h4>审核</h4>
        <p>收到您提交的工具、插件、SDK 后，我们将在 10 个工作日内审核完毕。</p>
      </li>

      <li class="step-li-no">
        <div class="step-no">3</div>
        <h4>上线</h4>
        <p>如果您提交的资源通过审核后，我们会将其上线到<a href="http://developer.qiniu.com/resource/community.html">社区资源</a>。</p>
      </li>
    </ul>
  </div>
  <%= link_to "立刻申请", "", class: "btn btn-primary" -%>
</div>

<div class="features feature-color feature-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>渠道合作</h2>
        <p>七牛云面向广大企业与个人，开发渠道合作。申请合作后，我们的商务经理会及时跟进并与您联系。</p>
        <div class="feature-contact-box">
          <%= link_to "marketing@qiniu.com", "mailto:marketing@qiniu.com", class:"email-box" -%>
          <%= link_to "400-808-9176", "tel:400-808-9176", class:"tel-box" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-cooperation">
  <div class="container">
    <h2>合作流程</h2>
    <ul class="cooperation-step">
      <li class="step-li step-li-first">
        <div class="step-no">1</div>
        <h4>提交申请</h4>
        <p>点击下面「立即申请」按钮，填写合作申请表。</p>
      </li>

      <li class="step-li">
        <div class="step-no">2</div>
        <h4>审核</h4>
        <p>收到您提交的工具、插件、SDK 后，我们将在 10 个工作日内审核完毕。</p>
      </li>

      <li class="step-li-no">
        <div class="step-no">3</div>
        <h4>上线</h4>
        <p>如果您提交的资源通过审核后，我们会将其上线到<a href="http://developer.qiniu.com/resource/community.html">社区资源</a>。</p>
      </li>
    </ul>
  </div>
  <%= link_to "立刻申请", "", class: "btn btn-primary" -%>
</div>

<div class="features feature-color feature-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>合作伙伴&友情链接</h2>
        <p>欢迎与七牛云交换友情链接，交换条件：PR >= 5</p>
        <div class="feature-contact-box">
          <%= link_to "marketing@qiniu.com", "mailto:marketing@qiniu.com", class:"email-box" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features feature-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>合作伙伴</h2>
      </div>

      <% I18n.t("partners").each do |partner| %>
        <div class="col-sm-2">
          <div class="thumbnail feature-case">
            <%= image_tag partner[:path], class: "list-img", alt: partner[:desc], width: 100 %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>

<div class="features feature-cooperation">
  <div class="container">
    <h2>友情链接</h2>
    <ul class="friend-link">
      <li><a href="http://36kr.com/" target="_blank">36 Kr</a></li>
      <li><a href="http://amh.sh/" target="_blank">AMH</a></li>
      <li><a href="https://beecloud.cn/" target="_blank">BeeCloud</a></li>
      <li><a href="https://www.bugtags.com/" target="_blank">BugTags</a></li>
      <li><a href="http://www.duiba.com.cn/" target="_blank">兑吧</a></li>
      <li><a href="http://bbs.dbshop.net/" target="_blank">DBShop</a></li>
      <li><a href="http://www.easyapi.com/" target="_blank">EasyAPI</a></li>
      <li><a href="http://www.hostucan.cn/cloud-storage" target="_blank">IDC 点评</a></li>
      <li><a href="https://www.jpush.cn/" target="_blank">极光推送</a></li>
      <li><a href="http://jspatch.com" title="JSPatch" target="_blank">JSPatch</a></li>
      <li><a href="http://www.opensns.cn/" target="_blank">OpenSNS</a></li>
      <li><a href="http://www.php-z.com/" target="_blank">PHP-Z</a></li>
      <li><a href="http://www.sdk.cn/" target="_blank">SDK.CN</a></li>
      <li><a href="http://www.testwo.com/" target="_blank">测试窝</a></li>
      <li><a href="http://www.udesk.cn/" target="_blank">Udesk</a></li>
      <li><a href="http://www.yescai.com/" target="_blank">亿采</a></li>
      <li><a href="http://y.jd.com/" target="_blank">京东金融</a></li>
      <li><a href="http://www.woshipm.com/" target="_blank">人人都是产品经理</a></li>
      <li><a href="http://www.uisdc.com/" target="_blank">优设</a></li>
      <li><a href="http://www.tingyun.com/" target="_blank">听云</a></li>
      <li><a href="http://www.evervc.com/" target="_blank">天天投</a></li>
      <li><a href="http://www.qidic.com/" target="_blank">奇笛</a></li>
      <li><a href="http://www.oschina.net/" target="_blank">开源中国</a></li>
      <li><a href="http://www.welian.com/" target="_blank">微链</a></li>
      <li><a href="http://www.tuicool.com/" target="_blank">推酷</a></li>
      <li><a href="https://www.ranzhico.com" target="_blank">然之</a></li>
      <li><a href="http://www.easemob.com/hx/index.html" target="_blank">环信</a></li>
      <li><a href="http://www.techparty.org/" target="_blank">珠三角技术沙龙</a></li>
      <li><a href="http://www.zentao.net" target="_blank">禅道</a></li>
      <li><a href="http://www.proginn.com/" target="_blank">程序员客栈</a></li>
      <li><a href="http://www.managershare.com/" target="_blank">经理人分享</a></li>
      <li><a href="http://www.meilibo.net/" target="_blank">美丽播</a></li>
      <li><a href="http://www.pgyer.com/" target="_blank">蒲公英</a></li>
      <li><a href="http://www.chanzhi.org" target="_blank">蝉知</a></li>
      <li><a href="http://www.datagrand.com/" target="_blank">达观数据</a></li>
      <li><a href="http://www.kf5.com/" target="_blank">逸创</a></li>
      <li><a href="http://www.qihuicloud.com/" target="_blank">齐会</a></li>
    </ul>
  </div>
</div>