<div class="jumbotron hero hero-dora">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>数据处理</h2>
        <p>数据处理2.0是七牛高性能数据处理服务的升级版。除支持每日数百亿次的图片、音视频基础处理请求外，还提供丰富的基于海量数据深度学习算法的计算机视觉服务，如鉴黄、鉴暴、人脸技术、场景物体识别等在线API服务。</p>
        <div class="actions">
          <%= link_to "免费试用", "", class: "btn btn-lg btn-default m-r" -%>
          <%= link_to "产品价格", "", class: "btn btn-lg btn-hollow" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav dora-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified">
        <li class="intLink active"><a href="#tab-content-section-1">产品功能</a></li>
        <li class="intLink"><a href="#tab-content-section-2">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-3">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-4">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-5">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品功能</h2>
    </div>
video

  </div>
</div>

<div class="features features-less features-cases tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "dora/icon-jiandanyiyong@2x.png", class: "media-object", alt: "简单易用", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">简单易用</h4>
            <p>调用方式简单，缩短产品开发维护时间</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "dora/icon-gongnengfengfu.png", class: "media-object", alt: "功能丰富", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">功能丰富</h4>
            <p>丰富的功能满足各种图片、音视频使用场景</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "dora/icon-wendingkekao@2x.png", class: "media-object", alt: "稳定可靠", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">稳定可靠</h4>
            <p>近千台高性能物理机，组成的处理集群，每日处理请求数百亿次，服务可用性达到99.99%</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "dora/icon-shibiezhunque@2x.png", class: "media-object", alt: "识别准确", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">识别准确</h4>
            <p>人脸聚类、场景识别、物体检测功能均处于业界领先地位</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-dora tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">适用场景</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">图片处理</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">音视频处理</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">智能云相册</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-usage-section-1" class="tab-pane fade in active">
          <div class="media">
            <div class="media-left">
              <%= image_tag "dora/icon-tupianchuli@2x.png", class: "media-object img-left", alt: "图片处理" %>
            </div>

            <div class="media-body">
              <p>图片缩放功能适用于调整图片尺寸以适应不同设备的使用场景；原图保护、防盗链，图片水印或文字水印，用于防止图片盗用；鉴黄、鉴恐等内容审核服务为图片PGC应用和网站省去大量的人工审核成本，规避违规风险。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-2" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "dora/icon-yinshipinchuli@2x.png", class: "media-object img-left", alt: "音视频处理" %>
            </div>

            <div class="media-body">
              <p>转码服务帮助各种音视频分发平台适应不同设备，满足节省带宽和流量需求；视频剪切、拼接等功能满足各种视频编辑场景；版权保护和视频水印功能，保护视频产品和宣传品牌价值。鉴黄、鉴恐等内容审核服务为视频PGC网站和应用省去大量的人工审核成本，规避违规风险。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-3" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "dora/icon-zhinengyunxiangce@2x.png", class: "media-object img-left", alt: "智能云相册" %>
            </div>

            <div class="media-body">
              <p>人脸检测、人脸识别以及图像分类和聚类算法，能够快速对照片进行人脸和图像识别，自动将属于同一人的照片或相同类别的照片归为一组，使相册的管理更加直观智能。照片云端存储，满足客户的各种应用场景。</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= link_to image_tag("client-changba@2x.jpg", alt: "唱吧"), "http://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("dora/client-huanbei@2x.jpg", alt: "还呗"), "http://www.lattebank.com/", id: "customer-huanbei", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("dora/client-jumeiyoupin@2x.jpg", alt: "聚美优品"), "http://bj.jumei.com/", id: "customer-jumeiyoupin", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("dora/client-pinganhaofang@2x.jpg", alt: "平安好房"), "https://www.pinganfang.com/", id: "customer-pinganhaofang", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("dora/client-timelink@2x.jpg", alt: "天英联合"), "http://www.timelink.cn/CN/", id: "customer-timelink", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("dora/client-zaker@2x.jpg", alt: "zaker"), "https://www.myzaker.com/", id: "customer-zaker", class: "case", target: "_blank" -%></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less features-less features-cases tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3">
            <h4>常用文档</h4>
            <ul class="list">
              <li><%= link_to "产品手册", "" -%></li>
              <li><%= link_to "API文档", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>SDK及工具</h4>
            <ul class="list">
              <li><%= link_to "SDK及工具", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>常见问题</h4>
            <ul class="list">
              <li><%= link_to "技术问题", "" -%></li>
              <li><%= link_to "账户财务", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>产品动态</h4>
            <ul class="list">
              <li><%= link_to "对象存储国内空间价格下调", "" -%></li>
              <li><%= link_to "私有化部署服务上线", "" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
