<div class="jumbotron hero hero-edu">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-7 col-xs-10">
          <h1><%= I18n.t("views.welcome.edu.title") -%></h1>
          <p><%= I18n.t("views.welcome.edu.desc") -%></p>
          <div class="actions <%= I18n.t("views.language") != "zh" ? "d-none" : "" -%>">
            <%= link_to "获取 Demo", "https://jinshuju.net/f/hkhJRz", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-5 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-edu-right-zh.png", alt: "edu-right", width: "100%" -%>
            <div class="video-mask"></div>
            <div class="video-box">
              <%= video_tag "https://mars-assets.qnssl.com/www-edu-banner-video.mp4", loop: true, muted: true, autoplay: true, controls: false, autobuffer: true -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# nav tab %>
<div class="features features-edu-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.welcome.edu.middlebars").each do |bar| %>
          <li class="<%= bar[:class] -%>"><%= link_to bar[:title], bar[:href] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%# solution tab %>
<div class="features features-edu-solution tab-edu-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.edu.solution.title") -%></h2>
      <p class="desc"><%= I18n.t("views.welcome.edu.solution.desc") -%></p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <% I18n.t("views.welcome.edu.solution.left").each do |item| -%>
          <div class="solution-item">
            <h4><%= item[:title] -%></h4>
            <p><%= item[:desc] -%></p>
          </div>
        <% end -%>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <%= image_tag I18n.t("views.welcome.edu.solution.image"), alt: I18n.t("views.welcome.edu.solution.title"), width: "100%" -%>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <% I18n.t("views.welcome.edu.solution.right").each do |item| -%>
          <div class="solution-item">
            <h4><%= item[:title] -%></h4>
            <p><%= item[:desc] -%></p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <%= link_to "立即咨询", "https://jinshuju.net/f/hkhJRz", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
  </div>
</div>

<%# scene tab %>
<div class="features features-less features-cases features-edu-scene tab-edu-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.edu.scene.title") -%></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.edu.scene.items").each do |item| -%>
        <div class="col-xs-2 col-sm-2 col-item">
          <div class="normal">
            <%= image_tag item[:normal][:image], alt: item[:title], width: "100%" -%>
          </div>
          <div class="active">
            <%= image_tag item[:active][:image], alt: item[:title], width: "100%" -%>
            <%= link_to "立即咨询", item[:active][:link], target: "_blank", class: "btn btn-hollow m-r m-b-xs" -%>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# process tab %>
<div class="features features-edu-process tab-edu-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.edu.process.title") -%></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.edu.process.items").each do |item| -%>
        <div class="col-xs-2 col-item <%= item[:class] -%>">
          <%= image_tag item[:image], alt: item[:title], width: item[:width] -%>
          <p><%= item[:title] -%></p>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="btn-container">
    <%= link_to "立即接入", "https://jinshuju.net/f/hkhJRz", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
  </div>
</div>

<%# function tab %>
<div class="features features-less features-cases features-edu-func tab-edu-section-4">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.edu.func.title") -%></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.edu.func.items").each do |item| -%>
        <div class="col-md-2 col-sm-2 col-xs-3 col-item">
          <%= image_tag item[:image], alt: item[:title], width: 60 -%>
          <p><%= item[:title] -%></p>
        </div>
      <% end -%>
    </div>
  </div>
</div>