<div class="jumbotron hero hero-fusion">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>融合CDN</h2>
        <p>融合CDN是在传统CDN基础上实现的对数据网络加速进一步优化的融合管理服务。除了服务于音视频点播，文件、应用与Web加速，以及各类增值场景外，七牛融合CDN还通过全方位的CDN质量监控，以及智能易用的加速节点调度等功能，保障用户服务的连续性，提供稳定快速的网络访问质量。</p>
        <div class="actions">
          <%= link_to "免费试用", "", class: "btn btn-lg btn-default m-r" -%>
          <%= link_to "产品价格", "", class: "btn btn-lg btn-hollow" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav fusion-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品架构</a></li>
        <li class="intLink"><a href="#tab-content-section-2">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-3">节点覆盖</a></li>
        <li class="intLink"><a href="#tab-content-section-4">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-5">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-6">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品架构</h2>
    </div>

    <div class="col-sm-12">
        <%= image_tag "fusion/img-chanpinjiagou.png", class: "bottom-line" %>
    </div>
  </div>
</div>

<div class="features tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-wumangqu@2x.png", class: "media-object", alt: "可⽤性", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">无盲区</h4>
            <p>成熟的多 CDN 融合管控方案，精选主流 CDN 厂商优质节点，与七牛自有高质量节点相结合，全面覆盖各地区各运营商网络，真正做到无盲区。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-zhinengdiaodu@2x.png", class: "media-object", alt: "可扩展", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">智能调度</h4>
            <p>基于七牛自有IP库，结合全网宕机与性能监控，研发的智能融合调度系统，支持DNS、HttpDNS、IP302调度方式，有效防止访问劫持，实现100%实时调度精准可控。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-litipinkong@2x.png", class: "media-object", alt: "低成本", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">立体品控</h4>
            <p>基于权威APM厂商「覆盖性能监控」，七牛自研全网「实时可用性监控」，SDK日志上报「实时访问性能监控」，打造七牛融合 CDN 立体品控体系。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-jiangdihuiyuan@2x.png", class: "media-object", alt: "⼀站式", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">降低回源</h4>
            <p>自建 BGP 网络中间源，消除跨运营商网络回源慢甚至不可达等问题，保护源站带宽不受边缘节点请求波动影响，节省回源成本。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-fusion fusion-back tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">节点覆盖</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar" role="tablist">
        <li class="active"><a href="#tab-points-section-1" data-toggle="tab">国外节点分布</a></li>
        <li><a href="#tab-points-section-2" data-toggle="tab">国内节点分布</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-points-section-1" class="tab-pane fade in active">
          <div class="col-sm-12">
            <%= image_tag "fusion/img-guowaijiedian.png" %>
          </div>
        </section>

        <section id="tab-points-section-2" class="tab-pane fade">
          <div class="col-sm-12">
            <%= image_tag "fusion/img-guoneijiedian.png" %>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features features-fusion tab-content-section-4">
  <div class="container">
    <div class="intro">
      <h2 class="title">适用场景</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">网页加速</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">文件下载</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">音视频点播</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-usage-section-1" class="tab-pane fade in active">
          <div class="media">
            <div class="media-left">
              <%= image_tag "fusion/icon-wangyejiasu@2x.png", class: "media-object img-left", alt: "网页加速" %>
            </div>

            <div class="media-body">
              <p>网页静态资源优化加速分发，例如：html、css、js、img、短视频等；全站HTTPS保证网站访问安全；TCP压缩优化使网页大图，样式等完成秒级加载，缩短网页响应时间提高用户体验。配合七牛云-图片处理服务一起使用，还可以针对图片进行缩略、打水印，转格式等数据处理服务。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-2" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "fusion/icon-wenjianxiazai@2x.png", class: "media-object img-left", alt: "文件下载" %>
            </div>

            <div class="media-body">
              <p>大文件下载优化加速分发，例如：apk、mp3、exe、zip等；七牛融合CDN在全球数千个节点，让用户在下载过程中获得更快的下载速度，并利用分段缓存技术提高了大文件下载传输的稳定性。配合七牛云-存储服务一起使用，可有效降低回源和存储成本。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-3" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "fusion/icon-yinshipindianbo@2x.png", class: "media-object img-left", alt: "音视频点播" %>
            </div>

            <div class="media-body">
              <p>音视频点播优化加速服务，例如：mp4、flv、rmvb、wmv、hls 等；七牛融合CDN 利用 BGP 网络中间源技术降低回源带宽压力节省了用户回源成本、分段预取技术使用户在浏览音视频时更加的流畅，高级防盗链技术有效防止用户文件被盗用。配合七牛云-数据处理服务，还可以进行音视频转码、转格式、压缩等数据处理服务。</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= link_to image_tag("client-zte@2x.jpg", alt: "中兴"), "http://www.zte.com.cn/china/", id: "customer-zte", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("fusion/client-tantan@2x.jpg", alt: "探探"), "https://tantanapp.com/", id: "customer-tantan", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("fusion/client-anxinzhengquan@2x.jpg", alt: "安信证券"), "http://www.essence.com.cn/essence/index.html", id: "customer-anxinzhengquan", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("fusion/client-mangguotv@2x.jpg", alt: "芒果TV"), "http://www.mgtv.com/", id: "customer-mangguotv", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("fusion/client-wifibanlv@2x.jpg", alt: "wifi伴侣"), "http://www.wifibanlv.com/", id: "customer-wifibanlv", class: "case", target: "_blank" -%></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less fusion-back tab-content-section-6">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3">
            <h4>常用文档</h4>
            <ul class="list">
              <li><%= link_to "产品手册", "" -%></li>
              <li><%= link_to "API文档", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>SDK及工具</h4>
            <ul class="list">
              <li><%= link_to "SDK及工具", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>常见问题</h4>
            <ul class="list">
              <li><%= link_to "技术问题", "" -%></li>
              <li><%= link_to "账户财务", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>产品动态</h4>
            <ul class="list">
              <li><%= link_to "对象存储国内空间价格下调", "" -%></li>
              <li><%= link_to "私有化部署服务上线", "" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
