<div class="jumbotron hero hero-fusion">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>融合 CDN</h2>
          <p>融合 CDN (FUSION) 是在传统 CDN 基础上实现的对数据网络加速进一步优化的融合管理服务。除了服务于音视频点播，文件、应用与 Web 加速，以及各类增值场景外，七牛融合 CDN 还通过全方位的 CDN 质量监控，以及智能易用的加速节点调度等功能，保障用户服务的连续性，提供稳定快速的网络访问质量。</p>
          <div class="actions">
            <%= link_to "立即使用", "https://portal.qiniu.com/signup/choice", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
            <%= link_to "产品价格", prices_path + "?source=fusion", class: "btn btn-lg btn-hollow m-b-xs" -%>
            <h5><%= link_to raw("域名型 DV SSL 证书免费申请 &gt;&gt;"), "https://developer.qiniu.com/ssl/manual/3662/ssl-price-overview", target: "_blank", class: "out_link" -%></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav fusion-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品架构</a></li>
        <li class="intLink"><a href="#tab-content-section-2">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-3">节点覆盖</a></li>
        <li class="intLink"><a href="#tab-content-section-4">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-5">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-6">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品架构</h2>
    </div>

    <div class="bottom-line">
        <%= image_tag "fusion/img-chanpinjiagou.png" %>
    </div>
  </div>
</div>

<div class="features features-superiority tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-wumangqu@2x.png", class: "media-object", alt: "可⽤性", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">无盲区</h4>
            <p>成熟的多 CDN 融合管控方案，精选主流 CDN 厂商优质节点，与七牛自有高质量节点相结合，全面覆盖各地区各运营商网络，真正做到无盲区。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-zhinengdiaodu@2x.png", class: "media-object", alt: "可扩展", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">智能调度</h4>
            <p>基于七牛自有 IP 库，结合全网宕机与性能监控，研发的智能融合调度系统，支持 DNS、HttpDNS、IP302 调度方式，有效防止访问劫持，实现 100% 实时调度精准可控。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-litipinkong@2x.png", class: "media-object", alt: "低成本", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">立体品控</h4>
            <p>基于权威 APM 厂商「覆盖性能监控」，七牛自研全网「实时可用性监控」，SDK 日志上报「实时访问性能监控」，打造七牛融合 CDN 立体品控体系。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "fusion/icon-jiangdihuiyuan@2x.png", class: "media-object", alt: "⼀站式", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">降低回源</h4>
            <p>自建 BGP 网络中间源，消除跨运营商网络回源慢甚至不可达等问题，保护源站带宽不受边缘节点请求波动影响，节省回源成本。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-fusion feature-color tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">节点覆盖</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-short points-bar" role="tablist">
        <li class="active"><a href="#tab-points-section-1" data-toggle="tab">国内节点分布</a></li>
        <li><a href="#tab-points-section-2" data-toggle="tab">海外节点分布</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-points-section-1" class="tab-pane fade in active">
          <%= image_tag "fusion/img-guoneijiedian.png" %>
        </section>

        <section id="tab-points-section-2" class="tab-pane fade">
          <%= image_tag "fusion/img-guowaijiedian.png" %>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features features-fusion features-scene tab-content-section-4">
  <div class="container bottom-line">
    <div class="intro">
      <h2 class="title">适用场景</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">网页加速</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">文件下载</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">音视频点播</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-usage-section-1" class="tab-pane fade in active">
          <div class="media">
            <div class="media-left">
              <%= image_tag "fusion/icon-wangyejiasu@2x.png", class: "media-object img-left", alt: "网页加速" %>
            </div>

            <div class="media-body">
              <p>网页静态资源优化加速分发，例如：html、css、js、img、短视频等；全站 HTTPS 保证网站访问安全； TCP 压缩优化使网页大图，样式等完成秒级加载，缩短网页响应时间提高用户体验。配合七牛云-图片处理服务一起使用，还可以针对图片进行缩略、打水印，转格式等数据处理服务。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-2" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "fusion/icon-wenjianxiazai@2x.png", class: "media-object img-left", alt: "文件下载" %>
            </div>

            <div class="media-body">
              <p>大文件下载优化加速分发，例如：apk、mp3、exe、zip 等；七牛融合 CDN 在全球数千个节点，让用户在下载过程中获得更快的下载速度，并利用分段缓存技术提高了大文件下载传输的稳定性。配合七牛云-存储服务一起使用，可有效降低回源和存储成本。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-3" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "fusion/icon-yinshipindianbo@2x.png", class: "media-object img-left", alt: "音视频点播" %>
            </div>

            <div class="media-body">
              <p>音视频点播优化加速服务，例如：mp4、flv、rmvb、wmv、hls 等；七牛融合 CDN 利用 BGP 网络中间源技术降低回源带宽压力节省了用户回源成本、分段预取技术使用户在浏览音视频时更加的流畅，高级防盗链技术有效防止用户文件被盗用。配合七牛云-数据处理服务，还可以进行音视频转码、转格式、压缩等数据处理服务。</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-zte-highlight@2x.jpg", alt: "中兴", title: "中兴", class: "case" %></div>
          <div><%= image_tag "fusion/client-momo.jpg", alt: "陌陌", title: "陌陌", class: "case" %></div>
          <div><%= image_tag "fusion/client-anxinzhengquan-highlight@2x.jpg", alt: "安信证券", title: "安信证券", class: "case" %></div>
          <div><%= image_tag "fusion/client-miaopai.jpg", alt: "秒拍", title: "秒拍", class: "case" %></div>
          <div><%= image_tag "fusion/client-mangguotv-highlight@2x.jpg", alt: "芒果TV", title: "芒果TV", class: "case" %></div>
          <div><%= image_tag "fusion/client-wifibanlv-highlight@2x.jpg", alt: "wifi伴侣", title: "wifi伴侣", class: "case" %></div>
          <div><%= image_tag "fusion/client-qichezhijia.jpg", alt: "汽车之家", title: "汽车之家", class: "case" %></div>
          <div><%= image_tag "fusion/client-tantan.jpg", alt: "探探", title: "探探", class: "case" %></div>
          <div><%= image_tag "fusion/client-kuaikan.jpg", alt: "快看", title: "快看", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less feature-color tab-content-section-6">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2 col-xs-6">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "快速入门", "https://developer.qiniu.com/fusion/manual/1228/fusion-quick-start", target: "_blank", title: "快速入门" -%></li>
              <li><%= link_to "DV 证书验证指南", "https://developer.qiniu.com/ssl/manual/3667/ssl-certificate-of-free-dns-validation-guide", target: "_blank", title: "DV 证书验证指南" -%></li>
              <li><%= link_to "七牛全球下载加速的海外一览表", "https://developer.qiniu.com/fusion/manual/1360/seven-cattle-download-speed-of-the-world-s-overseas-schedule", target: "_blank", title: "七牛全球下载加速的海外一览表" -%></li>
              <li><%= link_to "绑定加速域名和域名解析流程", "https://developer.qiniu.com/fusion/manual/1367/custom-domain-name-binding-process", target: "_blank", title: "绑定加速域名和域名解析流程" -%></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-6">
            <h4>API 文档</h4>
            <ul class="links-list">
              <li><%= link_to "流量带宽", "https://developer.qiniu.com/fusion/api/1230/traffic-bandwidth", target: "_blank", title: "流量带宽" -%></li>
              <li><%= link_to "缓存刷新与查询", "https://developer.qiniu.com/fusion/api/1229/cache-refresh", target: "_blank", title: "缓存刷新与查询" -%></li>
              <li><%= link_to "文件预取与查询", "https://developer.qiniu.com/fusion/api/1227/file-prefetching", target: "_blank", title: "文件预取与查询" -%></li>
              <li><%= link_to "日志下载", "https://developer.qiniu.com/fusion/api/1226/download-the-log", target: "_blank", title: "日志下载" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>SDK 及工具</h4>
            <ul class="links-list">
              <li><%= link_to "融合 CDN 日志查询", "https://developer.qiniu.com/fusion/tools/1665/qlogfetch", target: "_blank", title: "融合 CDN 日志查询和下载工具" -%></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-6">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "域名配置问题", "https://developer.qiniu.com/fusion/kb/1322/how-to-configure-cname-domain-name", target: "_blank", title: "域名配置问题" -%></li>
              <li><%= link_to "刷新缓存问题", "https://developer.qiniu.com/fusion/kb/3644/refresh-the-cache-fails-consistency-method-validation-file", target: "_blank", title: "刷新缓存问题" -%></li>
              <li><%= link_to "HTTPS 相关问题", "https://developer.qiniu.com/fusion/kb/3725/how-to-apply-for-and-use-free-certificate", target: "_blank", title: "HTTPS 相关问题" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>产品动态</h4>
            <ul class="links-list">
              <li><%= link_to "斩获 GFIC 2016 “产品创新奖”，七牛云融合 CDN 突围而出", "http://blog.qiniu.com/archives/7541", target: "_blank", title: "斩获 GFIC 2016 “产品创新奖”，七牛云融合 CDN 突围而出" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
