<div class="jumbotron hero hero-goglobal">

</div>

<div class="features">
  <div class="container bottom-line">
    <div class="intro">
      <h3 class="text-left">七牛云出海创业扶持计划</h3>
    </div>
    <p class="m-b-md">中国互联网企业出海的十年编年史中，我们经历了安全工具大战、桌面大战，从 2016 开始，已来到了内容出海年。如今，更多创业者的野心从中国扩展到了全球， 在这个全球市场的争夺战中，谁能找准新动向，用高效的执行力占领市场？</p>
    <p class="m-b-md">作为国内领先云服务商，七牛云陪伴了 70 多万家优秀企业的成长，其中不乏许多出海的企业。本次出海扶持计划广泛整合出海相关产品和服务资源，共同助力创业者占领全球市场。</p>
    <p class="m-b-0">助力对象：</p>
    <p class="m-b-md">有明确出海需求的互联网产品，包括但不限于工具类、游戏类、直播、短视频等。</p>
    <p class="m-b-0">扶持内容：</p>
    <p class="m-b-0">1.七牛云联合合作伙伴准备的扶持计划礼包，覆盖技术、招聘、咨询、培训、团队协作等。</p>
    <p>2.加入有成功出海经验的出海社群，为您对接潜在人脉、市场。</p>
  </div>
</div>

<div class="features p-t-0">
  <div class="container bottom-line p-t-md">
    <div class="intro">
      <h3 class="text-left">如何申请七牛云出海创业扶持计划礼包？</h3>
    </div>
    <div class="text-center">
      <ul class="ul-step">
        <li class="step-li step-li-first">
          <div class="step-no">1</div>
          <p class="step-info text-left">立即申请，提交资料</p>
        </li>

        <li class="step-li">
          <div class="step-no">2</div>
          <p class="step-info text-left">等待资料审核（7个工作日）</p>
          <%= link_to "立刻申请", "https://jinshuju.net/f/NjYedm", target: "_blank", class: "step-submit-btn btn btn-primary color-light b-0" -%>
        </li>

        <li class="step-li step-li-no">
          <div class="step-no">3</div>
          <p class="step-info text-left">通过审核后，礼包发放</p>
        </li>
      </ul>
    </div>
    <div class="f-xs">
      <p>备注：</p>
      <p>1.「七牛云出海创业扶持计划」不可与七牛其他扶持计划同时申请；</p>
      <p>2. 礼包限量 100 份</p>
    </div>
  </div>
</div>

<div class="features p-t-0">
  <div class="container">
    <div class="intro">
      <h3 class="text-left">七牛云出海扶持计划礼包</h3>
    </div>
    <div class="p-t-md">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-clear p-1">
          <div class="thumbnail b-2 p-relative">
            <div class="middle text-center">
              <%= image_tag "goglobal/libao-tutu.png", alt: "pic", width: 150 %>
              <div class="caption text-center">
                <p>1）图片 SDK 基础版、高级版：八折优惠</p>
                <p>2）视频特效 SDK：八折优惠</p>
                <p>3）人脸识别 SDK：八折优惠</p>
              </div>
            </div>
            <div class="cover">
              <p>涂图 TUTUCLOUD 是一家专注于视频图像处理技术的高科技企业。核心成员由 PPTV、华为、虹软等资深研发人员构成，拥有十五年以上的视频图像处理、识别研发经验。公司拥有完整的视频图像处理、分析解决方案，基于自研算法和深度神经网络开发的图像检测、识别、跟踪、处理算法已达到国际先进水平，可以为各行各业提供专业高效的视频图像处理、分析服务。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-clear p-1">
          <div class="thumbnail b-2 p-relative">
            <div class="middle text-center">
              <%= image_tag "goglobal/libao-qiniu.png", alt: "pic", width: 150 %>
              <div class="caption text-center">
                <p>1）价值 3000 元的全球 CDN 代金券，有效期一年</p>
                <p>2）短视频、直播SDK 商用版免费一年</p>
              </div>
            </div>
            <div class="cover">
              <p>七牛云是国内领先的企业级云服务商，专注于以数据管理为中心的云计算业务研发和运营，围绕富媒体场景推出了对象存储、融合 CDN 加速、容器计算云、大数据平台、人工智能平台等产品，并提供一站式视频云解决方案。公司目前已位列国内云计算行业第一阵营，为 70 多万家企业提供服务。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-clear p-1">
          <div class="thumbnail b-2 p-relative">
            <div class="middle text-center">
              <%= image_tag "goglobal/libao-moxtra.png", alt: "pic", width: 150 %>
              <div class="caption text-center">
                <p>购买 Moxtra 商业版本享受原价的八折优惠</p>
              </div>
            </div>
            <div class="cover">
              <p>Moxtra 由思科前 WebEx 创始人 CEO 和前协作首席工程师创立于旧金山，致力于提供协作解决方案涵盖了 SDK &amp; API 。 Moxtra 提供的 SDK 和 API 涵盖了即时通讯、音视频会议、电子白板、文件预览、桌面共享控制等，覆盖了全客户端。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-clear p-1">
          <div class="thumbnail b-2 p-relative">
            <div class="middle text-center">
              <%= image_tag "goglobal/libao-heishi.png", alt: "pic", width: 150 %>
              <div class="caption text-center">
                <p>出海服务咨询，培训，资源对接九折优惠</p>
              </div>
            </div>
            <div class="cover">
              <p>全球知名的增长黑客与广告投放优化师垂直社群</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-clear p-1">
          <div class="thumbnail b-2 p-relative">
            <div class="middle text-center">
              <%= image_tag "goglobal/libao-nDefender.png", alt: "pic", width: 150 %>
              <div class="caption text-center">
                <p>价值 2 万元的企业信息安全云免费试用三个月</p>
              </div>
            </div>
            <div class="cover">
              <p>nDefender 云盾安全云，为国内企业量身定制轻量级企业信息安全云，隶属于跨国互联网集团 Dotc United Group，拥有雄厚的国际技术资源，致力于在原有安全技术基础上，有效融合大数据、机器学习、安全可视化等技术，提供形态灵活的安全产品，保障客户业务安全。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-clear p-1">
          <div class="thumbnail b-2 p-relative">
            <div class="middle text-center">
              <%= image_tag "goglobal/libao-zhirenshe.png", alt: "pic", width: 150 %>
              <div class="caption text-center">
                <p>职人社为 C 轮以上公司提供服务费九折的招聘服务</p>
              </div>
            </div>
            <div class="cover">
              <p>职人社为 C 轮以上公司提供服务费 9 折的招聘服务。职人社是一家致力于优质人才招聘的服务公司，有丰富海外市场、黑客增长专业人才。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <%= link_to "如何加入扶持计划礼包？", "https://jinshuju.net/forms/auE7X2", target: "_blank", class: "more" -%>
      </div>
    </div>
  </div>
</div>

<div class="features p-t-0">
  <div class="container">
    <div class="intro">
      <h3 class="text-left">推荐产品</h3>
    </div>
    <div class="row">
      <div class="col-sm-6"><%= link_to image_tag("goglobal/tuijianchanpin-duanshipin.jpg"), products_plsv_path %></div>
      <div class="col-sm-6"><%= link_to image_tag("goglobal/tuijianchanpin-zhiboyun.jpg"), products_pili_path %></div>
    </div>
  </div>
</div>

<div class="features p-t-0">
  <div class="container">
    <div class="intro">
      <h3 class="text-left">推荐活动</h3>
    </div>
    <div class="row">
      <div class="col-sm-6"><%= link_to image_tag("goglobal/tuijianhuodong.jpg"), "https://0x7.me/Xb20", target: "_blank" %></div>
    </div>
  </div>
</div>

<div class="features p-t-0">
  <div class="container">
    <div class="intro">
      <h3 class="text-left">合作伙伴</h3>
    </div>
    <div class="row">
      <div class="col-sm-2"><%= image_tag "goglobal/hezuohuoban-daguanziben.png", alt: "pic" %></div>
      <div class="col-sm-2"><%= image_tag "goglobal/hezuohuoban-heishi.png", alt: "pic" %></div>
    </div>
  </div>
</div>

<div class="features p-t-0">
  <div class="container">
    <div class="intro">
      <h3 class="text-left">合作媒体</h3>
    </div>
    <div class="row">
      <div class="col-sm-2"><%= image_tag "goglobal/hezuomeiti-chuangtoutiao.png", alt: "pic" %></div>
      <div class="col-sm-2"><%= image_tag "goglobal/hezuomeiti-huxiu.png", alt: "pic" %></div>
      <div class="col-sm-2"><%= image_tag "goglobal/hezuomeiti-itjuzi.png", alt: "pic" %></div>
      <div class="col-sm-2"><%= image_tag "goglobal/hezuomeiti-RTBmeiti.png", alt: "pic" %></div>
      <div class="col-sm-2"><%= image_tag "goglobal/hezuomeiti-xinjingji100.png", alt: "pic" %></div>
      <div class="col-sm-2"><%= image_tag "goglobal/hezuomeiti-zhudao.png", alt: "pic" %></div>
    </div>
  </div>
</div>