<div class="banners-slider">
  <div class="jumbotron hero hero-cdnprice">
    <div class="container">
      <div class="middle-container">
        <div class="banner-container">
          <%= link_to "查看详情", cdnprice2018_path, class:"btn btn-lg btn-hollow btn-banner" %>
          <p class="tips">注：价格生效日期 2018 年 1 月 1 日</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron hero hero-plup">
    <div class="container">
      <div class="middle-container">
        <div class="col-sm-5 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "icon-security.png", alt: "涉稳安全资源包", width: '90%' %>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="banner-desc">
            <h2>涉稳安全资源包</h2>
            <p>集鉴黄、鉴暴恐、政治人物识别为一体的综合涉稳安全系列产品</p>
          </div>
          <%= link_to "查看详情", plup_resources_path, class:"btn btn-lg btn-hollow btn-banner" -%>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron hero hero-banner1">
    <div class="container">
      <div class="middle-container">
        <div class="col-sm-6">
          <div class="banner-desc">
            <h2>短视频解决方案重磅上线</h2>
            <p>小身材大功能，短视频开发从未如此简单</p>
          </div>
          <%= link_to "查看详情", products_plsv_path, class:"btn btn-lg btn-hollow btn-banner" -%>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "duanshipin-right.png", alt: "短视频", width: '90%' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron hero hero-bannerAI">
    <div class="banner-container">
      <%= link_to "立即申请", alaccelerator_path, class:"btn btn-lg btn-hollow btn-banner" -%>
    </div>
  </div>

  <div class="jumbotron hero hero-bannerPlayer">
    <div class="container">
      <div class="middle-container">
        <div class="col-sm-8">
          <div class="banner-desc">
            <h2>七牛云播放器重磅上线</h2>
            <p>秒开 200 ms，包体最小至 400 KB，千万日活验证</p>
          </div>
          <%= link_to "免费使用", products_player_path, class:"btn btn-lg btn-hollow btn-banner" -%>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "player/banner-right.png", alt: "播放器", width: '80%' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron hero hero-banner2">
    <div class="banner-container">
      <a href="http://blog.qiniu.com/archives/8498?hmsr=huananjiangjiabanner&hmpl=huananjiangjiabanner&hmcu=huananjiangjiabanner&hmkw=&hmci=" target="_blank" class="btn btn-lg btn-hollow btn-banner">查看详情</a>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.index.feature1.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.index.feature1.col").each do |unit| %>
        <div class="col-sm-6">
          <div class="media">
            <div class="media-left">
              <%= image_tag unit[:icon], class: "media-object", alt: unit[:title] %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= unit[:title] %></h4>
              <p><%= unit[:desc] %></p>
              <p>
                <% unit[:icons].each do |icon| %>
                  <%= link_to icon[:name], icon[:path], class: icon[:class] -%>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="features features-solution">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.index.feature2.title") %></h2>
      <p class="desc"><%= I18n.t("views.welcome.index.feature2.desc") %></p>
      <p class="desc">
        <% I18n.t("views.welcome.index.feature2.icons").each do |icon| %>
          <%= link_to icon[:name], icon[:path], class: icon[:class] -%>
        <% end %>
      </p>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.index.feature2.col").each do |unit| %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <%= image_tag unit[:icon], class: "media-object media-object-index", width: 120, alt: unit[:title] %>
            <div class="caption caption-index">
              <h4 class="caption-title"><%= unit[:title] %></h4>
              <p><%= unit[:desc] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="features features-cases">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.index.feature3.title") %></h2>
    </div>

    <div id="index-cases-slider" class="conveyor slick-slider draggable">
      <div><div class="customer-changba index-case"></div></div>
      <div><div class="customer-changhong index-case"></div></div>
      <div><div class="customer-dajiang index-case"></div></div>
      <div><div class="customer-dianping index-case"></div></div>
      <div><div class="customer-guanglianda index-case"></div></div>
      <div><div class="customer-haikangweishi index-case"></div></div>
      <div><div class="customer-hubeiguangdian index-case"></div></div>
      <div><div class="customer-hujiang index-case"></div></div>
      <div><div class="customer-intel index-case"></div></div>
      <div><div class="customer-jiangsuweishi index-case"></div></div>
      <div><div class="customer-meipai index-case"></div></div>
      <div><div class="customer-oppo index-case"></div></div>
      <div><div class="customer-qingtingfm index-case"></div></div>
      <div><div class="customer-shunfeng index-case"></div></div>
      <div><div class="customer-sobey index-case"></div></div>
      <div><div class="customer-souhu index-case"></div></div>
      <div><div class="customer-zhihu index-case"></div></div>
      <div><div class="customer-zhongguopingan index-case"></div></div>
      <div><div class="customer-zhongguoyidong index-case"></div></div>
      <div><div class="customer-zhongxing index-case"></div></div>
    </div>
  </div>
</div>

<div class="features features-hotnews <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <div class="container">
    <div class="intro">
      <h2 class="title">热门动态</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <ul class="list">
          <li class="hot hotnews-title"><%= link_to "新闻动态", news_path -%></li>
          <li class="hotnews-title"><%= link_to "产品动态", product_news_path -%></li>
          <li class="hotnews-title"><%= link_to "近期福利", welfares_path -%></li>
          <li><%= link_to raw("更多内容 &gt;"), news_path, class: "more" -%></li>
        </ul>
      </div>

      <div class="col-sm-9">
        <div class="row">
          <% @top_archives.each do |archive| %>
            <div class="col-sm-6 col-md-4">
              <div class="hotnews-box">
                <%= link_to "#{ Rails.application.config.blog_host }/archives/#{ archive.id }", target: "_blank" do -%>
                  <div class="hot-im-wrapper"><%= image_tag archive.cover, class: "", alt: "图片加载中" %></div>
                  <div class="infobox">
                    <time><%= archive[:created_at].strftime("%Y-%m-%d") + raw(" 发布在 ") + Archive::CATEGORIES[archive.category] %></time>
                    <p title="<%= archive[:title] %>"><%= archive[:title] %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="stripe stripe-blue p-xxl <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <h3 class="text-center">
    注册七牛云账户，即刻享受多款产品免费额度套餐
  </h3>
  <div class="text-center"><a href="https://portal.qiniu.com/signup?type=1" class="btn btn-lg btn-hollow around-xl" target="_blank">马上免费注册</a></div>
</div>