<div class="jumbotron hero">

</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">持续挖掘海量数据的无限价值</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "icon-storage@2x.png", class: "media-object", alt: "海量存储" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">海量存储</h4>
            <p>所有数据都有有效期，面对不断膨胀的数据领域，数据如何管理？七牛云完全自主知识产权的对象存储，已经过最严酷的考验，为EB规模的数据存储做好充分准备。</p>
            <p>
              <%= link_to "对象存储", "" -%>
              <%= link_to "时序数据库", "" -%>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "icon-num@2x.png", class: "media-object", alt: "数据洞察" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">数据洞察</h4>
            <p>让数据从负担变成资产的关键步骤是数据的价值挖掘。七牛云提供的大数据产品集和机器学习产品集可以帮助您以最佳的方式理解自己的资产。</p>
            <p>
              <%= link_to "机器学习", "" -%>
              <%= link_to "XSpark", "" -%>
              <%= link_to "大数据平台", "" -%>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "icon-accelerate@2x.png", class: "media-object", alt: "加速传输" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">加速传输</h4>
            <p>七牛云独家的融合CDN结合了主流CDN和自建CDN节点的优势，让您能够在性能和成本之间得到一个最佳的平衡。</p>
            <p>
              <%= link_to "融合CDN", "" -%>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "icon-controllale@2x.png", class: "media-object", alt: "高性能计算" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">高性能计算</h4>
            <p>为了能让数据流转，我们需要对数据进行高速处理。七牛云构建了基于容器的计算平台，并基于容器平台构建了功能丰富且开放性的智能媒体云平台。您只需考虑怎么处理数据，而无需考虑数据的规模和系统性能。</p>
            <p>
              <%= link_to "智能媒体云", "" -%>
              <%= link_to "容器计算平台", "" -%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-solution">
  <div class="container">
    <div class="intro">
      <h2 class="title">一站式视频点播和直播解决方案</h2>
      <p class="desc">集成存储与融合 CDN，汇聚七牛强大的数据处理能力，提供直播、录制、转码、发布、加速、播放等一站式视频直播、点播服务。</p>
      <p class="desc">
        <%= link_to "点播云", "" -%>
        <%= link_to "直播云", "" -%>
      </p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-fast@2x.png", class: "media-object", alt: "流畅播放" %>
          <div class="caption">
            <h4>流畅播放</h4>
            <p>视频方案的基础在于播放的流畅性。七牛云从推流端到播放端每一个环节都进行了极致的流畅性优化。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-productivity@2x.png", class: "media-object", alt: "生产率" %>
          <div class="caption">
            <h4>生产率</h4>
            <p>提供端到端的完整方案，让原先需要超过六个月的产品开发工作简化到一个月内就可完成上线。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-lowcost@2x.png", class: "media-object", alt: "低成本" %>
          <div class="caption">
            <h4>低成本</h4>
            <p>我们采用了几乎一切可行的技术方式，包括内容压缩、P2P传输、H.265编码、自适应码流等手段来降低成本。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-controllable@2x.png", class: "media-object", alt: "可控" %>
          <div class="caption">
            <h4>可控</h4>
            <p>充分发挥大数据和机器学习的优势，以最实时的方式监测服务质量，并能以开放的方式进行深度的业务分析。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-cases">
  <div class="container">
    <div class="intro">
      <h2 class="title">各行各业的成功案例</h2>
    </div>
    <div>

    </div>
  </div>
</div>



<div class="features features-hotnews">
  <div class="container">
    <div class="intro">
      <h2 class="title">热门动态</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dl>
          <dt>新闻动态</dt>
          <dd>
            <time>04.01</time>
            <%= link_to "七牛云对象存储产品价格调整，最高降幅近 13%", "" -%>
          </dd>
          <dd>
            <time>03.30</time>
            <%= link_to "上海经信委领导一行莅临七牛云，共话云计算产业发展", "" -%>
          </dd>
          <dd>
            <time>03.24</time>
            <%= link_to "七牛云许式伟荣获上海市青年科技杰出贡献奖", "" -%>
          </dd>
          <dd><%= link_to raw("更多内容 &gt;"), "", class: "more" -%></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <dl>
          <dt>产品动态</dt>
          <dd>
            <time>04.01</time>
            <%= link_to "七牛数据处理再添新兵——图片瘦身", "" -%>
          </dd>
          <dd>
            <time>03.30</time>
            <%= link_to "视频分发不用愁：基于 HLS 的实时流式转码、多码率自适应支持", "" -%>
          </dd>
          <dd>
            <time>03.24</time>
            <%= link_to "说真的，现实世界只剩下 1% 的希望，那互联网世界会是怎样？", "" -%>
          </dd>
          <dd><%= link_to raw("更多内容 &gt;"), "", class: "more" -%></dd>
        </dl>
      </div>
    </div>
  </div>
</div>


<div class="stripe stripe-blue p-xxl">
  <h3 class="text-center">
    注册七牛云账户，即刻享受多款产品免费额度套餐
    <a href="https://portal.qiniu.com/signup" class="btn btn-lg btn-hollow around-xl" target="_blank">马上免费注册</a>
  </h3>
</div>