<div class="banners-slider">
    <div class="jumbotron hero hero-banner1">
      <a href="http://blog.qiniu.com/archives/8381" target="_blank" class="btn btn-lg btn-hollow btn-banner">查看详情</a>
    </div>
    <div class="jumbotron hero hero-banner2">
      <a href="http://blog.qiniu.com/archives/8498?hmsr=huananjiangjiabanner&hmpl=huananjiangjiabanner&hmcu=huananjiangjiabanner&hmkw=&hmci=" target="_blank" class="btn btn-lg btn-hollow btn-banner">查看详情</a>
    </div>
    <div class="jumbotron hero hero-banner3">
      <%= link_to "点击咨询", "", class: "btn btn-lg btn-hollow btn-banner", data: { toggle: "modal", target: "#feedback-modal"} -%>
    </div>
</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">持续挖掘海量数据的无限价值</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-init">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-massstorage@2x.png", class: "media-object", alt: "海量存储" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">海量存储</h4>
            <p>所有数据都有有效期，面对不断膨胀的数据领域，数据如何管理？七牛云完全自主知识产权的对象存储，已经过最严酷的考验，为 EB 规模的数据存储做好充分准备。</p>
            <p>
              <%= link_to "对象存储", products_kodo_path, class: "icon icon-storage" -%>
              <%= link_to "时序数据库", products_pandora_path, class: "icon icon-databass" -%>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-init">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-num@2x.png", class: "media-object", alt: "数据洞察" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">数据洞察</h4>
            <p>让数据从负担变成资产的关键步骤是数据的价值挖掘。七牛云提供的大数据产品集和机器学习产品集可以帮助您以最佳的方式理解自己的资产。</p>
            <p>
              <%= link_to "深度学习平台", products_atlab_path, class: "icon icon-machine-learning" -%>
              <%= link_to "Spark 服务", products_pandora_path, class: "icon icon-xspark" -%>
              <%= link_to "大数据平台", products_pandora_path, class: "icon icon-bigdata" -%>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-init">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-accelerate@2x.png", class: "media-object", alt: "加速传输" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">加速传输</h4>
            <p>七牛云独家的融合 CDN 结合了主流 CDN 和自建 CDN 节点的优势，让您能够在性能和成本之间得到一个最佳的平衡。</p>
            <p>
              <%= link_to "融合 CDN", products_fusion_path, class: "icon icon-dora" -%>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-init">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-controllale@2x.png", class: "media-object", alt: "高性能计算" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">高性能计算</h4>
            <p>为了能让数据流转，我们需要对数据进行高速处理。七牛云构建了基于容器的计算平台，并基于容器平台构建了功能丰富且开放性的智能媒体云平台。您只需考虑怎么处理数据，而无需考虑数据的规模和系统性能。</p>
            <p>
              <%= link_to "智能多媒体 API", products_dora_path, class: "icon icon-media" -%>
              <%= link_to "容器云", products_kirk_path, class: "icon icon-container" -%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-solution">
  <div class="container">
    <div class="intro">
      <h2 class="title">一站式视频点播和直播解决方案</h2>
      <p class="desc">集成存储与融合 CDN，汇聚七牛强大的数据处理能力，提供直播、录制、转码、发布、加速、播放等一站式视频直播、点播服务。</p>
      <p class="desc">
        <%= link_to "点播云", products_vance_path, class: "icon icon-streaming" -%>
        <%= link_to "直播云", products_pili_path, class: "icon icon-video" -%>
      </p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-clear">
        <div class="thumbnail">
          <%= image_tag "icon-fast@2x.png", class: "media-object media-object-index", width: 120, alt: "流畅" %>
          <div class="caption caption-index">
            <h4 class="caption-title">流畅</h4>
            <p>视频方案的基础在于播放的流畅性。七牛云从推流端到播放端每一个环节都进行了极致的流畅性优化。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-clear">
        <div class="thumbnail">
          <%= image_tag "icon-productivity@2x.png", class: "media-object media-object-index", width: 120, alt: "高效" %>
          <div class="caption caption-index">
            <h4 class="caption-title">高效</h4>
            <p>提供端到端的完整方案，让原有需要超过六个月的产品开发工作简化到一个月内就可完成上线。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-clear">
        <div class="thumbnail">
          <%= image_tag "icon-lowcost@2x.png", class: "media-object media-object-index", width: 120, alt: "低成本" %>
          <div class="caption caption-index">
            <h4 class="caption-title">低成本</h4>
            <p>我们采用了几乎一切可行的技术方式，包括内容压缩、P2P 传输、H.265 编码、自适应码流等手段来降低成本。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-clear">
        <div class="thumbnail">
          <%= image_tag "icon-controllable@2x.png", class: "media-object media-object-index", width: 120, alt: "可控" %>
          <div class="caption caption-index">
            <h4 class="caption-title">可控</h4>
            <p>充分发挥大数据和机器学习的优势，以最实时的方式监测服务质量，并能以开放的方式进行深度的业务分析。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-cases">
  <div class="container">
    <div class="intro">
      <h2 class="title">各行各业的成功案例</h2>
    </div>

    <div id="index-cases-slider" class="conveyor slick-slider draggable">
      <div><div class="customer-changba index-case"></div></div>
      <div><div class="customer-changhong index-case"></div></div>
      <div><div class="customer-dajiang index-case"></div></div>
      <div><div class="customer-dianping index-case"></div></div>
      <div><div class="customer-guanglianda index-case"></div></div>
      <div><div class="customer-haikangweishi index-case"></div></div>
      <div><div class="customer-hubeiguangdian index-case"></div></div>
      <div><div class="customer-hujiang index-case"></div></div>
      <div><div class="customer-intel index-case"></div></div>
      <div><div class="customer-jiangsuweishi index-case"></div></div>
      <div><div class="customer-meipai index-case"></div></div>
      <div><div class="customer-oppo index-case"></div></div>
      <div><div class="customer-qingtingfm index-case"></div></div>
      <div><div class="customer-shunfeng index-case"></div></div>
      <div><div class="customer-sobey index-case"></div></div>
      <div><div class="customer-souhu index-case"></div></div>
      <div><div class="customer-zhihu index-case"></div></div>
      <div><div class="customer-zhongguopingan index-case"></div></div>
      <div><div class="customer-zhongguoyidong index-case"></div></div>
      <div><div class="customer-zhongxing index-case"></div></div>
    </div>
  </div>
</div>

<div class="features features-hotnews">
  <div class="container">
    <div class="intro">
      <h2 class="title">热门动态</h2>
    </div>
    <div class="row">
      <div class="col-sm-3 left-hotnews">
        <ul class="list">
          <li class="hot hotnews-title"><%= link_to "新闻动态", news_path -%></li>
          <li class="hotnews-title"><%= link_to "产品动态", product_news_path -%></li>
          <li class="hotnews-title"><%= link_to "近期福利", welfares_path -%></li>
          <li><%= link_to raw("更多内容 &gt;"), news_path, class: "more" -%></li>
        </ul>
      </div>

      <div class="col-sm-9 right-hotnews">
        <% I18n.t("news").first(3).each do |list| %>
          <div class="col-sm-6 col-md-4">
            <div class="hotnews-box">
              <%= link_to image_tag(list[:img] || "", alt: "图片加载中"), list[:link], target: "_blank" -%>
              <div class="infobox">
                <%= content_tag :div, content_tag(:time, list[:time]) + content_tag(:p, list[:desc].truncate(50, omission: '...')) -%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="stripe stripe-blue p-xxl">
  <h3 class="text-center">
    注册七牛云账户，即刻享受多款产品免费额度套餐
    <a href="https://portal.qiniu.com/signup" class="btn btn-lg btn-hollow around-xl" target="_blank">马上免费注册</a>
  </h3>
</div>