<div class="invite-banner">
  <div class="actions">
    <%= link_to "立即邀请", "https://portal.qiniu.com/", target:"_blank" -%>
  </div>
</div>

<div class="features feature-invitation invite-award">
  <div class="container">
    <div class="title">
      <h2>丰厚奖励</h2>
      <p>邀请好友注册七牛云，邀请人即可获得以下丰厚奖励</p>
    </div>
    <div class="content">
      <%= image_tag 'invite/img-jiangli.png', width:'100%' %>
    </div>
  </div>
</div>

<div class="features feature-invitation feature-invitation-bg invite-table">
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>达成目标</th>
          <th>邀请人奖励</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>邀请一个标准用户</td>
          <td>
            <ul>
              <li>5GB/月 CDN免费下载流量（邀请多人最高累计40GB/月</li>
              <li>100元对象存储抵用券</li>
              <li>100元智能多媒体API抵用券</li>
              <li>500元充值抵用券（充5000送500）</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>邀请5个及以上标准用户</td>
          <td>额外获得价值200元七牛神秘大礼包</td>
        </tr>
        <tr>
          <td>受邀人首充金额≥1000元，并<5000元</td>
          <td>100元购物卡</td>
        </tr>
        <tr>
          <td>受邀人首充金额>=5000元</td>
          <td>500元购物卡</td>
        </tr>
      </tbody>
    </table>
    <div class="hint">
      注：对于邀请标准用户数量有突出贡献的邀请人（每月成功邀请8个以上标准用户），七牛云可提供更多好礼，具体请联系市场部marketing@qiniu.com
    </div>
  </div>
</div>

<div class="features feature-invitation">
  <div class="container">
    <div class="intro">
      <h2 class="title">新人专享包领取流程</h2>
    </div>

    <div class="content">
      <div class="row steps">
        <div class="seven-sm-1 col-xs-6">
          <div class="inline-box">
            <%= image_tag "invitation/icon-lijilingqu.png", class: "media-object", alt: "icon-lijilingqu.png", width:80 %>
            <h5 class="text-center">点击“立即领取”</h5>
          </div>
        </div>
        <div class="seven-sm-1 hidden-xs">
          <div class="inline-box">
            <div class="step-line">
              <span class="glyphicon glyphicon-play arrow"></span>
            </div>
          </div>
        </div>
        <div class="seven-sm-1 col-xs-6">
          <div class="inline-box">
            <%= image_tag "invitation/icon-zhuceqiniuyunzhanghu.png", class: "media-object", alt: "icon-zhuceqiniuyunzhanghu.png", width:80 %>
            <h5 class="text-center">注册七牛云账户</h5>
          </div>
        </div>
        <div class="seven-sm-1 hidden-xs">
          <div class="inline-box">
            <div class="step-line">
              <span class="glyphicon glyphicon-play arrow"></span>
            </div>
          </div>
        </div>
        <div class="seven-sm-1 col-xs-6">
          <div class="inline-box">
            <%= image_tag "invitation/icon-xitongfafangdiyongquan.png", class: "media-object", alt: "icon-xitongfafangdiyongquan.png", width:80 %>
            <h5 class="text-center">系统发放抵用劵</h5>
          </div>
        </div>
        <div class="seven-sm-1 hidden-xs">
          <div class="inline-box">
            <div class="step-line">
              <span class="glyphicon glyphicon-play arrow"></span>
            </div>
          </div>
        </div>
        <div class="seven-sm-1 col-xs-6">
          <div class="inline-box">
            <%= image_tag "invitation/icon-caiwuzhongxin.png", class: "media-object", alt: "icon-caiwuzhongxin.png", width:80 %>
            <h5 class="text-center">“财务中心”查看抵用劵</h5>
          </div>
        </div>
      </div>
      <p class="my">注册成为七牛云实名认证账户，在享受新人专享包的同时还能即刻享受以下产品免费额度套餐</p>
      <div class="row list-inline-prices">
        <div class="col-xs-6 col-md-3 special-price">
          <p>标准存储免费空间</p>
          <p><span class="big-text">0-10 </span><span class="smal-text"> GB</span></p>
        </div>
        <div class="col-xs-6 col-md-3 special-price">
          <p>每月免费上传流量</p>
          <p><span class="big-text">无上限</span></p>
        </div>
        <div class="col-xs-6 col-md-3 special-price">
          <p>标准存储每月写请求 Put / Delete</p>
          <p><span class="big-text">0-10 </span><span class="smal-text"> 万次</span></p>
        </div>
        <div class="col-xs-6 col-md-3 special-price border-init">
          <p>标准存储每月读请求 Get</p>
          <p><span class="big-text">0-100 </span><span class="smal-text"> 万次</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features feature-invitation feature-invitation-bg">
  <div class="container">
    <div class="intro">
      <h2 class="title">更多产品与服务</h2>
    </div>

    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="logo">
          <%= image_tag 'invitation/img-aichuangxin.jpg', width:'100%' %>
          <div class="actions">
            <%= link_to '立刻了解', alaccelerator_path -%>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="logo">
          <%= image_tag 'invitation/img-chuanghaichuangyefuchi.jpg', width:'100%' %>
          <div class="actions">
            <%= link_to '立刻了解', goglobal_path -%>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="logo">
          <%= image_tag 'invitation/img-shewenanquanziyuanbao.jpg', width:'100%' %>
          <div class="actions">
            <%= link_to '立刻了解', plup_resources_path -%>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="logo">
          <%= image_tag 'invitation/img-cdn.jpg', width:'100%' %>
          <div class="actions">
            <%= link_to '立刻了解', cdnprice2018_path -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features feature-invitation">
  <div class="container">
    <div class="intro">
      <h2 class="title">与 700,000+ 企业和开发者一起使用七牛</h2>
    </div>

    <div id="index-cases-slider" class="conveyor slick-slider draggable">
      <div><div class="customer-changba index-case"></div></div>
      <div><div class="customer-changhong index-case"></div></div>
      <div><div class="customer-dajiang index-case"></div></div>
      <div><div class="customer-dianping index-case"></div></div>
      <div><div class="customer-guanglianda index-case"></div></div>
      <div><div class="customer-haikangweishi index-case"></div></div>
      <div><div class="customer-hubeiguangdian index-case"></div></div>
      <div><div class="customer-hujiang index-case"></div></div>
      <div><div class="customer-intel index-case"></div></div>
      <div><div class="customer-jiangsuweishi index-case"></div></div>
      <div><div class="customer-meipai index-case"></div></div>
      <div><div class="customer-oppo index-case"></div></div>
      <div><div class="customer-qingtingfm index-case"></div></div>
      <div><div class="customer-shunfeng index-case"></div></div>
      <div><div class="customer-sobey index-case"></div></div>
      <div><div class="customer-souhu index-case"></div></div>
      <div><div class="customer-zhihu index-case"></div></div>
      <div><div class="customer-zhongguopingan index-case"></div></div>
      <div><div class="customer-zhongguoyidong index-case"></div></div>
      <div><div class="customer-zhongxing index-case"></div></div>
    </div>
  </div>
</div>
