<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>容器云</h2>
          <p>七牛容器云 （KIRK） 是七牛云基于自身公有云业务在容器方面的多年实践经验，针对企业应用快速部署、便捷运维打造的容器云计算平台。提供持续集成、弹性伸缩、应用市场等功能特性，使企业专注于业务逻辑开发，缩短业务上线周期，优化资源利用率，提高服务响应效率。</p>
          <div class="actions">
            <%= link_to "申请使用", "http://cn.mikecrm.com/wtxxCe1", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
            <%= link_to "访问容器镜像中心", "https://hub.qiniu.com/", target: "_blank", class: "btn btn-lg btn-hollow m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-rongqiyun-right-zh.png", alt: "kirk", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav kirk-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品架构</a></li>
        <li class="intLink"><a href="#tab-content-section-2">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-3">核心功能</a></li>
        <li class="intLink"><a href="#tab-content-section-4">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-5">资质认证</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品架构</h2>
    </div>

    <div class="bottom-line">
        <%= image_tag "kirk/img-chanpinjiagou.png", width: "100%" %>
    </div>
  </div>
</div>

<div class="features features-superiority tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "kirk/icon-ziyuanchihua@2x.png", class: "media-object", alt: "资源池化", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">资源池化</h4>
            <p>按需分配，快速调度，环境隔离，及时回收。革新企业 IT 资源使用方式。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "kirk/icon-ziwoxiufu@2x.png", class: "media-object", alt: "自我修复", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">自我修复</h4>
            <p>健康检查 + 自动迁移 + 运行实例数保证。应用无人工干预下自动修复，确保线上服务不中断。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "kirk/icon-tanxingshengsuo@2x.png", class: "media-object", alt: "弹性伸缩", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">弹性伸缩</h4>
            <p>根据负载对容器配置和数量秒级无缝扩容，保证应用业务高峰并发时的高可用性；业务低峰时回收资源，提升平台资源利用效率。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "kirk/icon-yingyongshichang@2x.png", class: "media-object", alt: "应用市场", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">应用市场</h4>
            <p>平台内置应用市场，借力社区容器化成果，常用中间件轻松一键部署。减少如数据库，消息队列等组件部署运维负担，解放生产力，让研发回归自身业务逻辑。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "kirk/icon-chixujicheng@2x.png", class: "media-object", alt: "持续集成", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">持续集成/交付</h4>
            <p>持续集成/交付流水线，自动化构建与测试，秒级发布上线，缩短从代码到产品的距离。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "kirk/icon-kuaisujieru@2x.png", class: "media-object", alt: "快速接入", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">快速接入</h4>
            <p>高度可定制化的平台部署流程，适配各种企业 IT 环境，提供敏捷流畅的平台部署体验。平台开放第三方账号接口，平滑融入企业已有用户管理体系。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-solution feature-core kirk-usage tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">核心功能</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-rongqidiaodu@2x.png", class: "media-object", alt: "容器调度", width: 60 %>
          <div class="caption">
            <h4>容器调度</h4>
            <p>支持多达数万个容器的调度，保证业务高峰并发时的高可用性</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-jiqunguanli@2x.png", class: "media-object", alt: "集群管理", width: 60 %>
          <div class="caption">
            <h4>集群管理</h4>
            <p>同时管理数千个物理机或虚拟机节点</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-jingxiangcangku@2x.png", class: "media-object", alt: "镜像仓库", width: 60 %>
          <div class="caption">
            <h4>镜像仓库</h4>
            <p>提供高可用、高可靠、高吞吐的镜像仓库服务</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-yingyongbianpai@2x.png", class: "media-object", alt: "应用编排", width: 60 %>
          <div class="caption">
            <h4>应用编排</h4>
            <p>基于应用模板，快速便捷地部署一个应用的所有服务</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-fuzaijunheng@2x.png", class: "media-object", alt: "负载均衡", width: 60 %>
          <div class="caption">
            <h4>负载均衡</h4>
            <p>支持健康检查，会话保持等特性的高性能负载均衡。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-chijiucunchu@2x.png", class: "media-object", alt: "持久存储", width: 60 %>
          <div class="caption">
            <h4>持久存储</h4>
            <p>支持本地临时存储和持久化网盘存储，满足不同业务需求。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-jiankonggaojing@2x.png", class: "media-object", alt: "监控告警", width: 60 %>
          <div class="caption">
            <h4>监控告警</h4>
            <p>实时监控业务数据，时刻掌握系统运行状态。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-fuwufaxian@2x.png", class: "media-object", alt: "服务发现", width: 60 %>
          <div class="caption">
            <h4>服务发现</h4>
            <p>平台内置服务发现功能，让应用拥抱微服务架构。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-wangluoguanli@2x.png", class: "media-object", alt: "网络管理", width: 60 %>
          <div class="caption">
            <h4>网络管理</h4>
            <p>提供 calico 网络方案，同时提供集成 OpenStack neutron vlan/vxlan 的能力，满足应用对网络的多变需求</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-rizhishengji@2x.png", class: "media-object", alt: "日志审计", width: 60 %>
          <div class="caption">
            <h4>日志审计</h4>
            <p>集成日志收集，转化，存储，搜索等功能形成完整日志审计解决方案。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-fusion features-scene tab-content-section-4">
  <div class="container">
    <div class="intro">
      <h2 class="title">适用场景</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">敏捷开发快速上线</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">微服务架构应用</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">快速弹性伸缩</a></li>
      </ul>
      <div class="tab-content">
        <section id="tab-usage-section-1" class="tab-pane fade in active">
          <div class="media">
            <div class="media-left">
              <%= image_tag "kirk/icon-minjiekaifa@2x.png", class: "media-object img-left", alt: "敏捷开发快速上线" %>
            </div>

            <div class="media-body">
              <p>平台提供代码构建、镜像打包、服务快速部署、灰度发布、自动伸缩、负载均衡等持续交付工具链，使开发者专注业务的开发和测试无需关注运行环境和运维，加速应用的快速迭代和上线。此类场景包括 APP 应用、手游、新媒体应用及需频繁迭代的其它应用。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-2" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "kirk/icon-weifuwujiagou@2x.png", class: "media-object img-left", alt: "微服务架构应用" %>
            </div>

            <div class="media-body">
              <p>平台提供应用微服务化的能力，将现有的大型应用系统通过微服务架构拆成多个独立模块，每个模块使用一个应用镜像作为模板进行微服务部署；支持镜像的多个版本，可使用灰度发布功能，在多个版本间进行切换或进行 A/B 测试；支持容器粒度的隔离，且容器被平均分布在底层宿主机上，保证应用每个微服务的安全和稳定。此类场景包括 ERP、供应商管理系统及 WEB 应用系统。</p>
            </div>
          </div>
        </section>

        <section id="tab-usage-section-3" class="tab-pane fade">
          <div class="media">
            <div class="media-left">
              <%= image_tag "kirk/icon-kuaisutanxingshengsuo@2x.png", class: "media-object img-left", alt: "快速弹性伸缩" %>
            </div>

            <div class="media-body">
              <p>平台支持伸缩策略，在业务峰值时，自动增加核心服务的容器数量和容器配置并进行容器秒级部署，同时自动加入至负载均衡后端，响应并发请求；在业务低峰时，自动缩减运行环境以节省资源成本。此类场景包括电商或 APP 应用的抢购、秒杀、促销等。</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features features-solution kirk-aptitude tab-content-section-5">
  <div class="container">
    <div class="intro">
      <h2 class="title">资质认证</h2>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-cncf.png", class: "media-object", alt: "cncf", width: 120 %>
          <div class="caption">
            <p>CNCF 云原生基金会会员</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-kubernetes.png", class: "media-object", alt: "kubernetes", width: 120 %>
          <div class="caption">
            <p>Kubernetes 一致性认证</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4">
        <div class="thumbnail">
          <%= image_tag "kirk/icon-kexinyun.png", class: "media-object", alt: "可信云", width: 120 %>
          <div class="caption">
            <p>可信云容器解决方案</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
