<div class="jumbotron hero hero-kodo">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>对象存储</h2>
        <p>七牛云海量存储系统(KODO)为完全自主研发并拥有核心技术，经过五年时间的大规模客户验证已占据行业绝对领先地位，可广泛应用于海量数据管理的场景。</p>
        <div class="actions">
          <%= link_to "立即使用", "", class: "btn btn-lg btn-default m-r" -%>
          <%= link_to "产品价格", "", class: "btn btn-lg btn-hollow" -%>
          <h5>现已推出私有化部署服务，能够针对企业客户场景进行灵活地部署和运维，如有需要，请<%= link_to raw("点击咨询"), "", class: "alert-modal", data: {toggle: "modal", target: "#feedback-modal"} -%></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav kodo-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-2">核心功能及服务</a></li>
        <li class="intLink"><a href="#tab-content-section-3">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-4">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-5">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-keyongxing@2x.png", class: "media-object", alt: "可⽤性", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">高可用</h4>
            <p>七⽜云对象存储的纠删码存储⽅案，为对象提供⾼达 16 个 9 的可⽤性。跨数据中⼼的副本冗余存储，能够保障服务的⾼可⽤性。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-kekuozhan@2x.png", class: "media-object", alt: "可扩展", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">易扩展</h4>
            <p>利⽤七⽜云对象存储，您的存储空间⽆上限的同时也⽆需担⼼扩容问题。您能够实现存储需求的弹性伸缩，从⽽提⾼业务灵活性。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-dichengben@2x.png", class: "media-object", alt: "低成本", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">低成本</h4>
            <p>您⽆需前期投⼊。七⽜云对象存储按需使⽤、按需付费的便捷性，能够有效避免存储及带宽资源的闲置浪费。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-yizhanshi@2x.png", class: "media-object", alt: "⼀站式", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">数据智能化</h4>
            <p>
              与七牛云其他产品紧密协同，提供标准HDFS访问方式，为大数据和机器学习的海量高速读写场景进行了大量优化。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-solution tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">核心功能及服务</h2>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-shangchuan-xiazai@2x.png", class: "media-object", alt: "上传／下载", width: 60 %>
          <div class="caption">
            <h4>上传／下载</h4>
            <p>针对不同的上传／下载场景，七⽜云对象存储提供了丰富的 API 接⼝供您使⽤。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-shezhijingxiangziyuan@2x.png", class: "media-object", alt: "设置镜像源", width: 60 %>
          <div class="caption">
            <h4>设置镜像源</h4>
            <p>通过设置存储空间镜像回源⽹址，⽤于取回资源。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-kuaquyutongbu@2x.png", class: "media-object", alt: "跨区域同步", width: 60 %>
          <div class="caption">
            <h4>跨区域同步</h4>
            <p>提供跨区域同步功能，实现数据异地容灾。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "icon-shujuchuli@2x.png", class: "media-object", alt: "数据处理", width: 60 %>
          <div class="caption">
            <h4>多媒体数据处理</h4>
            <p>基于对象存储，您可以⼀站式地完成图片处理和⾳视频处理。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">适用场景</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">私有化部署</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">内容加速分发</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">多媒体数据处理</a></li>
        <li><a href="#tab-usage-section-4" data-toggle="tab">托管静态资源</a></li>
      </ul>
      <div class="tab-content bottom-line">
        <section class="tab-pane active" id="tab-usage-section-1">
          <div class="media">
            <%= content_tag :div, image_tag("icon-siyouhuabushu@2x.png", alt: "私有化部署", width: "377"), class: "media-left" %>
            <div class="media-body">
              <p>企业客户可以选择私有化部署七牛云对象存储系统。基于公有云存储的经验积累，对象存储私有化部署服务具备高可靠、强安全、易扩展等特性。同时还能提供成熟的系统管理和运维，让企业以更低廉的产品及维护成本，满足在容量、性能及稳定性上的需求。</p>
            </div>
          </div>
        </section>
        <section class="tab-pane" id="tab-usage-section-2">
          <div class="media">
            <%= content_tag :div, image_tag("icon-neirongjiasufenfa@2x.png", alt: "内容加速分发", width: "377"), class: "media-left" %>
            <div class="media-body">
              <p>⾯对视频、游戏等热点资源分发的业务场景，您可以使⽤七⽜云对象存储作为源站，搭配七⽜云融合 CDN 进⾏加速分发，⽅便您通过 CDN 节点就近访问资源，提升⽤户体验。</p>
            </div>
          </div>
        </section>
        <section class="tab-pane" id="tab-usage-section-3">
          <div class="media">
            <%= content_tag :div, image_tag("icon-shujuchuli2@2x.png", alt: "数据处理", width: "377"), class: "media-left" %>
            <div class="media-body">
              <p>针对有海量⽤户⽣成内容的场景，七⽜云对象存储服务的⾼并发能⼒使您灵活应对⼤流量的业务场景。您可以对存储在云端的图⽚、⾳视频等⽂件进⾏数据处理。</p>
            </div>
          </div>
        </section>
        <section class="tab-pane" id="tab-usage-section-4">
          <div class="media">
            <%= content_tag :div, image_tag("icon-tuoguanjingtaiziyuan@2x.png", alt: "托管静态资源", width: "377"), class: "media-left" %>
            <div class="media-body">
              <p>软件测试和开发环境通常需要增建、管理和停⽤独⽴重复的存储环境。除了需要⾜够的时间外，还需要投⼊前期成本。七⽜云对象存储按需付费的灵活性消除了您在管理和扩展⽅⾯的困扰，它⽆缝集合了 WordPress,Discuz, Emlog 等社区插件，⽀持⼀键托管各类插件内的静态资源。</p>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>


<div class="features features-less tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-ch-highlight@2x.jpg", alt: "长虹", class: "case" %></div>
          <div><%= image_tag "client-changba-highlight@2x.jpg", alt: "唱吧", class: "case" %></div>
          <div><%= image_tag "client-dajian-highlight@2x.jpg", alt: "大疆创新", class: "case" %></div>
          <div><%= image_tag "client-dazhong-highlight@2x.jpg", alt: "大众点评", class: "case" %></div>
          <div><%= image_tag "client-hujiang-highlight@2x.jpg", alt: "沪江网", class: "case" %></div>
          <div><%= image_tag "client-intel-highlight@2x.jpg", alt: "英特尔", class: "case" %></div>
          <div><%= image_tag "client-oppo-highlight@2x.jpg", alt: "OPPO", class: "case" %></div>
          <div><%= image_tag "client-qingting-highlight@2x.jpg", alt: "蜻蜓 FM", class: "case" %></div>
          <div><%= image_tag "client-zte-highlight@2x.jpg", alt: "中兴", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less features-cases tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品手册", "" -%></li>
              <li><%= link_to "API文档", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "SDK及工具", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "技术问题", "" -%></li>
              <li><%= link_to "账户财务", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>产品动态</h4>
            <ul class="links-list">
              <li><%= link_to "对象存储国内空间价格下调", "" -%></li>
              <li><%= link_to "私有化部署服务上线", "" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
