<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-10 col-sm-8">
          <h2><%= I18n.t("views.welcome.kodo.banner.title") %></h2>
          <p><%= I18n.t("views.welcome.kodo.banner.desc") %></p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "立即使用", "https://portal.qiniu.com/signup/choice", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
            <%= link_to "产品价格", prices_path + "?source=kodo", class: "btn btn-lg btn-hollow m-b-xs" -%>
            <h5 class="kodo-modal m-b-none">现已推出私有云存储解决方案，能够针对企业客户场景进行灵活地部署和运维，</h5>
            <h5 class="kodo-modal m-t-none">如有需要，请 <%= link_to "点击咨询", "", class: "out_link underline", data: {toggle: "modal", target: "#feedback-modal"} -%></h5>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-kodo-right-zh.png", alt: "kodo", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav kodo-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.welcome.kodo.middlebar.links").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href], class:linkbar[:class] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="features features-superiority tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.kodo.feature1.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.kodo.feature1.col").each do |col| %>
        <div class="col-sm-6 col-xs-6">
          <div class="media">
            <div class="media-left">
              <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 110 %></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= col[:title] -%></h4>
              <p><%= col[:desc] -%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="features features-solution feature-core tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.kodo.feature2.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.kodo.feature2.col").each do |col| %>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 60 %>
            <div class="caption">
              <h4><%= col[:title] %></h4>
              <p><%= col[:desc] %><%= link_to col[:more], col[:link], class: "more" -%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="features features-kodo features-scene tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.kodo.feature3.title") %></h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.welcome.kodo.feature3.middlebar").each do |col| %>
          <li class="<%= col[:class] %>"><%= link_to col[:name], col[:href], data:{ toggle: "tab" } -%></li>
        <% end %>
      </ul>
      <div class="tab-content bottom-line">
        <% I18n.t("views.welcome.kodo.feature3.sections").each do |sec| %>
          <section class="<%= sec[:class] %>" id="<%= sec[:id] -%>">
            <div class="media">
              <%= content_tag :div, image_tag(sec[:icon], alt: sec[:title], class: "media-object img-left"), class: "media-left" %>
              <div class="media-body">
                <p><%= sec[:desc] %><%= link_to sec[:link], solutions_path(anchor: "QOS"), class: "more" -%></p>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="features features-less tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title"><%= I18n.t("views.welcome.kodo.feature4.title") %></h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-yingshi.png", alt: "萤石", title: "萤石", class: "case" %></div>
          <div><%= image_tag "client-zte-highlight@2x.jpg", alt: "中兴", title: "中兴", class: "case" %></div>
          <div><%= image_tag "client-pingan.png", alt: "平安", title: "平安", class: "case" %></div>
          <div><%= image_tag "client-oppo-highlight@2x.jpg", alt: "OPPO", title: "OPPO", class: "case" %></div>
          <div><%= image_tag "client-zhongyiwulian.png", alt: "中移物联", title: "中移物联", class: "case" %></div>
          <div><%= image_tag "client-dajian-highlight@2x.jpg", alt: "大疆", title: "大疆", class: "case" %></div>
          <div><%= image_tag "client-bubugao.png", alt: "步步高", title: "步步高", class: "case" %></div>
          <div><%= image_tag "client-camera360.png", alt: "Camera360", title: "Camera360", class: "case" %></div>
          <div><%= image_tag "client-meipai.png", alt: "美拍", title: "美拍", class: "case" %></div>
          <div><%= image_tag "client-momo.png", alt: "陌陌", title: "陌陌", class: "case" %></div>
          <div><%= image_tag "client-zhihu.png", alt: "知乎", title: "知乎", class: "case" %></div>
          <div><%= image_tag "client-wangyu.png", alt: "网鱼网咖", title: "网鱼网咖", class: "case" %></div>
          <div><%= image_tag "client-beiliao.png", alt: "贝聊", title: "贝聊", class: "case" %></div>
          <div><%= image_tag "client-qudong.jpg", alt: "趣运动", title: "趣运动", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less features-cases tab-content-section-5 <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品文档", "https://developer.qiniu.com/kodo", target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "如何将线上的数据热迁移到七牛云", "https://developer.qiniu.com/kodo/kb/1344/how-to-heat-transfer-to-the-qiniu-online-data", title: "如何将线上的数据热迁移到七牛云", target: "_blank" -%></li>
              <li><%= link_to "七牛云上传下载操作指南", "https://developer.qiniu.com/kodo/kb/1336/upload-download-instructions", target: "_blank" -%></li>
              <li><%= link_to "公开空间和私有空间的区别是什么", "https://developer.qiniu.com/kodo/kb/1368/the-difference-between-the-original-protection-and-private-space", target: "_blank", title: "公开空间和私有空间的区别是什么" -%></li>
              <li><%= link_to "如何使用命令行工具", "https://developer.qiniu.com/kodo/kb/3858/video-of-how-to-use-qrs-tools", target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>技术支持</h4>
            <ul class="links-list">
              <li><%= link_to "技术支持", "https://support.qiniu.com", target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>产品动态</h4>
            <ul class="links-list">
              <li><%= link_to "华南机房存储空间降价", "http://blog.qiniu.com/archives/8498?hmsr=huananjiangjiabanner&hmpl=huananjiangjiabanner&hmcu=huananjiangjiabanner&hmkw=&hmci=", target: "_blank" -%></li>
              <li><%= link_to "跨区域同步功能上线", "https://developer.qiniu.com/kodo/manual/1700/cross-regional-synchronization", target: "_blank" -%></li>
              <li><%= link_to "私有化部署服务上线", solutions_path(anchor: "QOS") -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>