<div class="jumbotron hero hero-livequiz">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>七牛云直播竞答解决方案</h2>
          <p>七牛云直播竞答解决方案是专为直播竞答产品打造的全球化直播流服务和端到端场景解决方案，帮助客户快速搭建稳定、低延迟、高并发的直播竞答应用。</p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "立即咨询", "https://jinshuju.net/f/6Ewb4b", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "livequiz/banner-pnone.png", alt: "livequiz", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-livequiz-architecture">
  <div class="container">
    <div class="intro">
      <h2 class="title">方案简介</h2>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-zhiboyun@2x.png", class: "media-object", alt: "icon-zhiboyun", width: 100 %>
          <div class="caption">
            <h4>直播云</h4>
            <p>在融合 CDN 基础上，针对直播场景推出自研实时流网络，实现百毫秒级别延迟直播；轻松支撑数百 G 并发。</p>
            <div class="action text-center">
              <%= link_to '了解更多', products_pili_path, class: "btn feature-btn" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-lianmaihudong.png", class: "media-object", alt: "icon-lianmaihudong", width: 100 %>
          <div class="caption">
            <h4>连麦互动 SDK</h4>
            <p>轻松实现多人即时语音、视频通信。帮助用户实现实时商议问题答案，答题不孤单；加入明星连麦，增加答题的观赏性。</p>
            <div class="action text-center">
              <%= link_to '了解更多', "https://www.qiniu.com/products/rtn", target: "_blank", class: "btn feature-btn" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-ziyuanchihua@2x.png", class: "media-object", alt: "icon-ziyuanchihua", width: 100 %>
          <div class="caption">
            <h4>播放器 SDK</h4>
            <p>全自研播放器内核极致轻盈，减少答题竞赛应用包体大小；秒开 200ms，用户答题不卡顿。</p>
            <div class="action text-center">
              <%= link_to '了解更多', products_player_path, class: "btn feature-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features light-bkcolor">
  <div class="container">
    <div class="intro">
      <h2 class="title">方案架构</h2>
    </div>
    <div class="architecture">
      <%= image_tag 'livequiz/fanganjiagou.png' %>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">方案优势</h2>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-HLS@2x.png", class: "media-object", alt: "icon-HLS", width: 100 %>
          <div class="caption">
            <h4>低延迟</h4>
            <p>实时流网络百毫秒级延迟，支撑百万并发</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-gaobingfa@2x.png", class: "media-object", alt: "icon-gaobingfa", width: 100 %>
          <div class="caption">
            <h4>高并发</h4>
            <p>针对高并发场景，有百 G 扩容能力和丰富的处理经验。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-30fenzhong@2x.png", class: "media-object", alt: "icon-30fenzhong", width: 100 %>
          <div class="caption">
            <h4>30 分钟极速接入</h4>
            <p>成熟的 Android/iOS SDK，30分钟即可轻松完成接入。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "livequiz/icon-fengfuchanpinshengtai@2x.png", class: "media-object", alt: "icon-fengfuchanpinshengtai", width: 100 %>
          <div class="caption">
            <h4>丰富产品生态</h4>
            <p>丰富人脸识别、美颜特效、关键词实时滤等功能。满足产品运营需求。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>