<div class="jumbotron hero hero-pandora">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>大数据平台</h2>
        <p>Pandora 是七牛云的大数据平台，提供简单、高效、开放的一站式大数据服务。</p>
        <div class="actions">
          <%= link_to "预约咨询", "", class: "btn btn-lg btn-default m-r", data: { toggle: "modal", target: "#feedback-modal"} -%>
          <%= link_to "产品文档", "http://pandora-docs.qiniu.com", class: "btn btn-lg btn-hollow", target: "_blank" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pandora-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="active"><a href="#tab-content-section-1">产品架构</a></li>
        <li><a href="#tab-content-section-2">产品优势</a></li>
        <li><a href="#tab-content-section-3">核服务及功能</a></li>
        <li><a href="#tab-content-section-4">适用场景</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title1">产品架构</h2>
    </div>

    <div class="col-sm-12 col-padding">
        <%= image_tag "pandora/img-productSchema.png", class: "bottom-line" %>
    </div>
  </div>
</div>

<div class="features tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row bottom-line">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-jiandanyiyong@2x.png", class: "media-object", alt: "简单易用", width: 60 %>
          <div class="caption">
            <h4>简单</h4>
            <p>无需大数据技术背景，开箱即用，极易上手，可视化展示分析结果</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-gaoxiaowending@2x.png", class: "media-object", alt: "高效", width: 60 %>
          <div class="caption">
            <h4>高效</h4>
            <p>低成本高质量的轻松应对海量数据处理，快速实现业务价值提升，用户可将资源聚焦于业务价值提升，无需关注复杂的大数据实现技术</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-kaifangronghe@2x.png", class: "media-object", alt: "开放", width: 60 %>
          <div class="caption">
            <h4>开放</h4>
            <p>支持多数据源接入，与七牛云生态完美结合，高度可定制化，支持私有化部署，为用户赋能应用大数据的核心能力</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features section tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title1">核心服务及功能</h2>
    </div>

    <div class="row section-row">
      <div class="col-sm-6">
        <h3 class="title2">大数据工作流引擎</h3>
        <p class="section-content">可视化大数据接入、计算、导出引擎，高效优雅的实现海量数据的处理。拓扑式数据流管理，方便用户快速进行数据流建模，直观把握业务数据流向。</p>
      </div>
      <div class="col-sm-6 img-box">
        <%= image_tag "pandora/icon-dashujugongzuoliu@2x.png" %>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-6 img-box">
        <%= image_tag "pandora/icon-rizhijiansuo@2x.png" %>
      </div>

      <div class="col-sm-6">
        <h3 class="title2">日志检索服务</h3>
        <p class="section-content">提供针对日志类数据的存储与检索服务，用户无需开发就能快速实现数据定制化分词、存储、检索、分析功能。高效索引和搜索海量数据，提升运维/运营效率，快速查找和定位问题。</p>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-6">
        <h3 class="title2">时序数据库</h3>
        <p class="section-content">存储时序数据的高性能数据库，专为处理高写入和高并发查询而研制，支持对时序数据进行函数计算与分组聚合。</p>
      </div>
      <div class="col-sm-6 img-box">
        <%= image_tag "pandora/icon-shixushujuku@2x.png" %>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-6 img-box">
        <%= image_tag "pandora/icon-baobiaogongzuoshi@2x.png" %>
      </div>

      <div class="col-sm-6">
        <h3 class="title2">Spark服务</h3>
        <p class="section-content">基于容器技术研发的 Spark 服务。支持快速一键式集群部署，计算资源弹性伸缩，按需收费，为用户提供快餐式大数据消费能力。</p>
      </div>
    </div>
  </div>

</div>

<div class="features features-custom-function section tab-content-section-4">
  <div class="container">
    <div class="intro">
      <h2 class="title1">适用场景</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <li class="active"><a href="#tab-usage-section-1" data-toggle="tab">数据化运维</a></li>
        <li><a href="#tab-usage-section-2" data-toggle="tab">数据化运营</a></li>
        <li><a href="#tab-usage-section-3" data-toggle="tab">应用性能管理</a></li>
      </ul>

      <div class="tab-content">
        <div id="tab-usage-section-1" class="row tab-pane fade in active">
          <div class="col-sm-6 img-box">
            <%= image_tag "pandora/icon-wulianwangdashujuchuli@2x.png" %>
          </div>

          <div class="col-sm-6">
            <h3 class="title2">数据化运维</h3>
            <p class="section-content">实时收集与分析海量日志并聚合分类管理，高效搜索日志内容，快速定位信息，提升运维效率，降低投入成本。</p>
          </div>
        </div>

        <div id="tab-usage-section-2" class="row tab-pane fade">
          <div class="col-sm-6">
            <h3 class="title2">数据化运营 </h3>
            <p class="section-content">屏蔽了复杂的大数据技术体系，使业务部门无需苦等开发部门响应数据需求。自定义灵活配置，轻松得到数据分析结果，随时洞察用户行为，实现精细化运营，盘活海量数据驱动决策。</p>
          </div>
          <div class="col-sm-6 img-box">
            <%= image_tag "pandora/icon-shujuchuliziyuantanxing@2x.png" %>
          </div>
        </div>

        <div id="tab-usage-section-3" class="row tab-pane fade">
          <div class="col-sm-6 img-box">
            <%= image_tag "pandora/icon-chuantonghangyeshuju@2x.png" %>
          </div>

          <div class="col-sm-6">
            <h3 class="title2">应用性能管理</h3>
            <p class="section-content">用于移动应用及视频应用性能管理，通过对关键业务系统进行监测及分析、告警与优化，不断改善业务可靠性与稳定性，为终端用户提供优秀的体验，提升核心竞争力</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>