<div class="jumbotron hero hero-pandora">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>大数据平台</h2>
        <p>Pandora是七牛云大数据平台，主要由时序数据库、日志检索服务和计算服务组成，帮助企业一站式处理大数据任务，快速而简便的挖掘数据商业价值。</p>
        <div class="actions m-t-xl m-b-md">
          <%= link_to "申请试用", "", class: "btn-lg btn-default" -%>
        </div>
        <h5>Pandora当前处于有限预览阶段，</h5>
        <h5>如有兴趣，欢迎申请免费试用。</h5>
      </div>
    </div>
  </div>
</div>

<div class="pandora-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="active"><a href="#tab-content-section-1">产品架构</a></li>
        <li><a href="#tab-content-section-2">产品优势</a></li>
        <li><a href="#tab-content-section-3">核服务及功能</a></li>
        <li><a href="#tab-content-section-4">适用场景</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title1">产品架构</h2>
    </div>

    <div class="col-sm-12">
        <%= image_tag "pandora/img-productSchema.png", class: "bottom-line" %>
    </div>
  </div>
</div>

<div class="features tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row bottom-line">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-jiandanyiyong@2x.png", class: "media-object", alt: "简单易用", width: 60 %>
          <div class="caption">
            <h4>简单易用</h4>
            <p>支持多达数万个容器的调度</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-gaoxiaowending@2x.png", class: "media-object", alt: "高效稳定", width: 60 %>
          <div class="caption">
            <h4>高效稳定</h4>
            <p>同时管理数千个物理机或虚拟机节点</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-kaifangronghe@2x.png", class: "media-object", alt: "开放融合", width: 60 %>
          <div class="caption">
            <h4>开放融合</h4>
            <p>实时监控业务数据，时刻掌握系统运行状态。</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "pandora/icon-kedingzhihua@2x.png", class: "media-object", alt: "可定制化", width: 60 %>
          <div class="caption">
            <h4>可定制化</h4>
            <p>集成日志收集，转化，存储，搜索等功能形成完整日志审计解决方案。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features section tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title1">核服务及功能</h2>
    </div>

    <div class="row section-row">
      <div class="col-sm-5">
        <h3 class="title2">大数据工作流引擎</h3>
        <p class="section-content">数据流可视化编辑器，使用户可以通过抽象自身的数据业务走向，把业务流程映射到页面上，更直观、更精简的来进行大数据分析流程管理消息队列</p>
        <h4 class="title3">计算任务</h4>
        <h4 class="title3">导出任务</h4>
        <h4 class="title3">工作流</h4>
      </div>
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-dashujugongzuoliu@2x.png", class: "img-box" %>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-rizhijiansuo@2x.png", class: "img-box" %>
      </div>

      <div class="col-sm-5">
        <h3 class="title2">日志检索服务</h3>
        <p class="section-content">提供针对日志类数据的存储与检索服务，用户无需开发就能快速实现数据定制化分词、存储、检索、分析功能。</p>
        <h4 class="title3">日志存储</h4>
        <h4 class="title3">日志检索</h4>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-5">
        <h3 class="title2">时序数据库</h3>
        <p class="section-content">专为处理高写入和高并发查询而研制的针对带有时间戳数据的数据库，支持函数计算与分组聚合，并具有持续聚合能力。</p>
        <h4 class="title3">数据存储</h4>
        <h4 class="title3">数据查询</h4>
        <h4 class="title3">按时间对数据进行函数计算</h4>
      </div>
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-shixushujuku@2x.png", class: "img-box" %>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-dashujufenxipingtai@2x.png", class: "img-box" %>
      </div>

      <div class="col-sm-5">
        <h3 class="title2">大数据分析平台</h3>
        <p class="section-content">基于容器技术为用户提供海量数据分析和数据可视化应用，快速一键式集群部署。</p>
        <h4 class="title3">数据计算与分析</h4>
        <h4 class="title3">数据可视化</h4>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-5">
        <h3 class="title2">报表工作室</h3>
        <p class="section-content">通用的自助报表分析平台，支持多种类数据源导入及跨数据源多表查询。集数据分析、数据挖掘、数据可视化于一身深入挖掘数据价值。</p>
        <h4 class="title3">数据源管理</h4>
        <h4 class="title3">图表分析器</h4>
        <h4 class="title3">模板引擎</h4>
      </div>
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-baobiaogongzuoshi@2x.png", class: "img-box" %>
      </div>
    </div>
  </div>

</div>

<div class="features features-custom-function section tab-content-section-4">
  <div class="container">
    <div class="intro">
      <h2 class="title1">适用场景</h2>
      <p class="desc">Pandora大数据平台提供专业高效的计算、管理和数据分析服务，</p>
      <p class="desc">对于用户的场景和使用方式没有特殊的限制</p>
    </div>

    <div class="row section-row">
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-wulianwangdashujuchuli@2x.png", class: "img-box" %>
      </div>

      <div class="col-sm-5">
        <h3 class="title2">物/互联网大数据处理</h3>
        <p class="section-content">拥有大量传感器、数据采集器、终端用户、客户端用户的企业，实时采集海量数据并进行处理，对于数据结果需要快速响应的应用场景，如车载系统、手机厂商、APP应用、农业/医疗/交通等传感器设备。Pandora提供可自定义的拓扑式数据流处理搭建工具，用户可以自主编辑数据的处理方式以及处理流程。同时，Pandora平台的数据处理是流式的，先进先出的原则保证每一条数据都经过最快速的处理并给出结果。</p>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-sm-5">
        <h3 class="title2">数据处理资源弹性伸缩</h3>
        <p class="section-content">在客户业务峰值或业务量逐步增加时，可以自行增加计算资源来处理激增的数据量，在业务低谷或业务量逐步减少时，可以自行减少计算资源来降低成本，如电商或APP应用的抢购、秒杀、促销等应用场景。Pandora提供的所有服务都是按需付费的，即用多少，付多少；同时，对于数据处理等物理资源，提供扩容和降容功能，使用户付出最小的成本。</p>
      </div>
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-shujuchuliziyuantanxing@2x.png", class: "img-box" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <%= image_tag "pandora/icon-chuantonghangyeshuju@2x.png", class: "img-box" %>
      </div>

      <div class="col-sm-5">
        <h3 class="title2">传统行业数据分析</h3>
        <p class="section-content">在传统行业没有大数据处理技术能力，或公司本身技术背景较弱时，会面对大数据量束手无策，无法正常发挥数据的价值，又急需对大量数据进行分析，如传统企业的商业分析系统、运营分析系统等。Pandora平台通过对大数据底层服务进行组件式、插拔化的架构，将复杂多样的大数据技术进行严谨的重构与封装，同时提供简单、易懂的可视化配置工具，可以使没有任何技术背景的数据分析人员对平台进行业务操作，满足您日常业务监控、调度、演示等多场景使用需求。</p>
      </div>
    </div>
  </div>
</div>