<div class="jumbotron hero hero-partner">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-10">
          <h2>七牛云合作伙伴发展计划</h2>
          <p>欢迎加入七牛云合作伙伴发展计划，利用七牛云的技术能力，</p>
          <p>我们协助你一起聚焦客户的数据智能与管理，提供更有价值的解决方案和服务。</p>
          <div class="actions">
            <%= link_to "加入我们", "https://jinshuju.net/f/ueonw5", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "partner/banner-right.png", title: "七牛云合作伙伴发展计划", alt: "七牛云合作伙伴发展计划", width: "100%" -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-partner-support">
  <div class="container">
    <div class="intro">
      <h2 class="title">全方位支持</h2>
      <p class="desc">七牛云与合作伙伴一起，共同实现客户价值</p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "partner/icon-yewujishu.png", alt: "业务和技术支持", width: 50 -%>
          <div class="caption">
            <h4>业务和技术支持</h4>
            <p>七牛云客户经理和架构师提供业务支持以及技术支持，帮助您在云计算领域获得成功。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "partner/icon-peixunfuneng.png", alt: "培训赋能", width: 50 -%>
          <div class="caption">
            <h4>培训赋能</h4>
            <p>七牛为合作伙伴提供专属的技术培训，快速提升合作伙伴的云技术应用和服务能力。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "partner/icon-shichanghuodong.png", alt: "市场活动", width: 50 -%>
          <div class="caption">
            <h4>市场活动</h4>
            <p>合作伙伴满足一定条件可获得七牛市场营销支持，联合开展市场营销活动、技术沙龙、行业展会等。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "partner/icon-fenghoufanyong.png", alt: "丰厚返佣", width: 50 -%>
          <div class="caption">
            <h4>丰厚返佣</h4>
            <p>丰厚佣金回报，根据合作伙伴拓展的客户所产生的业绩予以返佣，最高可获高达 30% 的佣金返还。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-partner-framework">
  <div class="partner-framework-bg"></div>
  <div class="container">
    <div class="intro">
      <h2 class="title">合作伙伴架构</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 col-framework">
        <div class="thumbnail">
          <div class="caption">
            <h4>代理合作伙伴</h4>
            <h5>合作条件</h5>
            <p>有一定的客户服务经验，认同七牛品牌服务价值，愿意积极进行七牛云相关产品推广的销售型公司、企业服务商，或者是站长、创服社区、开发者社区等。</p>
            <h5>合作方向</h5>
            <p>钻石、金牌、银牌、铜牌代理商，区域客户服务中心。</p>
          </div>
          <%= link_to "立即加入", "https://jinshuju.net/f/ueonw5", target: "_blank", class: "btn btn-lg btn-primary" -%>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 col-framework">
        <div class="thumbnail">
          <div class="caption">
            <h4>SI 合作伙伴</h4>
            <h5>合作条件</h5>
            <p>具备系统集成资质，长期聚焦某些行业或者垂直领域，具备一定的客户资源以及方案整合能力，能够推广七牛的产品和服务。</p>
            <h5>合作方向</h5>
            <p>行业开拓，方案整合。</p>
          </div>
          <%= link_to "立即加入", "https://jinshuju.net/f/ueonw5", target: "_blank", class: "btn btn-lg btn-primary" -%>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 col-framework">
        <div class="thumbnail">
          <div class="caption">
            <h4>ISV 合作伙伴</h4>
            <h5>合作条件</h5>
            <p>具备一定的软件开发能力，长期聚焦某些行业或者垂直领域，有能力依托七牛的核心技术和平台优势，开发可规模推广的行业产品或解决方案。</p>
            <h5>合作方向</h5>
            <p>行业开拓，合作产品开发。</p>
          </div>
          <%= link_to "立即加入", "https://jinshuju.net/f/ueonw5", target: "_blank", class: "btn btn-lg btn-primary" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-partner-step">
  <div class="container">
    <div class="intro">
      <h2 class="title">合作流程</h2>
    </div>

    <ul class="list-step-center">
      <li class="step-li step-li-first">
        <div class="unit">
          <div class="unit-text">
            <%= image_tag "partner/icon-step-1.png", class: "step-unit-icon", alt: "提交合作申请", title: "提交合作申请", width: 70 -%>
            <h4 class="step-text">提交合作申请</h4>
          </div>
          <div class="unit-line"></div>
        </div>
      </li>

      <li class="step-li">
        <div class="unit">
          <div class="unit-text">
            <%= image_tag "partner/icon-step-2.png", class: "step-unit-icon", alt: "合作伙伴资质审核", title: "合作伙伴资质审核", width: 70 -%>
            <h4 class="step-text">合作伙伴资质审核</h4>
          </div>
          <div class="unit-line"></div>
        </div>
      </li>

      <li class="step-li">
        <div class="unit">
          <div class="unit-text">
            <%= image_tag "partner/icon-step-3.png", class: "step-unit-icon", alt: "签订合作协议", title: "签订合作协议", width: 70 -%>
            <h4 class="step-text">签订合作协议</h4>
          </div>
          <div class="unit-line"></div>
        </div>
      </li>

      <li class="step-li step-li-last">
        <div class="unit">
          <div class="unit-text">
            <%= image_tag "partner/icon-step-4.png", class: "step-unit-icon", alt: "正式展开合作", title: "正式展开合作", width: 70 -%>
            <h4 class="step-text">正式展开合作</h4>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-center join-us-btn">
      <%= link_to "加入我们", "https://jinshuju.net/f/ueonw5", target: "_blank", class: "btn btn-lg btn-primary" -%>
    </div>
  </div>
</div>

<div class="stripe partner-stripe">
  <h4 class="text-center">
    合作相关咨询，欢迎通过邮件方式联系渠道合作部：<%= link_to "channel@qiniu.com", "mailto:channel@qiniu.com", class:"email-box" -%>
  </h4>
</div>