<div class="jumbotron hero hero-pili">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2><%= I18n.t("views.welcome.pili.banner.title") %></h2>
          <p><%= I18n.t("views.welcome.pili.banner.desc") %></p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "立即使用", "https://portal.qiniu.com/signup/choice",target: "_blank", class: "btn btn-lg btn-default" -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="pili-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.welcome.pili.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="features tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.pili.feature1.title") %></h2>
    </div>

    <div class="row">
      <div class="bottom-line">
        <%= image_tag I18n.t("views.welcome.pili.feature1.icon") %>
      </div>
    </div>

  </div>
</div>

<div class="features tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.pili.feature2.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.pili.feature2.col").each do |col| %>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="thumbnail">
            <%= image_tag col[:icon], alt: col[:title], width: 100 %>
            <div class="caption">
              <h4><%= col[:title] %></h4>
              <p><%= col[:desc] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="features features-custom-function pili-media tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.pili.feature3.title") %></h2>
      <p class="desc"><%= I18n.t("views.welcome.pili.feature3.desc") %></p>
    </div>
    <div class="row">
      <% I18n.t("views.welcome.pili.feature3.col").each do |col| %>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media <%= I18n.t("views.language") != 'zh' ? 'en' : '' %>">
          <div class="media-left">
            <%= image_tag col[:icon], class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= col[:title] -%></h4>
            <p><%= col[:desc] -%></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
      <center><%= link_to I18n.t("views.welcome.pili.feature3.more"), "https://developer.qiniu.com/pili/manual/1209/live-the-core-function", class: "more" -%></center>
    </div>
  </div>
</div>


<div class="features features-scenario tab-content-section-4">
  <div class="container bottom-line">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.pili.feature4.title") %></h2>
      <p class="desc"><%= I18n.t("views.welcome.pili.feature4.desc.line1") %></p>
      <p class="desc"><%= I18n.t("views.welcome.pili.feature4.desc.line2") %></p>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.pili.feature4.col").each do |col| %>
        <div class="col-sm-2 col-xs-4">
          <%= image_tag col[:icon], alt: col[:title], width: 43 %>
          <h4 class="media-heading"><%= col[:title] %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title"><%= I18n.t("views.welcome.pili.feature5.title") %></h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-pandatv-highlight@2x.jpg", alt: "熊猫", title: "熊猫", class: "case" %></div>
          <div><%= image_tag "client-quanmintv-highlight@2x.jpg", alt: "全民TV", title: "全民TV", class: "case" %></div>
          <div><%= image_tag "client-longzhuzhibo-highlight@2x.jpg", alt: "龙珠", title: "龙珠", class: "case" %></div>
          <div><%= image_tag "client-tonghuashun-highlight@2x.jpg", alt: "同花顺", title: "同花顺", class: "case" %></div>
          <div><%= image_tag "client-sobey-highlight@2x.jpg", alt: "索贝数码", title: "索贝数码", class: "case" %></div>
          <div><%= image_tag "client-dongqiudi-highlight@2x.jpg", alt: "懂球帝", title: "懂球帝", class: "case" %></div>
          <div><%= image_tag "client-qichezhijia-highlight@2x.jpg", alt: "汽车之家", title: "汽车之家", class: "case" %></div>
          <div><%= image_tag "client-langrensha.jpg", alt: "天天狼人杀", title: "天天狼人杀", class: "case" %></div>
          <div><%= image_tag "client-7k7k-highlight@2x.jpg", alt: "7K7K", title: "7K7K", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less features-cases tab-content-section-6 <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3 col-xs-4">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品简介", "https://developer.qiniu.com/pili/manual/3694/pili-product-introduction" -%></li>
              <li><%= link_to "直播架构快速搭建", "https://developer.qiniu.com/pili/manual/1217/live-architecture-fleetly" -%></li>
              <li><%= link_to "七牛直播云技术白皮书", "https://developer.qiniu.com/pili/manual/1209/live-the-core-function" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-4">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "Android 推流端 SDK", "https://developer.qiniu.com/pili/sdk/3715/PLDroidMediaStreaming-overview" -%></li>
              <li><%= link_to "iOS 推流端 SDK", "https://developer.qiniu.com/pili/sdk/3778/PLMediaStreamingKit-overview" -%></li>
              <li><%= link_to "Android 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1210/the-android-client-sdk" -%></li>
              <li><%= link_to "iOS 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1211/ios-playback-end-the-sdk" -%></li>
              <li><%= link_to "服务端 SDK", "https://developer.qiniu.com/pili/sdk/1220/server-sdk" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-4">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "iOS/Android 崩溃信息搜集方法", "https://developer.qiniu.com/pili/kb/3646/ios-android-collapse-information-gathering-methods" -%></li>
              <li><%= link_to "直播封面落是否永久保存", "https://developer.qiniu.com/pili/kb/3876/a-live-cover-is-permanent" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
