<div class="jumbotron hero hero-pili">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>直播云</h2>
          <p>七牛直播云服务 (PILI) 是专为直播平台打造的全球化直播流服务和端到端直播场景解决方案，提供 RTMP、HLS、HDL 直播支持、配套的数据处理服务、端到端 SDK 支持、APM 数据服务。</p>
          <div class="actions">
            <%= link_to "立即使用", "https://portal.qiniu.com/signup/choice",target: "_blank", class: "btn btn-lg btn-default" -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="pili-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品架构</a></li>
        <li class="intLink"><a href="#tab-content-section-2">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-3">自定义功能</a></li>
        <li class="intLink"><a href="#tab-content-section-4">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-5">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-6">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品架构</h2>
    </div>

    <div class="row">
      <div class="bottom-line">
        <%= image_tag "img-chanpinyoushi.png" %>
      </div>
    </div>

  </div>
</div>

<div class="features tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "icon-qualitycontrol@2x.png", alt: "智能化质量监控", width: 100 %>
          <div class="caption">
            <h4>智能化质量监控</h4>
            <p>基于单个直播流业务粒度的线路质量智能监控及实时动态的数据统计，提供自动容错及全方位的数据分析，定位并优化直播卡顿率。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "icon-net@2x.png", alt: "全球化的实时流网络", width: 100 %>
          <div class="caption">
            <h4>全球化的实时流网络</h4>
            <p>采用全新网络技术，实时计算全链路状态，按需智能伸缩最佳路径节点。实现秒开、低延迟不卡顿，和节点故障常态处理等直播需求。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "icon-scenes@2x.png", alt: "端到端的场景化", width: 100 %>
          <div class="caption">
            <h4>端到端的场景化 SDK</h4>
            <p>提供多平台采集 SDK 和播放 SDK，并开放云端 API 实现透明播控管理，助力企业开发者快速构建直播平台的核心业务，提高开发效率。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-custom-function pili-media tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">自定义功能</h2>
      <p class="desc">七牛直播云使用了胶水积木的开发模式，自定义的开放接口，可以不断容纳第三方音视频效果。</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishiluzhi@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时录制</h4>
            <p>直播实时录制，云端实时存储，并支持按需回看。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishishuiyin@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时水印</h4>
            <p>可定制图文水印或动态水印，方便辨识和版权保护。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishijietu@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时截图</h4>
            <p>直播实时截帧，生成直播流封面。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishizhuanma@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时转码</h4>
            <p>一路推流，按指定码率和分辨率多路输出，满足各种播放需求。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-lianmaihudong@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">连麦互动</h4>
            <p>主播连线观众，实时双向互动，并输出直播给其他观众。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishijianhuang@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时鉴⻩</h4>
            <p>实时识别敏感图像，并提供监控告警，大大提高运营审核效率。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-zhibojianquan@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">直播鉴权</h4>
            <p>全方位支持推拉流鉴权，防止客户内容被盗链</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-miaojijinbo@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">秒级禁播</h4>
            <p>支持对不合规范的直播流进行秒级禁播，更可自定义时间段禁播。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-meiyanlvjing@2x.png", class: "media-object", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">美颜滤镜</h4>
            <p>集成低功耗高性能美颜，灵活开放可自定义滤镜进行特效处理。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <center><%= link_to "更多功能", "https://developer.qiniu.com/pili/manual/1209/live-the-core-function", class: "more" -%></center>
    </div>
  </div>
</div>


<div class="features features-scenario tab-content-section-4">
  <div class="container bottom-line">
    <div class="intro">
      <h2 class="title">适用场景</h2>
      <p class="desc">满足「直播+」各种行业的使用场景</p>
      <p class="desc">服务 4000 多家直播平台，能够更快速、更灵活、更开放的满足不同行业、场景的客户对直播功能的需求，并广泛应用于众多行业领域。</p>
    </div>

    <div class="row">
      <div class="col-sm-2 col-xs-4">
        <%= image_tag "icon-shejiaozhibo@2x.png", alt: "社交直播", width: 43 %>
        <h4 class="media-heading">社交直播</h4>
      </div>

      <div class="col-sm-2 col-xs-4">
        <%= image_tag "icon-wenyuzhibo@2x.png", alt: "文娱直播", width: 43 %>
        <h4 class="media-heading">文娱直播</h4>
      </div>

      <div class="col-sm-2 col-xs-4">
        <%= image_tag "icon-jiaoyuzhibo@2x.png", alt: "教育直播", width: 43 %>
        <h4 class="media-heading">教育直播</h4>
      </div>

      <div class="col-sm-2 col-xs-4">
        <%= image_tag "icon-yiliaozhibo@2x.png", alt: "医疗直播", width: 43 %>
        <h4 class="media-heading">医疗直播</h4>
      </div>

      <div class="col-sm-2 col-xs-4">
        <%= image_tag "icon-youxizhibo@2x.png", alt: "游戏直播", width: 43 %>
        <h4 class="media-heading">游戏直播</h4>
      </div>

      <div class="col-sm-2 col-xs-4">
        <%= image_tag "icon-dianshangzhibo@2x.png", alt: "电商直播", width: 43 %>
        <h4 class="media-heading">电商直播</h4>
      </div>

    </div>
  </div>
</div>


<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-pandatv-highlight@2x.jpg", alt: "熊猫", title: "熊猫", class: "case" %></div>
          <div><%= image_tag "client-quanmintv-highlight@2x.jpg", alt: "全民TV", title: "全民TV", class: "case" %></div>
          <div><%= image_tag "client-longzhuzhibo-highlight@2x.jpg", alt: "龙珠", title: "龙珠", class: "case" %></div>
          <div><%= image_tag "client-tonghuashun-highlight@2x.jpg", alt: "同花顺", title: "同花顺", class: "case" %></div>
          <div><%= image_tag "client-sobey-highlight@2x.jpg", alt: "索贝数码", title: "索贝数码", class: "case" %></div>
          <div><%= image_tag "client-dongqiudi-highlight@2x.jpg", alt: "懂球帝", title: "懂球帝", class: "case" %></div>
          <div><%= image_tag "client-qichezhijia-highlight@2x.jpg", alt: "汽车之家", title: "汽车之家", class: "case" %></div>
          <div><%= image_tag "client-langrensha.jpg", alt: "天天狼人杀", title: "天天狼人杀", class: "case" %></div>
          <div><%= image_tag "client-7k7k-highlight@2x.jpg", alt: "7K7K", title: "7K7K", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less features-cases tab-content-section-6">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3 col-xs-4">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品简介", "https://developer.qiniu.com/pili/manual/3694/pili-product-introduction", target: "_blank" -%></li>
              <li><%= link_to "直播架构快速搭建", "https://developer.qiniu.com/pili/manual/1217/live-architecture-fleetly", target: "_blank" -%></li>
              <li><%= link_to "七牛直播云技术白皮书", "https://developer.qiniu.com/pili/manual/1209/live-the-core-function", target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-4">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "Android 推流端 SDK", "https://developer.qiniu.com/pili/sdk/3715/PLDroidMediaStreaming-overview", target: "_blank" -%></li>
              <li><%= link_to "iOS 推流端 SDK", "https://developer.qiniu.com/pili/sdk/3778/PLMediaStreamingKit-overview", target: "_blank" -%></li>
              <li><%= link_to "Android 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1210/the-android-client-sdk", target: "_blank" -%></li>
              <li><%= link_to "iOS 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1211/ios-playback-end-the-sdk", target: "_blank" -%></li>
              <li><%= link_to "服务端 SDK", "https://developer.qiniu.com/pili/sdk/1220/server-sdk", target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-4">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "iOS/Android 崩溃信息搜集方法", "https://developer.qiniu.com/pili/kb/3646/ios-android-collapse-information-gathering-methods", target: "_blank" -%></li>
              <li><%= link_to "直播封面落是否永久保存", "https://developer.qiniu.com/pili/kb/3876/a-live-cover-is-permanent", target: "_blank" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
