<div class="jumbotron hero hero-pili">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>直播云</h2>
        <p>七牛直播云服务是专为直播平台打造的全球化直播流服务和端到端直播场景解决方案，提供 RTMP、HLS、HDL 直播支持、配套的数据处理服务、端到端 SDK 支持、APM 数据服务。</p>
        <div class="actions">
          <%= link_to "立即使用", "", class: "btn btn-lg btn-default m-r" -%>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="pili-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-2">自定义功能</a></li>
        <li class="intLink"><a href="#tab-content-section-3">适用场景</a></li>
        <li class="intLink"><a href="#tab-content-section-4">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-5">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="features tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title text-left">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div class="feature-item">
          <h4>
            <%= image_tag "icon-shishiliu@2x.png", alt: "全球化的实时流网络", width: 47 %></a>
            <span>全球化的实时流网络</span>
          </h4>
          <p>采用全新网络技术，实时计算全链路状态，按需智能伸缩最佳路径节点。实现秒开、低延迟不卡顿，和节点故障常态处理等直播需求。</p>
        </div>

        <div class="feature-item">
          <h4>
            <%= image_tag "icon-yanshizhibo@2x.png", alt: "端到端，场景化", width: 47 %></a>
            <span>智能化质量监控</span>
          </h4>
          <p>基于单个直播流业务粒度的线路质量智能监控及实时动态的数据统计，提供自动容错及全方位的数据分析，定位并优化直播卡顿率。</p>
        </div>

        <div class="feature-item">
          <h4>
            <%= image_tag "icon-sdk@2x.png", alt: "智能化质量监控", width: 47 %></a>
            <span>端到端的场景化SDK</span>
          </h4>
          <p>提供多平台采集 SDK 和播放 SDK，并开放云端 API 实现透明播控管理，助力企业开发者快速构建直播平台的核心业务，提高开发效率。</p>
        </div>
      </div>
      <div class="col-sm-7">
        <%= image_tag "img-chanpinyoushi.png" %>
      </div>
    </div>
  </div>
</div>


<div class="features features-custom-function tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">自定义功能</h2>
      <p class="desc">七牛直播云使用了胶水积木的开发模式，自定义的开放接口，可以不断容纳第三方音视频效果。</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishiluzhi@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时录制</h4>
            <p>直播实时录制，云端实时存储，并支持按需回看。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishishuiyin@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时水印</h4>
            <p>可定制图文水印或动态水印，方便辨识和版权保护。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishijietu@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时截图</h4>
            <p>直播实时截帧，生成直播流封面。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishizhuanma@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时转码</h4>
            <p>一路推流，按指定码率和分辨率多路输出，满足各种播放需求。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-shishijianhuang@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">实时鉴⻩</h4>
            <p>实时识别敏感图像，并提供监控告警，大大提高运营审核效率。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-lianmaihudong@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">连麦互动</h4>
            <p>主播连线观众，实时双向互动，并输出直播给其他观众。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-miaojijinbo@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">秒级禁播</h4>
            <p>支持对不合规范的直播流进行秒级禁播，更可自定义时间段禁播。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-yanshizhibo@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">延时直播</h4>
            <p>预留直播时间，保障直播内容审核无误。</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-meiyanlvjing@2x.png", class: "media-object", alt: "低成本", width: 43 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">美颜滤镜</h4>
            <p>集成低功耗高性能美颜，灵活开放可自定义滤镜进行特效处理。</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="features features-scenario tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">适用场景</h2>
      <p class="desc">满足「直播+」各种行业的使用场景</p>
      <p class="desc">服务 4000 多家直播平台，能够更快速、更灵活、更开放的满足不同行业、场景的客户对直播功能的需求，并广泛应用于众多行业领域。</p>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= image_tag "icon-shejiaozhibo@2x.png", alt: "社交直播", width: 43 %>
        <h4 class="media-heading">社交直播</h4>
      </div>

      <div class="col-sm-2">
        <%= image_tag "icon-wenyuzhibo@2x.png", alt: "文娱直播", width: 43 %>
        <h4 class="media-heading">文娱直播</h4>
      </div>

      <div class="col-sm-2">
        <%= image_tag "icon-jiaoyuzhibo@2x.png", alt: "教育直播", width: 43 %>
        <h4 class="media-heading">教育直播</h4>
      </div>

      <div class="col-sm-2">
        <%= image_tag "icon-yiliaozhibo@2x.png", alt: "医疗直播", width: 43 %>
        <h4 class="media-heading">医疗直播</h4>
      </div>

      <div class="col-sm-2">
        <%= image_tag "icon-youxizhibo@2x.png", alt: "游戏直播", width: 43 %>
        <h4 class="media-heading">游戏直播</h4>
      </div>

      <div class="col-sm-2">
        <%= image_tag "icon-dianshangzhibo@2x.png", alt: "电商直播", width: 43 %>
        <h4 class="media-heading">电商直播</h4>
      </div>

    </div>
  </div>
</div>


<div class="features features-less features-cases tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= link_to image_tag("client-ch@2x.jpg", alt: "长虹"), "http://cn.changhong.com/", id: "customer-ch", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-changba@2x.jpg", alt: "唱吧"), "https://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-dajian@2x.jpg", alt: "大疆创新"), "http://www.dji.com/cn", id: "customer-dajian", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-dazhong@2x.jpg", alt: "大众点评"), "https://www.dianping.com/", id: "customer-dazhong", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-hujiang@2x.jpg", alt: "沪江网"), "http://www.hujiang.com/", id: "customer-hujiang", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-intel@2x.jpg", alt: "英特尔"), "http://www.intel.cn/content/www/cn/zh/homepage.html", id: "customer-intel", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-oppo@2x.jpg", alt: "OPPO"), "http://www.oppo.com/cn/", id: "customer-oppo", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-qingting@2x.jpg", alt: "蜻蜓 FM"), "http://www.qingting.fm/", id: "customer-qingting", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("client-zte@2x.jpg", alt: "中兴"), "http://www.zte.com.cn/china/", id: "customer-zte", class: "case", target: "_blank" -%></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品手册", "" -%></li>
              <li><%= link_to "API文档", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "SDK及工具", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "技术问题", "" -%></li>
              <li><%= link_to "账户财务", "" -%></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>产品动态</h4>
            <ul class="links-list">
              <li><%= link_to "对象存储国内空间价格下调", "" -%></li>
              <li><%= link_to "私有化部署服务上线", "" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
