<div class="jumbotron hero hero-player">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>七牛云播放器</h2>
          <p>七牛云播放器是一款全自研内核的跨平台多媒体播放器，支持多种视频格式及流媒体协议。</p>
          <div class="actions">
            <%= link_to "Android SDK", "https://developer.qiniu.com/vance/sdk/1526/video-player-android-SDK", class: "btn btn-lg btn-hollow m-r m-b-xs", target: "_blank" -%>
            <%= link_to "iOS SDK", "https://developer.qiniu.com/vance/sdk/1510/Qiniu-player-iOS-sdk", class: "btn btn-lg btn-hollow m-r m-b-xs", target: "_blank" -%>
            <%= link_to "Windows SDK", "https://developer.qiniu.com/pili/sdk/4164/windows-player-sdk", class: "btn btn-lg btn-hollow m-b-xs", target: "_blank" -%>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="right-mask-banner">
            <%= image_tag "player/banner-right.png", alt: "播放器", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-suspension">
  <div class="container">
    <div class="suspension">
      <div class="row">
        <div class="col-sm-3 col-xs-6 col-clear">
          <a href="javascript:;" class="suspension-item">
            <i class="icon first-icon"></i>
            <div class="desc">
              <p>首开</p>
              <p>首开 200 ms,低延迟</p>
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-6 col-clear">
          <a href="javascript:;" class="suspension-item">
            <i class="icon package-icon"></i>
            <div class="desc">
              <p>包体</p>
              <p>400 KB</p>
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-6 col-clear">
          <a href="javascript:;" class="suspension-item">
            <i class="icon crosite-icon"></i>
            <div class="desc">
              <p>跨平台</p>
              <p>Android / iOS / Windows</p>
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-6 col-clear">
          <a href="javascript:;" class="suspension-item">
            <i class="icon stable-icon"></i>
            <div class="desc">
              <p>稳定性</p>
              <p>千万日活</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-player">
  <div class="container">
    <div class="intro">
      <h2 class="title">丰富的特色功能</h2>
    </div>
    <div class="player-bg">
      <div class="desc">
        <div class="pull-left desc-unit">
          <h3>DRM 版权保护</h3>
          <p>防止数字媒体的非法复制</p>
        </div>
        <div class="pull-right desc-unit text-right">
          <h3>智能调整播放策略</h3>
          <p>有效降低播放延迟和卡顿</p>
        </div>
      </div>
      <div class="bg-img"><i class="player-img"></i></div>
      <div class="desc">
        <div class="pull-left desc-unit">
          <h3>大数据分析</h3>
          <p>性能数据实时监测分析、告警，优化终端用户体验</p>
        </div>
        <div class="pull-right desc-unit text-right">
          <h3>HLS 自适应码率</h3>
          <p>轻松应对终端用户复杂网络环境</p>
        </div>
      </div>
      <div class="text-center m">
        <%= link_to raw("30 项详细功能和性能清单 &gt;&gt;"), "https://developer.qiniu.com/vance/sdk/1526/video-player-android-SDK", target: "_blank", class: "" -%>
      </div>
    </div>
  </div>
</div>

<div class="features features-player">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "player/jieluojiandan.png", alt: "接入更简单", width: 100 %>
          <div class="caption">
            <h4>接入更简单</h4>
            <p>接口清晰，文档健全，一天即可完成播放器 SDK 的接入。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "player/ercikaifa.png", alt: "方便二次开发", width: 100 %>
          <div class="caption">
            <h4>方便二次开发</h4>
            <p>丰富的信令和数据回调，可灵活进行二次开发。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "player/guwenzixun.png", alt: "顾问式咨询服务", width: 100 %>
          <div class="caption">
            <h4>顾问式咨询服务</h4>
            <p>音视频专家倾力打造，提供深度咨询服务，定制高性价比解决方案。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "player/chanpinshengtai.png", alt: "丰富的产品生态", width: 100 %>
          <div class="caption">
            <h4>丰富的产品生态</h4>
            <p>可自由选择七牛云存储、融合 CDN、智能多媒体 API、大数据等产品。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-less">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "plsv/client-blued.jpg", class: "case", alt: "blued", title: "blued" %></div>
          <div><%= image_tag "player/lizhizhibo.png", class: "case", alt: "lizhizhibo", title: "lizhizhibo" %></div>
          <div><%= image_tag "player/shouyinzhibo.png", class: "case", alt: "shouyinzhibo", title: "shouyinzhibo" %></div>
          <div><%= image_tag "player/suanguozhibo.png", class: "case", alt: "suanguozhibo", title: "suanguozhibo" %></div>
          <div><%= image_tag "player/chuanyinkonggu.png", class: "case", alt: "chuanyinkonggu", title: "chuanyinkonggu" %></div>
          <div><%= image_tag "player/xingqiubuluo.png", class: "case", alt: "xingqiubuluo", title: "xingqiubuluo" %></div>
          <div><%= image_tag "player/upzhibo.png", class: "case", alt: "upzhibo", title: "upzhibo" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-less features-cases">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "Android SDK 下载", "https://developer.qiniu.com/vance/sdk/1526/video-player-android-SDK" -%></li>
              <li><%= link_to "iOS SDK 下载", "https://developer.qiniu.com/vance/sdk/1510/Qiniu-player-iOS-sdk" -%></li>
              <li><%= link_to "Windows SDK 下载", "https://developer.qiniu.com/pili/sdk/4164/windows-player-sdk" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>常见文档</h4>
            <ul class="links-list">
              <li><%= link_to "直播云产品手册", "https://developer.qiniu.com/pili" -%></li>
              <li><%= link_to "点播云产品手册", "https://developer.qiniu.com/vance" -%></li>
              <li><%= link_to "短视频白皮书", "https://developer.qiniu.com/vance/sdk/4102/a-short-video-whitepaper" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>