<div class="jumbotron hero hero-plsv">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-6">
          <h2>短视频</h2>
          <p>七牛短视频服务 (PLSV) 是为企业用户提供极速稳定的视频上传、存储、转码、播放和下载等功能的一站式短视频解决方案。</p>
          <div class="actions">
            <%= link_to "立即使用", "", class: "btn btn-lg btn-default", data: { toggle: "modal", target: "#feedback-modal"} -%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="right-mask-banner">
            <%= image_tag "duanshipin-right.png", alt: "短视频", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="plsv-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-2">核心功能</a></li>
        <li class="intLink"><a href="#tab-content-section-3">客户案例</a></li>
        <li class="intLink"><a href="#tab-content-section-4">产品相关</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "plsv/icon-shejilinghuo.png", alt: "设计灵活", width: 100 %>
          <div class="caption">
            <h4>设计灵活</h4>
            <p>丰富的数据和信令回调，方便自定义开发。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "plsv/icon-keyongxing.png", alt: "产品稳定", width: 100 %>
          <div class="caption">
            <h4>产品稳定</h4>
            <p>继承直播SDK积累的丰富经验，保证产品的高可用性。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "plsv/icon-gongnengfengfu.png", alt: "功能丰富", width: 100 %>
          <div class="caption">
            <h4>功能丰富</h4>
            <p>采集、处理、编码、封包、上传，覆盖主流短视频功能。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <%= image_tag "plsv/icon-zhuanyefuwu.png", alt: "专业服务", width: 100 %>
          <div class="caption">
            <h4>专业服务</h4>
            <p>对接资深工程师，1对1解答您开发中的问题。</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="features feature-color plsv-services tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">核心功能</h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <li class="active"><a href="#collections" data-toggle="tab">采集处理</a></li>
        <li><a href="#editions" data-toggle="tab">编辑上传</a></li>
        <li><a href="#services" data-toggle="tab">服务端功能</a></li>
        <li><a href="#player" data-toggle="tab">播放器功能</a></li>
      </ul>
      <div class="tab-content">
        <% I18n.t("plsvs1").each do |plsv| %>
          <% groupid = plsv[:groupid] %>
          <section id= <%= groupid %> class="tab-pane fade in active">
            <div class="row row-clear">
              <% plsv[:group].each do |logo| %>
                <div class="col-sm-2 col-clear col-5 col-xs-4">
                  <div class="thumbnail thumbnail-icons">
                    <%= image_tag logo[:imgpath], alt: "服务", width: 40 %>
                    <div class="desc">
                      <h5><%= logo[:desc] %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </section>
        <% end %>
        <% I18n.t("plsvs").each do |plsv| %>
          <% groupid = plsv[:groupid] %>
          <section id= <%= groupid %> class="tab-pane fade in">
            <div class="row row-clear">
              <% plsv[:group].each do |logo| %>
                <div class="col-sm-2 col-clear col-5 col-xs-4">
                  <div class="thumbnail thumbnail-icons">
                    <%= image_tag logo[:imgpath], alt: "服务", width: 40 %>
                    <div class="desc">
                      <h5><%= logo[:desc] %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </section>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="features features-less tab-content-section-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <dd><%= image_tag "plsv/client-touch.jpg", alt: "touch", title: "他趣", class: "case" %></dd>
          <dd><%= image_tag "plsv/client-blued.jpg", alt: "blued", title: "淡蓝", class: "case" %></dd>
          <dd><%= image_tag "plsv/client-xiaomasahuan.jpg", alt: "xiaomasahuan", title: "小马撒欢", class: "case" %></dd>
          <dd><%= image_tag "plsv/client-xiaoaiai.jpg", alt: "xiaoaiai", title: "小爱爱", class: "case" %></dd>
          <dd><%= image_tag "plsv/client-zuwome@2x.jpg", alt: "zuwome", title: "租我么", class: "case" %></dd>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-less feature-color tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4 col-xs-4">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "七牛短视频白皮书", "https://developer.qiniu.com/pili/sdk/3919/a-short-video-the-white-paper", target: "_blank", title: "七牛短视频白皮书" -%></li>
              <li><%= link_to "服务端API", "https://developer.qiniu.com/pili//sdk/3921/the-server-api", target: "_blank", title: "服务端API" -%></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-4">
            <h4>SDK 及工具</h4>
            <ul class="links-list">
              <li><%= link_to "Android 采集端 SDK", "https://developer.qiniu.com/pili/sdk/3734/short-video-android-sdk", target: "_blank", title: "Android 采集端 SDK" -%></li>
              <li><%= link_to "iOS 采集端 SDK", "https://developer.qiniu.com/pili/sdk/3733/short-video-ios-sdk", target: "_blank", title: "iOS 采集端 SDK" -%></li>
              <li><%= link_to "Android 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1210/the-android-client-sdk", target: "_blank", title: "Android 播放端 SDK" -%></li>
              <li><%= link_to "iOS 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1211/ios-playback-end-the-sdk", target: "_blank", title: "iOS 播放端 SDK" -%></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-4">
            <h4>其他</h4>
            <ul class="links-list">
              <li><%= link_to "Demo 下载", "https://developer.qiniu.com/pili/sdk/3920/short-video-demo-download", target: "_blank", title: "Demo 下载" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>