<div class="features features-sla">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-stacked left-tab" id="about-left-bar">
          <li class="li_user_agreement"><%= link_to "用户服务协议", user_agreement_path -%></li>
          <li class="li_sla_kodo"><%= link_to "对象存储 SLA", sla_kodo_path -%></li>
          <li class="li_sla_fusion"><%= link_to "融合 CDN SLA", sla_fusion_path -%></li>
          <li class="li_sla_pili"><%= link_to "直播云 SLA", sla_pili_path -%></li>
          <li class="li_sla_dora"><%= link_to "智能多媒体API SLA", sla_dora_path -%></li>
        </ul>
      </div>

      <div class="col-sm-10">
        <div class="sections-wrapper">
          <span class="action" id=<%= action_name -%> style="display: none;"></span>
          <section>

          </section>

          <section class="sla_kodo">
            <h1 style="margin-bottom: 38px;">Kodo- 七牛云对象存储服务等级协议（SLA）</h1>
            <h2>1. 服务内容</h2>
            <p>七牛云对象存储服务，是七牛云自主研发的分布式对象存储服务，可以为用户提供高可靠、强安全、低成本、可扩展的存储服务，满足各类存储需求。用户只需按实际使用的存储量付费。</p>

            <h2>2. 定义解释</h2>
            <p>2.1 用户指使用七牛云提供的云服务或产品的个人、法人或其他组织。</p>
            <p>2.2 服务指七牛对象存储根据本协议向开发者提供的付费服务（未付费情况，不适用本协议）。</p>
            <p>2.3 对象存储服务是一种基于 HTTP 协议网络接口上传、下载数据资源，按需扩容的非结构化数据存储服务。</p>
            <h2>3. 指标项</h2>
            <p><strong>3.1 数据可靠性</strong></p>
            <p>七牛云对象存储系统的数据可靠性不低于 99.99999999%，即用户保存在七牛云对象存储系统中的每一百亿个文件中每月最多只有一个文件有丢失的可能性。</p>
            <p><strong>3.2 数据可销毁性</strong></p>
            <p>在用户主动删除数据或用户服务期满后需要销毁数据的，七牛云对象存储将自动清除对应物理服务器上磁盘和内存数据，使得数据无法恢复。</p>
            <p>七牛云对象存储服务所用的设备在报废弃置、委外维修或转售前，七牛云对象存储将对其物理磁盘采用每扇区重写 3 次工作，每次销毁操作均有二位同事进行，一位操作，一位监督，确保操作的完整性。</p>
            <p><strong>3.3 数据可迁移性</strong></p>
            <p>七牛云对象存储的对象是用户文件，文件类型维持原有格式不变，即支持所有数据格式的迁入迁出。用户使用七牛云对象存储时，可随时访问、下载其文件，并根据需要自行保存或迁出。</p>
            <p><strong>3.4 数据可迁移性</strong></p>
            <p>用户在七牛云对象存储创建的数据处理作业等资源，在未经用户合法授权的情况下，其他用户无法对其配置进行更改。七牛云对象存储为用户分配 Access Key ID/Secret Access Key 安全加密对，从七牛云对象存储访问接口上进行权限控制和隔离，保障用户数据的私密性。</p>
            <p><strong>3.5 数据知情权</strong></p>
            <p>用户对于数据、备份数据所在数据中心地理位置、数据备份数量，具有知情权。用户对数据的访问数量，流量，以及数据量的大小具有知情权。</p>
            <p><strong>3.6 服务可审查性</strong></p>
            <p>七牛云对象存储可以查看用户的上传下载以及文件操作日志，以进行计费的统计以及客户错误的排查。七牛云对象存储会记录运维及技术支持人员的操作日志，以供审查。</p>
            <p>依据现行法律法规或根据政府监管部门监管、安全合规、审计或取证调查等原因的需要，在符合流程和手续完备的情况下，七牛云对象存储可以提供用户所使用的服务的相关信息，包括关键组件的运行日志、运维人员的操作记录、用户操作记录等信息。</p>
            <p><strong>3.7 服务功能</strong></p>
            <p>七牛云对象存储服务的所有具体功能请详见七牛云对象存储在官网上提供的详细说明文档、技术文档及帮助文档。七牛云对象存储所有可能影响用户的功能性变更都将向用户公告。七牛云对象存储向用户提供七牛云官网上所展示的对象存储服务、相关的技术支持服务以及网络支持服务。</p>
            <p><strong>3.8 服务可用性</strong></p>
            <p>七牛云对象存储服务可用性不低于 99.8%，不可用时间以单个服务单元计算。七牛云所提供的服务在连续的 5 分钟或更长时间不可使用方计为不可用时间，不可使用的服务时间低于 5 分钟的，不计入不可用时间。可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月则按一个月计。</p>
            <p><strong>3.9 服务资源调配能力</strong></p>
            <p>七牛云对象存储为用户提供文件的存储服务，并支持用户通过网络进行文件的上传和下载。七牛云对象存储对用户的存储容量不设置上限，根据需要，存储容量将实时动态扩展,无需用户干预。七牛云对象存储将以不影响客户使用的前提下，扩展和缩减的维度包括存储容量的大小（TB），流量入口出口的带宽（b/s）, 全国节点个数。</p>
            <p><strong>3.10 故障恢复能力及客服保证</strong></p>
            <p>七牛云对象存储为用户提供全天候的运行维护，并以在线自助工单系统、客服电话报障等方式提供技术支持。七牛云具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制。</p>
            <p>客服咨询电话：400-808-9176；服务时间：7*24小时。</p>
            <p><strong>3.11 网络接入性能</strong></p>
            <p>七牛云对象存储服务七牛云对象存储对用户不限制公网出口带宽。七牛云对象存储采用多线接入，保障用户的网络接入质量。用户的原始计费日志默认最少保留2年备查。</p>
            <p><strong>3.12 服务计量准确性</strong></p>
            <p>七牛云对象存储服务具备准确、透明的计量计费系统。七牛云对象存储根据用户的实际使用量据实结算，价格及计费模式见七牛云官网。</p>

            <h2>4. 服务赔偿</strong></h2>
            <p><strong>4.1 赔偿范围</strong></p>
            <p>因七牛云对象存储设备故障、设计缺陷或操作不当导致用户所购买的对象存储服务无法正常使用，七牛云对象存储将对不可用时间进行赔偿，但不包括以下原因所导致的服务不可用时间：</p>
            <p>4.1.1 七牛云预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；</p>
            <p>4.1.2 任何七牛云所属设备以外的网络、设备故障或配置调整引起的;</p>
            <p>4.1.3 用户的应用程序或数据信息受到黑客攻击而引起的；</p>
            <p>4.1.4 用户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；</p>
            <p>4.1.5 用户自行升级操作系统所引起的；</p>
            <p>4.1.6 用户的应用程序或安装活动所引起的；</p>
            <p>4.1.7 用户的疏忽或由用户授权的操作所引起的；</p>
            <p>4.1.8 不可抗力以及意外事件引起的；</p>
            <p>4.1.9 其他非七牛云原因所造成的不可用。</p>
            <p><strong>4.2 错误率</strong></p>
            <p><span>4.2.1 </span>错误是指：</p>
            <p><span>4.2.1.1 </span>使用七牛云服务，在每个 5 分钟内容的所有请求数中，由七牛云服务返回的内部错误（错误状态码 5XX）;</p>
            <p><span>4.2.1.2 </span>当出现服务不可用且无失败请求返回的情况，通过计算前 7 天用户单位时间请求数的平均值，再用该平均值乘以服务不可用时间，从而计算出该情况下的失败请求数。</p>
            <p><span>4.2.2 </span>错误率的计算方法</p>
            <p>在每个月的月初，统计上述A、B 两种情况的失败请求数, 月总请求次数低于 10 万的用户不做统计； 通过计算上述两种情况下的错误之和占总请求数（正常请求数 + 错误 A + 错误 B）的比例，从而得出上个月该用户服务的可用性，可用性应不低于 99.8%。</p>
            <p><strong>4.3 赔偿方案</strong></p>
            <p>赔偿范围: 根据 4.2.1 界定的错误范围，七牛云将进行赔偿。</p>
            <p>赔偿方案: 七牛云将按照服务不可用时间的 100 倍赔偿，即赔付的金额＝发生故障前一个自然日的故障时间的平均每 5 分钟费用 x 服务不可用时间 (每五分钟为一个单位)x100 倍 。</p>
            <p><span>4.3.1 </span>特殊说明：</p>
            <p><span>4.3.1.1 </span>赔偿只针对已经使用七牛云对象存储服务并且支付费用的用户；以七牛云抵用券形式赔偿。</p>
            <p><span>4.3.1.2 </span>服务不可用时间＝故障开始时间 - 故障结束时间，不可用时间按照每五分钟为单位计算，不足五分钟的以五分钟计算。</p>
            <p><span>4.3.1.3 </span>如果用户没有使用到 24 小时，按照实际使用时长计算平均每五分钟的费用。</p>

            <h2>5. 免责声明</h2>
            <p>详见《七牛云用户服务协议》中"免责条款"部分的相关内容。</p>

            <h2>6. 其他</span></h2>
            <p>6.1 本协议一经公布立即生效，七牛云有权随时对协议内容进行修改。如用户不同意七牛云对本协议相关内容所做的修改，用户有权停止使用七牛云数据处理服务。若用户继续使用七牛云数据处理服务，则视为用户接受七牛云对本协议相关内容所做的修改。</p>
            <p>6.2 本协议项下七牛云对象存储服务对于用户所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他方式进行；该通知于发送之日视为已送达收件人。</p>
            <p>6.3 本协议签订地为中华人民共和国上海市浦东新区。</p>
            <p>6.4 本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。若用户和七牛云之间发生任何纠纷或争议，首先应友好协商解决；协商不成功的，双方均同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>
            <p>6.5 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
            <p>6.6 如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余部分仍应有效并且有约束力。</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
