<div class="features features-sla">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-stacked left-tab" id="about-left-bar">
          <li class="user_agreement"><%= link_to "用户服务协议", user_agreement_path -%></li>
          <li class="sla_kodo"><%= link_to "对象存储 SLA", sla_kodo_path -%></li>
          <li class="sla_fusion"><%= link_to "融合 CDN SLA", sla_fusion_path -%></li>
          <li class="sla_pili"><%= link_to "直播云 SLA", sla_pili_path -%></li>
          <li class="sla_dora"><%= link_to "官方数据处理 SLA", sla_dora_path -%></li>
        </ul>
      </div>

      <div class="col-sm-10">
        <div class="sections-wrapper">
          <section>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
