<div class="features features-sla">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-stacked left-tab" id="about-left-bar">
          <li class="li_user_agreement"><%= link_to "服务用户协议", user_agreement_path -%></li>
          <li class="li_privacy_right"><%= link_to "隐私权政策", privacy_right_path -%></li>
          <li class="li_sla_kodo"><%= link_to "对象存储 SLA", sla_kodo_path -%></li>
          <li class="li_sla_kodo_new"><%= link_to "对象存储 SLA（新）", sla_kodo_new_path -%></li>
          <li class="li_sla_fusion"><%= link_to "融合 CDN SLA", sla_fusion_path -%></li>
          <li class="li_sla_fusion_new"><%= link_to "融合 CDN SLA（新）", sla_fusion_new_path -%></li>
          <li class="li_sla_pili"><%= link_to "直播云 SLA", sla_pili_path -%></li>
          <li class="li_sla_dora"><%= link_to "智能多媒体服务 SLA", sla_dora_path -%></li>
        </ul>
      </div>

      <div class="col-sm-10">
        <div class="sections-wrapper">
          <span class="action" id="<%= action_name -%>" style="display: none;"></span>
          <section class="user_agreement">
            <div class="agreement-details">
              <h2>七牛云服务用户协议</h2>
              <p class="condense">本协议是上海七牛信息技术有限公司（以下称“七牛云”）与用户（以下称“您”）就您使用七牛云所提供的各项服务（以下称“七牛云服务”）等相关事宜所签订的具有法律效力的合约。您通过打印件加盖公章并寄回、或在七牛云官方网站（即 www.qiniu.com，以下称“七牛云官网”）相关版面点击确认，或以其它另行约定的方式加以确认后，即表示您与七牛云已达成约定，同意接受本协议所列全部条款内容。在签订本协议之前，请您仔细阅读本协议所列全部条款内容。如果您对本协议的条款内容有疑问，请联系七牛云商务部门垂询，七牛云将为您解释各项条款内容。如果您不同意本协议的任一条款内容，或者无法准确理解七牛云对相关条款的解释，请勿进行后续操作。您知晓进行后续操作或点击确认即视为无条件接受本协议全部条款的约束。</p>
              <ol>
                <li>
                  <h3><span>1.</span>服务内容</h3>
                </li>
                <li><span>1.1</span>
                  <p>本协议中“服务”指：七牛云向您提供七牛云官网上所展示的对象存储、融合 CDN、直播云、数据处理等七牛云服务以及相关的技术支持服务和网络支持服务。</p>
                </li>
                <li><span>1.2</span>
                  <p>七牛云提供的服务必须符合本协议的说明与约定。未尽事宜，由双方另行签订《七牛云服务合同》约定，其所列条款内容将成为本协议不可分割的部分。如《七牛云服务合同》所列条款内容与本协议所列条款内容有不一致之处，以《七牛云服务合同》为准。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>2.</span>服务费用</h3>
                </li>
                <li><span>2.1</span>
                  <p>服务费用将根据七牛云官网上现时有效的价格表计算并在订购版面列明，您需在约定的支付期限内通过约定的支付手段支付相应服务费用。</p>
                </li>
                <li><span>2.2</span>
                  <p>在您未按照约定支付全部服务费用之前，七牛云将保留不向您提供技术支持和/或服务，以及终止技术支持和/或服务的权利。</p>
                </li>
                <li><span>2.3</span>
                  <p>您完全理解七牛云服务价格体系中所有的赠送服务项目或活动均为七牛云服务在正常服务价格之外的一次性特别优惠，优惠内容不包括赠送服务项目的修改、更新及维护费用，同时赠送服务项目不可折价冲抵服务费用。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>3.</span>权利义务</h3>
                </li>
                <li>
                  <h4><span>3.1</span>您的权利、义务</h4>
                </li>
                <li><span>3.1.1</span>
                  <p>您同意遵守本协议以及七牛云官网服务展示版面所列的相关管理规范及流程。您已知晓上述协议及规范等的内容可能会不时变更。如本协议的任何条款内容发生变动，七牛云将提前在七牛云官网适当版面公告并提示您查看修改内容。如您不同意七牛云对本协议相关条款内容所做修改，您有权停止使用七牛云所提供的服务。此种情况下，七牛云将与您进行服务费用结算（如有），并向您提供相关业务数据的下载备份服务。如您继续使用七牛云服务，则视为您接受七牛云对本协议相关条款内容所做的修改。</p>
                </li>
                <li><span>3.1.2</span>
                  <p>您需按照七牛云官网相关版面提示及本协议的约定支付相应服务费用。</p>
                </li>
                <li><span>3.1.3</span>
                  <p>您承诺：</p>
                </li>
                <li><span class="exspan">3.1.3.1</span>
                  <p class="exp">如果您利用七牛云提供的服务开展的经营活动需要获得国家有关部门的许可或批准的，必须提前获得相关许可或批准，包括但不限于以下内容： 如果您的网站使用七牛云服务，必须保证您的网站已获得国家有关部门的许可或批准； 如您网站提供非经营性互联网信息服务的，必须提前办理非经营性网站备案，并保证已提交的所有备案信息真实有效，在备案信息发生变化时及时在备案系统中变更备案信息； 如您网站提供经营性互联网信息服务的，还必须提前自行向当地通信管理部门申请并获取经营性网站许可证； 如您网站提供BBS等电子公告服务的，必须根据相关法规政策要求备案或获得相应批准； 如您经营互联网游戏网站的，您应依法申请获得网络文化经营许可证等； 如您从事新闻、出版、教育、医疗保健、药品和医疗器械等互联网信息服务，依照法律、行政法规以及国家有关规定须经有关主管部门审核同意的，您应在申请经营许可或者履行备案手续前，依法经有关主管部门审核同意；</p>
                </li>
                <li><span class="exspan">3.1.3.2</span>
                  <p class="exp">除七牛云明示许可外，不得修改、翻译、改编、出租、传播或转让七牛云提供的软件及授权信息，不得采用逆向工程、反编译或其它手段试图获取七牛云提供的软件的源代码；</p>
                </li>
                <li><span class="exspan">3.1.3.3</span>
                  <p class="exp">如七牛云的服务涉及第三方软件之许可使用的，您同意遵守相关的许可协议的约束；</p>
                </li>
                <li><span class="exspan">3.1.3.4</span>
                  <p class="exp">不散布电子邮件广告、垃圾邮件（SPAM），不利用七牛云提供的服务散发大量不受欢迎的或者未经请求的电子邮件、电子广告或包含反动、色情等有害信息的电子邮件；</p>
                </li>
                <li><span class="exspan">3.1.3.5</span>
                  <p class="exp">不利用七牛云提供的资源和服务上传（UPLOAD）、下载（DOWNLOAD）、储存、发布如下信息或者内容，不为他人发布该等信息提供任何便利（包括但不限于设置 URL、BANNER 链接等）:</p>
                </li>
                <li><span class="exspan">3.1.3.5.1</span>
                  <p class="exp">违反国家规定的政治宣传和 / 或新闻信息；</p>
                </li>
                <li><span class="exspan">3.1.3.5.2</span>
                  <p class="exp">涉及国家秘密和 / 或安全的信息；</p>
                </li>
                <li><span class="exspan">3.1.3.5.3</span>
                  <p class="exp">封建迷信和 / 或淫秽、色情、下流的信息或教唆犯罪的信息；</p>
                </li>
                <li><span class="exspan">3.1.3.5.4</span>
                  <p class="exp">博彩有奖、赌博游戏、“私服”、“外挂” 等非法互联网出版活动；</p>
                </li>
                <li><span class="exspan">3.1.3.5.5</span>
                  <p class="exp">违反国家民族和宗教政策的信息；</p>
                </li>
                <li><span class="exspan">3.1.3.5.6</span>
                  <p class="exp">防碍互联网运行安全的信息；</p>
                </li>
                <li><span class="exspan">3.1.3.5.7</span>
                  <p class="exp">侵害他人合法权益的信息和 / 或其他有损于社会秩序、社会治安、公共道德的信息或内容；</p>
                </li>
                <li><span class="exspan">3.1.3.5.8</span>
                  <p class="exp">其他违反法律法规、部门规章或国家政策的内容。</p>
                </li>
                <li><span class="exspan">3.1.3.6</span>
                  <p class="exp">不建立或利用有关设备，配置运行与所购服务无关的程序或进程，导致大量占用七牛云系统中各种设备的CPU、内存、磁盘或者网络带宽资源，给七牛云系统或者使用七牛云服务的其他用户的网络、服务器（包括但不限于本地、外地和国际的网络、服务器等）、产品或应用等带来严重的负荷，影响七牛云系统与国际互联网或者特定网络、服务器及七牛云系统内部的通畅联系，或者导致七牛云产品与服务或使用七牛云服务的其他用户网站所在的服务器宕机、死机，或者用户基于七牛云服务的产品或应用不可访问等；</p>
                </li>
                <li><span class="exspan">3.1.3.7</span>
                  <p class="exp">不进行任何危害或试图危害网络安全的行为（包括但不限于钓鱼、非法入侵、网络诈骗，网站或空间中含有或涉嫌散播病毒、木马、恶意代码，以及通过虚拟主机对其他网站、主机进行涉嫌攻击行为如扫描、嗅探、ARP 欺骗、DDoS 等）；</p>
                </li>
                <li><span class="exspan">3.1.3.8</span>
                  <p class="exp">不进行任何改变或试图改变七牛云提供的系统配置或破坏系统安全的行为；</p>
                </li>
                <li><span class="exspan">3.1.3.9</span>
                  <p class="exp">不从事其他违法、违规或违反七牛云服务协议的行为。</p>
                </li>
                <li><span class="exspan">3.1.3.10</span>
                  <p class="exp">如七牛云发现您违反上述条款的约定，有权根据情况采取相应的处理措施，包括但不限于立即终止服务或删除相应数据、信息等。</p>
                </li>
                <li><span>3.1.4</span>
                  <p>您对自己行为（如自行安装的软件和进行的操作）所引起的结果承担全部责任。</p>
                </li>
                <li><span>3.1.5</span>
                  <p>您对自己存放在七牛云系统中的数据，以及登录和使用七牛云各类产品与服务的口令或密码的完整性和保密性负责。因您维护不当或保密不当致使上述数据、口令、密码等丢失或泄漏所引起的一切损失和后果均由您自行承担。</p>
                </li>
                <li><span>3.1.6</span>
                  <p>您应向七牛云提交执行本协议的责任人，以及网站、网络各类产品与服务的联络人员名单。如以上人员发生变动，您须自行更新变动后的信息并及时通知七牛云。因您提供的联络人信息不真实、不准确、不完整，以及因以上人员的行为或不作为而产生的一切后果，均由您自行承担。</p>
                </li>
                <li><span>3.1.7</span>
                  <p>您须依照《互联网信息服务管理办法》、《信息网络传播权保护条例》、《互联网直播服务管理规定》等法律法规的规定保留自己网站的访问日志记录，包括发布的信息内容及其发布时间、互联网地址（IP）、域名等，国家有关机关依法查询时应配合提供。您应自行承担未按规定保留相关记录而引起的全部法律责任。</p>
                </li>
                <li><span>3.1.8</span>
                  <p>您了解七牛云无法保证其所提供的服务毫无瑕疵（如七牛云安全产品并不能保证您的硬件或软件的绝对安全），同时七牛云承诺不断提升服务质量与服务水平。所以您同意：即使七牛云提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为七牛云违约。您同意和七牛云一同合作解决上述瑕疵问题。</p>
                </li>
                <li><span>3.1.9</span>
                  <p>数据备份系您的义务和责任，七牛云系统具有数据备份功能不意味着数据备份是七牛云的义务。七牛云不保证完全备份用户数据，亦不对用户数据备份工作或结果承担任何责任。</p>
                </li>
                <li>
                  <h4><span>3.2</span>七牛云的权利、义务</h4>
                </li>
                <li><span>3.2.1</span>
                  <p>七牛云应按照协议约定提供服务。</p>
                </li>
                <li><span>3.2.2</span>
                  <p>服务期限内，七牛云将为您提供如下客户服务：</p>
                </li>
                <li><span class="exspan">3.2.2.1</span>
                  <p class="exp">七牛云为付费用户提供 7*24 售后故障报修服务，为付费用户提供有效联络方式，保证付费用户能够及时联系到故障报修联络人。故障报修联络人在确认故障现象后及时修复和反馈；</p>
                </li>
                <li><span class="exspan">3.2.2.2</span>
                  <p class="exp">七牛云提供 7*24 小时的在线工单服务系统，解答用户在使用服务过程中产生的问题。</p>
                </li>
                <li><span>3.2.3</span>
                  <p>七牛云将消除您非人为操作所出现的故障，但因您原因和 / 或不可抗力以及非七牛云控制范围之内的原因所导致的故障除外。</p>
                </li>
                <li><span>3.2.4</span>
                  <p>七牛云应严格遵守保密义务。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>4.</span>用户数据的保存、销毁与下载</h3>
                </li>
                <li><span>4.1</span>
                  <p>为服务您的目的，七牛云可能通过使用您数据的方式，向您提供服务，包括但不限于向您发出产品和服务信息。</p>
                </li>
                <li><span>4.2</span>
                  <p>您的用户数据将在下述情况下部分或全部被披露：</p>
                </li>
                <li><span>4.2.1</span>
                  <p>经您同意，向第三方披露；</p>
                </li>
                <li><span>4.2.2</span>
                  <p>根据法律法规的有关规定，或者应行政或司法机构的合法要求，向第三方或者行政、司法机构披露；</p>
                </li>
                <li><span>4.2.3</span>
                  <p>如您的经营活动出现违反中国有关法律法规的情况，需要向第三方披露；</p>
                </li>
                <li><span>4.2.4</span>
                  <p>为提供您所要求的软件或服务，而必须和第三方共用您的数据。</p>
                </li>
                <li><span>4.3</span>
                  <p>除法定及七牛云和您另行约定外，自本协议执行期满或因任何原因导致本协议提前终止之日起的 30 个自然日内，七牛云将继续存储您的数据，逾期将不再保留您数据，您需自行承担其数据被销毁后引发的一切后果。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>5.</span>知识产权</h3>
                </li>
                <li><span>5.1</span>
                  <p>您应保证提交七牛云的素材、对七牛云服务的使用及使用七牛云服务所产生的成果等未侵犯任何第三方的合法权益。如有任何第三方基于侵犯其合法权益或因您违反中国法律法规或其他适用的法律等原因而向七牛云提起索赔、诉讼或可能向七牛云提起诉讼, 则您应使七牛云完全免责，并应赔偿七牛云因此所遭受的全部损失。</p>
                </li>
                <li><span>5.2</span>
                  <p>如果有任何第三方对您使用七牛云服务及其相关素材的知识产权归属提出质疑或投诉，您有责任出具相关知识产权证明材料，并配合七牛云处理相关投诉工作。</p>
                </li>
                <li><span>5.3</span>
                  <p>您承认七牛云向您提供的任何资料、技术或技术支持、软件、服务等的知识产权均属于七牛云或第三方所有。除七牛云或第三方明示同意外，您无权复制、传播、转让、许可或提供他人使用上述资源，否则必须承担相应的责任。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>6.</span>保密条款</h3>
                </li>
                <li><span>6.1</span>
                  <p>保密信息指由一方向另一方披露的所有技术及非技术信息(包括但不限于产品资料，产品计划，价格，财务及营销规划，业务战略，客户信息，客户数据，研发，软件硬件，API 应用数据接口，技术说明，设计，特殊公式，特殊算法等)。</p>
                </li>
                <li><span>6.2</span>
                  <p>本协议任何一方同意对获悉的对方之上述保密信息予以保密，并严格限制接触上述保密信息的员工遵守本协议之保密义务。除非国家机关依法强制要求或上述保密信息已经进入公有领域外，接受保密信息的一方不得对外披露。</p>
                </li>
                <li><span>6.3</span>
                  <p>本协议双方明确认可各自用户信息和业务数据等是各自的重要资产及重点保密信息。本协议双方同意尽最大的努力保护上述保密信息等不被披露。一旦发现有上述保密信息泄露事件，双方应合作采取一切合理措施避免或者减轻损害后果的产生，并且泄露方应承担由此给保密材料所有方造成的损失。</p>
                </li>
                <li><span>6.4</span>
                  <p>本条款不因本协议的终止而失效。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>7.</span>期限与终止</h3>
                </li>
                <li><span>7.1</span>
                  <p>服务有效期自七牛云收到您支付七牛云服务款项之日起计算，并以款项数额及现时有效的七牛云服务价格体系为依据确认相应服务期限。</p>
                </li>
                <li><span>7.2</span>
                  <p>自服务到期日起，该服务所占用的存储空间资源仍会继续按日计费。</p>
                </li>
                <li><span>7.2.1</span>
                  <p>您的账户余额小于当前消费金额时，七牛云系统将自动对账户执行冻结操作。详细说明请参见《欠费和冻结问题》：<a href="https://support.qiniu.com/question" target="_blank" class="more">https://support.qiniu.com/question；</a></p>
                </li>
                <li><span>7.2.2</span>
                  <p>您必须在账号冻结后的 30 个自然日内及时解除账户冻结状态，否则七牛云将视为您主动放弃七牛云服务，本协议将终止，存储空间将被回收，存储空间内的数据会被删除清零，且不可恢复。如果在冻结起的 30 个自然日内，您成功解除账户冻结状态，则七牛云服务及数据可以继续正常使用。其中，将以您支付的款项（扣减欠费部分后）为依据确认新的服务期限。</p>
                </li>
                <li><span>7.3</span>
                  <p>发生下列情形，服务期限提前终止：</p>
                </li>
                <li><span>7.3.1</span>
                  <p>双方协商一致提前终止的；</p>
                </li>
                <li><span>7.3.2</span>
                  <p>您严重违反本协议（包括但不限于 1. 您未按照协议约定履行付款义务，及 / 或 2. 您严重违反法律法规的强制性规定等），七牛云有权提前终止服务，同时不退还您已经支付的费用；</p>
                </li>
                <li><span>7.3.3</span>
                  <p>您理解并充分认可，虽然七牛云已经建立（并将根据技术的发展不断完善）必要的技术措施来防御包括计算机病毒、网络入侵和攻击破坏（包括但不限于DDoS）等危害网络安全事项或行为（以下统称该等行为），但鉴于网络安全技术的局限性、相对性以及该等行为的不可预见性，因此如因您网站遭遇该等行为而给七牛云或者七牛云的其他用户的网络或服务器（包括但不限于本地及外地和国际的网络、服务器等）带来危害，或影响七牛云与国际互联网或者七牛云与特定网络、服务器及七牛云内部的通畅联系，七牛云可决定暂停或终止服务。</p>
                </li>
                <li><span>7.3.4</span>
                  <p>七牛云可提前 30 天在七牛云官网上通告、给您发网站内通知以及邮件通知等方式终止本协议。届时七牛云将把您已支付但未消费的款项退还您指定的银行账户或其它可收款账户中。</p>
                </li>
                <li><span>7.4</span>
                  <p>当您因欠费而被终止服务后，您仍应将欠缴的费用付清。否则，七牛云将保留按照您未付费用的万分之五的标准，按日向您收取滞纳金的权利。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>8.</span>违约责任</h3>
                </li>
                <li><span>8.1</span>
                  <p>本协议任何一方违约均须依法承担违约责任。</p>
                </li>
                <li><span>8.2</span>
                  <p>如果因七牛云原因造成您不能正常使用七牛云服务的，七牛云以小时为单位向您赔偿损失，即连续达 1 小时不能正常提供服务的，延长一小时的服务期（以此类推）。如果因七牛云原因造成您连续 72 小时不能正常使用服务的，或因七牛云硬件故障而给您造成损失（非因七牛云过错造成的故障除外），您可以终止接受服务并可以要求赔偿损失，但非七牛云控制之内的原因引起的除外。</p>
                </li>
                <li><span>8.3</span>
                  <p>在任何情况下，七牛云均不对任何间接性、后果性、惩戒性、偶然性、特殊性的损害，包括您使用七牛云服务而遭受的利润损失承担责任（即使您已被告知该等损失的可能性）。</p>
                </li>
                <li><span>8.4</span>
                  <p>在任何情况下，七牛云对本协议所承担的违约赔偿责任总额不超过向您收取的违约所涉服务之年服务费总额的 25%。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>9.</span>免责条款</h3>
                </li>
                <li><span>9.1</span>
                  <p>不可抗力</p>
                </li>
                <li><span>9.1.1</span>
                  <p>不可抗力系指不能预见、不能避免或不能克服的客观事件，包括但不限于自然灾害如洪水、火灾、爆炸、雷电、地震、风暴、海啸等自然灾害，社会事件比如罢工、封锁、劳资纠纷、战争、动乱、政府禁令或区域性的紧急状态等。</p>
                </li>
                <li><span>9.1.2</span>
                  <p>因不可抗力而全部或部分不能履行本协议或迟延履行本协议时，发生不可抗力的一方在不可抗力的影响范围内得以免除责任，但该方应在上述情况发生后应及时书面通知他方不可抗力发生的情况并提供有效证明。各方按不可抗力对本协议的影响程度，协商是否终止或修改本协议，以及是否免除或部分免除受不可抗力影响一方在本协议项下的义务。</p>
                </li>
                <li><span>9.1.3</span>
                  <p>遭受不可抗力的一方应采取一切必要措施减少损失，并在事件消除后立即恢复本协议的履行，除非此等履行已不可能或不必要。</p>
                </li>
                <li><span>9.2</span>
                  <p>责任限制</p>
                </li>
                <li><span>9.2.1</span>
                  <p>您确认因以下情形造成七牛云服务中断或其他影响，不属于七牛云违约，七牛云无须承担任何责任：</p>
                </li>
                <li><span class="exspan">9.2.1.1</span>
                  <p class="exp">因您的源站点故障或您自行进行平台设置调整等您的原因所造成的七牛云服务不可用；</p>
                </li>
                <li><span class="exspan">9.2.1.2</span>
                  <p class="exp">因按您要求的配置进行调试，如配置不合理造成的七牛云服务不可用；</p>
                </li>
                <li><span class="exspan">9.2.1.3</span>
                  <p class="exp">七牛云或者电信部门在进行七牛云所有IDC配置、网络维护时需要短时间中断服务，或者由于互联网上通路的阻塞造成您IDC访问速度下降或中断，您均认同是正常情况，不属于七牛云违约；</p>
                </li>
                <li><span class="exspan">9.2.1.4</span>
                  <p class="exp">鉴于计算机及互联网的特殊性，因黑客、病毒、电信部门技术调整等引致的服务中断或其他影响服务与安全等问题，您认同不属于七牛云违约；</p>
                </li>
                <li><span class="exspan">9.2.1.5</span>
                  <p class="exp">因不可抗力造成的七牛云服务不可用。</p>
                </li>
                <li><span>9.2.2</span>
                  <p>由于您违反国家法律规定，七牛云有权随时根据国家相关管理机构的要求，或其他第三方权利主体出具的具备法律效力的公函证明、司法文件等所载明的强制性责任，随时暂停或终止向您提供服务，您同意由此引起的一切后果和责任与七牛云无关。对于因此造成您损失的，七牛云无须承担任何责任。</p>
                </li>
                <li><span>9.2.3</span>
                  <p>您确认，七牛云服务过程中仅对数据进行经授权的分发、传输、缓存、参数处理等工作，而不会私自对数据内容本身进行加工。如您在使用七牛云提供的服务过程中，发生侵权或违反国家法律、法规或公共道德的行为，您认可此与七牛云无关，七牛云对此不承担任何责任。基于云加速的技术特点，七牛云在向您源站点自动获取或由您主动推送的加速内容，您应自行采取备份措施，即您应对原始数据进行妥善备份。对于您源站点的原始数据损失，七牛云不承担任何责任。</p>
                </li>
                <li><span>9.2.4</span>
                  <p>在履行本协议时，双方仅对协议相对方负责而无需对双方之外的第三方承担责任或履行义务。七牛云对因第三方的作为或不作为而给您造成的损失不负责任，对通过您间接接受七牛云服务的第三方的损失不承担任何责任。</p>
                </li>
                <li><span>9.3</span>
                  <p>免责条款在本协议终止后仍然有效。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>10.</span>法律适用及争议解决</h3>
                </li>
                <li><span>10.1</span>
                  <p>本协议的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律、法规、电信管理部门的规定和计算机行业的规范。</p>
                </li>
                <li><span>10.2</span>
                  <p>在执行本协议过程中如发生纠纷，双方应友好协商解决。协商不成时，任何一方可直接向上海市浦东新区人民法院提起诉讼。</p>
                </li>
                </ol>
                <ol class="last-ol">
                <li>
                  <h3><span>11.</span>附则</h3>
                </li>
                <li><span>11.1</span>
                  <p>本协议附件（如有）、七牛云官网相关版面上的服务说明、价格说明和您确认同意的订购版面等是本协议不可分割的一部分，与本协议具有同等法律效力。如果有任何前述约定与本协议有不一致之处，以本协议附件（如有）、七牛云官网在相关版面上的服务说明、价格说明和您确认同意的订购版面为准。此外，在上述文件中，本协议附件（如有）具有最高效力。</p>
                </li>
                <li class="last-li"><span>11.2</span>
                  <p>本协议中在性质上或其他方面理应地在本协议终止时继续存在的条款，应视为“继续存在的条款”，这些条款包括但不局限于保密、知识产权、法律适用和争议解决条款。</p>
                </li>
              </ol>
            </div>
          </section>

          <section class="sla_kodo">
            <div class="agreement-details">
              <h2 style="margin-bottom: 38px;">七牛云对象存储服务等级协议（对象存储 SLA）</h2>
              <h3>1. 服务内容</h3>
              <p>七牛云对象存储服务，是七牛云自主研发的分布式对象存储服务，可以为用户提供高可靠、强安全、低成本、可扩展的存储服务，满足各类存储需求。用户只需按实际使用的存储量付费。</p>

              <h3>2. 定义解释</h3>
              <p>2.1 用户指使用七牛云提供的云服务或产品的个人、法人或其他组织。</p>
              <p>2.2 服务指七牛对象存储根据本协议向开发者提供的付费服务（未付费情况，不适用本协议）。</p>
              <p>2.3 对象存储服务是一种基于 HTTP 协议网络接口上传、下载数据资源，按需扩容的非结构化数据存储服务。</p>
              <h3>3. 指标项</h3>
              <p><strong>3.1 数据可靠性</strong></p>
              <p>七牛云对象存储系统的数据可靠性不低于 99.99999999%，即用户保存在七牛云对象存储系统中的每一百亿个文件中每月最多只有一个文件有丢失的可能性。</p>
              <p><strong>3.2 数据可销毁性</strong></p>
              <p>在用户主动删除数据或用户服务期满后需要销毁数据的，七牛云对象存储将自动清除对应物理服务器上磁盘和内存数据，使得数据无法恢复。</p>
              <p>七牛云对象存储服务所用的设备在报废弃置、委外维修或转售前，七牛云对象存储将对其物理磁盘采用每扇区重写 3 次工作，每次销毁操作均有二位同事进行，一位操作，一位监督，确保操作的完整性。</p>
              <p><strong>3.3 数据可迁移性</strong></p>
              <p>七牛云对象存储的对象是用户文件，文件类型维持原有格式不变，即支持所有数据格式的迁入迁出。用户使用七牛云对象存储时，可随时访问、下载其文件，并根据需要自行保存或迁出。</p>
              <p><strong>3.4 数据私密性</strong></p>
              <p>用户在七牛云对象存储创建的数据处理作业等资源，在未经用户合法授权的情况下，其他用户无法对其配置进行更改。七牛云对象存储为用户分配 Access Key ID/Secret Access Key 安全加密对，从七牛云对象存储访问接口上进行权限控制和隔离，保障用户数据的私密性。</p>
              <p><strong>3.5 数据知情权</strong></p>
              <p>用户对于数据、备份数据所在数据中心地理位置、数据备份数量，具有知情权。用户对数据的访问数量，流量，以及数据量的大小具有知情权。</p>
              <p><strong>3.6 服务可审查性</strong></p>
              <p>七牛云对象存储可以查看用户的上传下载以及文件操作日志，以进行计费的统计以及客户错误的排查。七牛云对象存储会记录运维及技术支持人员的操作日志，以供审查。</p>
              <p>依据现行法律法规或根据政府监管部门监管、安全合规、审计或取证调查等原因的需要，在符合流程和手续完备的情况下，七牛云对象存储可以提供用户所使用的服务的相关信息，包括关键组件的运行日志、运维人员的操作记录、用户操作记录等信息。</p>
              <p><strong>3.7 服务功能</strong></p>
              <p>七牛云对象存储服务的所有具体功能请详见七牛云对象存储在官网上提供的详细说明文档、技术文档及帮助文档。七牛云对象存储所有可能影响用户的功能性变更都将向用户公告。七牛云对象存储向用户提供七牛云官网上所展示的对象存储服务、相关的技术支持服务以及网络支持服务。</p>
              <p><strong>3.8 服务可用性</strong></p>
              <p>七牛云对象存储服务可用性不低于 99.8%，不可用时间以单个服务单元计算。七牛云所提供的服务在连续的 5 分钟或更长时间不可使用方计为不可用时间，不可使用的服务时间低于 5 分钟的，不计入不可用时间。可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月则按一个月计。</p>
              <p><strong>3.9 服务资源调配能力</strong></p>
              <p>七牛云对象存储为用户提供文件的存储服务，并支持用户通过网络进行文件的上传和下载。七牛云对象存储对用户的存储容量不设置上限，根据需要，存储容量将实时动态扩展,无需用户干预。七牛云对象存储将以不影响客户使用的前提下，扩展和缩减的维度包括存储容量的大小（TB），流量入口出口的带宽（b/s）, 全国节点个数。</p>
              <p><strong>3.10 故障恢复能力及客服保证</strong></p>
              <p>七牛云对象存储为用户提供全天候的运行维护，并以在线自助工单系统、客服电话报障等方式提供技术支持。七牛云具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制。</p>
              <p>客服咨询电话：400-808-9176；服务时间：7*24 小时。</p>
              <p><strong>3.11 网络接入性能</strong></p>
              <p>七牛云对象存储服务七牛云对象存储对用户不限制公网出口带宽。七牛云对象存储采用多线接入，保障用户的网络接入质量。用户的原始计费日志默认最少保留 2 年备查。</p>
              <p><strong>3.12 服务计量准确性</strong></p>
              <p>七牛云对象存储服务具备准确、透明的计量计费系统。七牛云对象存储根据用户的实际使用量据实结算，价格及计费模式见七牛云官网。</p>

              <h3>4. 服务赔偿</h3>
              <p><strong>4.1 赔偿范围</strong></p>
              <p>因七牛云对象存储设备故障、设计缺陷或操作不当导致用户所购买的对象存储服务无法正常使用，七牛云对象存储将对不可用时间进行赔偿，但不包括以下原因所导致的服务不可用时间：</p>
              <p>4.1.1 七牛云预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；</p>
              <p>4.1.2 任何七牛云所属设备以外的网络、设备故障或配置调整引起的;</p>
              <p>4.1.3 用户的应用程序或数据信息受到黑客攻击而引起的；</p>
              <p>4.1.4 用户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；</p>
              <p>4.1.5 用户自行升级操作系统所引起的；</p>
              <p>4.1.6 用户的应用程序或安装活动所引起的；</p>
              <p>4.1.7 用户的疏忽或由用户授权的操作所引起的；</p>
              <p>4.1.8 不可抗力以及意外事件引起的；</p>
              <p>4.1.9 其他非七牛云原因所造成的不可用。</p>
              <p><strong>4.2 错误率</strong></p>
              <p><span>4.2.1 </span>错误是指：</p>
              <p><span>4.2.1.1 </span>使用七牛云服务，在每个 5 分钟内容的所有请求数中，由七牛云服务返回的内部错误（错误状态码 5XX）;</p>
              <p><span>4.2.1.2 </span>当出现服务不可用且无失败请求返回的情况，通过计算前 7 天用户单位时间请求数的平均值，再用该平均值乘以服务不可用时间，从而计算出该情况下的失败请求数。</p>
              <p><span>4.2.2 </span>错误率的计算方法</p>
              <p>在每个月的月初，统计上述 A、B 两种情况的失败请求数, 月总请求次数低于 10 万的用户不做统计； 通过计算上述两种情况下的错误之和占总请求数（正常请求数 + 错误 A + 错误 B）的比例，从而得出上个月该用户服务的可用性，可用性应不低于 99.8%。</p>
              <p><strong>4.3 赔偿方案</strong></p>
              <p>赔偿范围: 根据 4.2.1 界定的错误范围，七牛云将进行赔偿。</p>
              <p>赔偿方案: 七牛云将按照服务不可用时间的 100 倍赔偿，即赔付的金额 ＝ 发生故障前一个自然日的故障时间的平均每 5 分钟费用 x 服务不可用时间 (每五分钟为一个单位) x 100 倍。</p>
              <p><span>4.3.1 </span>特殊说明：</p>
              <p><span>4.3.1.1 </span>赔偿只针对已经使用七牛云对象存储服务并且支付费用的用户；以七牛云抵用券形式赔偿。</p>
              <p><span>4.3.1.2 </span>服务不可用时间＝故障开始时间 - 故障结束时间，不可用时间按照每五分钟为单位计算，不足五分钟的以五分钟计算。</p>
              <p><span>4.3.1.3 </span>如果用户没有使用到 24 小时，按照实际使用时长计算平均每五分钟的费用。</p>

              <h3>5. 免责声明</h3>
              <p>详见《七牛云服务用户协议》中"免责条款"部分的相关内容。</p>

              <h3>6. 其他</h3>
              <p>6.1 本协议一经公布立即生效，七牛云有权随时对协议内容进行修改。如用户不同意七牛云对本协议相关内容所做的修改，用户有权停止使用七牛云数据处理服务。若用户继续使用七牛云数据处理服务，则视为用户接受七牛云对本协议相关内容所做的修改。</p>
              <p>6.2 本协议项下七牛云对象存储服务对于用户所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他方式进行；该通知于发送之日视为已送达收件人。</p>
              <p>6.3 本协议签订地为中华人民共和国上海市浦东新区。</p>
              <p>6.4 本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。若用户和七牛云之间发生任何纠纷或争议，首先应友好协商解决；协商不成功的，双方均同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>
              <p>6.5 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
              <p>6.6 如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余部分仍应有效并且有约束力。</p>
            </div>
          </section>

          <section class="sla_kodo_new">
            <div class="agreement-details">
              <h2 style="margin-bottom: 38px;">七牛云对象存储服务等级协议（SLA）</h2>
              <p class="condense content-bold content-italic">本协议自 2019 年 03 月 28 日起首次公示，2019 年 04 月 28 日起生效</p>
              <p class="condense content-bold content-underline">为使用七牛云对象存储服务（以下简称“本服务”），您应当阅读并遵守《七牛云对象存储服务等级协议》（以下简称“本协议”或“SLA”），以及<a href="/user-agreement" target="_blank" class="more">《七牛云服务用户协议》</a>和<a href="/privacy-right" target="_blank" class="more">《七牛云隐私权政策》</a>。本协议包含本服务的术语和定义、服务可用性指标、赔偿方案、免责条款等相关内容。请您务必审慎阅读、充分理解各条款内容，特别是限制、免责条款或者其他涉及您重大权益的条款，这类条款可能会以加粗或/和加下划线等形式提示您重点注意。</p>
              <p class="condense content-bold content-underline">除非您已充分阅读、完全理解并接受本协议所有条款，否则，请您不要购买本服务。您单击“同意”、“下一步”或您的购买、使用等行为或者您以其他任何明示或者默示方式表示接受本协议的，即视为您已阅读并同意本协议的约束。本协议即在您与七牛云之间产生法律效力，成为对双方均具有约束力的法律文件。</p>
              <ol>
                <li>
                  <h3><span>1. </span>术语和定义</h3>
                </li>
                <li>
                  <p><span class="content-bold">七牛云对象存储</span>：对象存储是一种基于 HTTP 协议网络接口上传、下载和管理数据资源，按需扩容的非结构化数据存储服务。对象存储以预付费或后付费的方式提供服务。</p>
                </li>
                <li>
                  <p><span class="content-bold">服务周期</span>：服务周期是指购买本服务的服务期限所包含的自然月。如用户是 3 月 11 日开通服务，则服务周期计算到 3 月 31 日。</p>
                </li>
                <li>
                  <p><span class="content-bold">月度服务费用</span>：指客户的某一个七牛云账号在一个自然月中使用七牛云对象存储服务按地域和存储类型分别统计的服务费用。</p>
                </li>
                <li>
                  <p><span class="content-bold">有效请求</span>：七牛云对象存储服务端收到的请求视为有效请求，但不包括以下类型的请求：</p>
                </li>
                <li>
                  <p>（1）未通过身份验证和鉴权失败的请求或欠费停服状态下的请求；</p>
                </li>
                <li>
                  <p>（2）跨区域同步数据和生命周期管理等各类后端异步处理发起的所有请求；</p>
                </li>
                <li>
                  <p>（3）获取 Bucket 列表发起的所有请求；</p>
                </li>
                <li>
                  <p>（4）查询统计数据的请求；</p>
                </li>
                <li>
                  <p>（5）客户的应用程序受到黑客攻击而发起的请求。</p>
                </li>
                <li>
                  <p><span class="content-bold">失败请求</span>：七牛云对象存储服务将 HTTP 状态码为 5XX 的请求和因七牛对象存储服务故障导致的用户正常请求未能到达服务端的请求均视为失败请求，<span class="content-bold">但不包括以下类型的请求</span>：</p>
                </li>
                <li>
                  <p>（1）因采用不适当的访问模式导致请求超出对象存储服务的规定配额，造成请求被对象存储限制的错误请求 (HTTP 状态码 573)；</p>
                </li>
                <li>
                  <p>（2）跨区域同步数据和生命周期管理等各类后端异步处理发起的失败请求；</p>
                </li>
                <li>
                  <p>（3）获取 Bucket 列表产生的失败请求；</p>
                </li>
                <li>
                  <p>（4）非七牛服务造成的慢请求或失败请求 (HTTP 状态码 579)：</p>
                </li>
                <li>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）镜像回源超时或失败的请求；</p>
                </li>
                <li>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2）Callback 超时或失败的请求；</p>
                </li>
                <li>
                  <p>（5）查询统计数据的失败请求；</p>
                </li>
                <li>
                  <p>（6）由七牛云对象存储服务发起的合理升级、变更、停机而导致的错误请求或服务不可用情况；</p>
                </li>
                <li>
                  <p>（7）客户的应用程序受到黑客攻击而导致被七牛云存储服务限制的请求。</p>
                </li>
                <li>
                  <p><span class="content-bold">每 5 分钟错误率</span>：根据地域和存储类型分别统计的失败请求占 5 分钟内客户有效请求数的比例，同一账号下相同地域、相同存储类型的多个 Bucket，将合并计算错误率。具体计算方式如下：</p>
                </li>
                <li>
                  <p>每 5 分钟错误率 = (每 5 分钟失败请求数 / 每 5 分钟有效请求数) × 100%</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>2. </span>服务可用性</h3>
                </li>
                <li>
                  <p><span class="content-bold">2.1 服务可用性计算</span></p>
                </li>
                <li>
                  <p>七牛云存对象存储根据不同地域和存储类型统计对应的服务可用性，同一账号下相同地域、相同存储类型的多个 Bucket，将合并计算服务可用性。服务可用性的具体计算方式如下：</p>
                </li>
                <li>
                  <p>服务可用性 = (1 - (服务周期内的每 5 分钟错误率之和 / 服务周期内的 5 分钟总个数)) × 100%</p>
                </li>
                <li>
                  <p>注：服务周期内的 5 分钟总个数 = 12 × 24 × 该服务周期的天数</p>
                </li>
                <li>
                  <p><span class="content-bold">2.2 服务可用性承诺</span></p>
                </li>
                <li>
                  <p>客户可以通过七牛云对象存储提供的 API、SDK、控制台或工具对数据进行上传、下载和管理。针对不同的存储类型，七牛云对象存储分别承诺服务可用性如下：</p>
                </li>
                <li>
                  <table cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr>
                        <th width="120" class="border-right">存储类型</th>
                        <th class="th-init border-right border-bottom">服务可用性标准</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">标准存储</td>
                        <td class="border-right border-bottom">99.9%</td>
                      </tr>
                      <tr>
                        <td class="border-right">低频存储</td>
                        <td class="border-right">99.0%</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <p><span class="content-bold content-underline">如七牛云对象存储服务未达到上述服务可用性承诺，客户可依据本协议第 3 条约定获得赔偿<span></p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>3. </span>赔偿方案</h3>
                </li>
                <li>
                  <p>客户账号按地域及存储类型分别统计各服务周期内的服务可用性，如低于 2.2 承诺的可用性标准，可按照以下条款约定获得赔偿：</p>
                </li>
                <li>
                  <p><span class="content-bold">3.1 赔偿标准</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">（1）赔偿只针对已经使用七牛云对象存储服务并且正常支付费用的客户（除法律法规另有规定外，免费型服务不在赔偿范围内）；赔偿方式仅限于用于支付七牛云对象存储的抵用券，抵用券的使用遵循七牛云发布的相关规则。</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">（2）赔偿额按照服务可用性未达标的服务月度单独计算，且不超过该服务周期内该地域该存储类型所支付月度服务费用的 50%（不含抵用券、优惠券等抵扣费用）。赔偿额具体计算方式如下：</span></p>
                </li>
                <li>
                  <table cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr>
                        <th width="120" class="border-right">存储类型</th>
                        <th class="th-init border-right border-bottom">服务可用性</th>
                        <th class="th-init border-right border-bottom">赔偿抵用券金额</th>
                      </tr>
                      <tr>
                        <td rowspan="2" class="border-right border-bottom">标准存储</td>
                        <td class="border-right border-bottom light-bkcolor">低于 99.90% 但高于或等于 95%</td>
                        <td class="border-right border-bottom light-bkcolor">月度服务费用的 30%</td>
                      </tr>
                      <tr>
                        <td class="border-right border-bottom">低于 95%</td>
                        <td class="border-right border-bottom">月度服务费用的 50%</td>
                      </tr>
                      <tr>
                        <td rowspan="2" class="border-right">低频存储</td>
                        <td class="border-right border-bottom light-bkcolor">低于 99.00% 但高于或等于 95%</td>
                        <td class="border-right border-bottom light-bkcolor">月度服务费用的 30%</td>
                      </tr>
                      <tr>
                        <td class="border-right border-bottom">低于 95%</td>
                        <td class="border-right border-bottom">月度服务费用的 50%</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <p><span class="content-bold">3.2 赔偿申请时限</span></p>
                </li>
                <li>
                  <p>（1）客户可以每月<span class="content-bold">第五（5）个工作日</span>后，对上个服务周期没有达到可用性的服务，通过账户的工单系统提出赔偿申请。赔偿申请提出后七牛云会进行相应审核，对于服务周期的服务可用性计算，若双方出现争议，<span class="content-bold">双方均同意最终以七牛云的后台记录为准</span>。</p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">（2）赔偿申请必须在服务可用性未达标的服务周期结束后两（2）个月内提出。若在两（2）个月内未提出赔偿申请，或是在服务可用性未达标的服务周期结束后的两（2）个月以后才提出赔偿申请，均视为客户主动放弃要求赔偿及向七牛云主张其他权利的权利，七牛云有权不受理客户的赔偿申请，不对客户进行任何赔偿或补偿。</span></p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>4. </span>免责条款</h3>
                </li>
                <li>
                  <p>由于以下原因造成的服务不可用，相应服务不可用时间不属于服务不可用的计算范畴和七牛云的赔偿范围，七牛云无需向客户承担责任：</p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.1 七牛云预先通知客户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.2 任何七牛云所属设备以外的网络、设备或配置调整引起的故障；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.3 客户的应用程序或数据信息受到黑客攻击而引起的；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.4 客户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.5 客户自行升级操作系统所引起的；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.6 客户的应用程序或安装活动所引起的；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.7 客户的疏忽或由用户授权的操作所引起的；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.8 不可抗力以及意外事件引起的；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.9 其他非七牛云原因所造成的不可用或服务不达标；</span></p>
                </li>
                <li>
                  <p><span class="content-bold content-underline">4.10 属于相关法律法规、相关协议、相关规则或七牛云单独发布的相关规则、说明等中所述的七牛云可以免责、免除赔偿责任等的情况。</span></p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>5. </span>其他</h3>
                </li>
                <li>
                  <p><span class="content-bold">5.1</span> 七牛云有权根据变化适时或必要时对本协议条款做出修改，您可以在七牛云官网的最新版本中查阅相关协议条款。如您不同意七牛云对协议所做的修改，您有权停止使用本服务，如您继续使用本服务，则视为您接受修改后的协议。</p>
                </li>
                <li>
                  <p><span class="content-bold">5.2</span> 本协议作为<a href="/user-agreement" target="_blank" class="more more-underline">《七牛云服务用户协议》</a>的附属协议，具有与<a href="/user-agreement" target="_blank" class="more more-underline">《七牛云服务用户协议》</a>同等效力，本协议未约定事项，您需遵守<a href="/user-agreement" target="_blank" class="more more-underline">《七牛云服务用户协议》</a>的相关约定。若本协议与<a href="/user-agreement" target="_blank" class="more more-underline">《七牛云服务用户协议》</a>中的条款相冲突或不一致，则以本协议为准，但仅在该冲突或不一致范围内适用。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <p class="content-bold text-center">旧版对象存储服务等级协议（SLA）<a href="/sla-kodo" target="_blank" class="more more-underline">点击查阅</a></p>
                </li>
              </ol>
            </div>
          </section>

          <section class="sla_fusion">
            <div class="agreement-details">
              <h2>七牛云融合 CDN 服务等级协议（融合 CDN SLA）</h2>
              <ol>
                <li>
                  <h3><span>1.</span>服务内容</h3>
                </li>
                <li>
                  <p>七牛云融合 CDN（内容分发网络 Content Delivery Network）服务将源站内容分发至全国所有的节点，将用户网页 / 图片等资源自动分发到用户购买了七牛云服务的 CDN 节点中，从而缩短用户查看对象的延迟，提高用户访问网站的响应速度与网站的可用性，解决网络带宽小、用户访问量大、网点分布不均等问题。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>2.</span>定义</h3>
                </li>
                <li><span>2.1</span>
                  <p>服务指七牛云融合 CDN 根据本协议向开发者提供的付费服务（未付费情况，不适用本协议）。</p>
                </li>
                <li><span>2.2</span>
                  <p>网页 / 图片等小文件指用户使用七牛云融合 CDN 服务的域名下所有的 .html 和 .jpg 和 .gif 等网页内容的总称。</p>
                </li>
                <li><span>2.3</span>
                  <p>下载内容指用户使用七牛云融合 CDN 服务的域名下所有供用户下载的文件。</p>
                </li>
                <li><span>2.4</span>
                  <p>点播流媒体内容指目前互联网常用的流媒体格式文件。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>3.</span>指标项</h3>
                </li>
                <li>
                  <h4><span>3.1</span>服务可用性</h4>
                </li>
                <li><span>3.1.1</span>
                  <p>七牛云融合 CDN 保证用户购买的服务的“服务可用性”达到 99.9%，即每月服务不可用时间累计小于 44 分钟。服务可用性计算公式：域名服务周期内正常服务时间 / 域名服务周期内可服务总时间。</p>
                </li>
                <li><span>3.1.2</span>
                  <p>服务可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月不计算为一个服务周期。</p>
                </li>
                <li><span>3.1.3</span>
                  <p>七牛云融合 CDN 服务的不可用时间不包括日常系统维护时间、由用户原因、第三方原因或不可抗力导致的不可用时间。</p>
                </li>
                <li>
                  <h4><span>3.2</span>持久性</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 提供的是缓存服务，节点上保存的数据，按访问热度自动淘汰, 不会永久保存。</p>
                </li>
                <li>
                  <h4><span>3.3</span>私密性</h4>
                </li>
                <li>
                  <p>用户在七牛云融合 CDN 服务创建的加速域名等资源，在未经用户合法授权的情况下，其他用户无法对其配置进行更改。七牛云为用户分配最多 2 对 Access Key ID/Secret Access Key 密钥对，从七牛云服务访问接口上进行权限控制和隔离，保障用户数据的私密性。</p>
                </li>
                <li>
                  <h4><span>3.4</span>可审查性</h4>
                </li>
                <li>
                  <p>依据现行法律法规或根据政府监管部门监管、安全合规、审计或取证调查等原因的需要，在符合流程和手续完备的情况下，七牛云可以提供用户所使用的服务的相关信息。</p>
                </li>
                <li>
                  <h4><span>3.5</span>服务资源调配能力</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 为用户提供内容分发、加速服务，并支持引入安全防护功能，保障用户源站安全。用户申请使用融合 CDN 服务时，不设置带宽、存储限制，根据需要，容量将实时动态扩展。随着访问量的增长，融合 CDN 后台的带宽、存储处理能力会自动扩展，无需用户干预。</p>
                </li>
                <li>
                  <h4><span>3.6</span>故障恢复能力及客服保证</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 为用户提供全天候的运行维护，并以在线自助工单系统、客服电话报障等方式提供技术支持。七牛云具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制。</p>
                </li>
                <li>
                  <p>客服咨询电话：400-808-9176；服务时间：7*24 小时。</p>
                </li>
                <li>
                  <h4><span>3.7</span>网络接入性能</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 对用户不限制公网出口带宽，七牛云在全国部署数百个缓存节点，保障用户的网络接入质量。</p>
                </li>
                <li>
                  <h4><span>3.8</span>服务计量准确性</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 服务具备准确、透明的计量计费系统。七牛云融合 CDN 根据用户的实际使用量据实结算，价格及计费模式见七牛云官网。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>4.</span>服务赔偿</h3>
                </li>
                <li>
                  <h4><span>4.1</span>赔偿范围</h4>
                </li>
                <li>
                  <p>因七牛云设备故障、设计缺陷或操作不当导致用户所购买的融合 CDN 服务无法正常使用，七牛云将对不可用时间进行赔偿，但不包括以下原因所导致的服务不可用时间：</p>
                </li>
                <li><span>4.1.1</span>
                  <p>七牛云预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；</p>
                </li>
                <li><span>4.1.2</span>
                  <p>任何七牛云所属设备以外的网络、设备故障或配置调整引起的；</p>
                </li>
                <li><span>4.1.3</span>
                  <p>用户的应用程序或数据信息受到黑客攻击而引起的；</p>
                </li>
                <li><span>4.1.4</span>
                  <p>用户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；</p>
                </li>
                <li><span>4.1.5</span>
                  <p>用户自行升级操作系统所引起的；</p>
                </li>
                <li><span>4.1.6</span>
                  <p>用户的应用程序或安装活动所引起的；</p>
                </li>
                <li><span>4.1.7</span>
                  <p>用户的疏忽或由用户授权的操作所引起的；</p>
                </li>
                <li><span>4.1.8</span>
                  <p>不可抗力以及意外事件引起的；</p>
                </li>
                <li><span>4.1.9</span>
                  <p>其他非七牛云原因所造成的不可用。</p>
                </li>
                <li>
                  <h4><span>4.2</span>赔偿方案</h4>
                </li>
                <li>
                  <p>七牛云对用户存在故障的每个域名按不可用时间进行 10 倍赔偿，赔付金额 = 发生故障的域名故障前 24 小时平均每分钟费用 × 故障不可用时间 × 10 倍。</p>
                </li>
                <li>
                  <h5><span class="exspan">4.2.1</span>特殊说明：</h5>
                </li>
                <li><span class="exspan">4.2.1.1</span>
                  <p>赔偿只针对使用融合 CDN 服务已产生费用的用户，以代金券的形式赔偿，不折算现金返还。</p>
                </li>
                <li><span class="exspan">4.2.1.2</span>
                  <p>故障不可用时间 = 故障解决时间 - 故障开始时间，不可用时间按分钟计算。</p>
                </li>
                <li><span class="exspan">4.2.1.3</span>
                  <p>如果用户没有使用到 24 小时，按实际使用时长计算平均每分钟费用。</p>
                </li>
                <li><span class="exspan">4.2.1.4</span>
                  <p>赔偿金额不超过用户针对该故障域名历史支付的费用总额。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>5.</span>免责声明</h3>
                </li>
                <li>
                  <p>详见《七牛云服务用户协议》中"免责条款"部分的相关内容。</p>
                </li>
              </ol>
              <ol class="last-ol">
                <li>
                  <h3><span>6.</span>其他</h3>
                </li>
                <li><span>6.1</span>
                  <p>本协议一经公布立即生效，七牛云有权随时对协议内容进行修改。如用户不同意七牛云对本协议相关内容所做的修改，用户有权停止使用七牛云数据处理服务。若用户继续使用七牛云数据处理服务，则视为用户接受七牛云对本协议相关内容所做的修改。</p>
                </li>
                <li><span>6.2</span>
                  <p>本协议项下七牛云融合 CDN 服务对于用户所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他方式进行；该通知于发送之日视为已送达收件人。</p>
                </li>
                <li><span>6.3</span>
                  <p>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向上海市浦东新区人民法院提起诉讼。</p>
                </li>
                <li><span>6.4</span>
                  <p>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
                </li>
                <li class="last-li"><span>6.5</span>
                  <p>如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余部分仍应有效并且有约束力。</p>
                </li>
              </ol>
            </div>
          </section>

          <section class="sla_fusion_new">
            <div class="agreement-details">
              <h2 style="margin-bottom: 38px;">七牛云融合 CDN 服务等级协议（融合 CDN SLA）</h2>
              <p class="condense content-bold content-italic">本协议自 2019 年 04 月 18 日起首次公示，2019 年 05 月 18 日起生效</p>
              <ol>
                <li>
                  <h3><span>1. </span>服务内容</h3>
                  <p>七牛云融合 CDN（内容分发网络 Content Delivery Network）服务将源站内容分发至全国所有的节点，将用户网页 / 图片等资源自动分发到用户购买了七牛云服务的 CDN 节点中，从而缩短用户查看对象的延迟，提高用户访问网站的响应速度与网站的可用性，解决网络带宽小、用户访问量大、网点分布不均等问题。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>2. </span>定义</h3>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;服务</span>：指七牛云融合 CDN 根据本协议向开发者提供的付费服务（未付费情况，不适用本协议）。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;网页 / 图片等小文件</span>：指用户使用七牛云融合 CDN 服务的域名下所有的 .html 和 .jpg 和 .gif 等网页内容的总称。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;下载内容</span>：指用户使用七牛云 CDN 服务的域名下所有供用户下载的文件。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;点播流媒体内容</span>：指目前互联网常用的流媒体格式文件。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;服务周期</span>：以一个自然月做为一个服务周期，如果不满一个月则按一个月计算。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;服务区域</span>：中国大陆地区。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;服务周期总分钟数</span>：按照每月每周 7（七）天每天 24（二十四）小时计算。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;失败请求</span>：因 CDN 系统原因导致的域名返回的 5XX 请求和因为 CDN 服务故障导致用户正常请求未能到达 CDN 服务器端的请求视为失败请求。
                  </p>
                  <p>因 CDN 服务故障导致的用户正常请求未能到达 CDN 服务器端的失败请求，将通过故障前 7 天内用户域名的平均请求数计算。</p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;有效请求</span>：客户在七牛云服务账号下所有 CDN 的域名加速服务，在 CDN 服务器收到的请求视为有效请求。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;每 5 分钟错误率</span>：每 5 分钟错误率 =（每 5 分钟失败请求数 / 每 5 分钟有效请求总数）* 100 %。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;不可用时间</span>：CDN 在连续的 10 分钟或更长时间出现每 5 分钟错误率大于 0.05 % 的情况，方计为不可用时间。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;月度服务费用</span>：客户在一个自然月中在七牛云账号下 CDN 产品服务费用总额。
                  </p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>3. </span>指标项</h3>
                </li>
                <li>
                  <h4><span>3.1</span>服务可用性</h4>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>七牛云融合 CDN 保证用户购买的服务的"服务可用性"达到 99.9%，即每月服务不可用时间累计小于 44 分钟。
                  </p>
                  <p>服务可用性计算公式：域名服务周期内正常服务时间 / 域名服务周期内可服务总时间。</p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>服务可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月不计算为一个服务周期。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>统计对象为某一七牛云账户下的所有开启 CDN 服务的域名（月请求量小于 100 万的域名除外）。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>七牛云融合 CDN 服务的不可用时间不包括日常系统维护时间、由用户原因、第三方原因或不可抗力导致的不可用时间。
                  </p>
                </li>
                <li>
                  <h4><span>3.2</span>持久性</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 提供的是缓存服务，节点上保存的数据，按访问热度自动淘汰, 不会永久保存。</p>
                </li>
                <li>
                  <h4><span>3.3</span>私密性</h4>
                </li>
                <li>
                  <p>用户在七牛云融合 CDN 服务创建的加速域名等资源，在未经用户合法授权的情况下，其他用户无法对其配置进行更改。七牛云为用户分配最多 2 对 Access Key ID/Secret Access Key 密钥对，从七牛云服务访问接口上进行权限控制和隔离，保障用户数据的私密性。</p>
                </li>
                <li>
                  <h4><span>3.4</span>可审查性</h4>
                </li>
                <li>
                  <p>依据现行法律法规或根据政府监管部门监管、安全合规、审计或取证调查等原因的需要，在符合流程和手续完备的情况下，七牛云可以提供用户所使用的服务的相关信息。</p>
                </li>
                <li>
                  <h4><span>3.5</span>服务资源调配能力</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 为用户提供内容分发、加速服务，并支持引入安全防护功能，保障用户源站安全。用户申请使用融合 CDN 服务时，不设置带宽、存储限制，根据需要，容量将实时动态扩展。随着访问量的增长，融合 CDN 后台的带宽、存储处理能力会自动扩展，无需用户干预，但大规模流量突增（业务突发增长大于上月计费带宽的 30% 或总带宽增加 50Gbps 以上），需至少提前 3 个工作日告知七牛云服务团队，否则将可能影响可用性，即若因此影响服务可用性的，七牛云不承担责任。</p>
                </li>
                <li>
                  <p>在未提前告知的情况下，七牛云 CDN 服务可提供额外 30% 以内（包含）上月计费带宽供客户使用，确保接入的域名可用性不会明显降低。</p>
                </li>
                <li>
                  <h4><span>3.6</span>故障恢复能力及客服保证</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 为用户提供全天候的运行维护，并以在线自助工单系统、客服电话报障等方式提供技术支持。七牛云具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制。</p>
                </li>
                <li>
                  <p>客服咨询电话：400-808-9176；服务时间：7*24 小时。</p>
                </li>
                <li>
                  <h4><span>3.7</span>网络接入性能</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 对用户不限制公网出口带宽，七牛云在全国部署数百个缓存节点，保障用户的网络接入质量。</p>
                </li>
                <li>
                  <h4><span>3.8</span>服务计量准确性</h4>
                </li>
                <li>
                  <p>七牛云融合 CDN 服务具备准确、透明的计量计费系统。七牛云融合 CDN 根据用户的实际使用量据实结算，价格及计费模式见七牛云官网。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>4. </span>服务赔偿条款</h3>
                </li>
                <li>
                  <h4><span>4.1</span>赔偿范围</h4>
                </li>
                <li>
                  <p>因七牛云设备故障、设计缺陷或操作不当导致用户所购买的融合 CDN 服务无法正常使用，七牛云将对不可用时间进行赔偿，但不包括以下原因所导致的服务不可用时间：</p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>七牛云预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>任何七牛云所属设备以外的网络、设备故障或配置调整引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>用户的应用程序或数据信息受到黑客攻击而引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>用户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>用户自行升级操作系统所引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>用户的应用程序或安装活动所引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>用户的疏忽或由用户授权的操作所引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>不可抗力以及意外事件引起的；
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>其他非七牛云原因所造成的不可用。
                  </p>
                </li>
                <li>
                  <h4><span>4.2</span>赔偿方案</h4>
                </li>
                <li>
                  <p>七牛云对用户存在故障的每个域名按不可用时间进行 10 倍赔偿，赔付金额 = 发生故障的域名故障前 24 小时平均每分钟费用 × 故障不可用时间 × 10 倍。</p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>赔偿只针对使用融合 CDN 服务已产生费用的用户，以代金券的形式赔偿，不折算现金返还。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>故障不可用时间 = 故障解决时间 - 故障开始时间，不可用时间按分钟计算。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>如果用户没有使用到 24 小时，按实际使用时长计算平均每分钟费用。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>赔付金额不超过客户对该故障域名所消费的费用平均值（故障当月前 12 个月费用折算平均值）或故障当月客户消费的月度服务费用的 25%（服务不满 12 个月，不包含本月）。
                  </p>
                </li>
                <li>
                  <h4><span>4.3</span>赔偿申请时限</h4>
                </li>
                <li>
                  <p>客户可在每月第五个工作日之后对上个自然月没有达到可用性的情况提出赔偿申请。赔偿申请必须限于在 CDN 服务没有达到可用性的相关月份结束后两个月内提出；超出申请时限的赔偿申请将不被受理。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>5. </span>免责声明</h3>
                </li>
                <li>
                  <p>详见《用户服务协议》中的"免责声明"相关条款内容。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>6. </span>其他</h3>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>本协议一经公布立即生效，七牛云有权随时对协议内容进行修改。如用户不同意七牛云对本协议相关内容所做的修改，用户有权停止使用七牛云 CDN 服务。若用户继续使用七牛云 CDN 服务，则视为用户接受七牛云对本协议相关内容所做的修改。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>本协议项下七牛云 CDN 服务对于用户所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他形式等方式进行；该通知于发送之日视为已送达收件人。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向上海市浦东新区人民法院提起诉讼。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。
                  </p>
                </li>
                <li class="p-l-2">
                  <p>
                    <span class="content-bold">&bull;&nbsp;</span>如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余协议仍应有效并且有约束力。
                  </p>
                </li>
              </ol>
              <ol>
                <li>
                  <p class="content-bold text-center">旧版融合 CDN 服务等级协议（SLA）<a href="/sla-fusion" target="_blank" class="more more-underline">点击查阅</a></p>
                </li>
              </ol>
            </div>
          </section>

          <section class="sla_pili">
            <div class="agreement-details">
              <h2>七牛直播云服务等级协议（直播云 SLA）</h2>
              <ol>
                <li>
                  <h3><span>1.</span>服务内容</h3>
                </li>
                <li>
                  <p>七牛直播云基于大规模实时流媒体计算集群和强大的音视频处理算法，提供可定制化码率、低延迟、流畅、高并发支持的直播云服务。用户可以通过调用七牛直播云提供的 API 或 SDK 将直播服务无缝对接到自己的业务系统（包括 APP Client 端、APP Server 端和各种播放端）；七牛直播云服务按使用量收费。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>2.</span>定义</h3>
                </li>
                <li><span>2.1</span>
                  <p>服务指七牛直播云根据本协议向开发者提供的付费服务（未付费情况，不适用本协议）。</p>
                </li>
                <li><span>2.2</span>
                  <p>已计划系统维护中断指由于网络、硬件或者服务升级或者其他可预知需要服务中断的行为，七牛云会在计划发生中断维护与升级的前 7 天通过邮件、短信以及官网通知中心的形式，告知用户。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>3.</span>指标项</h3>
                </li>
                <li>
                  <h4><span>3.1</span>服务可用性</h4>
                </li>
                <li><span>3.1.1</span>
                  <p>可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月不计算为一个服务周期。统计的业务单元为每个用户所有的直播 Hub，时间单位为分钟。</p>
                </li>
                <li><span>3.1.2</span>
                  <p>七牛直播云所提供的服务在连续的 10 分钟或更长时间不可用方计为不可用时间，不可使用的服务时间小于 10 分钟的，不计入不可用时间。七牛直播云的不可用时间不包括日常系统维护时间、由用户原因或不可抗力导致的不可用时间。</p>
                </li>
                <li>
                  <h4><span>3.2</span>直播 API 调用的服务可用性</h4>
                </li>
                <li>
                  <p>七牛直播云提供的核心模块 API 调用，七牛云承诺不低于 99.5% 的调用响应的可用性。</p>
                </li>
                <li>
                  <h4><span>3.3</span>直播推流与播放的服务可用性</h4>
                </li>
                <li>
                  <p>音视频直播的推流与播放到达服务的可用性，七牛云承诺不低于 99% 的推流到达与播放到达的可用性。</p>
                </li>
                <li>
                  <h4><span>3.4</span>数据持久性</h4>
                </li>
                <li>
                  <p>七牛直播云中所提供的直播录制的视频副本，在其服务定义的存储周期内，七牛云遵循《七牛云对象存储服务等级协议》。</p>
                </li>
                <li>
                  <h4><span>3.5</span>数据私密性</h4>
                </li>
                <li><span>3.5.1</span>
                  <p>用户在七牛直播云创建的直播会话等资源，在未经用户合法授权的情况下，其他用户无法访问及操作。</p>
                </li>
                <li><span>3.5.2</span>
                  <p>七牛直播云为用户分配最多 2 对 Access Key ID/Secret Access Key 密钥对，从七牛直播云访问接口上进行权限控制和隔离，保障用户数据的私密性。七牛直播云的所有运维操作都会被记录并保存。</p>
                </li>
                <li>
                  <h4><span>3.6</span>直播内容可审查性</h4>
                </li>
                <li>
                  <p>七牛云不会在未经合法用户授权时，公开、编辑或透露用户的个人信息及托管在七牛直播云上的非公开内容，除非有下列情况：</p>
                </li>
                <li><span>3.6.1</span>
                  <p>有关法律、法规规定或七牛直播云服务程序规定；</p>
                </li>
                <li><span>3.6.2</span>
                  <p>在紧急情况下，为维护用户及公众的权益；</p>
                </li>
                <li><span>3.6.3</span>
                  <p>为维护七牛云的商标权、专利权及其他任何合法权益；</p>
                </li>
                <li><span>3.6.4</span>
                  <p>其他依法需要公开、编辑或透露个人信息的情况。</p>
                </li>
                <li>
                  <h4><span>3.7</span>网络接入性能</h4>
                </li>
                <li>
                  <p>七牛直播云对用户不限制公网出口带宽。七牛直播云采用自建 CDN 多节点 +BGP 多线接入，保障用户的网络接入质量。</p>
                </li>
                <li>
                  <h4><span>3.8</span>故障恢复能力及客服保证</h4>
                </li>
                <li>
                  <p>七牛直播云为用户提供全天候的运行维护，并以在线自助工单系统、客服电话报障等方式提供技术支持。七牛云具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制。</p>
                </li>
                <li>
                  <p>客服咨询电话：400-808-9176；服务时间：7*24 小时。</p>
                </li>
                <li>
                  <h4><span>3.9</span>服务计量准确性</h4>
                </li>
                <li>
                  <p>七牛直播云服务具备准确、透明的计量计费系统。七牛直播云根据用户的实际使用量据实结算，价格及计费模式见七牛云官网。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>4.</span>服务赔偿</h3>
                </li>
                <li>
                  <h4><span>4.1</span>赔偿范围</h4>
                </li>
                <li>
                  <p>因七牛直播云设备故障、设计缺陷或操作不当导致用户所购买的直播云服务无法正常使用，七牛直播云将对不可用时间进行赔偿，但不包括以下原因所导致的服务不可用时间：</p>
                </li>
                <li><span>4.1.1</span>
                  <p>七牛云预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；</p>
                </li>
                <li><span>4.1.2</span>
                  <p>任何七牛云所属设备以外的网络、设备故障或配置调整引起的；</p>
                </li>
                <li><span>4.1.3</span>
                  <p>用户的应用程序或数据信息受到黑客攻击而引起的；</p>
                </li>
                <li><span>4.1.4</span>
                  <p>用户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；</p>
                </li>
                <li><span>4.1.5</span>
                  <p>用户自行升级操作系统所引起的；</p>
                </li>
                <li><span>4.1.6</span>
                  <p>用户的应用程序或安装活动所引起的；</p>
                </li>
                <li><span>4.1.7</span>
                  <p>用户的疏忽或由用户授权的操作所引起的；</p>
                </li>
                <li><span>4.1.8</span>
                  <p>不可抗力以及意外事件引起的；</p>
                </li>
                <li><span>4.1.9</span>
                  <p>其他非七牛云原因所造成的不可用。</p>
                </li>
                <li>
                  <h4><span>4.2</span>赔偿方案</h4>
                </li>
                <li>
                  <p>七牛直播云对用户存在故障按不可用时间的 10 倍赔偿，即赔付时长 = 故障不可用时间 × 10 倍。</p>
                </li>
                <li>
                  <h5><span class="exspan">4.2.1</span>
                    <p>特殊说明：</p>
                  </h5>
                </li>
                <li><span class="exspan">4.2.1.1</span>
                  <p>赔偿只针对使用七牛直播云服务已产生费用的用户；以七牛时长的形式赔偿，不折算现金返还；</p>
                </li>
                <li><span class="exspan">4.2.1.2</span>
                  <p>故障不可用时间 = 故障解决时间 - 故障开始时间，不可用时间按分钟计算；时长不超过用户使用七牛直播云服务总时长。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>5.</span>免责声明</h3>
                </li>
                <li>
                  <p>详见《七牛云服务用户协议》中"免责条款"部分的相关内容。</p>
                </li>
                </ol>
                <ol class="last-ol">
                <li>
                  <h3><span>6.</span>其他</h3>
                </li>
                <li><span>6.1</span>
                  <p>本协议一经公布立即生效，七牛云有权随时对协议内容进行修改。如用户不同意七牛云对本协议相关内容所做的修改，用户有权停止使用七牛云数据处理服务。若用户继续使用七牛云数据处理服务，则视为用户接受七牛云对本协议相关内容所做的修改。</p>
                </li>
                <li><span>6.2</span>
                  <p>本协议项下七牛直播云服务对于用户所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他方式进行；该通知于发送之日视为已送达收件人。</p>
                </li>
                <li><span>6.3</span>
                  <p>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向上海市浦东新区人民法院提起诉讼。</p>
                </li>
                <li><span>6.4</span>
                  <p>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
                </li>
                <li class="last-li"><span>6.5</span>
                  <p>如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余部分仍应有效并且有约束力。</p>
                </li>
              </ol>
            </div>
          </section>

          <section class="sla_dora">
            <div class="agreement-details">
              <h2>七牛云智能多媒体数据处理服务等级协议（智能多媒体数据处理 SLA）</h2>
              <ol>
                <li>
                  <h3><span>1.</span>服务内容</h3>
                </li>
                <li>
                  <p>七牛云智能多媒体数据处理服务基于大规模弹性调度计算集群，为用户提供海量，高可用，高性能，经济及功能丰富的实时及异步数据处理服务，将原文件转换成对 PC、TV 以及移动终端友好的格式。原文件的数据类型包括图片、音视频及其他各类数据。用户通过调用七牛云智能多媒体数据处理接口对原文件可实现压缩，转码，水印等数据处理功能，七牛云智能多媒体数据处理功能的详细介绍见七牛云官网提供的功能说明文档，开发者指南和帮助文档。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>2.</span>定义</h3>
                </li>
                <li><span>2.1</span>
                  <p>服务指根据本协议向用户提供的七牛云智能多媒体数据处理的付费服务（未付费情况，不适用本协议），不包括用户自定义数据处理服务及第三方数据处理服务。</p>
                </li>
                <li><span>2.2</span>
                  <p>数据处理作业是对原文件进行如转码等数据处理的任务。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>3.</span>指标项</h3>
                </li>
                <li>
                  <h4><span>3.1</span>服务可用性</h4>
                </li>
                <li><span>3.1.1</span>
                  <p>服务承诺 99.9% 的服务可用性。统计的单元为服务 API，时间单位为分钟。</p>
                </li>
                <li><span>3.1.2</span>
                  <p>服务可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月不计算为一个服务周期。</p>
                </li>
                <li><span>3.1.3</span>
                  <p>服务不可用时间指数据处理服务所提供的服务在连续的 5 分钟或更长时间不可使用方计为不可用时间，不可使用的服务时间低于 5 分钟的，不计入不可用时间。</p>
                </li>
                <li><span>3.1.4</span>
                  <p>服务的不可用时间不包括日常系统维护时间、所依赖的对象存储服务的不可用时间、由用户原因、第三方原因或不可抗力导致的不可用时间。</p>
                </li>
                <li><span>3.1.5</span>
                  <p>用户自定义数据处理的服务可用性，由开发者自己负责保障，不适用本 SLA。</p>
                </li>
                <li><span>3.1.6</span>
                  <p>第三方数据处理的服务可用性，请参考第三方数据处理的对外声明，不适用本 SLA。</p>
                </li>
                <li>
                  <h4><span>3.2</span>私密性</h4>
                </li>
                <li>
                  <p>用户在七牛云智能多媒体数据处理创建的数据处理作业等资源，在未经用户合法授权的情况下，其他用户无法对其配置进行更改。七牛云为用户分配最多 2 对 Access Key ID/Secret Access Key 密钥对，从七牛云智能多媒体数据处理服务访问接口上进行权限控制和隔离，保障用户数据的私密性。</p>
                </li>
                <li>
                  <h4><span>3.3</span>数据持久性</h4>
                </li>
                <li>
                  <p>七牛云智能多媒体数据处理中所提供的持久化存储数据处理结果，在其服务定义的存储周期内，七牛云遵循《七牛云对象存储服务等级协议》。</p>
                </li>
                <li>
                  <h4><span>3.4</span>可审查性</h4>
                </li>
                <li>
                  <p>依据现行法律法规或根据政府监管部门监管、安全合规、审计或取证调查等原因的需要，在符合流程和手续完备的情况下，七牛云智能多媒体数据处理服务可以提供用户所使用的服务的相关信息。包括关键组件的运行日志、运维人员的操作记录、客户操作记录等信息。</p>
                </li>
                <li>
                  <h4><span>3.5</span>服务资源调配能力</h4>
                </li>
                <li>
                  <p>服务对用户的访问请求不设限制，用户可以同时处理的作业数量最多不超过用户申请的资源限额。</p>
                </li>
                <li>
                  <h4><span>3.6</span>故障恢复能力及客服保证</h4>
                </li>
                <li>
                  <p>七牛云智能多媒体数据处理为用户提供全天候的运行维护，并以在线自助工单系统、客服电话报障等方式提供技术支持。七牛云具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制。</p>
                </li>
                <li>
                  <p>客服咨询电话：400-808-9176；服务时间：7*24 小时。</p>
                </li>
                <li>
                  <h4><span>3.7</span>网络接入性能</h4>
                </li>
                <li>
                  <p>七牛云智能多媒体数据处理服务对用户不限制公网出口带宽。七牛云采用 BGP 多线接入，保障用户的网络接入质量。</p>
                </li>
                <li>
                  <h4><span>3.8</span>服务计量准确性</h4>
                </li>
                <li>
                  <p>七牛云智能多媒体数据处理服务具备准确、透明的计量计费系统。七牛云智能多媒体数据处理服务的费用在用户的财务中心页面明确展示计费模式与价格，用户可自行选择具体服务类型并按列明的价格进行购买。七牛云智能多媒体数据处理服务根据用户的实际使用量据实结算。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>4.</span>服务赔偿</h3>
                </li>
                <li>
                  <h4><span>4.1</span>赔偿范围</h4>
                </li>
                <li>
                  <p>因七牛云对象存储设备故障、设计缺陷或操作不当导致用户所购买的对象存储服务无法正常使用，七牛云对象存储将对不可用时间进行赔偿，但不包括以下原因所导致的服务不可用时间：</p>
                </li>
                <li><span>4.1.1</span>
                  <p>七牛云预先通知用户后进行系统维护所引起的，包括割接、维修、升级和模拟故障演练；</p>
                </li>
                <li><span>4.1.2</span>
                  <p>任何七牛云所属设备以外的网络、设备故障或配置调整引起的；</p>
                </li>
                <li><span>4.1.3</span>
                  <p>用户的应用程序或数据信息受到黑客攻击而引起的；</p>
                </li>
                <li><span>4.1.4</span>
                  <p>用户维护不当或保密不当致使数据、口令、密码等丢失或泄漏所引起的；</p>
                </li>
                <li><span>4.1.5</span>
                  <p>用户自行升级操作系统所引起的；</p>
                </li>
                <li><span>4.1.6</span>
                  <p>用户的应用程序或安装活动所引起的；</p>
                </li>
                <li><span>4.1.7</span>
                  <p>用户的疏忽或由用户授权的操作所引起的；</p>
                </li>
                <li><span>4.1.8</span>
                  <p>不可抗力以及意外事件引起的；</p>
                </li>
                <li><span>4.1.9</span>
                  <p>其他非七牛云原因所造成的不可用。</p>
                </li>
                <li>
                  <h4><span>4.2</span>错误率</h4>
                </li>
                <li>
                  <h5><span class="exspan">4.2.1</span><p>错误是指：</p></h5>
                </li>
                <li><span class="exspan">4.2.1.1</span>
                  <p class="exp">使用七牛云服务，在每个 5 分钟内容的所有请求数中，由七牛云服务返回的内部错误（错误状态码 5XX）;</p>
                </li>
                <li><span class="exspan">4.2.1.2</span>
                  <p class="exp">当出现服务不可用且无失败请求返回的情况，通过计算前 7 天用户单位时间请求数的平均值，再用该平均值乘以服务不可用时间，从而计算出该情况下的失败请求数。</p>
                </li>
                <li>
                  <h5><span class="exspan">4.2.2</span>错误率的计算方法</h5>
                </li>
                <li><span class="exspan">&nbsp;</span>
                  <p class="exp">在每个月的月初，统计上述 A、B 两种情况的失败请求数, 月总请求次数低于 10 万的用户不做统计； 通过计算上述两种情况下的错误之和占总请求数（正常请求数 + 错误 A + 错误 B）的比例，从而得出上个月该用户服务的可用性，可用性应不低于 99.8%。
                </p>
                </li>
                <li>
                  <h4><span>4.3</span>赔偿方案</h4>
                </li>
                <li>
                  <p>七牛云对象存储将按照服务不可用时间的 100 倍赔偿，即赔付的金额 ＝ 发生故障前一个自然日的故障时间的平均每 5 分钟费用 x 服务不可用时间 (每五分钟为一个单位) x 100 倍。</p>
                </li>
                <li>
                  <h5><span class="exspan">4.3.1</span><p>特殊说明：</p></h5>
                </li>
                <li><span class="exspan">4.3.1.1</span>
                  <p>赔偿只针对已经使用七牛云对象存储服务并且支付费用的用户；以七牛云抵用券形式赔偿。</p>
                </li>
                <li><span class="exspan">4.3.1.2</span>
                  <p>服务不可用时间 ＝ 故障开始时间 - 故障结束时间，不可用时间按照每五分钟为单位计算，不足五分钟的以五分钟计算。</p>
                </li>
                <li><span class="exspan">4.3.1.3</span>
                  <p>如果用户没有使用到 24 小时，按照实际使用时长计算平均每五分钟的费用。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>5.</span>免责声明</h3>
                </li>
                <li>
                  <p>详见《七牛云服务用户协议》中"免责条款"部分的相关内容。</p>
                </li>
              </ol>
              <ol class="last-ol">
                <li>
                  <h3><span>6.</span>其他</h3>
                </li>
                <li><span>6.1</span>
                  <p>本协议一经公布立即生效，七牛云有权随时对协议内容进行修改。如用户不同意七牛云对本协议相关内容所做的修改，用户有权停止使用七牛云数据处理服务。若用户继续使用七牛云数据处理服务，则视为用户接受七牛云对本协议相关内容所做的修改。</p>
                </li>
                <li><span>6.2</span>
                  <p>本协议项下七牛云智能多媒体数据处理服务对于用户所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他方式进行；该通知于发送之日视为已送达收件人。</p>
                </li>
                <li><span>6.3</span>
                  <p>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向上海市浦东新区人民法院提起诉讼。</p>
                </li>
                <li><span>6.4</span>
                  <p>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
                </li>
                <li class="last-li"><span>6.5</span>
                  <p>如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余部分仍应有效并且有约束力。</p>
                </li>
              </ol>
            </div>
          </section>

          <section class="privacy_right">
            <div class="agreement-details">
              <h2 style="margin-bottom: 38px;">七牛云隐私权政策</h2>
              <p class="condense">上海七牛信息技术有限公司（以下称“七牛云”或“我们”）非常重视用户（以下简称“您”）的隐私和信息安全，不管您是个人用户还是企业用户。</p>
              <p class="condense">我们深知个人信息对您的重要性，您使用我们的服务，即表示您信赖我们对您信息的处理方式，故我们自知七牛云的责任重大，并将尽全力保护您的个人信息的安全可靠。</p>
              <p class="condense">本隐私权政策旨在尽量以通俗易懂的方式，协助您了解我们会收集哪些信息，为什么要收集这些信息，如何使用、保障这类信息，以及您如何管理并控制自己的信息权利等内容。</p>
              <p class="condense"><span class="content-bold content-underline">在注册、浏览或使用七牛云服务前，您确认您已审慎阅读、充分理解并接受本政策各条款内容(未成年人应在法定监护人陪同下阅读），特别是限制或者免除责任的条款（包括管辖条款），该类条款将以加粗和 / 或加下划线等显著形式提示您注意</span>。</p>
              <p class="condense">如果您有任何疑惑、意见或建议，我们非常乐于听取并欢迎您通过本政策载明的联系方式与我们取得联系，我们将为您解答。</p>
              <p class="condense">本政策将帮助您了解以下内容：</p>
              <ol>
                <li><span>一、</span>定义</li>
                <li><span>二、</span>我们如何收集和使用您的个人信息</li>
                <li><span>三、</span>我们如何使用 Cookie 和同类技术</li>
                <li><span>四、</span>我们如何披露 / 共享、转让您的个人信息</li>
                <li><span>五、</span>我们如何保护您的个人信息</li>
                <li><span>六、</span>您的权利</li>
                <li><span>七、</span>我们如何处理儿童的个人信息</li>
                <li><span>八、</span>适用范围</li>
                <li><span>九、</span>本政策如何更新</li>
                <li><span>十、</span>联系方式</li>
              </ol>
              <ol>
                <li>
                  <h3><span>一、</span>定义</h3>
                </li>
                <li><span>1.</span>
                  <p><span class="content-bold">“七牛云”或“我们”</span>：除非另有特别说明，在本政策中指上海七牛信息技术有限公司。</p>
                </li>
                <li><span>2.</span>
                  <p><span class="content-bold">“第三方”</span>：指并非因为和我们有共同所有权或控制权而存在相关关系的公司或人（即非关联公司）或者其他非相关的个人。</p>
                </li>
                <li><span>3.</span>
                  <p><span class="content-bold">“个人信息”</span>：个人信息：指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。本隐私政策所指个人信息请见“我们如何收集和使用您的个人信息”这一条款中的所一一列明的类型。</p>
                </li>
                <li><span>4.</span>
                  <p><span class="content-bold">“个人敏感信息”</span>：指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息。本隐私政策中涉及的个人敏感信息可能包括：您的财产信息（包括银行账号及充值信息等虚拟财产信息）；个人身份信息（包括身份证）；网络身份识别信息（包括账户名、账户昵称、邮箱地址及与前述有关的密码）；其他信息（包括通讯录、个人电话号码、手机号码、行程信息、网页浏览记录、住宿信息、精准定位信息）。<span class="content-bold content-underline">对于本隐私政策中列示的如上个人敏感信息，为便于您在阅读时有所警觉，我们除在此统一定义并列示外，另仍然会在本隐私政策中以字体加粗、加下划线，或单独指出等突出显示的方式再行提示您注意</span>。</p>
                </li>
                <li><span>5.</span>
                  <p><span class="content-bold">“非个人信息”</span>：指不能识别或关联个人的信息。包括匿名化信息（不可复原），以及作为企业用户中业已由相关主管部门公示披露的全部非个人信息（例如企业联系地址、联系方式、营业年限、企业规模、从事行业、主营业务、主要产品、网站域名等）。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>二、</span>我们如何收集和使用您的个人信息</h3>
                </li>
                <li>我们仅会出于本政策所述的以下目的，收集和使用您的个人信息：</li>
                <li>（一）帮助您注册成为七牛云用户</li>
                <li>
                  <p>为助您成为七牛云用户，以便我们为您提供注册用户服务（例如成为注册用户后即可登陆个人中心查看各类信息，或有资格参与优惠政策等用户活动），您将通过七牛云中的注册页面注册帐号。您在注册帐号的过程中，您会向我们直接提供<span class="content-bold content-underline">电子邮箱地址、手机号码、您设定的账号密码（加密）、手机验证码之个人敏感信息</span>，您提供的电子邮箱在注册成功后将作为您之后登陆我们服务的登录账号，并且我们使用电子邮箱地址、手机号码这类个人信息发送验证码信息以供您提交验证身份是否有效以及进行密码找回。</p>
                  <p><span class="content-bold content-underline">您知悉，我们收集手机号码、电子邮箱地址信息是为了满足相关法律法规的网络实名制要求，若您不提供这类信息，将无法正常使用我们的注册用户服务</span>。当然，在注册过程中，您也可以选择提供您的现居省份和现居城市信息，以便于我们向您提供更为优质的服务，您若不提供该类信息并不会影响您的注册流程并使用我们的注册用户服务。</p>
                  <p>如果您已经登录了自己的七牛云帐号，则您可以在登陆账号后向我们提供并完善您的昵称、联系地址、QQ 号、个人网址信息，您可选择拒绝提供该类信息，这不影响您正常使用七牛云注册用户功能，如果您选择提供，我们均视为可关联的个人信息予以保护。</p>
                  <p>我们亦友情提示您，即使您不向我们提供任何个人信息，您也能够完全浏览我们官方网站的所有公开信息。</p>
                </li>
                <li>（二）为您提供七牛云技术服务</li>
                <li>
                  <span>1.</span><p>您直接向我们提供的信息</p>
                  <p>为向您提供我们的基础核心技术服务（包括对象存储、云主机、云数据库、融合 CDN、内容审核等，具体请详见七牛云官方网站所实时展示的服务内容），我们向您提供了多种实名认证形式。</p>
                  <p>当您选择使用支付宝认证方式时，您需要向我们提供您的<span class="content-bold content-underline">真实姓名、身份证号、身份证正反面照片</span>、个人网址（选填）信息，并授权第三方授权我们通过“支付宝”服务验证您的个人信息。当您选择使用银行转账验证认证方式时，您需要向我们提供您的<span class="content-bold content-underline">真实姓名、身份证号、身份证正反面照片</span>、个人网址（选填）信息，并同时向我们提交包括<span class="content-bold content-underline">开户银行账号、开户银行以及支行信息之财务信息</span>，以便我们通过向该开户银行账号转账部分零钱以验证您的真实信息。您知悉，我们可能将该类非文字身份证明信息转化为文字类个人信息（姓名、性别、身份证号、民族、地址）保存。</p>
                  <p><span class="content-bold content-underline">您应当知悉，七牛云各类技术服务均属于我们的基础核心业务功能，如果您不提供上述列示的个人信息并通过实名认证，您将无法享受我们提供的基础核心技术服务</span>。</p>
                </li>
                <li>
                  <span>2.</span><p><span class="content-bold">在您使用服务过程中我们收集的信息</span></p>
                  <p>为实现我们的核心技术服务，我们另可能会在您使用服务过程中，收集您的如下信息，我们可能收集：1) 设备信息：包括设备名称、设备型号、设备设置、识标符、地区和语言设置、使用习惯、操作系统版本以及用于访问服务的设备的设置、设备异常信息；2) 日志信息：当您使用我们的网站或相关客户端提供的服务时，我们会自动收集您对我们服务的详细使用情况，作为有关网络日志保存。包括您的搜索查询内容、IP 地址、浏览器的类型、电信运营商、使用的语言、访问日期和时间及您访问的网页记录；3) 位置信息：包括设备的 GPS 信号或附近的 WiFi 接入点的相关信息、设备定位所在区域 ID、网络服务提供商 ID。</p>
                  <p><span class="content-bold content-underline">请注意，单独的设备信息、日志信息等是无法识别特定自然人身份的信息。但是，如果我们将这类非个人信息与其他信息结合用于识别特定自然人身份，或者将其与个人信息结合使用，例如将以上信息和您的帐号相关联时，则在结合使用期间，这类非个人信息将被视为个人信息，除取得您授权或法律法规另有规定外，我们会将该类个人信息做匿名化、去标识化处理</span>。</p>
                </li>
                <li>（三）为您提供互动功能和发出业务通知</li>
                <li>
                  <p>当您通过七牛云与我们或其他用户进行通信、反馈、分享等互动时，我们将收集并使用您提交的<span class="content-bold content-underline">姓名（昵称）、手机号码、电子邮箱地址</span>等联系信息。您在使用我们提供的技术指导或技术支持服务时，您需要向我们提交工单信息和我们反馈互动；您可以通过我们的“问答社区”栏目进行评论、互动；</p>
                  <p>我们向您提供好友邀请服务，您提供<span class="content-bold content-underline">您好友的电子邮箱地址并自行选择发送邮件</span>邀请活动或分享相关活动至您的其它帐号平台以作共享互动等。</p>
                  <p>我们将在用户协议或隐私权政策更新后及时向您发出通知以保障您的权益。另外，我们将通过您的联系信息告知您和其它用户之间的互动回复结果，告知您帐号实名认证结果反馈、权利人或用户的投诉举报通知以及解决您反馈的问题等。</p>
                </li>
                <li>（四）改善我们的产品或服务</li>
                <li>
                  <p>为了改善我们的产品、服务并开发给您更好的服务，我们将会使用您的个人信息。但您应当知悉的是，<span class="content-bold content-underline">一般情况下，我们为此目的仅使用采用匿名化处理后的综合信息和统计性信息，并不会识别到您个人</span>，我们将会利用此类信息进行数据分析和研究及开展审计。</p>
                  <p>我们通过此类信息综合判断七牛云的某一产品、解决方案或功能设置的必要性，可能会请用户参与各类反馈、互动以便推出新的产品和服务（例如和公司业务联系人手机、电子邮件沟通等），<span class="content-bold content-underline">为了改善我们的产品或服务，在取得您同意的情况下，我们可能将您的个人信息与第三方数据匹配形成间接用户画像，以便我们进行产品研发或者有针对性地（通过邮寄、电子邮件、电话）向您提供服务信息</span>。您也可通过联系七牛云客服的方式告诉我们，我们将不再收集您的信息用于以上场景，这不会影响您正常使用七牛云的核心技术功能。</p>
                </li>
                <li>（五）开展营销和推广活动</li>
                <li>
                  <p>我们所收集的个人信息将被用于向您推广、介绍产品和服务。例如，<span class="content-bold content-underline">通过电子邮箱地址以及手机号码</span>的方式，向您发送产品和服务商业信息内容。当然，<span class="content-bold content-underline">您有权根据我们在页面上设置的功能或通过我们附带告知的退订方式，选择不接收该类产品和服务的推广、介绍信息</span>。</p>
                </li>
                <li>（六）为您提供安全保障</li>
                <li>
                  <p>我们所收集的个人信息将用于确保我们产品和服务的安全性和可靠性，并防范网络欺诈、网络攻击和入侵等，更准确地识别违反法律法规或七牛云相关协议规则的情况。<span class="content-bold content-underline">我们可能使用或整合您的帐号信息、设备信息、软件使用信息以及我们关联公司、合作伙伴取得您授权或依据法律共享的信息</span>，用于进行身份验证、检测及防范安全事件，并依法采取必要的记录、审计、分析、处置措施。</p>
                </li>
                <li>（七）征得您授权同意的例外</li>
                <li>
                  <p>根据相关法律法规及个人信息保护规范的规定，在以下情形中，我们收集、使用个人信息无需征得您的授权同意：</p>
                </li>
                <li>
                  <span>1.</span><p>与国家安全、国防安全有关的；</p>
                </li>
                <li>
                  <span>2.</span><p>与公共安全、公共卫生、重大公共利益有关的；</p>
                </li>
                <li>
                  <span>3.</span><p>与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                </li>
                <li>
                  <span>4.</span><p>出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
                </li>
                <li>
                  <span>5.</span><p>所收集的个人信息是您自行向社会公众公开的；</p>
                </li>
                <li>
                  <span>6.</span><p>从合法公开披露信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
                </li>
                <li>
                  <span>7.</span><p>根据您的要求签订合同所必需的；</p>
                </li>
                <li>
                  <span>8.</span><p>用于维护我们产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
                </li>
                <li>
                  <span>9.</span><p>对您个人信息进行技术处理，使您的主体无法被识别，且处理后的信息不能被复原的信息（不属于个人信息）；或对您个人信息进行去标识化技术处理并保障安全的情况下；</p>
                </li>
                <li>
                  <span>10.</span><p>法律法规或相关规范规定的其他情形。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>三、</span>我们如何使用 Cookie 和同类技术</h3>
                </li>
                <li><span class="content-bold">（一）Cookie</span></li>
                <li>
                  <p>为确保七牛云正常运转、为您获得更轻松的访问体验、向您推荐您可能感兴趣的内容或广告等，<span class="content-bold content-underline">我们会在您的计算机或移动设备上存储名为 Cookie 的小数据文件。Cookie 通常包含标识符、站点名称以及一些号码和字符</span>。例如，借助于 Cookie，网站及客户端能够存储您的注册账号、邮箱、密码（加密）和偏好等数据，Cookie 还可以帮助我们统计流量信息，分析页面设计和广告的有效性。</p>
                  <p>七牛云启用 Cookie 的目的与大多数网站或互联网服务提供商启用 Cookie 的目的一样，即改善用户体验。我们不会将 Cookie 用于本政策所述目的之外的任何用途。您可根据自己的偏好管理或删除 Cookie。<span class="content-bold content-underline">您可以通过各类不同浏览器自带的功能清除设备上保存的所有 Cookie，但如果您这么做，则需要在每一次使用七牛云时亲自更改用户设置</span>。您可通过自行修改您设备浏览器设置的方式拒绝或管理 Cookie。</p>
                </li>
                <li><span class="content-bold">（二）网站信标和像素标签</span></li>
                <li>
                  <p>除 Cookie 外，我们还可能使用网站信标和像素标签等其他同类技术。例如，我们向您发送的电子邮件可能含有链接至我们的点击 URL，如果您点击该链接，我们则会跟踪此次点击，帮助我们了解您对产品或服务偏好并改善客户服务。网站信标通常是一种嵌入到网站或电子邮件中的透明图像，借助于电子邮件中的像素标签，我们能够获知电子邮件是否被打开，帮助我们判断向用户发送电子邮件的数量或者是否要向用户发送电子邮件。如果您不希望自己的活动以这种方式被追踪，则可以随时从我们的寄信名单中退订。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>四、</span>我们如何披露 / 共享、转让您的个人信息</h3>
                </li>
                <li><span class="content-bold">（一）何时披露共享以及可能向谁披露 / 共享</span></li>
                <li>
                  <p><span class="content-bold content-underline">未经您的同意，我们将不会向第三方披露或共享您的信息。在获取您的同意后，为了向您提供服务，在以下情况下，我们可能向下列实体披露或共享您的信息</span>：</p>
                </li>
                <li><span>1.</span>
                  <p>在获得您（以及监护人）的明确同意或授权或您主动选择的情况下共享。</p>
                </li>
                <li><span>2.</span>
                  <p>关联公司：您的个人信息可能会与七牛云的关联公司共享。<span class="content-bold content-underline">我们只会共享必要的个人信息，且受本隐私权政策中所声明目的的约束。关联公司如要改变个人信息的处理目的，将再次征求您的授权同意</span>。</p>
                </li>
                <li><span>3.</span>
                  <p>与授权合作伙伴共享：仅为实现本政策中声明的目的，我们的某些服务将由授权合作伙伴提供。我们可能会与合作伙伴共享您的某些个人信息，以提供更好的客户服务和用户体验。我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。我们的合作伙伴无权将共享的个人信息用于任何其他用途。</p>
                </li>
                <li><span>a)</span>
                  <p>为实现广告推送，与广告、统计分析类合作伙伴的共享。<span class="content-bold content-underline">七牛云仅会向这些合作伙伴提供无法识别您个人身份信息的用户画像标签及去标识化或匿名化后的统计类信息，以帮助其在不识别您个人身份的前提下提升广告有效触达率</span>。除非得到您的许可，否则我们不会将您的个人身份信息（指可以识别您身份的信息，例如姓名或手机号码，通过这些信息可以联系到您或识别您的身份）与提供广告、分析服务的合作伙伴共享。</p>
                </li>
                <li><span>b)</span>
                  <p>与供应商、服务提供商和其他合作伙伴的共享。我们将信息发送给支持我们业务的服务提供商、智能设备供应、系统服务提供商和其他合作伙伴（如硬件厂商、电信运营商、云服务商），这些支持包括提供技术基础设施服务、分析我们服务的使用方式、提供客户服务、违法违规事件调查、支付便利或进行学术研究和调查。我们会与共享的对象签署严格的数据保护协议，要求他们按照我们的说明、本隐私政策以及其他任何相关的保密和安全措施来处理个人信息。如果我们共享您的个人敏感信息或授权合作伙伴改变个人信息的使用及处理目的，将再次征求您的授权同意。</p>
                </li>
                <li><span>c)</span>
                  <p>在法定情形下的共享。<span class="content-bold content-underline">我们可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外共享披露您的个人信息</span>。例如，如果我们确定您出现违反法律法规或严重违反七牛云相关协议规则的情况，或为保护七牛云及其关联公司用户或公众的人身财产安全免遭侵害，我们可能依据法律法规或平台相关协议规则披露关于您的个人信息，包括相关违规行为以及七牛云平台已对您采取的措施。例如，若您使用的账号或对您用户上传非法视频、违规视频等任何内容而严重违反我方平台规则、触犯法律法规和/或违背公序良俗，造成重大社会影响，给我方平台造成声誉损失，我们可能会公开披露您的信息与处罚情况。</p>
                </li>
                <li><span class="content-bold">（二）转让信息及例外</span></li>
                <li>
                  <p>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</p>
                </li>
                <li><span>1.</span>
                  <p>在获取明确同意的情况下转让。</p>
                </li>
                <li><span>2.</span>
                  <p>在涉及合并、收购或破产清算时，如涉及到个人信息转让，我们会要求新的持有您个人信息的公司、组织继续受此隐私权政策的约束，否则我们将要求该公司、组织重新向您征求授权同意。</p>
                </li>
                <li><span class="content-bold">（三）公开披露</span></li>
                <li>
                  <p>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才会公开披露您的个人信息：</p>
                </li>
                <li><span>1.</span>
                  <p>根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息。</p>
                </li>
                <li><span>2.</span>
                  <p><span class="content-bold content-underline">根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息</span>。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。我们坚信，对于要求我们提供的信息，应该在法律允许的范围内尽可能保持透明。我们对所有的请求都将进行慎重的审查，以确保其具备合法依据，且仅限于执法部门因特定调查目的且有合法权利获取的数据。</p>
                </li>
                <li><span class="content-bold">（四）共享、转让、公开披露用户信息时事先征得授权同意的例外</span></li>
                <li>
                  <p>以下情形中，共享、转让、公开披露您的用户信息无需事先征得您的授权同意：</p>
                </li>
                <li><span>1.</span>
                  <p>与国家安全、国防安全有关的；</p>
                </li>
                <li><span>2.</span>
                  <p>与公共安全、公共卫生、重大公共利益有关的；</p>
                </li>
                <li><span>3.</span>
                  <p>与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                </li>
                <li><span>4.</span>
                  <p>出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
                </li>
                <li><span>5.</span>
                  <p>您自行向社会公众公开或向交易对手提供的个人信息；</p>
                </li>
                <li><span>6.</span>
                  <p>从合法公开披露的信息中收集个人信息的，如新闻报道、政府信息公开等渠道；</p>
                </li>
                <li><span>7.</span>
                  <p>评价信息或法律法规规定必须披露的信息。例如云市场为构建诚信交易环境，您的信用评价信息（星级、客户评价）需要被公开分享。若您是服务商，您应当根据适用的法律法规和市场规则的要求，公开分享企业或者自然人经营者的相关信息；</p>
                </li>
                <li><span>8.</span>
                  <p>其他法律法规等规定的情形。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>五、</span>我们如何保护您的个人信息</h3>
                </li>
                <li><span class="content-bold">（一）安全的例外</span></li>
                <li>
                  <p>我们采取了合理的实际措施和技术措施，以保护所收集的与服务有关的信息。<span class="content-bold content-underline">但是请注意，虽然我们采取了合理的措施保护您的信息，但没有任何网站、Internet 传输、计算机系统或无线连接是绝对安全的。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是您的账户及密码发生泄露，请您立即联络在线客服，以便我们采取相应措施</span>。</p>
                </li>
                <li><span class="content-bold">（二）我们采取的安全措施</span></li>
                <li>
                  <p>我们已使用符合业界标准的安全防护措施保护您提供的个人信息，防止数据遭到未经授权的访问、公开披露、使用、修改、损坏或丢失。我们会采取一切合理可行的措施，保护您的个人信息。我们特别采取了以下措施：</p>
                </li>
                <li><span>1.</span>
                  <p>我们会将收集的您的个人信息进行去标识化处理，从而降低其他组织或个人通过去标识化个人信息识别到您的风险。<span class="content-bold content-underline">我们使用 SSL 对许多服务进行加密</span>。我们会审查信息收集、存储和处理方面的做法（包括物理性安全措施），以避免各种系统遭到未经授权的访问。</p>
                </li>
                <li><span>2.</span>
                  <p><span class="content-bold content-underline">我们已经获得由英国标准协会（BSI）iso27001 信息安全管理体系认证，以及中国信息通信研究院(工信部电信研究院)的可信云服务认证</span>，能够有效保障您的信息系统安全、知识产权、商业秘密等。</p>
                </li>
                <li><span>3.</span>
                  <p>我们只允许那些为了帮我们处理个人信息而需要知晓这些信息的七牛云员工、授权代为处理的服务公司的人员访问个人信息，而且他们需要履行严格的合同保密义务，且适时进行相关安全培训，如果其未能履行这些义务，就可能会被追究法律责任或被终止其与七牛云的关系。</p>
                </li>
                <li><span>4.</span>
                  <p>对我们来说，您的信息的安全非常重要。因此，我们将不断努力保障您的个人信息安全，并实施存储和传输全程安全加密等保障手段，以免您的信息在未经授权的情况下被访问、使用或披露。同时某些加密数据的具体内容，除了用户自己，其他人都无权访问。</p>
                </li>
                <li>
                  <p>我们在传输和存储您的个人敏感信息时，会采用加密等安全措施；存储个人生物识别信息时，将采用技术措施处理后再进行存储，例如仅存储个人生物识别信息的摘要。</p>
                </li>
                <li><span class="content-bold">（三）安全事件应急处置</span></li>
                <li>
                  <p>在发生个人信息安全事件后，我们将按照法律法规的要求，及时向您告知：<span class="content-bold content-underline">安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。我们将及时将事件相关情况以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告</span>。同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。</p>
                </li>
                <li><span class="content-bold">（四）保存期限和地域</span></li>
                <li>
                  <p>您在使用七牛云期间，我们将持续为您保存您的个人信息，但相关信息将以实现目的所必需的最小化时间进行保存，否则，我们将对个人信息进行删除或匿名化处理。如果您注销帐号或主动删除上述信息，<span class="content-bold content-underline">七牛云将依据网络安全法等法律法规规定在您删除后 6 个月内继续保存您的信息</span>。</p>
                </li>
                <li>
                  <p>七牛云会按照法律法规的规定，将在境内运营过程中收集和产生的个人信息存储于中华人民共和国境内，且不会将该等信息向境外进行传输。如七牛云因业务发展需要，需向境外进行传输的，将明确告知并征得您的同意。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>六、</span>您的权利</h3>
                </li>
                <li><span class="content-bold">（一）个人信息访问权</span></li>
                <li>
                  <p>您有权访问您的个人信息，但法律法规规定的例外情况除外。如果您想行使数据访问权，可以在七牛云网站来登录您的帐号。<span class="content-bold content-underline">具体而言，您可以通过在七牛云“个人面板-个人信息”访问您帐号下的信息内容</span>。</p>
                </li>
                <li><span class="content-bold">（二）个人信息更正权</span></li>
                <li>
                  <p><span class="content-bold content-underline">当您发现我们处理的关于您的个人信息有错误时，您有权要求我们做出更正或自行通过登陆帐号更正，通过在七牛云“个人面板-个人信息/安全设置”更改您的个人信息</span>。在更新您的个人信息时，我们可能会要求您先验证自己的身份（如向您电子邮箱或手机号码发送验证信息），然后再处理您的请求。</p>
                </li>
                <li><span class="content-bold">（三）个人信息删除权。在以下情形中，您可以向我们提出删除个人信息的请求：</span></li>
                <li><span>1.</span>
                  <p>如果我们处理个人信息的行为违反法律法规；</p>
                </li>
                <li><span>2.</span>
                  <p>如果我们收集、使用您的个人信息，却未征得您的同意；</p>
                </li>
                <li><span>3.</span>
                  <p>如果我们处理个人信息的行为违反了与您的约定；</p>
                </li>
                <li><span>4.</span>
                  <p>如果您不再使用我们的产品或服务，或您注销了帐号；</p>
                </li>
                <li><span>5.</span>
                  <p>如果我们不再为您提供产品或服务。</p>
                </li>
                <li><span class="content-bold">（四）改变您授权同意的范围</span></li>
                <li>
                  <p>每个业务功能需要一些基本的个人信息或设备权限才能得以完成。对于额外收集的个人信息的收集和使用，以及您当时认为不必要的设备权限，您可以随时通过在线客服或以站内信的方式给予或收回您的授权同意，我们会及时给以回复。当您收回同意后，我们将不再处理相应的个人信息。但您收回同意的决定，不会影响此前基于您的授权而开展的个人信息处理。</p>
                </li>
                <li><span class="content-bold">（五）个人信息主体注销帐号</span></li>
                <li>
                  <p>在您的帐号内无资源、无任何未支付的费用、无争议纠纷时，您可通过提交工单注销帐号。请注意，您注销账号的行为是不可逆的行为，在注销账号之后，您将无法通过已注销的账号获得七牛云提供产品或服务，我们将删除或匿名化有关您账号的一切信息，并保证这些信息不会泄露，但法律法规另有规定要求保存的数据除外。</p>
                </li>
                <li><span class="content-bold">（六）个人信息主体获取个人信息副本</span></li>
                <li>
                  <p>在法律法规允许的范围内，您有权获取您的个人信息副本，您可通过联系在线客服进行处理。在技术可行、成本合理的的前提下，我们还可按您的明确要求，直接将您的个人信息副本传输给您指定的第三方。</p>
                </li>
                <li><span class="content-bold">（七）约束信息系统自动决策</span></li>
                <li>
                  <p>在某些业务功能中，我们可能仅依据信息系统、算法等在内的非人工自动决策机制做出决定。如果这些决定显著影响您的合法权益，您有权要求我们做出解释，我们也将提供适当的救济方式。</p>
                </li>
                <li><span class="content-bold">（八）投诉举报及响应</span></li>
                <li>
                  <p>当您有其他的投诉、建议或相关问题时，请通过本政策的联系方式与七牛云公司联系。<span class="content-bold content-underline">我们将尽快审核所涉问题，并在验证您的用户身份后及时予以回复，一般在三十天内作出答复。当然，如您不满意，您也可以通过向主管机关提出投诉举报</span>。</p>
                  <p>对于您合理的请求，<span class="content-bold content-underline">我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际的请求，我们可能会予以拒绝</span>。此外，如果您的请求直接涉及国家安全、国防安全、公共卫生、犯罪侦查等和公共利益直接相关的事由，或者可能导致您或者其他个人、组织的合法权益受到严重损害，我们可能无法响应您的请求。</p>
                </li>
                <li><span class="content-bold">（九）有权获得停止运营的告知</span></li>
                <li>
                  <p>如果七牛云终止服务或运营，我们将及时停止收集您个人信息的活动，并且会至少提前三十日将停止运营的通知以逐一送达或公告的形式通知您，并在终止服务或运营后对所持有的您的个人信息进行删除或匿名化处理。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>七、</span>我们如何处理儿童的个人信息</h3>
                </li>
                <li>
                  <p>七牛云产品和服务主要面向非自然人。<span class="content-bold content-underline">如果没有父母或监护人的同意，儿童不得创建自己的用户帐号</span>。对于经父母同意而收集儿童个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护儿童所必要的情况下使用或公开披露此信息。您注意，我们将不满 14 周岁的任何人均视为儿童。</p>
                  <p><span class="content-bold content-underline">如果我们发现自己在未事先获得可证实的父母同意的情况下收集了儿童的个人信息，则会设法尽快删除相关数据</span>。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>八、</span>适用范围</h3>
                </li>
                <li>
                  <p>为确保流畅的七牛云使用体验，您可能会收到来自第三方提供的内容或网络链接。我们对此类第三方无控制权。您可选择是否访问第三方提供的链接、内容、产品和服务。我们无法控制第三方的隐私和数据保护政策，此类第三方不受到本政策的约束。在向第三方提交个人信息之前，请参见这些第三方的隐私保护政策。</p>
                  <p><span class="content-bold content-underline">您应当清楚无误地知悉，本隐私权政策不适用于其他第三方向您提供的服务，例如，七牛云云市场上的服务商（例如直播服务商）依托七牛云向您提供服务时，您向该类服务商提供的信息不适用本隐私权政策。我们也建议利用我们云服务而再向您用户提供服务的企业用户，应当另行与您的用户约定隐私权政策</span>。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>九、</span>本政策如何更新</h3>
                </li>
                <li>
                  <p><span class="content-bold content-underline">基于互联网日新月异的特性，我们保留不时更新或修改本政策的权利。我们会通过不同渠道向您发送变更通知。对于本隐私权政策变更，我们会将最新版隐私权政策发布在我们的网站或七牛云显著位置上，或向您发布单独的通知（如电子通知），提醒您隐私权政策的任何变更</span>。</p>
                  <p>虽然本隐私权政策容许调整，但是未经您同意，我们不会削弱您按照本隐私权政策所应享有的权利，除非通过您提供的电子邮件地址向您发送通知或发布网站公告。</p>
                </li>
              </ol>
              <ol>
                <li>
                  <h3><span>十、</span>联系方式</h3>
                </li>
                <li>
                  <p>您对七牛云及本隐私权政策有任何疑惑、意见或建议，您可通过拨打客服热线或<a href="https://support.qiniu.com/tickets/category" target="_blank" class="more">提交工单</a>的方式来取得我们的联系。</p>
                  <p>为保障我们高效处理您的问题并及时向您反馈，需要您提交身份证明、有效联系方式和书面请求及相关证据，我们会在验证您的身份后处理您的请求。</p>
                </li>
              </ol>
              <p class="date-stamp">版本发布日期：2019 年 3 月 8 日</p>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</div>
