<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2><%= I18n.t("views.welcome.solution.banner.title") %></h2>
          <p><%= I18n.t("views.welcome.solution.banner.desc") %></p>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-jiejuefangan-right-zh.png", alt: "solution", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features feature-solution">
  <div class="container">
    <div class="row row-solution" id="privatization">
      <div class="col-sm-8 col-solution right-line">
        <h2 class="icon140 icon-privatization"><%= I18n.t("views.welcome.solution.feature1.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature1.desc") %><%= link_to I18n.t("views.welcome.solution.feature1.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>"><h5 class="icon50 icon-kodo">对象存储</h5></div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-4">
              <h5 class="icon40 icon-jinrong">金融</h5>
            </div>

            <div class="col-xs-4">
              <h5 class="icon40 icon-guangdian">广电</h5>
            </div>

            <div class="col-xs-4">
              <h5 class="icon40 icon-anfang">安防</h5>
            </div>

            <div class="col-xs-8">
              <h5 class="icon40 icon-zhinengyingjian">智能硬件与物联网</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature1.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-zhongyiwulian@2x.jpg", class: "", alt: "zhongyiwulian", data: { toggle: "tooltip", placement: "bottom" }, title: "中移物联", width: 70 %></li>
            <li><%= image_tag "solution/client-ailixin@2x.png", class: "", alt: "ailixin", data: { toggle: "tooltip", placement: "bottom" }, title: "爱立信", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution light-bkcolor">
  <div class="container">
    <div class="row row-solution" id="data">
      <div class="col-sm-8 col-solution left-line">
        <h2 class="icon140 icon-data"><%= I18n.t("views.welcome.solution.feature2.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature2.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature2.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-hailiang">海量业务属性管理</h5>
        </div>
      </div>

      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-4">
              <h5 class="icon40 icon-jinrong">金融</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature2.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-pinganyinhang@2x.png", class: "", alt: "pinganyinhang", data: { toggle: "tooltip", placement: "bottom" }, title: "平安银行", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution">
  <div class="container">
    <div class="row row-solution" id="plsv">
      <div class="col-sm-8 col-solution right-line">
        <h2 class="icon140 icon-plsv"><%= I18n.t("views.welcome.solution.feature3.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature3.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature3.btn"), products_plsv_path, class: "more" -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-xsex">鉴黄</h5>
          <h5 class="icon50 icon-violence">暴恐审核</h5>
          <h5 class="icon50 icon-fusion">融合 CDN</h5>
          <h5 class="icon50 icon-minplsv">短视频SDK</h5>
        </div>
      </div>

      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-4">
              <h5 class="icon40 icon-dianshangyunying">电商</h5>
            </div>
            <div class="col-xs-4">
              <h5 class="icon40 icon-shejiaoapp">社交</h5>
            </div>
            <div class="col-xs-4">
              <h5 class="icon40 icon-yule">文娱</h5>
            </div>
            <div class="col-xs-6">
              <h5 class="icon40 icon-zaixianjiaoyu">在线教育</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature3.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "plsv/client-touch.jpg", alt: "touch", data: { toggle: "tooltip", placement: "bottom" }, title: "他趣", class: "", width: 70 %></li>
            <li><%= image_tag "plsv/client-blued.jpg", alt: "blued", data: { toggle: "tooltip", placement: "bottom" }, title: "淡蓝", class: "", width: 70 %></li>
            <li><%= image_tag "plsv/client-xiaomasahuan.jpg", alt: "xiaomasahuan", data: { toggle: "tooltip", placement: "bottom" }, title: "小马撒欢", class: "", width: 70 %></li>
            <li><%= image_tag "plsv/client-xiaoaiai.jpg", alt: "xiaoaiai", data: { toggle: "tooltip", placement: "bottom" }, title: "小爱爱", class: "", width: 70 %></li>
            <li><%= image_tag "plsv/client-zuwome.jpg", alt: "zuwome", data: { toggle: "tooltip", placement: "bottom" }, title: "租我么", class: "", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution light-bkcolor">
  <div class="container">
    <div class="row row-solution" id="album">
      <div class="col-sm-8 col-solution left-line">
        <h2 class="icon140 icon-album"><%= I18n.t("views.welcome.solution.feature4.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature4.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature4.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-fusion">融合 CDN</h5>
          <h5 class="icon50 icon-face">人脸识别</h5>
          <h5 class="icon50 icon-scene">场景识别</h5>
          <h5 class="icon50 icon-object">物体识别</h5>
        </div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-6">
              <h5 class="icon40 icon-shejiaoapp">社交 APP</h5>
            </div>

            <div class="col-xs-6">
              <h5 class="icon40 icon-meiyanapp">美颜 APP</h5>
            </div>

            <div class="col-md-8 col-xs-10">
              <h5 class="icon40 icon-shoujicaozuoxitong">手机操作系统定制</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature4.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-blued@2x.png", class: "", alt: "blued", data: { toggle: "tooltip", placement: "bottom" }, title: "淡蓝", width: 70 %></li>
            <li><%= image_tag "solution/client-oppo@2x.png", class: "", alt: "oppo", data: { toggle: "tooltip", placement: "bottom" }, title: "oppo", width: 70 %></li>
            <li><%= image_tag "solution/client-camera360@2x.png", class: "", alt: "camera360", data: { toggle: "tooltip", placement: "bottom" }, title: "camera360", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution">
  <div class="container">
    <div class="row row-solution" id="intelligence">
      <div class="col-sm-8 col-solution right-line">
        <h2 class="icon140 icon-intelligence"><%= I18n.t("views.welcome.solution.feature5.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature5.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature5.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-fusion">融合 CDN</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-deepLearn">深度学习平台</h5>
          <h5 class="icon50 icon-pili">直播云</h5>
          <h5 class="icon50 icon-vance">点播云</h5>
          <h5 class="icon50 icon-pandora">大数据平台</h5>
        </div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-8">
              <h5 class="icon40 icon-zhinengyingjian">智能硬件与物联网</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature5.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-dajiang@2x.png", class: "", alt: "dajiang", data: { toggle: "tooltip", placement: "bottom" }, title: "大疆创新", width: 70 %></li>
            <li><%= image_tag "solution/client-oppo@2x.png", class: "", alt: "oppo", data: { toggle: "tooltip", placement: "bottom" }, title: "oppo", width: 70 %></li>
            <li><%= image_tag "solution/client-haikangweishi@2x.png", class: "", alt: "haikangweishi", data: { toggle: "tooltip", placement: "bottom" }, title: "海康威视", width: 70 %></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="features feature-solution light-bkcolor">
  <div class="container">
    <div class="row row-solution" id="media">
      <div class="col-sm-8 col-solution  left-line">
        <h2 class="icon140 icon-media"><%= I18n.t("views.welcome.solution.feature6.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature6.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature6.btn"), products_newmedia_path, class: "more" -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-fusion">融合 CDN</h5>
          <h5 class="icon50 icon-pili">直播云</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-pandora">大数据平台</h5>
          <h5 class="icon50 icon-xsex">鉴黄</h5>
          <h5 class="icon50 icon-violence">暴恐审核</h5>
        </div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-8">
              <h5 class="icon40 icon-xinmeiti">广电传媒</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature6.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-changjiangyun@2x.png", class: "", alt: "changjiangyun", data: { toggle: "tooltip", placement: "bottom" }, title: "长江云", width: 70 %></li>
            <li><%= image_tag "solution/client-jiangsuweishi@2x.png", class: "", alt: "jiangsuweishi", data: { toggle: "tooltip", placement: "bottom" }, title: "江苏卫视", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution">
  <div class="container">
    <div class="row row-solution" id="security">
      <div class="col-sm-8 col-solution right-line">
        <h2 class="icon140 icon-security"><%= I18n.t("views.welcome.solution.feature7.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature7.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature7.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-pili">直播云</h5>
          <h5 class="icon50 icon-fusion">融合 CDN</h5>
        </div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-6">
              <h5 class="icon40 icon-chengshianfang">城市安防</h5>
            </div>

            <div class="col-xs-6">
              <h5 class="icon40 icon-xiaoyuananfang">校园安防</h5>
            </div>

            <div class="col-xs-6">
              <h5 class="icon40 icon-jiatinganfang">家庭安防</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature7.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-yingshi@2x.png", class: "", alt: "yingshi", data: { toggle: "tooltip", placement: "bottom" }, title: "萤石", width: 70 %></li>
            <li><%= image_tag "solution/client-shenzhouying@2x.png", class: "", alt: "shenzhouying", data: { toggle: "tooltip", placement: "bottom" }, title: "神州鹰", width: 70 %></li>
            <li><%= image_tag "solution/client-zhongxing@2x.png", class: "", alt: "zhongxing", data: { toggle: "tooltip", placement: "bottom" }, title: "中兴", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution light-bkcolor">
  <div class="container">
    <div class="row row-solution" id="internet">
      <div class="col-sm-8 col-solution left-line">
        <h2 class="icon140 icon-internet"><%= I18n.t("views.welcome.solution.feature8.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature8.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature8.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-kodo">对象存储</h5>
          <h5 class="icon50 icon-fusion">融合 CDN</h5>
          <h5 class="icon50 icon-dora">智能多媒体 API</h5>
          <h5 class="icon50 icon-pili">直播云</h5>
          <h5 class="icon50 icon-vance">点播云</h5>
        </div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-4 col-sm-6 col-lg-4">
              <h5 class="icon40 icon-lvyou">旅游</h5>
            </div>

            <div class="col-xs-4 col-sm-6 col-lg-4">
              <h5 class="icon40 icon-dianshangyunying">电商</h5>
            </div>

            <div class="col-xs-4 col-sm-6 col-lg-4">
              <h5 class="icon40 icon-shejiaoapp">社交</h5>
            </div>

            <div class="col-xs-4 col-sm-6 col-lg-4">
              <h5 class="icon40 icon-yule">娱乐</h5>
            </div>

            <div class="col-xs-4 col-sm-6 col-lg-4">
              <h5 class="icon40 icon-O2O">O2O</h5>
            </div>

            <div class="col-xs-8">
              <h5 class="icon40 icon-zaixianjiaoyu">在线教育</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature8.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-zhihu@2x.png", class: "", alt: "zhihu", data: { toggle: "tooltip", placement: "bottom" }, title: "知乎", width: 70 %></li>
            <li><%= image_tag "solution/client-meipai@2x.png", class: "", alt: "meipai", data: { toggle: "tooltip", placement: "bottom" }, title: "美拍", width: 70 %></li>
            <li><%= image_tag "solution/client-hujiang@2x.png", class: "", alt: "hujiang", data: { toggle: "tooltip", placement: "bottom" }, title: "沪江网", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="features feature-solution">

  <div class="container">
    <div class="row row-solution" id="qualityctrl">
      <div class="col-sm-8 col-solution right-line">
        <h2 class="icon140 icon-qualityctrl"><%= I18n.t("views.welcome.solution.feature9.title") %></h2>
        <p class="content"><%= I18n.t("views.welcome.solution.feature9.desc") %>
        <%= link_to I18n.t("views.welcome.solution.feature9.btn"), "", class: "more", data: { toggle: "modal", target: "#feedback-modal"} -%></p>
        <div class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h5 class="icon50 icon-mass">移动 APP 质量分析</h5>
          <h5 class="icon50 icon-cdn">CDN 质量分析</h5>
          <h5 class="icon50 icon-kirk">直播质量分析</h5>
        </div>
      </div>
      <div class="col-sm-4 col-scene">
        <div class="col-scene_scene <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-xs-10">
              <h5 class="icon40 icon-shipinwangzhanyunying">视频网站运营</h5>
            </div>
          </div>
        </div>

        <div class="col-scene_case">
          <h4><%= I18n.t("views.welcome.solution.feature9.case") %></h4>
          <ul class="list-inline">
            <li><%= image_tag "solution/client-quanmintv@2x.png", class: "", alt: "quanmintv", data: { toggle: "tooltip", placement: "bottom" }, title: "全民TV", width: 70 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>