<div class="jumbotron hero hero-vance">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>点播云</h2>
        <p>点播云是汇聚七牛云存储、音视频转码和融合CDN 等强大、稳定的基础服务，专注于视频领域为客户提供视频上传、存储、转码、播放器、分发加速和统计分析等服务的、专业可靠的一站式视频点播PaaS平台。</p>
        <div class="actions">
          <%= link_to "立即使用", "", class: "btn btn-lg btn-default m-r" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav vance-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <li class="intLink active"><a href="#tab-content-section-1">产品架构</a></li>
        <li class="intLink"><a href="#tab-content-section-2">核心功能</a></li>
        <li class="intLink"><a href="#tab-content-section-3">产品优势</a></li>
        <li class="intLink"><a href="#tab-content-section-4">客户案例</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品架构</h2>
    </div>

    <div class="col-sm-12">
        <%= image_tag "vance/img-chanpinjiagou.png", class: "bottom-line" %>
    </div>
  </div>
</div>

<div class="features tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title">核心功能</h2>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-shipinshangchuan@2x.png", class: "media-object", alt: "视频上传SDK", width: 60 %>
          <div class="caption">
            <h4>视频上传SDK</h4>
            <p>支持本地文件上传、API上传、并提供Android、iOS端功能丰富的上传SDK</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-tongjifenxi@2x.png", class: "media-object", alt: "统计分析", width: 60 %>
          <div class="caption">
            <h4>统计分析</h4>
            <p>提供用量统计、运营统计和质量统计等多维度统计分析；开放运营数据，助力客户自定义统计分析</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-HLS@2x.png", class: "media-object", alt: "HLS自适应多码率", width: 60 %>
          <div class="caption">
            <h4>HLS自适应多码率</h4>
            <p>支持 HLS 自适应多码率转码和播放，根据网络带宽实时切换到最佳码率，保障流畅视听体验</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-jingtaizhuanma@2x.png", class: "media-object", alt: "静态转码", width: 60 %>
          <div class="caption">
            <h4>静态转码</h4>
            <p>根据转码预设，视频上传完毕后即转码，简化转码流程，满足各种使用场景</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-H265@2x.png", class: "media-object", alt: "H. 265 转码", width: 60 %>
          <div class="caption">
            <h4>H. 265 转码</h4>
            <p>支持 H.265 转码压缩技术，可节省存储、带宽达10%－30%</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-webbofangqi@2x.png", class: "media-object", alt: "Web 播放器", width: 60 %>
          <div class="caption">
            <h4>Web 播放器</h4>
            <p>Web 播放器，适配最流行的设备和浏览器，支持HLS 自适应多码率</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-iosandroid@2x.png", class: "media-object", alt: "iOS/Android 播放器", width: 60 %>
          <div class="caption">
            <h4>iOS/Android 播放器</h4>
            <p>支持播放 H.265、HLS 自适应多码率，对标主流视频门户网站，首屏秒开</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%= image_tag "vance/icon-dongtaizhuanma@2x.png", class: "media-object", alt: "动态转码", width: 60 %>
          <div class="caption">
            <h4>动态转码</h4>
            <p>按需转码，边转边播，节约存储空间</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-solution tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title">产品优势</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "vance/icon-anquankekao@2x.png", class: "media-object", alt: "安全可靠", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">安全可靠</h4>
            <p>依托七牛可靠的云存储服务，保障数据安全，同时提供鉴权、防盗链等多种安全防护。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "vance/icon-jieyuechengben@2x.png", class: "media-object", alt: "节约成本", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">节约成本</h4>
            <p>按需使用和付费，利用H.265 转码技术压缩视频节省存储、带宽高达10％ - 30%。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "vance/icon-zhuanyeyinpinchuli@2x.png", class: "media-object", alt: "专业音频处理", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">专业音频处理</h4>
            <p>专注于音视频领域，提供音视频转码（支持 H.265 转码）、视频分发、全平台播放及主动开放式数据分析等功能。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "vance/icon-jizhishiting@2x.png", class: "media-object", alt: "极致视听体验", width: 110 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">极致视听体验</h4>
            <p>多 CDN 融合方案，保证视频加速无盲区；支持 HTTPS 加速，HLS 多码流自适应；视频流畅率达95%+，无缓冲比 > 95%。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="title">客户案例</h2>
      </div>
      <div class="col-sm-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= link_to image_tag("client-changba@2x.jpg", alt: "唱吧"), "https://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("vance/client-yunxuetang@2x.jpg", alt: "云课堂"), "http://www.dji.com/cn", id: "customer-yunxuetang", class: "case", target: "_blank" -%></div>
          <div><%= link_to image_tag("vance/client-caishi@2x.jpg", alt: "彩视"), "https://www.dianping.com/", id: "customer-caishi", class: "case", target: "_blank" -%></div>
        </div>
      </div>
    </div>
  </div>
</div>