<div class="jumbotron hero hero-arch">
  <div class="container">
    <div class="img-wrapper">
      <%= image_tag 'arch/wenzi.png', width: '70%' %>
    </div>
  </div>
</div>

<div class="features features-arch">
  <div class="container">
    <div class="intro">
      <h2 class="title">七牛架构师实践日</h2>
    </div>

    <p class="desc">我们竭力在全国范围，为所有追求卓越的程序员和架构师，打造一片分享与交流的纯净空间。</p>
    <p class="desc">这里有大牛、有干货、有方法、有实践，亦有怀揣着技术梦想的同道中人。</p>
    <p class="desc">无论你想学习知识、激发灵感、探讨决策，或是扩大视野、结识伙伴、分享心得。架构师实践日都会令你不虚此行。</p>
  </div>
</div>

<div class="features features-black-bg feature-arch-actions">
  <div class="intro">
    <h2 class="title">活动推荐</h2>
  </div>

  <div id="rectangle-cases-slider" class="conveyor conveyor-rectangle slick-slider draggable">
    <% I18n.t("views.welcome.arch.events").each do |unit| %>
      <div>
        <div class="rectangle-slider">
          <%= image_tag unit[:img] %>
          <div class="bg"></div>
          <div class="mask">
            <div class="middle">
              <div class="info">
                <time><%= unit[:time] %></time>
                <h4 class="title"><%= unit[:title] %></h4>
                <h3 class="site">
                  <%= unit[:site] %>
                  <div class="site-spec"></div>
                </h3>
              </div>
              <div class="details">
                <time><%= unit[:details][:time] %></time>
                <h3 class="site"><%= unit[:details][:site] %></h3>
                <%= link_to '精彩回顾', unit[:details][:link], class: 'btn btn-hollow' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="intro">
      <h2 class="title">合作伙伴</h2>
    </div>

    <div id="cases-slider" class="conveyor slick-slider draggable">
      <div><%= image_tag "arch/logo-58daojia.jpg", alt: "58daojia", title: "58daojia", class: "case" %></div>
      <div><%= image_tag "arch/logo-bilibili.jpg", alt: "bilibili", title: "bilibili", class: "case" %></div>
      <div><%= image_tag "arch/logo-changba.jpg", alt: "changba", title: "changba", class: "case" %></div>
      <div><%= image_tag "arch/logo-dianrongwang.jpg", alt: "dianrongwang", title: "dianrongwang", class: "case" %></div>
      <div><%= image_tag "arch/logo-ebay.jpg", alt: "ebay", title: "ebay", class: "case" %></div>
      <div><%= image_tag "arch/logo-huawei.jpg", alt: "huawei", title: "huawei", class: "case" %></div>
      <div><%= image_tag "arch/logo-jiguang.jpg", alt: "jiguang", title: "jiguang", class: "case" %></div>
      <div><%= image_tag "arch/logo-jingdong.jpg", alt: "jingdong", title: "jingdong", class: "case" %></div>
      <div><%= image_tag "arch/logo-jumeiyoupin.jpg", alt: "jumeiyoupin", title: "jumeiyoupin", class: "case" %></div>
      <div><%= image_tag "arch/logo-lianjia.jpg", alt: "lianjia", title: "lianjia", class: "case" %></div>
      <div><%= image_tag "arch/logo-lianxiang.jpg", alt: "lianxiang", title: "lianxiang", class: "case" %></div>
      <div><%= image_tag "arch/logo-mafengwo.jpg", alt: "mafengwo", title: "mafengwo", class: "case" %></div>
      <div><%= image_tag "arch/logo-meitu.jpg", alt: "meitu", title: "meitu", class: "case" %></div>
      <div><%= image_tag "arch/logo-mogujie.jpg", alt: "mogujie", title: "mogujie", class: "case" %></div>
      <div><%= image_tag "arch/logo-vivo.jpg", alt: "vivo", title: "vivo", class: "case" %></div>
      <div><%= image_tag "arch/logo-weipinhui.jpg", alt: "weipinhui", title: "weipinhui", class: "case" %></div>
      <div><%= image_tag "arch/logo-xiaohongshu.jpg", alt: "xiaohongshu", title: "xiaohongshu", class: "case" %></div>
      <div><%= image_tag "arch/logo-xiecheng.jpg", alt: "xiecheng", title: "xiecheng", class: "case" %></div>
      <div><%= image_tag "arch/logo-yirendai.jpg", alt: "yirendai", title: "yirendai", class: "case" %></div>
    </div>
  </div>
</div>

<div class="stripe stripe-blue p-xxl <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <h3 class="text-center">
    合作伙伴与讲师持续招募中
  </h3>
  <div class="text-center"><a href="#" class="btn btn-lg btn-hollow around-xl" target="_blank">加入我们</a></div>
</div>
