<%# banner 部分 %>
<div class="jumbotron hero hero-cdn-package">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1><%= raw(I18n.t("views.events.cdnpackage.banner.title")) -%></h1>
          <p><%= I18n.t("views.events.cdnpackage.banner.time") -%></p>
          <p><%= I18n.t("views.events.cdnpackage.banner.desc") -%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 说明部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-desc">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-desc-left">
        <div class="thumbnail">
          <p class="title"><%= raw(I18n.t("views.events.cdnpackage.desc.left.title")) -%></p>
          <%= image_tag I18n.t("views.events.cdnpackage.desc.left.image"), title: I18n.t("views.events.cdnpackage.desc.left.imageTitle"), alt: I18n.t("views.events.cdnpackage.desc.left.imageTitle"), class: "image-line-chart", width: "90%" -%>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-desc-right">
        <div class="thumbnail">
          <p class="title"><%= I18n.t("views.events.cdnpackage.desc.right.title") -%></p>
          <p class="desc"><%= raw(I18n.t("views.events.cdnpackage.desc.right.desc")) -%></p>
          <div class="row">
            <% I18n.t("views.events.cdnpackage.desc.right.list").each do |item| -%>
              <div class="col-md-3 col-sm-3 col-xs-3 col-right-icons">
                <%= image_tag item[:icon], title: item[:title], alt: item[:title], width: 50 -%>
                <p class="icon-title"><%= item[:title] -%></p>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "cdnpackage/image-divide-1.jpg", class: "image-divide" -%>
</div>

<%# 领取部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-get">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.get.title") -%></h2>
      <p class="desc"><%= I18n.t("views.events.cdnpackage.get.desc") -%></p>
    </div>
    <p class="btn-container"><%= link_to "立即抢购", "https://portal.qiniu.com/financial/respack/fusion?%E5%9B%BD%E5%86%85HTTPS%E9%9D%99%E6%80%81%E5%8A%A0%E9%80%9F%E9%97%B2%E6%97%B6%E6%B5%81%E9%87%8F&capacity=10GB", class: "btn btn-lg btn-default cdnpackage-get-btn", target: "_blank" -%></p>
  </div>
  <%= image_tag "cdnpackage/image-divide-2.jpg", class: "image-divide" -%>
</div>

<%# 闲时资源包部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-buy">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.buy.title") -%></h2>
      <p class="desc"><%= raw(I18n.t("views.events.cdnpackage.buy.desc")) -%></p>
    </div>

    <%# 静态加速资源包 %>
    <div class="row static-row">
      <div class="intro sub-intro">
        <h2 class="title"><%= I18n.t("views.events.cdnpackage.buy.static.title") -%></h2>
      </div>
      <% I18n.t("views.events.cdnpackage.buy.static.list").each do |static| -%>
      <div class="col-lg-3 col-md-6 col-sm-5 col-xs-12 col-buy">
        <div class="thumbnail <%= static[:class] -%>">
          <div class="caption">
            <h4 class="title"><%= static[:title] -%></h4>
            <p class="sub-title"><%= static[:subTitle] -%></p>
            <div class="content-container">
              <div class="buy-container">
                <p class="tag-p"><span class="buy-activity-tag">活动价</span></p>
                <p class="price-p"><span class="symbol-money">￥</span><strong><%= static[:price] -%></strong>&nbsp;&nbsp;<span class="origin-money"><%= static[:originPrice] -%>&nbsp;元</span></p>
                <%= link_to "立即购买", static[:link], title: static[:title] + " - 立即购买", target: "_blank", class: "btn btn-lg btn-default" -%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end -%>
    </div>

    <%# 动态加速资源包 %>
    <div class="row dynamic-row">
      <div class="intro sub-intro">
        <h2 class="title"><%= I18n.t("views.events.cdnpackage.buy.dynamic.title") -%></h2>
      </div>
      <% I18n.t("views.events.cdnpackage.buy.dynamic.list").each do |dynamic| -%>
      <div class="col-lg-3 col-md-6 col-sm-5 col-xs-12 col-buy">
        <div class="thumbnail <%= dynamic[:class] -%>">
          <div class="caption">
            <h4 class="title"><%= dynamic[:title] -%></h4>
            <p class="sub-title"><%= dynamic[:subTitle] -%></p>
            <div class="content-container">
              <div class="buy-container">
                <p class="tag-p"><span class="buy-activity-tag">活动价</span></p>
                <p class="price-p"><span class="symbol-money">￥</span><strong><%= dynamic[:price] -%></strong>&nbsp;&nbsp;<span class="origin-money"><%= dynamic[:originPrice] -%>&nbsp;元</span></p>
                <%= link_to "立即购买", dynamic[:link], title: dynamic[:title] + " - 立即购买", target: "_blank", class: "btn btn-lg btn-default" -%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end -%>
    </div>
  </div>

  <%# 活动规则部分 %>
  <div class="container rules-container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.rules.title") -%></h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-rules">
        <% I18n.t("views.events.cdnpackage.rules.list").each do |item| -%>
          <p><%= item -%></p>
        <% end -%>
      </div>
    </div>
  </div>
  <%= image_tag "cdnpackage/image-divide-3.jpg", class: "image-divide" -%>
</div>

<%# 为什么部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-why">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.why.title") -%></h2>
    </div>
    <div class="row">
      <% I18n.t("views.events.cdnpackage.why.list").each do |item| -%>
      <div class="col-md-12 col-sm-12 col-xs-12 col-why">
        <p><%= raw(item) -%></p>
      </div>
      <% end -%>
    </div>
  </div>
  <div class="container client-container">
    <div class="conveyor">
      <% I18n.t("views.events.cdnpackage.client.list").each do |item| -%>
      <div>
        <div class="<%= item[:class] -%> cdnpackage-client" title="<%= item[:title] -%>" alt="<%= item[:title] -%>"></div>
      </div>
      <% end -%>
    </div>
  </div>
</div>