<%# banner 部分 %>
<div class="jumbotron hero hero-cdn-package">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p><%= I18n.t("views.events.cdnpackage.banner.time") -%></p>
          <p><%= I18n.t("views.events.cdnpackage.banner.desc") -%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 说明部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-desc">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-desc-left">
        <div class="thumbnail">
          <p class="title"><%= raw(I18n.t("views.events.cdnpackage.desc.left.title")) -%></p>
          <%= image_tag I18n.t("views.events.cdnpackage.desc.left.image"), title: I18n.t("views.events.cdnpackage.desc.left.imageTitle"), alt: I18n.t("views.events.cdnpackage.desc.left.imageTitle"), class: "image-line-chart", width: "90%" -%>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-desc-right">
        <div class="thumbnail">
          <p class="title"><%= I18n.t("views.events.cdnpackage.desc.right.title") -%></p>
          <p class="desc"><%= raw(I18n.t("views.events.cdnpackage.desc.right.desc")) -%></p>
          <div class="row">
            <% I18n.t("views.events.cdnpackage.desc.right.list").each do |item| -%>
              <div class="col-md-3 col-sm-3 col-xs-3 col-right-icons">
                <%= image_tag item[:icon], title: item[:title], alt: item[:title], width: 50 -%>
                <p class="icon-title"><%= item[:title] -%></p>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "cdnpackage/image-divide-1.jpg", class: "image-divide" -%>
</div>

<%# 领取部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-get">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.get.title") -%></h2>
      <p class="desc"><%= I18n.t("views.events.cdnpackage.get.desc") -%></p>
    </div>
    <p class="btn-container"><%= link_to "立即抢购", "http://index-zhuhao.cs-spock.cloudappl.com/financial/respack/fusion", class: "btn btn-lg btn-default cdnpackage-get-btn", target: "_blank" -%></p>
  </div>
  <%= image_tag "cdnpackage/image-divide-2.jpg", class: "image-divide" -%>
</div>

<%# 闲时资源包部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-buy">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.buy.title") -%></h2>
      <p class="desc"><%= I18n.t("views.events.cdnpackage.buy.desc") -%></p>
    </div>
    <div class="row">
      <% I18n.t("views.events.cdnpackage.buy.list").each do |buy| -%>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-buy">
        <div class="thumbnail <%= buy[:class] -%>">
          <div class="caption">
            <h4 class="title"><%= buy[:title] -%></h4>
            <p class="sub-title"><%= buy[:subTitle] -%></p>
            <div class="content-container">
              <div class="buy-container">
                <p class="tag-p"><span class="buy-activity-tag">活动价</span></p>
                <p class="price-p"><span class="symbol-money">￥</span><strong><%= buy[:price] -%></strong>&nbsp;&nbsp;<span class="origin-money"><%= buy[:originPrice] -%>&nbsp;元</span></p>
                <%= link_to "立即购买", buy[:link], title: buy[:title] + " - 立即购买", target: "_blank", class: "btn btn-lg btn-default" -%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end -%>
    </div>
  </div>
  <div class="container rules-container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.rules.title") -%></h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-rules">
        <% I18n.t("views.events.cdnpackage.rules.list").each do |item| -%>
          <p><%= item -%></p>
        <% end -%>
      </div>
    </div>
  </div>
  <%= image_tag "cdnpackage/image-divide-3.jpg", class: "image-divide" -%>
</div>

<%# 为什么部分 %>
<div class="features features-less features-cdn-package features-cdnpackage-why">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.events.cdnpackage.why.title") -%></h2>
    </div>
    <div class="row">
      <% I18n.t("views.events.cdnpackage.why.list").each do |item| -%>
      <div class="col-md-12 col-sm-12 col-xs-12 col-why">
        <p><%= raw(item) -%></p>
      </div>
      <% end -%>
    </div>
  </div>
  <div class="container client-container">
    <div class="conveyor">
      <% I18n.t("views.events.cdnpackage.client.list").each do |item| -%>
      <div>
        <div class="<%= item[:class] -%> cdnpackage-client" title="<%= item[:title] -%>" alt="<%= item[:title] -%>"></div>
      </div>
      <% end -%>
    </div>
  </div>
</div>