<div class="dora-package-page">
  <div class="features">
    <div class="container">
      <!-- H.264普通转码包 -->
      <div class="intro">
        <h2 class="title">H.264 普通转码包</h2>
      </div>
      <div class="dora-package-setmeal">
        <div class="tabs" id="nav-dora-package">
          <ul class="nav nav-tabs nav-justified nav-dora-package-tabs" role="tablist">
            <li class="tab-dora-sd480 active"><a href="#tab-dora-package-h264-sd480" data-toggle="tab" key="sd480">SD480</a></li>
            <li class="tab-dora-sd720"><a href="#tab-dora-package-h264-sd720" data-toggle="tab" key="sd720">SD720</a></li>
            <li class="tab-dora-hd1080"><a href="#tab-dora-package-h264-hd1080" data-toggle="tab" key="hd1080">HD1080</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <section class="tab-pane active" id="tab-dora-package-h264-sd480">
            <ul>
              <li>
                <div class="title">精简版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">5 千分钟/半年</p>
                  <p class="price">
                    <span>￥</span>32.4
                    <font>省 ￥3.6</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">基础版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">2 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>115.2
                    <font>省 ￥28.8</font>
                  </p>
                </div>  
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">进阶版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">10 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>504
                    <font>省 ￥216</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">专业版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">30 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>1,296
                    <font>省 ￥864</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
            </ul>
          </section>
          <section class="tab-pane" id="tab-dora-package-h264-sd720">
            <ul>
              <li>
                <div class="title">精简版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">5 千分钟/半年</p>
                  <p class="price">
                    <span>￥</span>85.05
                    <font>省 ￥9.45</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">基础版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">2 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>302.4
                    <font>省 ￥75.6</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
              <li>
                <div class="title">进阶版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">10 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>1,323
                    <font>省 ￥567</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">专业版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">30 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>3,402
                    <font>省 ￥2,268</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
            </ul>
          </section>
          <section class="tab-pane" id="tab-dora-package-h264-hd1080">
            <ul>
              <li>
                <div class="title">精简版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">5 千分钟/半年</p>
                  <p class="price">
                    <span>￥</span>145.8
                    <font>省 ￥16.2</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">基础版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">2 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>518.4
                    <font>省 ￥129.6</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
              <li>
                <div class="title">进阶版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">10 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>2,268
                    <font>省 ￥972</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">专业版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">30 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>5,832
                    <font>省 ￥3,888</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
            </ul>
          </section>
        </div>
      </div>

      <!-- H.265普通转码包 -->
      <div class="intro">
        <h2 class="title">H.265 普通转码包</h2>
      </div>
      <div class="dora-package-setmeal">
        <div class="tabs" id="nav-dora-package">
          <ul class="nav nav-tabs nav-justified nav-dora-package-tabs" role="tablist">
            <li class="tab-dora-sd480 active"><a href="#tab-dora-package-h265-sd480" data-toggle="tab" key="sd480">SD480</a></li>
            <li class="tab-dora-sd720"><a href="#tab-dora-package-h265-sd720" data-toggle="tab" key="sd720">SD720</a></li>
            <li class="tab-dora-hd1080"><a href="#tab-dora-package-h265-hd1080" data-toggle="tab" key="hd1080">HD1080</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <section class="tab-pane active" id="tab-dora-package-h265-sd480">
            <ul>
              <li>
                <div class="title">精简版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">5 千分钟/半年</p>
                  <p class="price">
                    <span>￥</span>162
                    <font>省 ￥18</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">基础版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">2 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>576
                    <font>省 ￥144</font>
                  </p>
                </div>  
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">进阶版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">10 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>2,520
                    <font>省 ￥1,080</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">专业版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">30 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>6,480
                    <font>省 ￥4,320</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
            </ul>
          </section>
          <section class="tab-pane" id="tab-dora-package-h265-sd720">
            <ul>
              <li>
                <div class="title">精简版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">5 千分钟/半年</p>
                  <p class="price">
                    <span>￥</span>425.25
                    <font>省 ￥47.25</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">基础版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">2 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>1,512
                    <font>省 ￥378</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
              <li>
                <div class="title">进阶版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">10 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>6,615
                    <font>省 ￥2,835</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">专业版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">30 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>17,010
                    <font>省 ￥11,340</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
            </ul>
          </section>
          <section class="tab-pane" id="tab-dora-package-h265-hd1080">
            <ul>
              <li>
                <div class="title">精简版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">5 千分钟/半年</p>
                  <p class="price">
                    <span>￥</span>729
                    <font>省 ￥810</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">基础版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">2 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>2,592
                    <font>省 ￥648</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
              <li>
                <div class="title">进阶版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">10 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>11,340
                    <font>省 ￥4,860</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>
              </li>
              <li>
                <div class="title">专业版</div>
                <div class="intro">
                  <p class="dora-package-kind">时长包</p>
                  <p class="p1">30 万分钟/半年</p>
                  <p class="price">
                    <span>￥</span>29,160
                    <font>省 ￥19,440</font>
                  </p>
                </div>
                <%= link_to "立即购买", Rails.configuration.portal_host + "/financial/respack/dora", class: "dora-package-a" -%>  
              </li>
            </ul>
          </section>
        </div>
      </div>

      <!-- 活动规则 -->
      <div class="intro">
        <h2 class="title">活动规则</h2>
      </div>
      <div class="dora-package-rule">
        <p>活动说明：</p>
        <p>转码包只可抵扣普通转码，不可抵扣窄带高清转码和倍速转码。</p>
        <p>转码包仅支持中国大陆地区。</p>
        <p>转码包有效期为6个月，购买后立即生效。每个时长包的有效期独立计算，多个时长包有效期不会叠加。</p>
        <p>生成账单时优先抵扣转码包，多个包时有效期先结束的优先扣减，当所有包扣减完毕后，自动转为按量计费的方式扣减，价格标准参考
          <%= link_to "计费说明", "/prices?source=dora", class: "dora-package-a" -%>
          。
        </p>
        <p class="gap">资源包退款规则：</p>
        <p>资源包购买后未使用的可申请退款，其他情况不支持退款。退款需人工处理，请您提交工单咨询。</p>
        <p>资源包使用后，或资源包到期后，剩余流量不支持退订和退款。</p>
      </div>
    </div>
  </div>
</div>