<div class="fusion-package-page">
  <div class="jumbotron hero Transcod">
    <div class="container">
      <div class="middle-container">
        <div class="row">
          <h2>
            <%= image_tag "fusion_package/banner-Transcoding-bt.png", title: "CDN 资源包特惠选，短视频 SDK 免费送", alt: "CDN 资源包特惠选，短视频 SDK 免费送", class: "img" -%>
          <h4><a data-toggle="modal" data-target="#fusion-package-rules-modal" title="活动规则">活动规则</a></h4>
          <div class="Resource_banner">
            <div class="Resource_bannerl">
              <span class="red font">7.7 元</span><div>CDN 资源包 100G<br>+<br><span class="p">短视频免费试用一个月</span></div></div>
            <div class="Resource_bannerr">
              <a class="" target="_blank" href="https://portal.qiniu.com/financial/respack/video?type%3D%E7%9F%AD%E8%A7%86%E9%A2%91%E7%89%B9%E6%83%A0%E4%BD%93%E9%AA%8C%E5%A5%97%E9%A4%90%E9%99%90%E8%B4%AD%E4%B8%80%E6%AC%A1" title="立即抢购">立即抢购</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="Setmeal" id="Setmeal"></a>
  <div class="body Transcoding">
    <div class="features">
      <div class="container">
        <div class="intro">
          <h2 class="title">CDN 套餐包一键购 下单即送短视频 SDK</h2>
          <h2 class="title Subtitle">选购 CDN 套餐包，即可免费获得 短视频 SDK <a class="fusion-package-apply" target="_blank" href="<%= signin_url('www', '/events/fusion-package') -%>"> 短视频申购申请</a></h2></div>
        <div class="CDN_Resource_Setmeal">
          <ul>
            <li>
              <span class="title">精简版</span>
              <div class="CDN_Resource_Setmeal_intro">
                <p class="p1">• HTTP 流量
                  <SPAN>6 TB</SPAN></p>
                <p class="p1">• HTTPS 流量
                  <SPAN>6 TB</SPAN></p>
                <p class="p1">• HTTP 闲时包
                  <SPAN>2 TB</SPAN></p>
                <p class="p1">• HTTPS 闲时包
                  <SPAN>2 TB</SPAN></p>
                <a target="_blank" href="https://developer.qiniu.com/pili/sdk/3731/short-video?ref=1" title="短视频精简版"><p class="p1 c00f0ff">
                  <%= image_tag "fusion_package/Resource_iconm.png", title: "CDN 套餐包一键购 下单即送短视频 SDK", alt: "CDN 套餐包一键购 下单即送短视频 SDK" -%>
                  <font>短视频精简版</font><SPAN>一年</SPAN></p></a>
                <p class="Price">
                  <span>￥</span>2,988
                  <font>省 ￥66</font></p>
                <a class="Resource_a" title="短视频精简版 - 立即购买" target="_blank" href="https://portal.qiniu.com/financial/respack/video?type%3D%E7%9F%AD%E8%A7%86%E9%A2%91%E7%B2%BE%E7%AE%80%E7%89%88%E5%A5%97%E9%A4%90%E5%8C%85">立即购买</a></div>
            </li>
            <li>
              <span class="title">基础版</span>
              <div class="CDN_Resource_Setmeal_intro">
                <p class="p1">• HTTP 流量
                  <SPAN>21 TB</SPAN></p>
                <p class="p1">• HTTPS 流量
                  <SPAN>21 TB</SPAN></p>
                <p class="p1">• HTTP 闲时包
                  <SPAN>7 TB</SPAN></p>
                <p class="p1">• HTTPS 闲时包
                  <SPAN>7 TB</SPAN></p>
                <a target="_blank" href="https://developer.qiniu.com/pili/sdk/3731/short-video?ref=2" title="短视频基础班"><p class="p1 c00f0ff">
                  <%= image_tag "fusion_package/Resource_iconm.png", title: "CDN 套餐包一键购 下单即送短视频 SDK", alt: "CDN 套餐包一键购 下单即送短视频 SDK" -%>
                  <font>短视频基础版</font><SPAN>一年</SPAN></p></a>
                <p class="Price">
                  <span>￥</span>9,999
                  <font>省 ￥424</font></p>
                <a class="Resource_a" title="短视频基础版 - 立即购买" target="_blank" href="https://portal.qiniu.com/financial/respack/video?type%3D%E7%9F%AD%E8%A7%86%E9%A2%91%E5%9F%BA%E7%A1%80%E7%89%88%E5%A5%97%E9%A4%90%E5%8C%85">立即购买</a></div>
            </li>
            <li>
              <span class="title">进阶版</span>
              <div class="CDN_Resource_Setmeal_intro">
                <p class="p1">• HTTP 流量
                  <SPAN>130 TB</SPAN></p>
                <p class="p1">• HTTPS 流量
                  <SPAN>130 TB</SPAN></p>
                <p class="p1">• HTTP 闲时包
                  <SPAN>45 TB</SPAN></p>
                <p class="p1">• HTTPS 闲时包
                  <SPAN>45 TB</SPAN></p>
                <a target="_blank" href="https://developer.qiniu.com/pili/sdk/3731/short-video?ref=3" title="短视频进阶版"><p class="p1 c00f0ff">
                  <%= image_tag "fusion_package/Resource_iconm.png", title: "CDN 套餐包一键购 下单即送短视频 SDK", alt: "CDN 套餐包一键购 下单即送短视频 SDK" -%>
                  <font>短视频进阶版</font><SPAN>一年</SPAN></p></a>
                <p class="Price">
                  <span>￥</span>60,000
                  <font>省 ￥3,138</font></p>
                <a class="Resource_a" title="短视频进阶版 - 立即购买" target="_blank" href="https://portal.qiniu.com/financial/respack/video?type%3D%E7%9F%AD%E8%A7%86%E9%A2%91%E8%BF%9B%E9%98%B6%E7%89%88%E5%A5%97%E9%A4%90%E5%8C%85">立即购买</a></div>
            </li>
            <li>
              <span class="title">专业版</span>
              <div class="CDN_Resource_Setmeal_intro">
                <p class="p1">• HTTP 流量
                  <SPAN>290 TB</SPAN></p>
                <p class="p1">• HTTPS 流量
                  <SPAN>290 TB</SPAN></p>
                <p class="p1">• HTTP 闲时包
                  <SPAN>90 TB</SPAN></p>
                <p class="p1">• HTTPS 闲时包
                  <SPAN>90 TB</SPAN></p>
                <a target="_blank" href="https://developer.qiniu.com/pili/sdk/3731/short-video?ref=4" title="短视频专业版"><p class="p1 c00f0ff">
                  <%= image_tag "fusion_package/Resource_iconm.png", title: "CDN 套餐包一键购 下单即送短视频 SDK", alt: "CDN 套餐包一键购 下单即送短视频 SDK" -%>
                  <font>短视频专业版</font><SPAN>一年</SPAN></p></a>
                <p class="Price">
                  <span>￥</span>120,000
                  <font>省 ￥8,950</font></p>
                <a class="Resource_a" title="短视频专业版 - 立即购买" target="_blank" href="https://portal.qiniu.com/financial/respack/video?type%3D%E7%9F%AD%E8%A7%86%E9%A2%91%E4%B8%93%E4%B8%9A%E7%89%88%E5%A5%97%E9%A4%90%E5%8C%85">立即购买</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <a name="alongwith" id="alongwith"></a>

    <div class="features">
      <div class="container">
        <div class="intro">
          <h2 class="title">CDN 资源包随心购 满额即送短视频 SDK</h2>
          <h2 class="title Subtitle">
            <span>1 年 “ 随心用 ” CDN 资源包</span>
            <br>一年有效期，有效期内消耗完即可</h2></div>
        <div class="CDN_Resource_alongwith">
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">100 G</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="alongwith_type" name="alongwith_type"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="alongwith_time" name="alongwith_time"></select></div>
              <div class="alongwith_intro22" id="alongwith_Price"></div>
            </div>
            <a title="1 年 “ 随心用 ” CDN 资源包 - 购买" target="_blank" onClick="window.open(alongwith_type);">购买</a></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">500 G</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="alongwith_type2" name="alongwith_type2"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="alongwith_time2" name="alongwith_time2"></select></div>
              <div class="alongwith_intro22" id="alongwith_Price2"></div>
            </div>
            <a title="1 年 “ 随心用 ” CDN 资源包 - 购买" target="_blank" onClick="window.open(alongwith_type2);">购买</a></div>
          <div class="clear"></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">1 TB</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="alongwith_type3" name="alongwith_type3"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="alongwith_time3" name="alongwith_time3"></select></div>
              <div class="alongwith_intro22" id="alongwith_Price3"></div>
            </div>
            <a title="1 年 “ 随心用 ” CDN 资源包 - 购买" target="_blank" onClick="window.open(alongwith_type3);">购买</a></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">5 TB</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="alongwith_type4" name="alongwith_type4"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="alongwith_time4" name="alongwith_time4"></select></div>
              <div class="alongwith_intro22" id="alongwith_Price4"></div>
            </div>
            <a title="1 年 “ 随心用 ” CDN 资源包 - 购买" target="_blank" onClick="window.open(alongwith_type4);">购买</a></div>
          <div class="clear"></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">10 TB</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="alongwith_type5" name="alongwith_type5"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="alongwith_time5" name="alongwith_time5"></select></div>
              <div class="alongwith_intro22" id="alongwith_Price5"></div>
            </div>
            <a title="1 年 “ 随心用 ” CDN 资源包 - 购买" target="_blank" onClick="window.open(alongwith_type5);">购买</a></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">1 PB</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="alongwith_type6" name="alongwith_type6"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="alongwith_time6" name="alongwith_time6"></select></div>
              <div class="alongwith_intro22" id="alongwith_Price6"></div>
            </div>
            <a title="1 年 “ 随心用 ” CDN 资源包 - 购买" target="_blank" onClick="window.open(alongwith_type6);">购买</a></div>
          <div class="clear"></div>
          <h2>
            <a target="_blank" href="https://portal.qiniu.com/financial/respack/fusion-composite" title="更多资源包">更多资源包 >></a>
          </h2>
        </div>

        <a name="fixed" id="fixed"></a>

        <div class="intro alongwith_fixed">
          <h2 class="title Subtitle">
            <span>2 年“月月享” CDN 资源包</span>
            <br>2 年有效期，每月发放固定额度</h2></div>
        <div class="CDN_Resource_alongwith">
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">1,200 G</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="fixed_type" name="fixed_type"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="fixed_time" name="fixed_time"></select></div>
              <div class="alongwith_intro22" id="fixed_Price"></div>
            </div>
            <a title="2 年“月月享” CDN 资源包 - 购买" target="_blank" onClick="window.open(fixed_type);">购买</a></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">2,400 G</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="fixed_type2" name="fixed_type2"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="fixed_time2" name="fixed_time2"></select></div>
              <div class="alongwith_intro22" id="fixed_Price2"></div>
            </div>
            <a title="2 年“月月享” CDN 资源包 - 购买" target="_blank" onClick="window.open(fixed_type2);">购买</a></div>
          <div class="clear"></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">12,000G</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="fixed_type3" name="fixed_type3"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="fixed_time3" name="fixed_time3"></select></div>
              <div class="alongwith_intro22" id="fixed_Price3"></div>
            </div>
            <a title="2 年“月月享” CDN 资源包 - 购买" target="_blank" onClick="window.open(fixed_type3);">购买</a></div>
          <div class="CDN_Resource_alongwith_intro" onmouseenter="fusionPackageMoveClass(this)">
            <div class="alongwith_intro1">24 TB</div>
            <div class="alongwith_intro2">
              <div class="alongwith_intro21">类型
                <br>
                <select id="fixed_type4" name="fixed_type4"></select></div>
              <div class="alongwith_intro21">适用时段
                <br>
                <select id="fixed_time4" name="fixed_time4"></select></div>
              <div class="alongwith_intro22" id="fixed_Price4"></div>
            </div>
            <a title="2 年“月月享” CDN 资源包 - 购买" target="_blank" onClick="window.open(fixed_type4);">购买</a></div>
          <div class="clear"></div>
          <h2>
            <a target="_blank" href="https://portal.qiniu.com/financial/respack/fusion-composite" title="更多资源包">更多资源包 >></a>
          </h2>
        </div>
      </div>
    </div>

    <a name="rule" id="rule"></a>

    <div class="features">
      <div class="container">
        <div class="intro">
          <h2 class="title">活动规则</h2></div>
        <div class="CDN_Resource-rule">
          <p>活动对象：全体七牛用户</p>
          <p>活动简介：</p>
          <p>活动期购买指定<a href="#alongwith" title="CDN 自由组合包"> CDN 自由组合包</a>单笔订单达一定额度，或直接购买<a href="#Setmeal" title="CDN 短视频套餐包"> CDN 短视频套餐包</a>，可以获得对应版本短视频使用权限。具体参考如下：
            <br>• 购买额度达 2,988 元及以上，送短视频精简版一年；
            <br>• 购买额度达 9,999 元及以上，送短视频基础版一年；
            <br>• 购买额度达 60,000 元及以上，送短视频进阶版一年；
            <br>• 购买额度达 120,000 元及以上，送短视频专业版一年；
            <br>• 购买 7.7 元特惠体验套餐，送短视频体验试用权限一个月。</p>
          <p>确认完成购买支付后，可填写<strong><a class="fusion-package-apply" target="_blank" href="<%= signin_url('www', '/events/fusion-package') -%>" title="短视频申购表单">短视频申购表单</a></strong>申请，销售将会在 2 个工作日之内联系您，如有问题可联系 400-808-9176 转 1。</p>
          <p>
            <a class="a" data-toggle="modal" data-target="#fusion-package-rules-modal" title="更多详情">更多详情</a></p>
        </div>
      </div>
    </div>

    <div class="features">
      <div class="container">
        <div class="intro">
          <h2 class="title">七牛云助力音视频制作分发全链路</h2></div>
        <div class="CDN_Resource_Make">
          <ul>
            <li>
              <h2>短视频 SDK：高效音视频制作</h2>
              <p>七牛短视频解决方案（PLSV）是提供端到云的一站式的短视频解决方案，集视频拍摄、编辑、处理、上传、存储、分发加速、播放、内容分析审核、大数据分析等功能于一体。
                <a href="https://www.qiniu.com/products/plsv" target="_blank" title="短视频 SDK：高效音视频制作 - 了解详情">了解详情>>></a></p>
            </li>
            <li>
              <h2>CDN：极速音视频分发</h2>
              <p>七牛云 CDN 除了服务于音视频点播，文件、应用，以及各类增值场景外，还通过全方位的 CDN 质量监控，以及智能易用的加速节点调度等功能，提供稳定快速的网络访问质量。
                <a href="https://www.qiniu.com/products/fusion" target="_blank" title="CDN：极速音视频分发 - 了解详情">了解详情>>></a></p>
            </li>
          </ul>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case1.png", title: "ZET 中兴", alt: "ZET 中兴", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case2.png", title: "陌陌", alt: "陌陌", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case3.png", title: "安信证券", alt: "安信证券", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case4.png", title: "秒拍", alt: "秒拍", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case5.png", title: "芒果 TV", alt: "芒果 TV", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case6.png", title: "wifi 伴侣", alt: "wifi 伴侣", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case7.png", title: "汽车之家", alt: "汽车之家", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case8.png", title: "探探", alt: "探探", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case9.png", title: "快看漫画", alt: "快看漫画", width: "100%" -%>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 col-client">
            <%= image_tag "cdnpackage/icon-cdn-idle-traffic-case10.png", title: "粤科学习在线", alt: "粤科学习在线", width: "100%" -%>
          </div>
        </div>
      </div>
    </div>

    <a name="More" id="More"></a>

    <div class="features">
      <div class="container">
        <div class="intro">
          <h2 class="title">更多活动</h2></div>
        <div class="CDN_Resource_More row">
          <ul>
            <li>
              <a href="https://www.qiniu.com/products/kodo/goglobal" target="_blank" title="海外云存储优惠专场">
                <%= image_tag "fusion_package/Resource_more1.jpg", title: "海外云存储优惠专场", alt: "海外云存储优惠专场" -%>
              </a>
            </li>
            <li>
              <a href="https://www.qiniu.com/events/qvm0rmb" target="_blank" title="云主机 0 元起 限时特惠">
                <%= image_tag "fusion_package/Resource_more2.jpg", title: "云主机 0 元起 限时特惠", alt: "云主机 0 元起 限时特惠" -%>
              </a>
            </li>
            <li>
              <a href="https://www.qiniu.com/events/free" target="_blank" title="免费云服务套餐">
                <%= image_tag "fusion_package/Resource_more3.jpg", title: "免费云服务套餐", alt: "免费云服务套餐" -%>
              </a>
            </li>
            <li>
              <a href="https://www.qiniu.com/invite" target="_blank" title="邀请好友 乐享千元好礼">
                <%= image_tag "fusion_package/Resource_more4.jpg", title: "邀请好友 乐享千元好礼", alt: "邀请好友 乐享千元好礼" -%>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade alert-modal-css form-wrapper fusion-package-rules-modal" id="fusion-package-rules-modal" tabindex="-1" role="dialog" aria-labelledby="fusion-package-rules-modal-label" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="fusion-package-rules-modal-label">活动规则</h3></div>
        <div class="modal-body">
          <p>活动对象：全体七牛用户</p>
          <p>活动规则：</p>
          <p>1. CDN 资源包使用规则：</p>
          <p>• 在资源包生效期间内，若当月用量超出可用资源包额度，出账时将优先抵扣完资源包额度，超出部分再按照官网标准结算。</p>
          <p>• 资源包可叠加购买，出账时将按照资源包过期先后顺序依次抵扣；若当过期时间相同时，将优先抵扣闲时资源包。</p>
          <p>• 由于活动优惠力度较大，因此购买后无特殊情况无法退款，请确认后再购买。</p>
          <p>2. 短视频 SDK 申请规则：</p>
          <p class="sub-title">申购资格：</p>
          <p>活动期购买指定 CDN 自由组合包或CDN 短视频套餐包达到一定额度，可以获得对应版本短视频使用权限。具体参考如下：</p>
          <p>• 购买资源包额度达 2988 元及以上，赠送短视频精简版使用权限一年</p>
          <p>• 购买资源包额度达 9999 元及以上，赠送短视频基础版使用权限一年</p>
          <p>• 购买资源包额度达 60000 元及以上，赠送短视频进阶版使用权限一年</p>
          <p>• 购买资源包额度达 120000 元及以上，赠送短视频专业版使用权限一年</p>
          <p>• 购买 7.7 元特惠体验套餐，送短视频体验试用权限一个月</p>
          <p class="sub-title">申购方式：</p>
          <p>• 更灵活：根据自己业务需求自由选购资源包达到上述额度。参考“<a target="_blank" href="https://portal.qiniu.com/financial/respack/fusion-composite" title="CDN 自由组合包">CDN 自由组合包</a>”</p>
          <p>• 更直接：通过直接购买套餐包产品一次性购买固定组合的资源包。参考“<a target="_blank" href="https://portal.qiniu.com/financial/respack/video" title="CDN 短视频套餐包">CDN 短视频套餐包</a>”。</p>
          <p>确认完成购买支付后，可填写<a class="fusion-package-apply" target="_blank" href="<%= signin_url('www', '/events/fusion-package') -%>" title="短视频申购表单"><strong>申购表单</strong></a>申请，销售将会在 2 个工作日之内联系您，如有问题可联系 400-808-9176 转 1。</p>
          <p class="sub-title">申购和开通鉴权时效：</p>
          <p>• 购买资源包后最晚需在 1 个月之内申请短视频资源包，过期则认为放弃申请资格。</p>
          <p>• 成功申请短视频 SDK 的客户，请在 2020 年 12 月 31 日前进行开始使用（即开通鉴权时间）该活动赠送的短视频 SDK，过期则认为放弃使用。</p>
          <p class="sub-title">关于转售和转赠：</p>
          <p>• 不得将从本次活动赠送获得的七牛云短视频 SDK 转售或转赠给任何未经七牛云书面授权的第三方。如违反上述规定，七牛云有权立即收回赠送的短视频 SDK。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="Navigation">
    <%= image_tag "fusion_package/Resource_Navigation.png", title: "CDN 资源包特惠选，短视频 SDK 免费送", alt: "CDN 资源包特惠选，短视频 SDK 免费送" -%>
    <a href="#Setmeal" title="CDN 套餐包任意购"><p>CDN 套餐包<br>任意购</p></a>
    <a href="#alongwith" title="CDN 资源包 1 年“随心用”"><p>CDN 资源包<br>1 年“随心用”</p></a>
    <a href="#fixed" title="CDN 资源包 2 年“月月享”"><p>CDN 资源包<br>2 年“月月享”</p></a>
    <a href="#rule" title="活动规则"><p class="red">活动规则</p></a>
    <a href="#More" title="更多优惠活动"><p class="red">更多优惠活动</p></a>
  </div>
</div>
