<div class="jumbotron hero hero-events">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>七牛架构师实践日</h1>
        <h2>第六期 大数据技术最佳实践</h2>
        <p>深圳 南山区 科技园虚拟大学园</p>
        <time>2017年04月28日 13：30</time>
      </div>
    </div>
  </div>
</div>

<div class="features features-events">
  <div class="container ipo-class-container">
    <div class="row">
      <div class="col-sm-6 ipo-col-title">
        <dl>
          <dt>七牛架构师实践日</dt>
          <dd><%= link_to raw("更多内容 &gt;"), tech_path, class: "more" -%></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <span>
          我们竭力在全国范围，为所有追求卓越的程序员和架构师，打造一片分享与交流的纯净空间。这里有大牛、有干货、有方法、有实践，亦有怀揣着技术梦想的同道中人。无论你想学习知识、激发灵感、探讨决策，或是扩大视野、结识伙伴、分享心得。架构师实践日都会令你不虚此行。
        </span>
      </div>
    </div>

    <div class="row">
      <div class="events-slider">
        <div class="grid-container" data-src="<%= asset_url('movie.ogg') -%>">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", id: "customer-ch", class: "case" -%>
          <h5><strong>第五期</strong> 突破单一语言，进击全</h5>
          <a class="btn-icon" href="javascript:;" target="_blank"></a>
        </div>
        <div class="grid-container" data-src="<%= asset_url('movie.ogg') -%>">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "唱吧"), "https://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%>
          <h5><strong>第四期</strong> 突破单一语言，进击全</h5>
          <a class="btn-icon" href="javascript:;" target="_blank"></a>
        </div>
        <div class="grid-container" data-src="<%= asset_url('movie.ogg') -%>">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "大疆创新"), "http://www.dji.com/cn", id: "customer-dajian", class: "case", target: "_blank" -%>
          <h5><strong>第3期</strong> 突破单一语言，进击全</h5>
          <a class="btn-icon" href="javascript:;" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="line-container">
    <span class="educa-line"></span>
  </div>

  <div class="container ipo-class-container">
    <div class="row">
      <div class="col-sm-6 ipo-col-title">
        <dl>
          <dt>七牛Tech Online</dt>
          <dd><%= link_to raw("更多内容 &gt;"), "", class: "more" -%></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <span>
          七牛Tech Online 是在七牛架构师实践日线下沙龙的基础上，全新推出的一款在线技术交流活动。活动将采用直播的形式，每期特邀一位技术圈网红，与大家一起共话技术、畅谈未来。
        </span>
      </div>
    </div>

    <div class="row">
      <div class="events-slider">
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "http://cn.changhong.com/", id: "customer-ch", class: "case", target: "_blank" -%>
          <h5><strong>第五期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "唱吧"), "https://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%>
          <h5><strong>第4期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "大疆创新"), "http://www.dji.com/cn", id: "customer-dajian", class: "case", target: "_blank" -%>
          <h5><strong>第3期</strong> 突破单一语言，进击全</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="line-container">
    <span class="educa-line"></span>
  </div>

  <div class="container ipo-class-container">
    <div class="row">
      <div class="col-sm-6 ipo-col-title">
        <dl>
          <dt>ECUG</dt>
          <dd><%= link_to raw("更多内容 &gt;"), "", class: "more" -%></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <span>
          ECUG全称为 Effective Cloud User Group（实效云计算用户组），由七牛云CEO许式伟发起，集结了一批具有高端视角并仍醉心于技术本身的同仁，共同关注云计算前沿技术的最新成果和分布式开发、运维的最佳实践。从2007年至今，ECUG社区每年都会组织一场全国性的ECUG Con 大会，期间众多领域内权威技术大神纷纷参与，他们或许在大众技术会议已经鲜少露面，但会在ECUG Con畅谈心得，共同奉献一场半公开的高规格技术分享盛会。
        </span>
      </div>
    </div>

    <div class="row">
      <div class="events-slider">
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "http://cn.changhong.com/", id: "customer-ch", class: "case", target: "_blank" -%>
          <h5><strong>第五期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "唱吧"), "https://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%>
          <h5><strong>第4期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "大疆创新"), "http://www.dji.com/cn", id: "customer-dajian", class: "case", target: "_blank" -%>
          <h5><strong>第3期</strong> 突破单一语言，进击全</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="line-container">
    <span class="educa-line"></span>
  </div>

  <div class="container ipo-class-container">
    <div class="row">
      <div class="col-sm-6 ipo-col-title">
        <dl>
          <dt>技术共享技术</dt>
          <dd><%= link_to raw("更多内容 &gt;"), "", class: "more" -%></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <span>
          对于企业级用户来说，其在技术层面最迫切的需求是什么？是技术方案能够作为工具，快速应用于产品开发、业务拓展和用户体验，而非单纯对其进行探索和提高。通过技术共享计划，七牛将甄选不同领域的技术主题，从自身产品优势和技术积累出发，结合技术领域内普适的需求和热点，打造“理论＋实践＋开发＋场景”四项全能的课程体系，切实帮助客户实现技术实力的成长，缩短从想法到产品的距离。
        </span>
      </div>
    </div>

    <div class="row">
      <div class="events-slider">
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "http://cn.changhong.com/", id: "customer-ch", class: "case", target: "_blank" -%>
          <h5><strong>第五期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "唱吧"), "https://changba.com/", id: "customer-changba", class: "case", target: "_blank" -%>
          <h5><strong>第4期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "大疆创新"), "http://www.dji.com/cn", id: "customer-dajian", class: "case", target: "_blank" -%>
          <h5><strong>第3期</strong> 突破单一语言，进击全</h5>
        </div>
      </div>
    </div>
  </div>

    <div class="line-container">
    <span class="educa-line"></span>
  </div>

  <div class="container ipo-class-container">
    <div class="row">
      <div class="col-sm-6 ipo-col-title">
        <dl>
          <dt>牛人秀</dt>
          <dd><%= link_to raw("更多内容 &gt;"), "", class: "more" -%></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <span>
          牛人秀是七牛人对外演讲的精粹视频的汇集地。
        </span>
      </div>
    </div>

    <div class="row">
      <div class="events-slider">
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "javascript:;", id: "customer-ch", class: "case", target: "_blank" -%>
          <h5><strong>第五期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "唱吧"), "javascript:;", id: "customer-changba", class: "case", target: "_blank" -%>
          <h5><strong>第4期</strong> 突破单一语言，进击全</h5>
        </div>
        <div class="grid-container">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "大疆创新"), "javascript:;", id: "customer-dajian", class: "case", target: "_blank" -%>
          <h5><strong>第3期</strong> 突破单一语言，进击全</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="video-play-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <video src="" controls="controls" id="edu-video">
            your browser does not support the video tag
          </video>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>