<div class="jumbotron hero <%= @hero %>">

</div>

<div class="features features-tech">
  <div class="container">
    <div class="row intro-row">
      <h1>you are on the <%= @uniData %> page! </h1>
      <span class="title">往期活动回顾</span>
    </div>

    <div class="row tech-row">
      <% @events.each do |event| %>
        <div class="col-sm-6 col-md-4 tech-col">
          <div class="title">
            <time>
              <strong><%= event[:date].strftime('%d') -%></strong>
              <span><%= event[:date].strftime('%m') -%>月</span>
            </time>
            <p class="text-ellipse"><%= event[:name] -%></p>
          </div>
          <div class="infobox">
            <div class="case">
              <a class="btn-icon" href="" target="_blank"></a>
              <%= image_tag event[:cover] + "?imageView2/1/w/640/h/360/format/jpg/q/75|imageslim" -%>
            </div>
            <div class="lecturer">
              <div class="lecturer-box">
                <div class="img-box">
                  <%= image_tag event[:avatar] + '?imageView2/1/w/100/h/100/format/jpg/q/75|imageslim', class: "lecturer-photo", alt: event[:speaker], width: 50 %>
                </div>

                <div class="lecturer-info-box">
                  <div class="lecturer-tail">
                    <h4 class="lecturer-name"><%= event[:speaker] -%></h4>
                    <h5 class="lecturer-job"><%= event[:title] -%></h5>
                  </div>
                  <div class="short-line"></div>
                  <div class="btn-dwn-wrap">
                    <%= link_to "PPT", event[:ppt], download: "ppt", class: "ppt-download", target: "_blank"  -%>
                    <% if event[:note].length != 0 %>
                      <%= link_to "速记稿", event[:note], download: "text", class: "notes-download", target: "_blank"  -%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>