<%# banner part %>
<div class="jumbotron hero hero-qvm1rmb"></div>


<%# body part %>
<div class="page-body-qvm1rmb gradual-bg-qvm1rmb">
  <%# model part %>
  <div class="features features-qvm1rmb features-qvm1rmb-model">
    <div class="container">
      <div class="intro">
        <%= image_tag "qvmevent/title-youhuijixing.png", alt: "优惠机型", width: 250 -%>
      </div>

      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4 gradual-bg-qvm1rmb col-model">
          <%= image_tag "qvmevent/model-gongwangdaikuan.png", alt: "公网带宽", width: "100%" -%>
          <%= link_to "立即抢购", "", target: "_blank", class: "btn" -%>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4 gradual-bg-qvm1rmb col-model">
          <%= image_tag "qvmevent/model-tufaxingneng-1.png", alt: "突发性能实例-1", width: "100%" -%>
          <%= link_to "立即抢购", "", target: "_blank", class: "btn" -%>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4 gradual-bg-qvm1rmb col-model">
          <%= image_tag "qvmevent/model-tufaxingneng-2.png", alt: "突发性能实例-2", width: "100%" -%>
          <%= link_to "立即抢购", "", target: "_blank", class: "btn" -%>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4 gradual-bg-qvm1rmb col-model">
          <%= image_tag "qvmevent/model-gongxiangjiben-1.png", alt: "共享基本型-1", width: "100%" -%>
          <%= link_to "立即抢购", "", target: "_blank", class: "btn" -%>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4 gradual-bg-qvm1rmb col-model">
          <%= image_tag "qvmevent/model-tufaxingneng-3.png", alt: "突发性能实例-3", width: "100%" -%>
          <%= link_to "立即抢购", "", target: "_blank", class: "btn" -%>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4 gradual-bg-qvm1rmb col-model">
          <%= image_tag "qvmevent/model-gongxiangjiben-2.png", alt: "共享基本型-2", width: "100%" -%>
          <%= link_to "立即抢购", "", target: "_blank", class: "btn" -%>
        </div>
      </div>

      <div class="row qvm1rmb-progress-row">
        <%# 标题 %>
        <h5 class="qvm1rmb-progress-title"></h5>
        <%# 剩余天数 %>
        <div class="qvm1rmb-progress-tip"></div>
        <div class="qvm1rmb-progress-bar">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%# join part %>
  <div class="features features-qvm1rmb features-qvm1rmb-join">
    <div class="container">
      <div class="intro">
        <%= image_tag "qvmevent/title-ruhecanyu.png", alt: "如何参与", width: 250 -%>
      </div>

      <div class="join-bg-container">
        <div class="join-container">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2 col-join">
              <%= image_tag "qvmevent/join-zhuce-w.png", alt: "注册", class: "image-normal", height: "100%" -%>
              <%= image_tag "qvmevent/join-zhuce-h.png", alt: "注册", class: "image-hover", height: "100%" -%>
              <h4>注册</h4>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-join">
              <%= image_tag "qvmevent/join-arrow.png", alt: "注册", width: "60%" -%>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-join">
              <%= image_tag "qvmevent/join-jihuo-w.png", alt: "激活", class: "image-normal", height: "100%" -%>
              <%= image_tag "qvmevent/join-jihuo-h.png", alt: "激活", class: "image-hover", height: "100%" -%>
              <h4>激活</h4>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-join">
              <%= image_tag "qvmevent/join-arrow.png", alt: "注册", width: "60%" -%>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-join">
              <%= image_tag "qvmevent/join-goumai-w.png", alt: "购买", class: "image-normal", height: "100%" -%>
              <%= image_tag "qvmevent/join-goumai-h.png", alt: "购买", class: "image-hover", height: "100%" -%>
              <h4>购买</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%# rule part %>
  <div class="features features-qvm1rmb features-qvm1rmb-rule">
    <div class="container">
      <div class="intro">
        <%= image_tag "qvmevent/title-huodongguize.png", alt: "活动规则", width: 250 -%>
      </div>

      <div class="rule-bg-container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="rule-item">
              <h4>一. 活动时间</h4>
              <p>2018年9月5日 0:00 - 2018年12月5日 0:00</p>
            </div>

            <div class="rule-item">
              <h4>二. 活动规则</h4>
              <p>1. 活动截止时间之前激活云主机服务的用户，下单购买指定预付费机型，选择包月购买，订单价格自动优惠至 1 元</p>
              <p>2. 优惠订单价格包括：指定机型主机 + 40G 系统盘（高效云盘类型）</p>
            </div>

            <div class="rule-item">
              <h4>三. 活动限制</h4>
              <p>1. 同一身份认证的用户只能享有一次优惠（主机和宽带可同时享有），OEM父子账号的子账号无法享受活动优惠</p>
              <p>2. 订单下单时，需选择指定活动类型、时长为 1 月及以上（超过 1 月自动减免首月价格）</p>
              <p>3. 订单下单时，如果系统盘选择其他配置，优惠金额按照 40G 高效云盘自动减免</p>
              <p>4. 订单下单时，需开启“到期自动续费”功能（开通后用户可自主关闭）</p>
              <p>5. 仅支持国内地域机型</p>
            </div>

            <div class="rule-item">
              <h4>四. 活动支持</h4>
              <p>如您在活动或使用过程中有任何疑问，请点此提交工单或发送邮件至 marketing@qiniu.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>