<div class="jumbotron hero hero-tech">

</div>

<div class="features features-tech">
  <div class="container">
    <div class="row intro-row">
      <span class="title">往期活动回顾</span>
    </div>

    <div class="row tech-row">
      <div class="col-sm-6 col-md-4 tech-col">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>

        <div class="infobox">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", class: "case" -%>

          <a class="btn-icon" href="" target="_blank"></a>
          <div class="btn-dwn-wrap">
            <%= link_to "速记稿", asset_url('client-dazhong@2x.jpg'), download: "text", class: "notes-download", target: "_blank"  -%>
            <%= link_to "PPT", asset_url('client-dazhong@2x.jpg'), download: "ppt", class: "ppt-download", target: "_blank"  -%>
          </div>
          <div class="lecturer">
            <div class="media lecturer-box">
              <div class="media-left">
                <%= image_tag "test.jpg", class: "media-object lecturer-photo", alt: "李道兵", width: 50 %>
              </div>

              <div class="media-body lecturer-info-box">
                <h4 class="media-heading lecturer-name">李道兵</h4>
                <div class="lecturer-tail">
                  <span class="lecturer-job">七牛首席架构师</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 tech-col">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>

        <div class="infobox">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", class: "case" -%>

          <a class="btn-icon" href="" target="_blank"></a>
          <div class="btn-dwn-wrap">
            <%= link_to "速记稿", asset_url('client-dazhong@2x.jpg'), download: "text", class: "notes-download", target: "_blank"  -%>
            <%= link_to "PPT", asset_url('client-dazhong@2x.jpg'), download: "ppt", class: "ppt-download", target: "_blank"  -%>
          </div>
          <div class="lecturer">
            <div class="media lecturer-box">
              <div class="media-left">
                <%= image_tag "test.jpg", class: "media-object lecturer-photo", alt: "李道兵", width: 50 %>
              </div>

              <div class="media-body lecturer-info-box">
                <h4 class="media-heading lecturer-name">李道兵</h4>
                <div class="lecturer-tail">
                  <span class="lecturer-job">七牛首席架构师</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4 tech-col">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>

        <div class="infobox">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", class: "case" -%>

          <a class="btn-icon" href="" target="_blank"></a>
          <div class="btn-dwn-wrap">
            <%= link_to "速记稿", asset_url('client-dazhong@2x.jpg'), download: "text", class: "notes-download", target: "_blank"  -%>
            <%= link_to "PPT", asset_url('client-dazhong@2x.jpg'), download: "ppt", class: "ppt-download", target: "_blank"  -%>
          </div>
          <div class="lecturer">
            <div class="media lecturer-box">
              <div class="media-left">
                <%= image_tag "test.jpg", class: "media-object lecturer-photo", alt: "李道兵", width: 50 %>
              </div>

              <div class="media-body lecturer-info-box">
                <h4 class="media-heading lecturer-name">李道兵</h4>
                <div class="lecturer-tail">
                  <span class="lecturer-job">七牛首席架构师</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4 tech-col">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>

        <div class="infobox">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", class: "case" -%>

          <a class="btn-icon" href="" target="_blank"></a>
          <div class="btn-dwn-wrap">
            <%= link_to "速记稿", asset_url('client-dazhong@2x.jpg'), download: "text", class: "notes-download", target: "_blank"  -%>
            <%= link_to "PPT", asset_url('client-dazhong@2x.jpg'), download: "ppt", class: "ppt-download", target: "_blank"  -%>
          </div>
          <div class="lecturer">
            <div class="media lecturer-box">
              <div class="media-left">
                <%= image_tag "test.jpg", class: "media-object lecturer-photo", alt: "李道兵", width: 50 %>
              </div>

              <div class="media-body lecturer-info-box">
                <h4 class="media-heading lecturer-name">李道兵</h4>
                <div class="lecturer-tail">
                  <span class="lecturer-job">七牛首席架构师</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4 tech-col">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>

        <div class="infobox">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", class: "case" -%>

          <a class="btn-icon" href="" target="_blank"></a>
          <div class="btn-dwn-wrap">
            <%= link_to "速记稿", asset_url('client-dazhong@2x.jpg'), download: "text", class: "notes-download", target: "_blank"  -%>
            <%= link_to "PPT", asset_url('client-dazhong@2x.jpg'), download: "ppt", class: "ppt-download", target: "_blank"  -%>
          </div>
          <div class="lecturer">
            <div class="media lecturer-box">
              <div class="media-left">
                <%= image_tag "test.jpg", class: "media-object lecturer-photo", alt: "李道兵", width: 50 %>
              </div>

              <div class="media-body lecturer-info-box">
                <h4 class="media-heading lecturer-name">李道兵</h4>
                <div class="lecturer-tail">
                  <span class="lecturer-job">七牛首席架构师</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4 tech-col">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>

        <div class="infobox">
          <%= link_to image_tag("contact/image-shanghaiHQ@2x.jpg", alt: "长虹"), "", class: "case" -%>

          <a class="btn-icon" href="" target="_blank"></a>
          <div class="btn-dwn-wrap">
            <%= link_to "速记稿", asset_url('client-dazhong@2x.jpg'), download: "text", class: "notes-download", target: "_blank"  -%>
            <%= link_to "PPT", asset_url('client-dazhong@2x.jpg'), download: "ppt", class: "ppt-download", target: "_blank"  -%>
          </div>
          <div class="lecturer">
            <div class="media lecturer-box">
              <div class="media-left">
                <%= image_tag "test.jpg", class: "media-object lecturer-photo", alt: "李道兵", width: 50 %>
              </div>

              <div class="media-body lecturer-info-box">
                <h4 class="media-heading lecturer-name">李道兵</h4>
                <div class="lecturer-tail">
                  <span class="lecturer-job">七牛首席架构师</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>