<div class="jumbotron hero hero-niuday niuday-aicloud">
  <div class="container">
    <div class="img-wrapper">
      <h4 class="text-center p-sm">2018 年 8 月 11 日 · 成都市 成都市高新区天府大道中段666号M层银河A厅</h4>
      <%= link_to "立即报名", "http://www.huodongxing.com/event/1449646706800", target: "_blank", class: "btn btn-lg btn-primary btn-banner m-sm" %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <p class="text">随着人工智能在我国移动互联网、智能家居、智能安防、智慧教育等等领域的发展，我国人工智能产业持续高速成长。从2014年起，中国人工智能产业的创业潮就开始兴起，直至2018年，机器学习、深度学习、数据等能力的增强促进了计算机视觉以及应用平台等技术的不断突破。人工智能在2018年将面临爆发式的商业化着陆，在这个智能时代，七牛云NIUDAY小牛汇共享日活动围绕自身产品重点产品线将在全国10多个城市围绕行业、技术和创新展开全方位的探讨和分享，一起用AI技术赋能未来，“智”造梦想。</p>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会嘉宾</h2>
      <p class="time">以下排名不分先后</p>
    </div>

    <div class="row">

      <% I18n.t("niudays.chengdu.guest").each do |unit| %>
        <div class="three-sm-1 col-xs-6">
          <div class="guest">
            <%= image_tag unit[:img], width: '100' %>
            <h5><%= unit[:name] %></h5>
            <h5><%= unit[:title] %></h5>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会议程</h2>
      <p class="time">13:00 – 17:00</p>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-niuday-meeting">
        <thead>
          <tr>
            <th colspan="2">议题</th>
            <th>演讲人</th>
            <th>时长</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>议题一</td>
            <td>当云计算遇上AI</td>
            <td>许式伟 - 七牛云CEO</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题二</td>
            <td>人工智能定义新安全</td>
            <td>沈复民 - 成都电子科技大学教授</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题三</td>
            <td>智能设计时代 - AI平台的发展</td>
            <td>彭垚 - 七牛云人工智能实验室负责人</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td colspan="4">茶歇 20min</td>
          </tr>

          <tr>
            <td>议题四</td>
            <td>语义分析在长虹智能终端的应用</td>
            <td>刘东 - 长虹软件与服务中心总经理</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题五</td>
            <td>Camera360在移动应用的大数据分析和机器学习平台化建设</td>
            <td>龚俊衡 - Camera360数据部门技术总监</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题六</td>
            <td>机器视觉产品的探索</td>
            <td>滕龙 - 深圳市中钞信达金融科技有限公司成都分公司总经理助理</td>
            <td>30 min</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作媒体</h2>
    </div>

    <div class="row">

      <% I18n.t("niudays.chengdu.medias").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作伙伴</h2>
    </div>

    <div class="row">

      <% I18n.t("niudays.chengdu.partners").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="intro">
    <h2 class="title border-y">参会指南</h2>
  </div>

  <div class="desc-wrapper">
    <div class="content">
      <p class="desc text-left">1.报名审核成功后，主办方会统一短信通知会议地址及详情。</p>
      <p class="desc text-left">2.会议签到凭证为成功报名后收到的二维码，一人一票。</p>
      <p class="desc text-left">3.线上报名截止日为8月11日0时，不接受现场报名。</p>
    </div>
  </div>
</div> 