<div class="jumbotron hero hero-niuday">
  <div class="container">
    <div class="img-wrapper">
      <%= image_tag "niuday/banner-wenzi.png", class: "text" %>
      <h4 class="text-center p-sm">2018 年 6 月 23 日 · 深圳市 中洲圣廷苑酒店</h4>
      <%= link_to "立即报名", "http://www.huodongxing.com/event/5442324112200?qd=guanwang", target: "_blank", class: "btn btn-lg btn-primary btn-banner m-sm" %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <p class="text">随着人工智能在我国移动互联网、智能家居、智能安防、智慧教育等等领域的发展，我国人工智能产业持续高速成长。从2014年起，中国人工智能产业的创业潮就开始兴起，直至2018年，机器学习、深度学习等算法能力的增强将促进计算机视觉等技术不断突破。人工智能在2018年将面临爆发式的商业化着陆，在这个智能时代，七牛云NIUDAY小牛汇共享日活动围绕自身产品重点产品线将在全国10多个城市围绕行业、技术和创新展开全方位的探讨和分享，一起用AI技术赋能未来，“智”造梦想。</p>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会嘉宾</h2>
      <p class="time">以下排名不分先后</p>
    </div>
    <div class="row">
      <% I18n.t("niudays.shenzhen.guest").each do |unit| %>
        <div class="three-sm-1 col-xs-6">
          <div class="guest">
            <%= image_tag unit[:img], width: 100 %>
            <h5><%= unit[:name] %></h5>
            <h5><%= unit[:title] %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会议程</h2>
      <p class="time">13:00 - 18:00</p>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-niuday-meeting">
        <thead>
          <tr>
            <th colspan="2">议题</th>
            <th>演讲人</th>
            <th>时长</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>议题一</td>
            <td>人工智能在软件工程领域的应用革命</td>
            <td>杨臻 Coding Cloud Studio研发总监</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题二</td>
            <td>如何打造场景化的实时音视频云</td>
            <td>卢俊 七牛视频云解决方案架构师</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题三</td>
            <td>大数据在努比亚的应用</td>
            <td>佘坤 努比亚技术有限公司互联网产品开发部部长</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题四</td>
            <td>七牛云智能日志管理平台的设计与实践</td>
            <td>陈超 七牛云技术总监</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题五</td>
            <td>图像识别技术在新零售场景的智能应用</td>
            <td>Susan.Sun DataStory VP高级助理、大数据解决方案专家</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题六</td>
            <td>大数据和机器学习在证券行业的落地与探索</td>
            <td>陈鸿威 云财经大数据CTO</td>
            <td>30 min</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作媒体</h2>
    </div>
    <div class="row">
      <% I18n.t("niudays.shenzhen.medias").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作伙伴</h2>
    </div>
    <div class="row">
      <% I18n.t("niudays.shenzhen.partners").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="intro">
    <h2 class="title border-y">参会指南</h2>
  </div>
  <div class="desc-wrapper">
    <div class="content">
      <p class="desc text-left">1.报名审核成功后，主办方会统一短信通知会议地址及详情。</p>
      <p class="desc text-left">2.会议签到凭证为成功报名后收到的二维码，一人一票。</p>
      <p class="desc text-left">3.线上报名截止日为6月23日0时，不接受现场报名。</p>
    </div>
  </div>
</div>