<div class="jumbotron hero hero-niuday">
  <div class="container">
    <div class="img-wrapper">
      <%= image_tag 'niuday/banner-wenzi.png', class: 'text' %>
      <h4 class="text-center p-sm">2018 年 04 月 11 日 杭州 海外皇冠大酒店</h4>
      <%= link_to '立即报名', 'http://www.huodongxing.com/event/1433079159200', class: 'btn btn-primary btn-banner m-sm' %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会嘉宾</h2>
    </div>

    <div class="row">

      <% I18n.t("views.welcome.niuday.avatars").each do |unit| %>
        <div class="five-sm-1 col-xs-6">
          <div class="guest">
            <%= image_tag unit[:img], width: '100' %>
            <h5><%= unit[:name] %></h5>
            <h5><%= unit[:title] %></h5>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会议程</h2>
      <p class="time">13:00 - 18:00</p>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-niuday-meeting">
        <thead>
          <tr>
            <th colspan="2">议题</th>
            <th>演讲人</th>
            <th>时长</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>开场</td>
            <td class="title">小牛汇活动品牌诠释</td>
            <td>钱骥华 高级市场总监</td>
            <td>10 min</td>
          </tr>

          <tr>
            <td>议题一</td>
            <td class="title">对智能时代到来的思考与探索</td>
            <td>许式伟 七牛云CEO</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题二</td>
            <td class="title">“视觉智能的革命”—打造视频云时代的AI创新服务体系</td>
            <td>彭垚 七牛云人工智能实验室负责人</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题三</td>
            <td></td>
            <td>李磊 浙江日报报业集团产品研发中心视听产品部主任</td>
            <td>25 min</td>
          </tr>

          <tr>
            <td colspan="4">茶歇 20min</td>
          </tr>

          <tr>
            <td>议题四</td>
            <td class="title">智能视频云的下一个起点</td>
            <td>戴文军 高级技术总监</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题五</td>
            <td class="title">人工智能将如何变革视频监控行业</td>
            <td>李兴波（海康萤石副总裁）</td>
            <td>25 min</td>
          </tr>

          <tr>
            <td>议题六</td>
            <td class="title">圆桌交流</td>
            <td></td>
            <td>30 min</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作媒体</h2>
    </div>

    <div class="row">

      <% I18n.t("views.welcome.niuday.medias").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作伙伴</h2>
    </div>

    <div class="row">

      <% I18n.t("views.welcome.niuday.partners").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">参会指南</h2>
    </div>

    <div class="desc-wrapper">
      <div class="content">
        <p class="desc text-left">1.报名审核成功后，主办方会统一短信通知会议地址及详情。</p>
        <p class="desc text-left">2.会议签到凭证为成功报名后收到的二维码，一人一票。</p>
        <p class="desc text-left">3.线上报名截止日为4月11号0时，不接受现场报名。</p>
      </div>
    </div>
  </div>
</div>
