<div class="jumbotron hero hero-niuday">
  <div class="container">
    <div class="img-wrapper">
      <%= image_tag 'niuday/banner-wenzi.png', class: 'text' %>
      <h4 class="text-center p-sm">2018 年 4 月 11 日 · 杭州 海外海皇冠大酒店</h4>
      <%= link_to '立即报名', 'http://www.huodongxing.com/event/1433079159200?view=widget3', target:"_blank", class: 'btn btn-lg btn-primary btn-banner m-sm' %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <p class="text">人工智能在2018年将面临爆发式的商业化着陆，在这个智能时代，小牛汇共享日将在全国10多个城市围绕行业、技术和创新展开全方位的的探讨和分享，利用这个开放的共享平台，希望聚集全国有技术创新梦想的小牛，能够互相结识并交流，用技术创新改变世界。</p>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会嘉宾</h2>
    </div>

    <div class="row">

      <% I18n.t("views.welcome.niuday.avatars").each do |unit| %>
        <div class="five-sm-1 col-xs-6">
          <div class="guest">
            <%= image_tag unit[:img], width: '100' %>
            <h5><%= unit[:name] %></h5>
            <h5><%= unit[:title] %></h5>
            <h5><%= unit[:title1] %></h5>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">大会议程</h2>
      <p class="time">13:30 - 18:00</p>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-niuday-meeting">
        <thead>
          <tr>
            <th colspan="2">议题</th>
            <th>演讲人</th>
            <th>时长</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>议题一</td>
            <td>对智能时代到来的思考与探索</td>
            <td>许式伟 七牛云CEO</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题二</td>
            <td>“视觉智能的革命”—打造视频云时代的AI创新服务体系</td>
            <td>彭垚 七牛云人工智能实验室负责人</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题三</td>
            <td>“融合媒体大变局”—如何打造新媒体智能媒资管理平台</td>
            <td>李磊 浙江日报报业集团产品研发中心视听产品部主任</td>
            <td>25 min</td>
          </tr>

          <tr>
            <td colspan="4">茶歇 20min</td>
          </tr>

          <tr>
            <td>议题四</td>
            <td>智能视频云的下一个起点</td>
            <td>戴文军 七牛云高级技术总监</td>
            <td>30 min</td>
          </tr>

          <tr>
            <td>议题五</td>
            <td>人工智能将如何变革视频监控行业</td>
            <td>李兴波 海康萤石副总裁</td>
            <td>25 min</td>
          </tr>

          <tr>
            <td>圆桌</td>
            <td>
              <div class="m-b-sm">议题一：如何能让人工智能科研成果真正商业化</div>
              <div>议题二：企业内外部AI人才的培养和选拔实践分享</div>
            </td>
            <td>
              <div class="m-b-sm">邹冬冬 in CTO</div>
              <div class="m-b-sm">姚建兵 华数互联网技术部技术总监</div>
              <div class="m-b-sm">陈立力 大华智能云服务技术负责人</div>
              <div>赵丽丽 美图云视觉技术部技术总监</div>
            </td>
            <td>30 min</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作媒体</h2>
    </div>

    <div class="row">

      <% I18n.t("views.welcome.niuday.medias").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作伙伴</h2>
    </div>

    <div class="row">

      <% I18n.t("views.welcome.niuday.partners").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="intro">
    <h2 class="title border-y">参会指南</h2>
  </div>

  <div class="desc-wrapper">
    <div class="content">
      <p class="desc text-left">1.报名审核成功后，主办方会统一短信通知会议地址及详情。</p>
      <p class="desc text-left">2.会议签到凭证为成功报名后收到的二维码，一人一票。</p>
      <p class="desc text-left">3.线上报名截止日为4月11号0时，不接受现场报名。</p>
      <div class="niudays-actions">
        <%= link_to '立即报名', 'http://www.huodongxing.com/event/1433079159200?view=widget3', target:"_blank", class: 'btn btn-lg btn-primary btn-niudays m-sm' %>
      </div>
    </div>
  </div>
</div>
