<div class="jumbotron hero hero-company">

</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.company.title") %></h2>
    </div>
    <p><%= I18n.t("views.welcome.company.desc") %></p>
  </div>
</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.company.feature1.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.welcome.company.feature1.col").each do |col| %>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 60 %>
            <div class="caption">
              <h4><%= col[:title] %></h4>
              <p><%= col[:desc] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.welcome.company.feature2.title") %></h2>
    </div>
    <div class="timeline">
      <ul class="timeline-ul">
        <% I18n.t("views.welcome.company.feature2.ul").each do |units| %>
          <li class="right time-wrapper">
            <span class="time-point">
              <span class="time-point-blue"></span>
            </span>
            <span class="time-span"><%= units[:time] %></span>
          </li>
          <% units[:li].each do |unit| %>
            <% if unit[:left][:time] != '' %>
              <li class="left left-li">
                <div class="li-content">
                  <div class="info-div">
                    <span class="icon-point icon-point-left"></span>
                    <span class="icon-point icon-point-right icon-event"></span>
                    <time><%= unit[:left][:time] %></time>
                    <p><%= unit[:left][:desc] %></p>
                  </div>
                  <span class="<%= unit[:left][:icon] %>"></span>
                </div>
              </li>
            <% end %>
            <% if unit[:right][:time] != '' %>
              <li class="right">
                <div class="li-content">
                  <div class="info-div">
                    <time><%= unit[:right][:time] %></time>
                    <p><%= unit[:right][:desc] %></p>
                    <span class="icon-point icon-point-right"></span>
                    <span class="icon-point icon-point-left icon-event"></span>
                  </div>
                  <span class="<%= unit[:right][:icon] %>"></span>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
