<div class="jumbotron hero hero-plup">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <h2>七牛云“涉稳安全资源包”火速到场</h2>
          <h3>集鉴黄、鉴暴恐、政治人物识别为一体的综合涉稳安全系列产品</h3>
          <div class="actions">
            <%= link_to "立即试用", "", class: "btn btn-lg btn-hollow", data: { toggle: "modal", target: "#feedback-modal"} -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-superiority tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title">涉稳安全产品</h2>
    </div>

    <div class="row">

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-yizhanshi@2x.png", class: "media-object", alt: "产品可靠", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">产品可靠</h4>
            <p>七牛云人工智能实验室在人工智能领域深耕多年，在内容审核领域深入研发，对政府类的审核需求有高度的敏感和理解，现累积识别图片数量已超过 4000 亿张、审核视频数量超过 80 亿个。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-qualitycontrol@2x.png", class: "media-object", alt: "性能优越", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">性能优越</h4>
            <p>单张图片响应时间小于 0.1 s、准确率超过 99.5%、7x24h 全天候的内容审核涉稳安全服务、可以替代 90% 以上的人工审核。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-anquankekao@2x.png", class: "media-object", alt: "紧跟政策", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">紧跟政策</h4>
            <p>七牛云人工智能实验室的鉴黄、鉴暴恐、政治人物识别是严格按照网信、网安等监管机构要求，用心打造的高性能、高识别率，紧跟时政要求的涉稳安全检测系列API。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left">
            <%= image_tag "icon-kekuozhan@2x.png", class: "media-object", alt: "深耕行业", width: 110 %></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">深耕行业</h4>
            <p>支撑熊猫直播、faceU、淡蓝、平安银行、新华社、中央人民广播电台、北京网信办等数千家互联网企业和政企机构。</p>
          </div>
        </div>
      </div>


    </div>

    <p>此次七牛推出“涉稳安全资源包”，即鉴黄、鉴暴恐、政治人物识别为一体的综合涉稳安全系列产品，致力为广大网民创造一片清新宁静的环境。</p>
    <p>七牛为初次接入客户提供涉稳安全资源包1元体验套餐包含：调用鉴黄，鉴暴恐，政治人物识别确定部分各5万次API调用（另赠送1万次不确定部分）</p>

    <p>
      产品包括三个子产品：
      <span class="col-solution col-solution-plup">
        <a class="more icon50 icon-xsex" target="_blank" href="https://developer.qiniu.com/dora/manual/3701/ai-pulp">智能鉴黄</a>
        <a class="more icon50 icon-violence" target="_blank" href="https://developer.qiniu.com/dora/manual/3918/terror">鉴暴恐</a>
        <a class="more icon50 icon-face" target="_blank" href="https://developer.qiniu.com/dora/manual/3922/politician">政治人物识别</a>
      </span>
    </p>
  </div>
</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2>规格和包价格</h2>
    </div>
    <div class="table-responsive">
      <table cellpadding="0" cellspacing="0" class="table table-bordered">
        <thead>
          <tr>
            <th>图片涉稳安全资源包规格</th>
            <th>价格（元/个）</th>
            <th>单价 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1元体验包：月调用鉴黄，鉴暴恐，政治人物识别确定部分各5万次（另赠送1万次不确定部分）<br /><strong><small>每个用户限购一次</small></strong></td>
            <td>1</td>
            <td>0.002 元/百次</td>
          </tr>
          <tr>
            <td>月调用三个 API 各 20 万次（另赠送 2 万次不确定部分）</td>
            <td>2200</td>
            <td>1.1 元/百次</td>
          </tr>
          <tr>
            <td>月调用三个 API 各 100 万次（另赠送 2 万次不确定部分）</td>
            <td>10800</td>
            <td>1.08元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 200 万次（另赠送 20 万次不确定部分）</td>
            <td>21000</td>
            <td>1.05元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 500 万次（另赠送 50 万次不确定部分）</td>
            <td>50000</td>
            <td>1元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 1000 万次（另赠送 100 万次不确定部分）</td>
            <td>95000</td>
            <td>0.95元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 2000 万次（另赠送 200 万次不确定部分）</td>
            <td>176000</td>
            <td>0.88元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 5000 万次（另赠送 500 万次不确定部分）</td>
            <td>400000</td>
            <td>0.8元/百次 </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      此次涉稳包整合帮助客户节省接近 50% 的成本，产品报价可参考：<a class="more" target="_blank" href="https://www.qiniu.com/prices?source=dora">https://www.qiniu.com/prices?source=dora</a>
    </p>
    <p>
      请咨询当地销售代表，或拨打售前咨询电话：400-808-9176 转 2
    </p>
  </div>
</div>