<div class="jumbotron hero hero-prices">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>产品价格</h2>
          <p>按照实际使用量付费，多种计费方案，帮您节省 IT 支出成本</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-price-nav" id="feature-price-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-prices-links">
        <li class="active"><%= link_to "产品价格", prices_path, class: "tab-links" -%></li>
        <li><%= link_to "价格计算器", calculator_path, class: "tab-links" -%></li>
        <li><%= link_to "云主机价格计算器", calculator_qvm_path, class: "tab-links" -%></li>
      </ul>
    </div>
  </div>
</div>

<div class="feature-price">
  <div class="features light-bkcolor">
    <div class="container">
      <% if is_1024event_on() -%>
      <%= image_tag "hot.png", alt: "云采购狂欢", width: 30, class: "icon-hot" -%>
      <p class="tip-text">云采购狂欢进行中，云主机、云存储、直播云等产品低至 0.1 元，下单更有机会抽取 iPhoneXS 等好礼，<%= link_to "立即抢购", "https://www.qiniu.com/events/1024event?entry=price", target: "_blank" -%></p>
      <% end -%>
      <div class="tabs" id="nav-product">
        <ul class="nav nav-tabs nav-justified nav-prices-tabs nav-prices-products-tabs" role="tablist">
          <li class="tab-prices-kodo"><a href="#tab-prices-kodo" data-toggle="tab" key="kodo">对象存储</a></li>
          <li class="tab-prices-fusion"><a href="#tab-prices-fusion" data-toggle="tab" key="fusion">融合 CDN</a></li>
          <li class="tab-prices-dora"><a href="#tab-prices-dora" data-toggle="tab" key="dora">智能多媒体服务</a></li>
          <li class="tab-prices-pili"><a href="#tab-prices-pili" data-toggle="tab" key="pili">直播云</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <section class="tab-pane" id="tab-prices-kodo">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>

            <div class="row details">
              <dl>
                <dt class="icon-title icon-kodo">标准存储</dt>
              </dl>

              <dl>
                <dd>对象存储服务的基础计费项包括：存储空间容量，流量，请求次数。</dd>
                <dd>此外还提供跨区域同步、存储类型转换、存储数据处理（如图片处理服务等）等服务，会根据您的使用情况单独计费，不使用不计费。</dd>
              </dl>

              <dl>
                <dd>存储空间费用基于存储区域按照阶梯累积计费方式，超出阶梯部分按照下一阶梯价格计费，存储空间使用越大，价格越低。</dd>
                <dd>存储空间费用将按照每月平均存储量来进行计费，每月平均存储量计算公式如下</dd>
                <dd class="formula">每月平均存储量 ＝ 当月每天存储量峰值之和 ÷ 当月天数</dd>
              </dl>

              <dl>
                <dd>开通七牛云对象存储服务的标准用户，每月可享受一定量的标准存储免费存储空间、标准存储免费请求数目。</dd>
                <dd>每月计费时，会先抵扣免费额度，超出部分再按照价格详情付费结算。</dd>
                <% if Time.now.to_i < Time.local(2019, 6, 6).to_i -%>
                <dd>标准存储 CDN 回源流出流量自 2019 年 4 月 1 日起新增 10GB 免费额度，免费额度将首次体现在 2019 年 4 月服务账单中。</dd>
                <% end -%>
              </dl>

              <div class="row list-inline-prices">
                <div class="col-xs-6 col-md-3 special-price">
                  <h5>标准存储免费空间</h5>
                  <p><span class="big-text">0-10 </span><span class="smal-text"> GB</span></p>
                </div>
                <div class="col-xs-6 col-md-3 special-price">
                  <h5>每月免费上传流量</h5>
                  <p><span class="big-text">无上限</span></p>
                </div>
                <div class="col-xs-6 col-md-3 special-price">
                  <h5>标准存储每月写请求 Put / Delete</h5>
                  <p><span class="big-text">0-10 </span><span class="smal-text"> 万次</span></p>
                </div>
                <div class="col-xs-6 col-md-3 special-price border-init">
                  <h5>标准存储每月读请求 Get</h5>
                  <p><span class="big-text">0-100 </span><span class="smal-text"> 万次</span></p>
                </div>
              </div>
            </div>

            <div class="row details">
              <dl>
                <dt class="icon-title icon-dipin">低频存储</dt>
              </dl>
              <h5>低频存储对象 Object 最短存储期限为 60 天，早于 60 天删除的 Object，其存储费用按 60 天计算 <a href="https://developer.qiniu.com/kodo/manual/3737/infrequent-storage" class="more" target="_blank">更多说明</a></h5>
            </div>
          </div>

          <div class="tab-content-pricing">
            <div class="intro">
              <h2 class="title-left">价格详情</h2>
            </div>
            <div class="table-responsive pricing-white-bg">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                <tbody>
                  <tr>
                    <th width="34%">名目</th><th width="33%" colspan="2" class="th-init border-bottom">标准存储</th><th width="33%" colspan="2" class="th-init border-bottom border-left">低频存储</th>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（华东）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 1 TB</td>
                    <td>0.148 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 1 TB 至 200 TB</td>
                    <td>0.145 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 200 TB 至 5 PB</td>
                    <td>0.142 元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.139 元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（华南）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 1 TB</td>
                    <td>0.134 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 1 TB 至 200 TB</td>
                    <td>0.131 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 200 TB 至 5 PB</td>
                    <td>0.128 元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.125 元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（华北）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 1 TB</td>
                    <td>0.148 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 1 TB 至 200 TB</td>
                    <td>0.145 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 200 TB 至 5 PB</td>
                    <td>0.142 元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.139 元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（东南亚）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 50 TB</td>
                    <td>0.165 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 50 TB 至 500 TB</td>
                    <td>0.162 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 500 TB 至 5 PB</td>
                    <td>0.159 元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.156 元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（北美）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 50 TB</td>
                    <td>0.165 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 50 TB 至 500 TB</td>
                    <td>0.162 元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 500 TB 至 5 PB</td>
                    <td>0.159 元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.156 元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">PUT / DELETE 请求</th>
                    <td>第 0 次至 10 万次</td>
                    <td>免费</td>
                    <td rowspan="2" colspan="2" class="border-bottom border-left">0.1 元/万次</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 10 万次以上</td>
                    <td class="border-bottom">0.01 元/万次</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">GET 请求</th>
                    <td>第 0 次至 100 万次</td>
                    <td>免费</td>
                    <td rowspan="2" colspan="2" class="border-bottom border-left">0.1 元/万次</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 100 万次以上</td>
                    <td class="border-bottom">0.01 元/万次</td>
                  </tr>
                  <tr>
                    <th class="border-right">存储类型转换</th>
                    <td colspan="2" class="border-bottom">0.1 元/万次</td>
                    <td colspan="2" class="border-bottom border-left">0.1 元/万次</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">外网流出流量</th>
                    <td>0GB - 100 TB</td>
                    <td>0.29 元/GB</td>
                    <td class="border-left">0GB - 100 TB</td>
                    <td>0.29 元/GB</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">100TB - 以上</td>
                    <td class="border-bottom">0.26 元/GB</td>
                    <td class="border-bottom border-left">100TB - 以上</td>
                    <td class="border-bottom">0.26 元/GB</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">CDN 回源流出流量</th>
                    <td>0GB - 10GB</td>
                    <td>免费</td>
                    <td rowspan="2" colspan="2" class="border-bottom border-left">0.15 元/GB</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">10GB - 以上</td>
                    <td class="border-bottom">0.15 元/GB</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">跨区域同步流量</th>
                    <td>国内 <-> 国内</td>
                    <td>0.29 元/GB</td>
                    <td class="border-left">国内 <-> 国内</td>
                    <td>0.29 元/GB</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">国内 <-> 海外</td>
                    <td class="border-bottom">0.58 元/GB</td>
                    <td class="border-bottom border-left">国内 <-> 海外</td>
                    <td class="border-bottom">0.58 元/GB</td>
                  </tr>
                  <tr>
                    <th class="th-init border-right">数据读取</th>
                    <td colspan="2">免费</td>
                    <td colspan="2" class="border-left">0.06 元/GB</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="tab-pane" id="tab-prices-fusion">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>
            <dl class="dl-border">
              <dt class="icon-title icon-fusion">融合 CDN</dt>
              <dd>七牛云 CDN 加速按国内流量和海外流量阶梯价格计费（动态加速在此基础上额外加收请求数费用），当月分别超额累进（以自然月为一个累计周期）。开通七牛云融合 CDN 的用户可分别享有国内和海外 0-10GB HTTP 下载流量。</dd>
            </dl>
          </div>

          <div class="tab-content-pricing">
            <div class="intro">
              <h2 class="title-left">价格详情</h2>
            </div>
            <div class="hash" id="inland" name="inland">
              <div class="table-responsive pricing-white-bg">
                <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                  <tbody>
                    <tr class="light-bkcolor">
                      <th width="160" class="thead-title th-init border-bottom">中国大陆</th>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                    </tr>
                    <tr>
                      <th width="240" class="border-right">名目</th><th class="th-init">流量阶梯/每月</th><th class="th-init">价格</th>
                    </tr>
                    <tr>
                      <th rowspan="4" class="border-right">HTTP 下载流量/动态加速 HTTP 流量</th>
                      <td class="light-bkcolor">第 0 GB 至 10 GB</td>
                      <td class="light-bkcolor">免费</td>
                    </tr>
                    <tr>
                      <td>第 10 GB 至 100 TB</td>
                      <td>0.24 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 100 TB 至 1 PB</td>
                      <td>0.19 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 1PB 以上</td>
                      <td>0.14 元/GB</td>
                    </tr>
                    <tr>
                      <th rowspan="3" class="th-init border-right">HTTPS 下载流量/动态加速 HTTPS 流量</th>
                      <td class="light-bkcolor">第 0 GB 至 100 TB</td>
                      <td class="light-bkcolor">0.28 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 100 TB 至 1 PB</td>
                      <td>0.23 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 1 PB 以上</td>
                      <td>0.18 元/GB</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="hash" id="outland" name="outland">
              <div class="table-responsive pricing-white-bg">
                <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                  <tbody>
                    <tr class="light-bkcolor">
                      <th width="180" class="thead-title th-init border-bottom">其他地区</th>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                    </tr>
                    <tr>
                      <th width="240" class="border-right">名目</th>
                      <th width="180" class="th-init">流量阶梯<span class="grey-unit">/每月</span></th>
                      <th class="th-init">亚洲<p class="grey-unit th-p"> （港澳台/东南亚/印度）</p></th>
                      <th class="th-init">亚洲<p class="grey-unit th-p">（其他地区）</p></th>
                      <th class="th-init">欧洲/北美洲</th>
                      <th class="th-init">南美洲</th>
                      <th class="th-init">大洋洲与其他</th>
                    </tr>
                    <tr>
                      <th rowspan="5" class="border-right">HTTP 下载流量/动态加速 HTTP 流量</th>
                      <td class="light-bkcolor">第 0 GB 至 10 GB</td>
                      <td class="light-bkcolor" colspan="5" style="text-align:center">免费</td>
                    </tr>
                    <tr>
                      <td>第 10 GB 至 10 TB</td>
                      <td>0.76 元/GB</td>
                      <td>0.50 元/GB</td>
                      <td>0.34 元/GB</td>
                      <td>0.76 元/GB</td>
                      <td>0.94 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 10 TB 至 50 TB</td>
                      <td>0.66 元/GB</td>
                      <td>0.44 元/GB</td>
                      <td>0.30 元/GB</td>
                      <td>0.66 元/GB</td>
                      <td>0.82 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 50 TB 至 100 TB</td>
                      <td>0.57 元/GB</td>
                      <td>0.38 元/GB</td>
                      <td>0.26 元/GB</td>
                      <td>0.57 元/GB</td>
                      <td>0.71 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 100 TB 以上</td>
                      <td colspan="5" style="text-align:center">请联系我们 400-808-9176 转 1</td>
                    </tr>
                    <tr>
                      <th rowspan="5" class="th-init border-bottom border-right">HTTPS 下载流量/动态加速 HTTPS 流量</th>
                      <td>第 0 GB 至 10 TB</td>
                      <td>0.91 元/GB</td>
                      <td>0.60 元/GB</td>
                      <td>0.40 元/GB</td>
                      <td>0.91 元/GB</td>
                      <td>1.12 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 10 TB 至 50 TB</td>
                      <td>0.79 元/GB</td>
                      <td>0.52 元/GB</td>
                      <td>0.36 元/GB</td>
                      <td>0.79 元/GB</td>
                      <td>0.98 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 50 TB 至 100 TB</td>
                      <td>0.68 元/GB</td>
                      <td>0.45 元/GB</td>
                      <td>0.31 元/GB</td>
                      <td>0.68 元/GB</td>
                      <td>0.85 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 100 TB 以上</td>
                      <td colspan="5" style="text-align:center">请联系我们 400-808-9176 转 1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="hash" id="dongtaijiasuqingqiushu" name="dongtaijiasuqingqiushu">
              <div class="table-responsive pricing-white-bg">
                <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                  <tbody>
                    <tr class="light-bkcolor">
                      <th width="180" class="thead-title th-init border-bottom">动态加速请求数</th>
                      <td class="border-bottom"></td>
                    </tr>
                    <tr>
                      <th width="240" class="border-right">名目</th>
                      <th class="th-init">价格</th>
                    </tr>
                    <tr class="light-bkcolor">
                      <th class="border-right">动态 HTTP 请求数</th>
                      <td>0.19 元/万次</td>
                    </tr>
                    <tr>
                      <th class="th-init border-bottom border-right">动态 HTTPS 请求数</th>
                      <td>0.19 元/万次</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>注：该价格仅适用于中国大陆地区使用，如果您对 CDN 需要大量采购，您可以通过商务洽谈的方式获得更多优惠的价格及更加灵活的计费方式。欢迎拨打 400-808-9176 转 1 或<%= link_to "提交工单", "https://support.qiniu.com/tickets/category", style: "color: #28aedf", target: "_blank" -%>咨询。</p>
            </div>
          </div>
        </section>

        <section class="tab-pane" id="tab-prices-dora">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>

            <div class="row details">
              <dl>
                <dt class="icon-title icon-dora">智能多媒体服务</dt>
                <dd>智能多媒体服务是一款后付费产品，每月 3～5 日生成上个月的帐单并进行结算。音视频转码按分钟收费。部分图片处理按图片原文件的大小计算数据的处理量进行计量，按量付费，每月提供一定量免费处理量。部分数据处理按调用次数收费。</dd>
              </dl>

              <dl>
                <dd>开通七牛云智能多媒体服务的标准用户，每月可享受一定量的免费额度。每月计费时，会先抵扣免费额度，超出部分按价格详情付费结算。</dd>
              </dl>

              <div class="row list-inline-prices">
                <div class="col-xs-6 col-md-4 special-price">
                  <h5>每月多媒体处理服务</h5>
                  <p><span class="big-text">20 </span><span class="smal-text"> 元</span></p>
                </div>
                <div class="col-xs-6 col-md-4 special-price">
                  <h5>每月部分图片处理服务</h5>
                  <p><span class="big-text">20 </span><span class="smal-text"> TB</span></p>
                </div>
                <div class="col-xs-6 col-md-4 special-price border-init">
                  <h5>每月 C1M1 自定义数据处理服务</h5>
                  <p><span class="big-text">750 </span><span class="smal-text"> 小时</span></p>
                </div>
              </div>
            </div>

            <div class="tab-content-pricing">
              <div class="intro">
                <h2 class="title-left">价格详情</h2>
              </div>
              <div class="hash" id="duomeitichuli" name="duomeitichuliyinshipin">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">多媒体处理 - 音视频处理</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th class="border-right">名目</th><th colspan="3" class="text-center th-init border-bottom">价格</th>
                      </tr>
                      <tr>
                        <th class="border-right light-bkcolor">音频转码</th>
                        <td colspan="3" class="light-bkcolor text-center border-bottom">0.0048 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="7" class="border-right">视频转码（H.264 及其他）</th>
                        <td>输出规格</td>
                        <td>普通帧率（&lt;= 30 帧/秒）</td>
                        <td>高帧率（30 帧/秒 &lt; r &lt;= 60 帧/秒）</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 SD240（ 320x240）</td>
                        <td>0.0057 元/分钟</td>
                        <td>0.0114 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 SD480（640x480） </td>
                        <td>0.0072 元/分钟</td>
                        <td>0.0144 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 SD（1080x720） </td>
                        <td>0.0189 元/分钟</td>
                        <td>0.0378 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 HD（1920x1080）</td>
                        <td>0.0324 元/分钟</td>
                        <td>0.0648 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 2K（2560x1440）</td>
                        <td>0.06 元/分钟</td>
                        <td>0.12 元/分钟</td>
                      </tr>
                      <tr>
                        <td class="border-bottom">视频转码 4K（3840x2160）</td>
                        <td class="border-bottom">0.12 元/分钟</td>
                        <td class="border-bottom">0.24 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="7" class="border-right light-bkcolor">视频转码（H.265）</th>
                        <td class="light-bkcolor">输出规格</td>
                        <td class="light-bkcolor">普通帧率（&lt;= 30 帧/秒）</td>
                        <td class="light-bkcolor">高帧率（30 帧/秒 &lt; r &lt;= 60 帧/秒）</td>
                      </tr>
                      <tr>
                        <td>视频转码 SD240（ 320x240）</td>
                        <td>0.0285 元/分钟</td>
                        <td>0.057 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 SD480（640x480） </td>
                        <td>0.036 元/分钟</td>
                        <td>0.072 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 SD（1080x720） </td>
                        <td>0.0945 元/分钟</td>
                        <td>0.189 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 HD（1920x1080）</td>
                        <td>0.162 元/分钟</td>
                        <td>0.324 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 2K（2560x1440）</td>
                        <td>0.3 元/分钟</td>
                        <td>0.6 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-bottom">视频转码 4K（3840x2160）</td>
                        <td class="border-bottom">0.6 元/分钟</td>
                        <td class="border-bottom">1.2 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="7" class="border-right">倍速转码（H.264）</th>
                        <td>输出规格</td>
                        <td>普通帧率（&lt;= 30 帧/秒）</td>
                        <td>高帧率（30 帧/秒 &lt; r &lt;= 60 帧/秒）</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>倍速转码 SD240</td>
                        <td>0.0086 元/分钟</td>
                        <td>0.0172 元/分钟</td>
                      </tr>
                      <tr>
                        <td>倍速转码 SD480</td>
                        <td>0.0108 元/分钟</td>
                        <td>0.0216元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>倍速转码 SD</td>
                        <td>0.0284 元/分钟</td>
                        <td>0.057 元/分钟</td>
                      </tr>
                      <tr>
                        <td>倍速转码 HD</td>
                        <td>0.0486 元/分钟</td>
                        <td>0.0972元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>倍速转码 2K</td>
                        <td>0.09 元/分钟</td>
                        <td>0.18 元/分钟</td>
                      </tr>
                      <tr>
                        <td class="border-bottom">倍速转码 4K</td>
                        <td class="border-bottom">0.18 元/分钟</td>
                        <td class="border-bottom">0.36 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="7" class="border-right light-bkcolor">倍速转码（H.265）</th>
                        <td class="light-bkcolor">输出规格</td>
                        <td class="light-bkcolor">普通帧率（&lt;= 30 帧/秒）</td>
                        <td class="light-bkcolor">高帧率（30 帧/秒 &lt; r &lt;= 60 帧/秒）</td>
                      </tr>
                      <tr>
                        <td>倍速转码 SD240</td>
                        <td>0.0428 元/分钟</td>
                        <td>0.0856 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>倍速转码 SD480</td>
                        <td>0.054 元/分钟</td>
                        <td>0.108 元/分钟</td>
                      </tr>
                      <tr>
                        <td>倍速转码 SD</td>
                        <td>0.1418 元/分钟</td>
                        <td>0.2836 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>倍速转码 HD</td>
                        <td>0.243 元/分钟</td>
                        <td>0.486 元/分钟</td>
                      </tr>
                      <tr>
                        <td>倍速转码 2K</td>
                        <td>0.45 元/分钟</td>
                        <td>0.9 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-bottom">倍速转码 4K</td>
                        <td class="border-bottom">0.9 元/分钟</td>
                        <td class="border-bottom">1.8 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="4" class="border-right">锐智转码（H.264）</th>
                        <td>视频转码 SD（1280x720）及以下</td>
                        <td colspan="2" class="text-center">0.08 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 HD（1920x1080）</td>
                        <td colspan="2" class="text-center">0.16 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 2K（2560x1440）</td>
                        <td colspan="2" class="text-center">0.32 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-bottom">视频转码 4K（3840x2160）</td>
                        <td colspan="2" class="text-center border-bottom">0.64 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <th class="th-init border-right">音视频转封装</th>
                        <td colspan="3" class="text-center">0.003 元/分钟</td>
                      </tr>
                      <tr>
                        <th class="th-init border-right">实时音视频转封装</th>
                        <td colspan="3" class="text-center">0.009 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <th class="th-init border-right">avinfo（音视频元信息）</th>
                        <td colspan="3" class="text-center">0.1 元/千次</td>
                      </tr>
                      <tr>
                        <th class="th-init border-right">vframe, vsample（视频截图）</th>
                        <td colspan="3" class="text-center">0.1 元/千次</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="duomeitichulitupianchuli" name="duomeitichulitupianchuli">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">多媒体处理 - 图片处理</th>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th class="th-init">名目</th><th class="th-init">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>imageslim（图片瘦身）</td>
                        <td class="border-left border-bottom">0.1 元/千次</td>
                      </tr>
                      <tr>
                        <td>animate（动图合成）</td>
                        <td class="border-left border-bottom">0.2 元/千次</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>imageAve（图片主色调）</td>
                        <td class="border-left border-bottom">0.1 元/千次</td>
                      </tr>
                      <tr>
                        <td rowspan="2">图片盲水印处理</td>
                        <td class="border-left border-bottom">添加：1 元/千次</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-left border-bottom">提取：1 元/千次</td>
                      </tr>
                      <tr>
                        <td class="light-bkcolor">imageView2（图片基本处理）</td>
                        <td rowspan="6" class="border-left">每月 0-20TB：免费<br/>20TB 以上：0.025 元/GB</td>
                      </tr>
                      <tr>
                        <td>imageMogr2（图片高级处理）</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>imageInfo（图片基本信息）</td>
                      </tr>
                      <tr>
                        <td>exif（图片 EXIF 信息）</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>watermark（图片水印处理）</td>
                      </tr>
                      <tr>
                        <td>roundPic（图片圆角）</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="duomeitichuliwenjianchuli" name="duomeitichuliwenjianchuli">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" style="padding-bottom: 0.10rem" colspan="2">
                          多媒体处理 - 文件处理
                          <% if Time.now.to_i < Time.local(2019, 4, 1).to_i -%>
                          <br/><span style="font-size: 12px; line-height: 18px;">文件处理服务将于 2019 年 4 月 1 日起开始收费。</span>
                          <% end -%>
                        </th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">名目</th><th colspan="2" class="th-init">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>qhash（文件 HASH 值）</td>
                        <td colspan="2">0.05 元/GB</td>
                      </tr>
                      <tr>
                        <td>concat（文本文件合并）</td>
                        <td colspan="2">0.05 元/GB</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>mkzip（多文件压缩）</td>
                        <td colspan="2">0.05 元/GB</td>
                      </tr>
                      <tr>
                        <td>md2html（MD 转 HTML）</td>
                        <td colspan="2">0.1 元/千次</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>qrcode（资源下载二维码）</td>
                        <td colspan="2">0.1 元/千次</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="tupianjianhuang" name="tupianjianhuang">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">图片鉴黄</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th><th colspan="2" class="th-init">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元／百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元／百张</td>
                      </tr>
                      <tr>
                        <td>3000 万至 1 亿张</td>
                        <td colspan="2">0.055 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元／百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="tupianjiankong" name="tupianjiankong">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">图片鉴暴恐</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th><th colspan="2" class="th-init">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元／百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元／百张</td>
                      </tr>
                      <tr>
                        <td>3000 万至 1 亿张</td>
                        <td colspan="2">0.055 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元／百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="tupianzhengzhirenwushibie" name="tupianzhengzhirenwushibie">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">图片政治人物识别</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th><th colspan="2" class="th-init">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元／百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元／百张</td>
                      </tr>
                      <tr>
                        <td>3000 万至 1 亿张</td>
                        <td colspan="2">0.055 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元／百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="tupianguanggaoshibie" name="tupianguanggaoshibie">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="3">图片广告识别</th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th>
                        <th class="th-init" colspan="2">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 3000 万张 至 1 亿张</td>
                        <td colspan="2">0.055 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="shipinjianhuang" name="shipinjianhuang">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" style="padding-bottom: 0.10rem" colspan="3">
                          视频鉴黄<br>
                          <span style="font-size: 12px; line-height: 18px;">视频鉴黄是对视频截帧后，对截帧进行图片鉴黄，所以视频鉴黄价格实际使用的是截帧图片鉴黄的价格，与图片鉴黄共用范围。</span>
                        </th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th><th colspan="2" class="th-init">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元／百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元／百张</td>
                      </tr>
                      <tr>
                        <td>3000 万至 1 亿张</td>
                        <td colspan="2">0.055 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元／百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="shipinjiankong" name="shipinjiankong">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" style="padding-bottom: 0.10rem" colspan="3">
                          视频鉴暴恐<br>
                          <span style="font-size: 12px; line-height: 18px;">视频鉴暴恐是对视频截帧后，对截帧进行图片鉴暴恐，所以视频鉴暴恐价格实际使用的是截帧图片鉴暴恐的价格，与图片鉴暴恐共用范围。</span>
                        </th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th><th colspan="2" class="th-init">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元／百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元／百张</td>
                      </tr>
                      <tr>
                        <td>3000 万至 1 亿张</td>
                        <td colspan="2">0.055 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元／百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="shipinzhengzhirenwushibie" name="shipinzhengzhirenwushibie">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" style="padding-bottom: 0.10rem" colspan="3">
                          视频政治人物识别<br>
                          <span style="font-size: 12px; line-height: 18px;">视频政治人物识别是对视频截帧后，对截帧进行图片政治人物识别，所以视频政治人物识别价格实际使用的是截帧图片政治人物识别的价格，与图片政治人物识别共用范围。</span>
                        </th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th><th colspan="2" class="th-init">机器智能审核价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 300 万张</td>
                        <td colspan="2">0.085 元／百张</td>
                      </tr>
                      <tr>
                        <td>第 300 万张 至 1500 万张</td>
                        <td colspan="2">0.075 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.065 元／百张</td>
                      </tr>
                      <tr>
                        <td>3000 万至 1 亿张</td>
                        <td colspan="2">0.055 元／百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>1 亿张以上</td>
                        <td colspan="2">0.05 元／百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="yitusoutu" name="yitusoutu">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="3">以图搜图</th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th>
                        <th class="th-init" colspan="2">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 500 万张</td>
                        <td colspan="2">0.38 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 500 万张 至 1500 万张</td>
                        <td colspan="2">0.36 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 1500 万张 至 3000 万张</td>
                        <td colspan="2">0.34 元/百张</td>
                      </tr>
                      <tr>
                        <td>3000 万张以上</td>
                        <td colspan="2">0.32 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="shenfenzhengshibie" name="shenfenzhengshibie">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="3">身份证识别</th>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">每月调用量 P</th>
                        <th class="th-init" colspan="2">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 0 张 至 1 万张</td>
                        <td colspan="2">1.2 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 1 万张 至 5 万张</td>
                        <td colspan="2">0.96 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 5 万张 至 10 万张</td>
                        <td colspan="2">0.78 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 10 万张 至 50 万张</td>
                        <td colspan="2">0.66 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 50 万张 至 100 万张</td>
                        <td colspan="2">0.6 元/百张</td>
                      </tr>
                      <tr>
                        <td>100 万张以上</td>
                        <td colspan="2">0.54 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="hash" id="renlianshibiejishu" name="renlianshibiejishu">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">人脸识别技术</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th class="th-init" colspan="2">范围</th><th class="th-init" colspan="2">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>计费接口</td>
                        <td>人脸检测</td>
                        <td>1:1 人脸比对</span></td>
                        <td>1:N 人脸比对</span></td>
                      </tr>
                      <tr>
                        <td>第 0 张 至 500 万张</td>
                        <td>0.03 元/百张</td>
                        <td>0.19 元/百张</td>
                        <td>0.19 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 500 万张 至 1500 万张</td>
                        <td>0.024 元/百张</td>
                        <td>0.18 元/百张</td>
                        <td>0.18 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 1500 万张 至 3000 万张</td>
                        <td>0.020 元/百张</td>
                        <td>0.15 元/百张</td>
                        <td>0.15 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>3000 万张以上</td>
                        <td>0.018 元/百张</td>
                        <td>0.12 元/百张</td>
                        <td>0.12 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="zidingyishujuchuli" name="zidingyishujuchuli">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="180" class="thead-title th-init border-bottom">自定义数据处理<br><span style="font-size:12px;width:450px;line-height:18px">选择 C1M1 的标准用户和高级用户</span><br><span style="font-size:12px;width:450px;line-height:18px">每月有 750 小时的免费额度。</span></th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="180" class="th-init">规格</th><th width="180" class="th-init">内存/CPU/系统盘/GPU/数据盘</th><th colspan="2" class="th-init">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>-</td>
                        <td>-</td>
                        <td width="40"><span style="font-weight:500">按需算（每小时）</span></td>
                        <td width="110"><span style="font-weight:500">按月算（30 天）</span></td>
                      </tr>
                      <tr>
                        <td>C1M1</td>
                        <td>1 GB / 1 Core / 20 GB / 0 / 0</td>
                        <td>0.0815 元/小时</td>
                        <td>58.68 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C2M2</td>
                        <td>2 GB / 2 Core / 20 GB / 0 / 0</td>
                        <td>0.1631 元/小时</td>
                        <td>117.432 元/月</td>
                      </tr>
                      <tr>
                        <td>C2M4</td>
                        <td>4 GB / 2 Core / 20 GB / 0 / 0</td>
                        <td>0.1671 元/小时</td>
                        <td>120.312 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C4M4</td>
                        <td>4 GB / 4 Core / 20 GB / 0 / 0</td>
                        <td>0.3081 元/小时</td>
                        <td>221.832 元/月</td>
                      </tr>
                      <tr>
                        <td>C4M8</td>
                        <td>8 GB / 4 Core / 20 GB / 0 / 0</td>
                        <td>0.3161 元/小时</td>
                        <td>227.592 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C8M8</td>
                        <td>8 GB / 8 Core / 20 GB / 0 / 0</td>
                        <td>0.6161 元/小时</td>
                        <td>443.592 元/月</td>
                      </tr>
                      <tr>
                        <td>C8M16</td>
                        <td>16 GB / 8 Core / 20 GB / 0 / 0</td>
                        <td>0.6321 元/小时</td>
                        <td>455.112 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C16M16</td>
                        <td>16 GB / 16 Core / 20 GB / 0 / 0</td>
                        <td>2.0875 元/小时</td>
                        <td>1503 元/月</td>
                      </tr>
                      <tr>
                        <td>C16M32</td>
                        <td>32 GB / 16 Core / 20 GB / 0 / 0</td>
                        <td>2.1451 元/小时</td>
                        <td>1544.472 元/月</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="tab-pane" id="tab-prices-pili">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>

            <div class="row details">
              <dl>
                <dt class="icon-title icon-pili">直播云</dt>
                <dd>直播云服务的基础计费项为带宽计费。若选择流量计费，支持购买直播流量资源包进行流量抵扣。（开通流量计费请联系销售 400-808-9176 转 1）。</dd>
              </dl>
              <dl>
                <dd>此外还提供直播转码、直播鉴黄以及导播台等服务，会根据具体使用情况单独进行计费。</dd>
              </dl>
            </div>

            <div class="tab-content-pricing">
              <div class="intro">
                <h2 class="title-left">价格详情</h2>
              </div>

              <!-- 直播按日峰值带宽计费 -->
              <div class="hash" id="piliPriceByDayPeakBandwidth" name="piliPriceByDayPeakBandwidth">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="6">
                          直播日峰值带宽计费
                          <br>
                          <p class="pricing-table-subtitle">
                            <br>
                            <span>按峰值带宽计费是以当日直播观看区域所在节点直播加速服务分别产生的带宽最高值（单位 Mbps）为结算标准。</span><br>
                            <span>如需使用 95 峰值带宽计费，请联系销售或提交工单申请。</span>
                          </p>
                        </th>
                      </tr>
                      <tr>
                        <th width="340" class="thead-title th-init border-bottom" colspan="6">
                          <p class="pricing-table-subtitle">
                            <span>1. 计费方式：每月出账后付费（账单）</span><br>
                            <span>2. 计费规则：按直播日峰值带宽的阶梯价格计费，统计一个自然日内产生的带宽最高值（单位：Mbps）乘以对应的阶梯价格，为最终结算标准</span><br>
                            <span>3. 计费周期：按月出账，具体出账时间以系统为准</span><br>
                            <span>4. 计费方向：默认只收取下行播放费用，针对上下行不均衡业务（上行推流：下行播放 > 1 : 40）需要收取上行推流费用</span>
                          </p>
                          <p class="pricing-table-subtitle">
                            <strong>请联系对应销售或拨打 400-808-9176 转 1 了解收费详情</strong>
                          </p>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 直播按流量计费 -->
              <div class="hash" id="piliPriceByFlow" name="piliPriceByFlow">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="6">
                          直播流量计费<span class="grey-unit">（如需使用流量计费请联系销售开通服务）</span>
                          <br>
                          <p class="pricing-table-subtitle">
                            <br>
                            <span>按不同区域流量阶梯价格计费，流量累积到自然月底，下月自动清零重新累积。</span>
                            </p>
                        </th>
                      </tr>
                      <tr>
                        <th width="340" class="thead-title th-init border-bottom" colspan="6">
                          <p class="pricing-table-subtitle">
                            <span>计费规则：</span><br>
                            <span>1. 计费规则：按月到达阶梯计费，统计一个自然月内的流量累计值乘以对应的阶梯价格</span><br>
                            <span>2. 计费周期：按月出账，具体出账时间以系统为准</span><br>
                          </p>
                          <p class="pricing-table-subtitle">
                            <strong>请联系对应销售或拨打 400-808-9176 转 1 了解收费详情</strong>
                          </p>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 预付费直播流量资源包 -->
              <div class="hash" id="piliPrePayResource" name="piliPrePayResource">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="2">
                          预付费直播流量包
                          <span class="hot-attention-light">（双11活动新用户专享）</span>
                        </th>
                      </tr>
                      <tr>
                        <th class="th-init border-right">流量包规格</th>
                        <th class="th-init border-right">
                          流量包价格<span class="grey-unit">（元/年）</span>
                          <span class="label label-danger discount-pili-price-label">活动价</span>
                        </th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">100GB</td>
                        <td class="border-right">25</td>
                      </tr>
                      <tr>
                        <td class="border-right">500GB</td>
                        <td class="border-right">116</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">1TB</td>
                        <td class="border-right">233</td>
                      </tr>
                      <tr>
                        <td class="border-right">5TB</td>
                        <td class="border-right">1096</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">10TB</td>
                        <td class="border-right">2170</td>
                      </tr>
                      <tr>
                        <td class="border-right">50TB</td>
                        <td class="border-right">8906</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">200TB</td>
                        <td class="border-right">30824</td>
                      </tr>
                      <tr>
                        <td class="border-right">1PB</td>
                        <td class="border-right">150445</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="2">
                          <p class="pricing-table-subtitle">
                            <span>计费规则：</span><br>
                            <span>1. 有效期：流量包在您支付购买后的当月生效，有效期为 1 年</span><br>
                            <span>2. 仅支持中国大陆地区按月结流量计费的抵扣，抵扣完毕后，超出部分按流量（公开价）后计费</span><br>
                            <span>3. 支持购买多个流量包叠加使用，有效期不叠加，优先抵扣先过期的流量包</span><br>
                            <span>4. 已购买但从未使用可以联系销售进行退款</span><br>
                            <span>5. 流量资源包仅支持当前计费规则为流量计费的用户购买，如您当前以带宽峰值计费，请联系对应销售或拨打 400-808-9176 转 1 完成计费方式切换</span>
                          </p>
                          <p class="pricing-table-subtitle">
                            <strong>注：10 月和 11 月注册的用户均可参与此次活动，活动将持续至 11 月 30 日</strong>
                          </p>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 直播转码 -->
              <div class="hash" id="piliTransform" name="piliTransform">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="3">
                          极速直播转码
                        </th>
                      </tr>
                      <tr>
                        <th class="th-init border-right">编码方式</th>
                        <th class="th-init border-right">分辨率</th>
                        <th class="th-init border-right">价格<span class="grey-unit">（元/分钟）</span></th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right border-bottom" rowspan="6">H.264</td>
                        <td class="border-right">480P（原流畅）</td>
                        <td class="border-right">0.016</td>
                      </tr>
                      <tr>
                        <td class="border-right">720P（原标清/高清）</td>
                        <td class="border-right">0.0325</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">1080P（原超清）</td>
                        <td class="border-right">0.08</td>
                      </tr>
                      <tr>
                        <td class="border-right">2K</td>
                        <td class="border-right">0.14</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">4K</td>
                        <td class="border-right">0.28</td>
                      </tr>
                      <tr>
                        <td class="border-right">4K 以上（请联系销售开通）</td>
                        <td class="border-right">具体请联系销售询价</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="3">
                          <p class="pricing-table-subtitle">
                            <span>计费规则：</span><br>
                            <span>1. 计费规则：以编码方式和分辨率计费，按一个自然月内不同编码标准和不同分辨率规格的转码时长乘以对应的单价，以分钟为计费单位，不足一分钟计一分钟</span><br>
                            <span>2. 计费周期：按月计费，具体出账时间以系统为准</span><br>
                            </p>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 直播鉴黄 -->
              <div class="hash" id="piliAI" name="piliAI">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="2">
                          智能直播鉴黄
                        </th>
                      </tr>
                      <tr>
                        <th class="th-init border-right">总调用量 P<span class="grey-unit">(单位：万张)</span></th>
                        <th class="th-init border-right">调用单价<span class="grey-unit">(单位：元/百张)</span></th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">P < = 300</td>
                        <td class="border-right">0.18</td>
                      </tr>
                      <tr>
                        <td class="border-right">300 < P <=1500</td>
                        <td class="border-right">0.16</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">1500 < P <= 3000</td>
                        <td class="border-right">0.15</td>
                      </tr>
                      <tr>
                        <td class="border-right">P > 3000</td>
                        <td class="border-right">0.13</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="2">
                          <p class="pricing-table-subtitle">
                            <span>计费规则：</span><br>
                            <span>1. 计费规则：一个自然月内按照鉴黄调用量乘以对应的单价</span><br>
                            <span>2. 计费周期：按月计费，具体出账时间以系统为准</span><br>
                            </p>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 导播台 -->
              <div class="hash" id="piliCaster" name="piliCaster">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="2">
                          导播台计费
                        </th>
                      </tr>
                      <tr>
                        <th class="th-init border-right">导播输出规格（H.264）</th>
                        <th class="th-init border-right">国内价格<span class="grey-unit">（元/分钟）</span></th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">480P</td>
                        <td class="border-right">0.2</td>
                      </tr>
                      <tr>
                        <td class="border-right">720P</td>
                        <td class="border-right">0.35</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td class="border-right">1080P</td>
                        <td class="border-right">0.6</td>
                      </tr>
                      <tr>
                        <td class="border-right">2K 及以上（请联系销售开通）</td>
                        <td class="border-right">具体请联系销售询价</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom" colspan="2">
                          <p class="pricing-table-subtitle">
                            <span>计费规则：</span><br>
                            <span>1. 计费规则：按照导播流不同规格输出的时长乘以对应的单价</span><br>
                            <span>2. 计费周期：按月计费，具体出账时间以系统为准</span><br>
                            </p>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>