<%# 内容安全 demo template %>
<div class="tabs censor-demo">
  <ul class="nav nav-tabs nav-justified points-bar nav-image-video" role="tablist">
    <li class="image-tab-li active">
      <a data-toggle="tab" href="#upload-tab-image">图片审核</a>
    </li>
    <li class="video-tab-li">
      <a data-toggle="tab" href="#upload-tab-video">视频审核</a>
    </li>
  </ul>
  <div class="tab-content">
    <section class="tab-pane fade in active" id="upload-tab-image">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-demo">
          <div class="thumbnail thumbnail-upload image-upload">
            <div class="image-overlay"></div>
            <div class="image-container">
              <div class="upload-image-show" id="upload-image-show"></div>
              <div class="image-scan"></div>
              <div class="image-block"></div>
              <div class="image-review"></div>
              <div class="image-pass"></div>
              <div class="result-container image-result-container">
                <p id= "image-pulp" class="text-error">
                  <span>色情识别</span>
                  <span class="result-word">疑似</span>
                </p>
                <p id="image-terror">
                  <span>暴恐识别</span>
                  <span class="result-word">正常</span>
                </p>
                <p id="image-politician">
                  <span>政治敏感人物识别</span>
                  <span class="result-word">正常</span>
                </p>
                <p id="image-ads">
                  <span>广告识别</span>
                  <span class="result-word">正常</span>
                </p>
              </div>
            </div>
            <div class="slide-container">
              <div class="slide-item active">
                <%= image_tag "censor/image-xinggan.jpg", key: 'Flm400wajEHohD2sFZgyLpc7fbCD', alt: "image-xinggan", width: "100%"-%>
              </div>
              <div class="slide-item">
                <%= image_tag "censor/image-baokong-1.jpg", key: 'Fg79yNfEzERf9ouOMFoBqUVQQuDB', alt: "image-baokong-1", width: "100%"-%>
              </div>
              <div class="slide-item">
                <%= image_tag "censor/image-baokong-2.jpg", key: 'Fg79yNfEzERf9ouOMFoBqUVQQuAC', alt: "image-baokong-2", width: "100%"-%>
              </div>
              <div class="slide-item">
                <%= image_tag "censor/image-zhengzhi.jpg", key: 'FvPIoyT7NXuBiIxvHRPbEM6wRhrN', alt: "image-zhengzhi", width: "100%"-%>
              </div>
            </div>
            <div class="image-control">
              <input class="form-control" id="upload-image-input" type="text" placeholder="请输入网络图片 URL">
              <div class="btn btn-primary" id="upload-image-btn">检测</div>
            </div>
          </div>
        </div>
        <%# 图片审核代码展示区 %>
        <div class="col-md-4 col-sm-4 col-xs-12 col-code">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default border-none image-request-container">
              <div class="panel-heading" role="tab" id="image-request-title">
                <h5 class="panel-title">
                  <a role="button" data-toggle="collapse" href="#image-request-panel" aria-expanded="true" aria-controls="image-request-panel">
                    Request
                  </a>
                </h5>
              </div>
              <div id="image-request-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="image-request-title">
                <div class="panel-body image-request-view"></div>
              </div>
            </div>
            <div class="panel panel-default border-none image-response-container">
              <div class="panel-heading" role="tab" id="image-response-title">
                <h5 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#image-response-panel" aria-expanded="false" aria-controls="image-response-panel">
                    Response
                  </a>
                </h5>
              </div>
              <div id="image-response-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="image-response-title">
                <div class="panel-body image-response-view"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tab-pane fade" id="upload-tab-video">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-demo">
          <div class="thumbnail thumbnail-upload video-upload">
            <div class="video-overlay"></div>
            <div class="video-container">
              <video src="<%= @videoSrc_1 -%>" id="upload-video-show" autobuffer="true" loop="true" width="100%"></video>
              <div class="video-scan"></div>
              <div class="video-block"></div>
              <div class="video-review"></div>
              <div class="video-pass"></div>
              <div class="result-container video-result-container">
                <p id= "video-pulp" class="text-error">
                  <span>色情识别</span>
                  <span class="result-word">疑似</span>
                </p>
                <p id="video-terror">
                  <span>暴恐识别</span>
                  <span class="result-word">正常</span>
                </p>
                <p id="video-politician">
                  <span>政治敏感人物识别</span>
                  <span class="result-word">正常</span>
                </p>
                <p id="video-ads">
                  <span>广告识别</span>
                  <span class="result-word">正常</span>
                </p>
              </div>
            </div>
            <div class="slide-container">
              <div class="slide-item active">
                <video src="<%= @videoSrc_1 -%>" key="Fi1UC6waXtXYCpnTGHa8XxIziGNk" type="video/mp4" autobuffer="false" width="100%"></video>
                <div class="video-mask"></div>
              </div>
              <div class="slide-item">
                <video src="<%= @videoSrc_2 -%>" key="Fos2uiHzcuvF6HZF3RarMp9J1ewZ" type="video/mp4" autobuffer="false" width="100%"></video>
                <div class="video-mask"></div>
              </div>
              <div class="slide-item">
                <video src="<%= @videoSrc_3 -%>" key="FgV6wvTgRv8ZgUZBecKojdIlfs58" type="video/mp4" autobuffer="false" width="100%"></video>
                <div class="video-mask"></div>
              </div>
              <div class="slide-item">
                <video src="<%= @videoSrc_4 -%>" key="lrBYuiLwg0zFRUP97w59FmmN6H01" type="video/mp4" autobuffer="false" width="100%"></video>
                <div class="video-mask"></div>
              </div>
            </div>
            <div class="video-control">
              <input class="form-control" id="upload-video-input" type="text" placeholder="请输入网络视频 URL">
              <div class="btn btn-primary" id="upload-video-btn">检测</div>
            </div>
          </div>
        </div>
        <%# 视频审核代码展示区 %>
        <div class="col-md-4 col-sm-4 col-xs-12 col-code col-code-video">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default border-none video-request-container">
              <div class="panel-heading" role="tab" id="video-request-title">
                <h5 class="panel-title">
                  <a role="button" data-toggle="collapse" href="#video-request-panel" aria-expanded="true" aria-controls="video-request-panel">
                    Request
                  </a>
                </h5>
              </div>
              <div id="video-request-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="video-request-title">
                <div class="panel-body video-request-view"></div>
              </div>
            </div>
            <div class="panel panel-default border-none video-response-container">
              <div class="panel-heading" role="tab" id="video-response-title">
                <h5 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#video-response-panel" aria-expanded="false" aria-controls="video-response-panel">
                    Response
                  </a>
                </h5>
              </div>
              <div id="video-response-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="video-response-title">
                <div class="panel-body video-response-view"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>