<div class="sidebar">
  <form class="searchform" method="get" action="/">
    <input type="text" name="q" class="field" placeholder="Search" id="blog-search-input">
    <input type="submit" class="submit">
  </form>

  <div class="sidebar-content">
    <div class="cat-item cat-item-first">
      <a href="https://www.qiniu.com/products/player" title="播放器" target="_blank">
        <%= image_tag "blog/architecture-pratice.png", alt: "博客图", width: "100%", class: "m-b-sm" -%>
      </a>
      <a href="https://www.qiniu.com/goglobal" title="以梦为马 御风出海" target="_blank">
        <%= image_tag "blog/architecture-advertising.png", alt: "广告", width: "100%" -%>
      </a>
    </div>

    <div class="cat-item hot-clicks">
      <div class="title">热文推荐</div>
      <ul class="hot-clicks-wrapper">
        <% @hot_archives.each do |archive| %>
          <li><%= link_to archive.title, archives_path(id: archive.id), class: "hot-title" -%></li>
        <% end %>
      </ul>
    </div>
    <ul class="list list-blog">
      <li class="cat-item all-articles">
        <%= link_to "所有文章", "/", class: "category" -%>
      </li>
      <li class="cat-item all-news">
        <%= link_to "新闻动态", archives_category_path(category: Archive::CATEGORIES.key("新闻动态")), class: "category" -%>
      </li>
      <li class="cat-item all-products">
        <%= link_to "产品动态", archives_category_path(category: Archive::CATEGORIES.key("产品动态")), class: "category" -%>
      </li>
      <li class="cat-item all-cases">
        <%= link_to "客户案例", archives_category_path(category: Archive::CATEGORIES.key("客户案例")), class: "category" -%>
      </li>
      <li class="cat-item all-bennefits">
        <%= link_to "近期福利", archives_category_path(category: Archive::CATEGORIES.key("近期福利")), class: "category" -%>
      </li>
      <li class="cat-item all-skills active">
        <%= link_to "技术实践", archives_category_path(category: Archive::CATEGORIES.key("技术实践")), class: "category" -%>
      </li>
      <li class="cat-item all-comics">
        <%= link_to "牛棚漫画", archives_category_path(category: Archive::CATEGORIES.key("牛棚漫画")), class: "category" -%>
      </li>
      <li class="cat-item all-hirings">
        <%= link_to "加入我们", archives_category_path(category: Archive::CATEGORIES.key("加入我们")), class: "category" -%>
      </li>
      <li class="cat-item all-newTech">
        <%= link_to "NewTech 观察圈", archives_category_path(category: Archive::CATEGORIES.key("NewTech 观察圈")), class: "category" -%>
      </li>
      <li class="cat-item all-newTech">
        <%= link_to "其他分类", archives_category_path(category: Archive::CATEGORIES.key("其他分类")), class: "category" -%>
      </li>
    </ul>
  </div>
</div>