<div class="sidebar">
  <form class="searchform" method="get" action="<%= archives_all_path %>">
    <input type="text" name="q" class="field" placeholder="Search" id="blog-search-input">
    <input type="submit" class="submit">
  </form>

  <div class="sidebar-content">
    <div class="cat-item cat-item-first">
      <a href="https://www.qiniu.com/events/free?hmsr=blog&hmpl=AD-blog&hmcu=free&hmkw=&hmci=" title="免费云服务套餐" target="_blank">
        <%= image_tag "blog/mianfeiyunfuwu.jpg", width: "100%", class: "m-b-sm" -%>
      </a>
      <a href="https://developer.qiniu.com/kodo/sdk/1283/javascript?hmsr=blog&hmpl=AD-blog&hmcu=jssdk&hmkw=&hmci=" title="对象存储" target="_blank">
        <%= image_tag "blog/duixiangcunchu.jpg", width: "100%" -%>
      </a>
    </div>

    <div class="cat-item hot-clicks">
      <div class="title">热文推荐</div>
      <ul class="hot-clicks-wrapper">
        <% @hot_archives.each do |archive| %>
          <li><%= link_to archive.title, archives_path(id: archive.id), class: "hot-title" -%></li>
        <% end %>
      </ul>
    </div>
    <ul class="list list-blog">
      <li class="cat-item all-articles">
        <%= link_to "所有文章", archives_all_path, class: "category" -%>
      </li>
      <li class="cat-item all-news">
        <%= link_to "新闻动态", archives_category_path(category: Archive::CATEGORIES.key("新闻动态")), class: "category" -%>
      </li>
      <li class="cat-item all-products">
        <%= link_to "产品动态", archives_category_path(category: Archive::CATEGORIES.key("产品动态")), class: "category" -%>
      </li>
      <li class="cat-item all-cases">
        <%= link_to "客户案例", archives_category_path(category: Archive::CATEGORIES.key("客户案例")), class: "category" -%>
      </li>
      <li class="cat-item all-bennefits">
        <%= link_to "近期福利", archives_category_path(category: Archive::CATEGORIES.key("近期福利")), class: "category" -%>
      </li>
      <li class="cat-item all-skills active">
        <%= link_to "技术实践", archives_category_path(category: Archive::CATEGORIES.key("技术实践")), class: "category" -%>
      </li>
      <li class="cat-item all-comics">
        <%= link_to "牛棚漫画", archives_category_path(category: Archive::CATEGORIES.key("牛棚漫画")), class: "category" -%>
      </li>
      <li class="cat-item all-hirings">
        <%= link_to "加入我们", archives_category_path(category: Archive::CATEGORIES.key("加入我们")), class: "category" -%>
      </li>
    </ul>
    <div class="cat-item cat-item-first">
      <%= image_tag "blog/wechat.png", alt: "公众号", width: "110px", class: "m-b-sm" -%>
      <p>关注七牛云公众号</p>
    </div>
  </div>
</div>