<div class="sidebar">
  <form class="searchform" method="get" action="/">
    <input type="text" name="q" class="field">
    <input type="submit" class="submit">
  </form>

  <div class="cat-item cat-item-first">
    <a href="http://hd.qiniu.com/arch" title="七牛架构师实践日" target="_blank">
      <%= image_tag "blog/architecture-pratice.jpg", alt: "博客图", width: "100%" -%>
    </a>
  </div>

  <div class="cat-item hot-clicks">
    <div class="title">热文推荐</div>
    <ul class="hot-clicks-wrapper">
      <% @hot_archives.each do |archive| %>
        <li><%= link_to archive.title, archives_path(id: archive.id), class: "hot-title" -%></li>
      <% end %>
    </ul>
  </div>

  <div class="cat-item all-articles">
    <%= link_to "所有文章", "/", class: "category" -%>
  </div>
  <div class="cat-item all-news">
    <%= link_to "新闻动态", archives_category_path(category: Archive::CATEGORIES.key("新闻动态")), class: "category" -%>
  </div>
  <div class="cat-item all-products">
    <%= link_to "产品动态", archives_category_path(category: Archive::CATEGORIES.key("产品动态")), class: "category" -%>
  </div>
  <div class="cat-item all-cases">
    <%= link_to "客户案例", archives_category_path(category: Archive::CATEGORIES.key("客户案例")), class: "category" -%>
  </div>
  <div class="cat-item all-bennefits">
    <%= link_to "近期福利", archives_category_path(category: Archive::CATEGORIES.key("近期福利")), class: "category" -%>
  </div>
  <div class="cat-item all-skills">
    <%= link_to "技术实践", archives_category_path(category: Archive::CATEGORIES.key("技术实践")), class: "category" -%>
  </div>
  <div class="cat-item all-comics">
    <%= link_to "牛棚漫画", archives_category_path(category: Archive::CATEGORIES.key("牛棚漫画")), class: "category" -%>
  </div>
  <div class="cat-item all-hirings">
    <%= link_to "加入我们", "http://career.qiniu.com/", target: "_blank", class: "category" -%>
  </div>
</div>