<div class="blog-container">
    <div class="col-sm-12">
        <div class="col-sm-8">
            <div class="row" style="padding-top: 1.2rem">
                <div id="post-8691" class="post-8691 post type-post status-publish format-standard hentry category-383">
                    <div class="entry-header">
                        <div class="entry-title">
                            <h2 helf="" title="Permalink to ......" rel="">
                                <b><a>七牛云GO语言周报【七月第2期】</a></b>
                            </h2>
                        </div>
                        <div class="entry-meta">
                            <span class="entry-author author vcard">
                                <%= image_tag "blog/icon-zuozhe.png", class:"img", alt: "作者" -%>
                                <a href="" title="by 牛小七" rel="author">
                                    牛小七
                                </a>
                            </span>
                            <span class="entry-date" title="2017年8月28日">
                                <%= image_tag "blog/icon-riqi.png", class:"img", alt: "日期" -%>
                                <a href="" title="七牛云完成新一轮 10 亿元融资，阿里集团与云锋基金领投！" rel="bookmark">
                                    2017年7月21日
                                </a>
                            </span> 
                            <span class="cat-links">
                                <%= image_tag "blog/icon-fabu.png", class:"img", alt: "发布" -%>
                                <span class="entry-utility-prep entry-utility-prep-cat-links">
                                    发布在
                                </span>
                                <a href="" rel="category tag">
                                    Go语言周报
                                </a>
                            </span>
                            <span class="page-views">
                                <%= image_tag "blog/icon-liulanliang.png", class:"img", alt: "浏览量" -%>
                                <span class="entry-utility-prep entry-utility-prep-page-views">
                                    浏览量
                                </span>
                                <a href="" rel="">
                                    2128
                                </a>                              
                            </span>   
                        </div>
                    </div>
                    <div class="entry-content">
                        <section>
                            <h3 style="text-align: center;">
                                <span style="color: #000000;">
                                    <strong>
                                        <span style="color: #06a3e0;">
                                            <a href="">
                                                <%= image_tag "photo-1.jpg", alt: "博客图", width: "100%" -%>    
                                            </a>
                                        </span>
                                    </strong>
                                </span>
                            </h3>
                            <h3 style="text-align: center;">
                                <span style="color: #000000;">
                                    <strong>
                                        <span style="color: #06a3e0;">
                                            Go 语言第一深坑 – interface 与 nil 的比较
                                        </span>
                                    </strong>
                                </span>
                            </h3>
                        </section>
                        <section>
                            <span style="color: #000000;">
                                Go 语言以简单易上手而著称，它的语法非常简单，熟悉 C++，Java 的开发者只需要很短的时间就可以掌握 Go 语言的基本用法。然而 Go 语言的 interface 在使用过程中却有一个特别坑的特性，当你比较一个 interface 类型的值是否是 nil 的时候，这是需要特别注意避免的问题。
                            </span>
                        </section>
                        <section>
                            <span style="color: #000000;">
                                本文作者为分析了 interface 与 nil 的区别，避免 gopher 们踩坑哦。
                            </span>                        
                        </section>
                        <section>
                            <span style="color: #999999;">
                                <em>原文地址：
                                    <a style="color: #999999;" href="http://studygolang.com/articles/10635">
                                        http://studygolang.com/articles/10635
                                    </a>
                                </em>
                            </span>
                        </section>                                                                                    
                        <section>
                            <h3 style="text-align: center;">
                                <span style="color: #000000;">
                                    <strong>
                                        <span style="color: #06a3e0;">
                                            <a href="">
                                                <%= image_tag "photo-1.jpg", alt: "博客图", width: "100%" -%>    
                                            </a>
                                        </span>
                                    </strong>
                                </span>
                            </h3>
                            <h3 style="text-align: center;">
                                <span style="color: #000000;">
                                    <strong>
                                        <span style="color: #06a3e0;">
                                            Go 语言第一深坑 – interface 与 nil 的比较
                                        </span>
                                    </strong>
                                </span>
                            </h3>
                        </section>
                        <section>
                            <span style="color: #000000;">
                                Go 语言以简单易上手而著称，它的语法非常简单，熟悉 C++，Java 的开发者只需要很短的时间就可以掌握 Go 语言的基本用法。然而 Go 语言的 interface 在使用过程中却有一个特别坑的特性，当你比较一个 interface 类型的值是否是 nil 的时候，这是需要特别注意避免的问题。
                            </span>
                        </section>
                        <section>
                            <span style="color: #000000;">
                                本文作者为分析了 interface 与 nil 的区别，避免 gopher 们踩坑哦。
                            </span>                        
                        </section>
                        <section>
                            <span style="color: #999999;">
                                <em>原文地址：
                                    <a style="color: #999999;" href="http://studygolang.com/articles/10635">
                                        http://studygolang.com/articles/10635
                                    </a>
                                </em>
                            </span>
                        </section>
                        <section>
                        </section>    
                        <section>
                        </section>    
                        <section>
                        </section>                    
                    </div>                                  
                </div>
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="padding-top:70px; padding-bottom:250px">
                    <span class="jiathis_txt">分享到：</span>
                    <a class="jiathis_button_cqq">QQ好友</a>
                    <a class="jiathis_button_weixin">微信</a>
                    <a class="jiathis_button_tsina">新浪微博</a>
                    <a class="jiathis_button_tqq">腾讯微博</a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <!-- JiaThis Button END -->                                                                                                                                                                            
            </div>                                        
        </div>        
        <div class="col-sm-4" style="padding-left:  1.2rem">
                <div id=“sidebar” class="sidebar"  style="padding-top: 1.4rem; padding-bottom: 2.5rem">
                    <div class="widget widget_search widget-widget_search">
                        <div class="widget-wrap widget-inside">
                            <div class="search">
                                <form method="get" class="searchform" action="http://blog.qiniu.com/">
                                    <label for="s" class="assistive-text">Search for:</label>
                                    <input type="text" class="field" name="s" id="s" value="Search" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                                    <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search">
                                </form>
                            </div><!-- end .search -->      
                        </div>
                    </div>
                    <div class="widget widget_categories widget-widget_categories">
                        <div class="widget-wrap widget-inside">
                            <div class="cat-item cat-item-first" style="padding-top: 0.7rem; padding-bottom: 0.7rem;">
                                <a href="http://hd.qiniu.com/arch" title="七牛架构师实践日" target="_blank">
                                <%= image_tag "blog/architecture-pratice.jpg", alt: "博客图", width: "100%" -%> 
                                </a>
                            </div>
                            <div class="cat-item hot-click bottom-line">
                                <h3><b>热文推荐</b></h3>
                                <ul style="line-height: 40px">
                                    <li><h4>七牛云GO语言周报【七月第2期】</h4></li>
                                    <li><h4>七牛云GO语言周报【七月第1期】</h4></li>
                                    <li><h4><独家>七牛为开发者倾情奉献，性能秒杀RAS的ECC证书免费申请</h4></li>
                                </ul>
                            </div>
                            <div class="cat-item all-articles" style="padding-top: 40px">
                                <h4><b>所有文章</b></h4>
                            </div>
                            <div class="cat-item all-news">
                                <h4><b>新闻动态</b></h4>
                            </div>
                            <div class="cat-item all-products">
                                <h4><b>产品动态</b></h4>
                            </div>
                            <div class="cat-item all-cases">
                                <h4><b>客户案例</b></h4>
                            </div>                            
                            <div class="cat-item all-bennefits">
                                <h4><b>近期福利</b></h4>
                            </div>
                            <div class="cat-item all-skills">
                                <h4><b>技术实践</b></h4>
                            </div>
                            <div class="cat-item all-comics">
                                <h4><b>牛棚漫画</b></h4>
                            </div>
                            <div class="cat-item all-hirings">
                                <h4><b>加入我们</b></h4>
                            </div>                                                                                
                        </div>
                    </div>
                </div>
            </div>                                   
        </div>
    </div>
</div>

<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>