
<div class="features features-blog">
  <div class="container">
    <div class="row row-clear">
      <div class="col-sm-8">
        <div class="blog-content m-b-xs">
          <div class="entry-header">
            <div class="entry-title">
              <a href="javascript:;" class="title"><%= @archive[:title] %></a>
            </div>
            <div class="entry-meta">
              <span class="entry-meta-unit entry-author">
                <%= image_tag "blog/icon-zuozhe.png", class:"img", alt: "作者" -%>
                <%= link_to @archive[:author], archives_author_path(author: @archive[:author]) -%>
              </span>
              <span class="entry-meta-unit entry-date">
                <%= image_tag "blog/icon-riqi.png", class:"img", alt: "日期" -%>
                <a href="javascript:;">
                  <%= @archive[:created_at].strftime("%Y-%m-%d %H:%M:%S") %>
                </a>
              </span>
              <span class="entry-meta-unit entry-utility-prep">
                <%= image_tag "blog/icon-fabu.png", class:"img", alt: "发布" -%>
                <span>发布在</span>
                <%= link_to Archive::CATEGORIES[@archive[:category]], archives_category_path(category: @archive[:category]) -%>
              </span>
              <!--
              <span class="entry-meta-unit page-views">
                <%= image_tag "blog/icon-liulanliang.png", class:"img", alt: "浏览量" -%>
                <span class="entry-utility-prep">
                  浏览量
                </span>
                <span class="entry-utility-prep">
                  2128
                </span>
              </span>
              -->
            </div>
          </div>
          <%= raw @archive[:content] %>
        </div>
        <!-- social-share-button BEGIN -->
        <%= social_share_button_tag('#分享#' + @archive[:title]) %>
        <!-- social-share-button END -->
      </div>
      <div class="col-sm-4 side-mbbar-wrapper">
        <%= render :partial => "sidebar" %>
      </div>
    </div>
  </div>
</div>