<div class="features features-blog">
  <div class="container">
    <div class="row row-clear">
      <div class="col-sm-8">
        <% @archives.each do |archive| %>
          <div class="row">
            <div class="blog-content">
              <div class="col-sm-12">
                <div class="entry-header">
                  <div class="entry-title">
                    <a href="javascript:;" class="title"><%=archive.title %></a>
                  </div>
                  <div class="entry-meta">
                    <span class="entry-meta-unit entry-author">
                      <%= image_tag "blog/icon-zuozhe.png", class:"img", alt: "作者" -%>
                      <%= link_to archive.author, archives_author_path(author: archive.author) -%>
                    </span>
                    <span class="entry-meta-unit entry-date">
                      <%= image_tag "blog/icon-riqi.png", class:"img", alt: "日期" -%>
                      <a href="">
                        <%=archive.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                      </a>
                    </span>
                    <span class="entry-meta-unit entry-utility-prep">
                      <%= image_tag "blog/icon-fabu.png", class:"img", alt: "发布" -%>
                      <span>发布在</span>
                      <%= link_to Archive::CATEGORIES[archive.category], archives_category_path(category: archive.category) -%>
                    </span>
                    <!--
                    <span class="entry-meta-unit page-views">
                      <%= image_tag "blog/icon-liulanliang.png", class:"img", alt: "浏览量" -%>
                      <span class="entry-utility-prep">
                        浏览量
                      </span>
                      <span class="entry-utility-prep">
                        2128
                      </span>
                    </span>
                    -->
                  </div>
                </div>
              </div>
              <% if archive.cover? %>
                <div class="col-sm-5">
                  <div class="photo-left">
                    <img src=<%=archive.cover %>>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="thumbnail-blog">
                    <p class="blog-text">
                      <span class="ellipsis"><%=archive.summary %></span>
                      <span class="more-link-wrap">
                        <%= link_to "继续阅读...", archives_path(id: archive.id), class: "more-link" -%>
                      </span>
                    </p>
                  </div>
                </div>
              <% else %>
                <div class="col-sm-12">
                  <div class="thumbnail-blog">
                    <p class="blog-text">
                      <span class="ellipsis"><%=archive.summary %></span>
                      <span class="more-link-wrap">
                        <%= link_to "继续阅读...", archives_path(id: archive.id), class: "more-link" -%>
                      </span>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="paginate-wrapper"><%= paginate @archives, window: 2, outer_window: 3 %></div>
      </div>
      <div class="col-sm-4">
        <%= render :partial => "sidebar" %>
      </div>
    </div>
  </div>
</div>