<div class="jumbotron hero hero-niuday">
  <div class="container">
    <div class="img-wrapper">
      <%= image_tag 'niuday/banner-wenzi.png', class: 'text' %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">活动介绍</h2>
    </div>
    <p class="desc">人工智能在2018年将面临爆发式的商业化着陆，在这个智能时代，小牛汇共享日将在全国10多个城市围绕行业、技术和创新展开全方位的的探讨和分享，利用这个开放的共享平台，希望聚集全国有技术创新梦想的小牛，能够结识并长期交流，用技术创新改变世界。NIUDAY小牛汇共享日：智能互联，共享无界。</p>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">活动推荐</h2>
    </div>
    <div id="square-cases-slider" class="conveyor conveyor-rectangle conveyor-m-x slick-slider draggable">
      <% I18n.t("views.welcome.niuday.events").each do |unit| %>
        <div>
          <div class="rectangle-slider square-slider <%= unit[:time] ? '' : 'pointer-none' %>">
            <%= link_to(send("#{unit[:details][:link]}_path")) do -%>
              <%= image_tag unit[:img] %>
              <div class="bg"></div>
              <div class="mask">
                <div class="middle">
                  <div class="info">
                    <h5 class="site"><%= unit[:site] %></h5>
                    <h3 class="time spec-border-b">
                      <%= unit[:time] || "敬请期待" %>
                    </h3>
                  </div>
                  <div class="details">
                    <span class="site spec-border-b"><%= unit[:details][:site] %></span>
                  </div>
                </div>
              </div>
            </a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作媒体</h2>
    </div>
    <div class="row">
      <% I18n.t("views.welcome.niuday.medias").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-niuday">
  <div class="container">
    <div class="intro">
      <h2 class="title border-y">合作伙伴</h2>
    </div>
    <div class="row">
      <% I18n.t("views.welcome.niuday.partners").each do |unit| %>
        <div class="seven-sm-1 col-xs-6">
          <div class="img-wrapper blue-shadow">
            <%= image_tag unit[:img] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>