<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2><%= I18n.t("views.products.atlab.title") %></h2>
          <p><%= I18n.t("views.products.atlab.desc") %></p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "申请试用", "https://jinshuju.net/f/DK7a1E", class: "btn btn-lg btn-hollow m-r m-b-xs", target: "_blank" -%>
            <%= link_to "查看 Gartner 白皮书", "https://mars-assets.qnssl.com/gartner_atlab_white_book.pdf", class: "btn btn-lg btn-hollow m-b-xs", id: "gartner-atlab-btn-product", target: "_blank" -%>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-ava-right-zh.png", alt: "ava", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.products.atlab.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.atlab.feature1.title") %></h2>
    </div>

    <div class="bottom-line">
        <%= image_tag I18n.t("views.products.atlab.feature1.img") %>
    </div>
  </div>
</div>

<div class="features features-atlab-scene tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.atlab.feature2.title") %></h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-short points-bar" role="tablist">
        <% I18n.t("views.products.atlab.feature2.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href], data: {toggle: "tab"} -%></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <section id="algorithm" class="tab-pane fade in active">
          <div class="col-sm-12">
            <%= image_tag I18n.t("views.products.atlab.feature2.img1") %>
          </div>
        </section>

        <section id="enterprise" class="tab-pane fade">
          <div class="col-sm-12">
            <%= image_tag I18n.t("views.products.atlab.feature2.img2") %>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="features feature-color features-atlab-adva tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.atlab.feature3.title") %></h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.atlab.feature3.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href], data: {toggle: "tab"} -%></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.atlab.feature3.sections").each do |unit| %>
          <section id="<%= unit[:id] %>" class="<%= unit[:class] %>">
            <p class="tab-desc"><%= unit[:desc] %></p>
            <%= image_tag unit[:img], alt: unit[:title] %>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>
