<div class="banner-box banner-box-newmedia">
    <div class="banner-wrap ronghe-banner">
        <div class="tittle-newmedia">
            <div class="title-detail">
                <h1>融合媒体效率解决方案</h1>
                <p>七牛云独有的智能媒资管理系统通过整合纸媒、广播、电视、网站、移动端、新媒体等各方资源，</p>
                <p>为您提供完整的媒体融合高效率解决方案</p>
                <%= link_to "点击咨询", "", class: "btn-newmedia", data: { toggle: "modal", target: "#feedback-modal"} -%>
            </div>
        </div>
    </div>
</div>

<div class="features-nav hidden-xs">
    <div class="container">
        <div class="tabs">
            <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
                <% I18n.t("views.products.convergence.middlebar").each do |linkbar| %>
                    <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<div class="tab-content-section-1 container newmedia white architecture-newmedia">
    <h2>方案架构</h2>
    <div class="container center-newmedia">
        <%= image_tag "convergence/img-ronghemeitixiaolv-frame.jpg" %>
    </div>
</div>

<div class="tab-content-section-2 container newmedia iconlist-13-newmedia ronghemeiti-newmedia">
    <h2>方案优势</h2>
    <div class="container center-newmedia">
        <div class="col-sm-4 col-xs-6">
            <div class="icon-adv-newmedia icon-func-newmedia">
                <%= image_tag "convergence/icon-zhinengmeizi-min.png"%>
            </div>
            <p>全媒生产融合</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="icon-adv-newmedia icon-func-newmedia">
                <%= image_tag "convergence/icon-zhinengmeizi-min.png",class:"icon-tongyidiaodu"%>
            </div>
            <p>指挥中心统一调度</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="icon-adv-newmedia icon-func-newmedia">
                <%= image_tag "convergence/icon-zhinengmeizi-min.png",class:"icon-caibianbo"%>
            </div>
            <p>采编播一体化</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="icon-adv-newmedia icon-func-newmedia">
                <%= image_tag "convergence/icon-zhinengmeizi-min.png",class:"icon-ziyuanguanli"%>
            </div>
            <p style="margin-top: 5px">智能化资源管理</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="icon-adv-newmedia icon-func-newmedia">
                <%= image_tag "convergence/icon-zhinengmeizi-min.png",class:"icon-chuanbofenxi"%>
            </div>
            <p>可视化传播分析</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="icon-adv-newmedia icon-func-newmedia">
                <%= image_tag "convergence/icon-zhinengmeizi-min.png",class:"icon-yuqingjiance"%>
            </div>
            <p>立体式舆情监测</p>
        </div>
    </div>
</div>

<div class="tab-content-section-3 container newmedia img-scene-newmedia white ronghemeiti-scene-newmedia">
    <h2>适用场景</h2>
    <div class="container center-newmedia">
        <div class="col-sm-4 col-xs-6">
            <div class="tittle-newmedia">
                <h4>省级媒体融合</h4>
                <p>省级媒体搭建融合生产平台，</p>
                <p>联盟内单位共享全媒体资源，按需使用服务</p>
            </div>
            <%= image_tag "convergence/img-meitironghe-scenarios1.jpg", class:"bokong-senarios-newmedia"%>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="tittle-newmedia">
                <h4>市县级媒体融合</h4>
                <p>区域媒体自建融合生产平台， </p>
                <p>统一调度资源，打造本区域主流舆论阵地</p>
            </div>
            <%= image_tag "convergence/img-meitironghe-scenarios2.jpg", class:"bokong-senarios-newmedia"%>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="tittle-newmedia">
                <h4>广电报业新媒体融合</h4>
                <p>高效整合全媒体资源，采编发一体化，</p>
                <p>传播数据可视化，舆情监测立体化</p>
            </div>
            <%= image_tag "convergence/img-meitironghe-scenarios3.jpg", class:"bokong-senarios-newmedia"%>
        </div>
    </div>
</div>