<%# 中文版页面改为新版，英文版页面还是用原来的版本 %>
<%# https://jira.qiniu.io/browse/BO-7073 %>
<% if I18n.t("views.language") == 'zh' -%>

<%# 中文版页面 %>
<%# banner 部分 %>
<div class="jumbotron hero hero-dora">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <h2><%= I18n.t("views.products.dora.title") -%></h2>
          <p><%= I18n.t("views.products.dora.desc") -%></p>
          <div class="actions">
            <%= link_to "立即使用", "https://portal.qiniu.com/create", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs", id: "dora-banner-create" -%>
            <%= link_to "产品价格", prices_path + "?source=dora", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs", id: "dora-banner-price" -%>
            <%= link_to "帮助文档", "https://developer.qiniu.com/dora", target: "_blank", class: "link link-underline m-b-xs", id: "dora-banner-doc" -%>
          </div>
          <p><%= I18n.t("views.products.dora.tip") %>&nbsp;&nbsp;<%= link_to "了解详情 ->", prices_path + "?source=dora", target: "_blank", class: "link m-b-xs", id: "dora-banner-detail" -%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 导航 %>
<div class="features-nav dora-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.products.dora.middlebar").each do |linkbar| -%>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>

<%# 核心优势 %>
<div class="features features-less feature-dora-advantage tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.advantage.title") -%></h2>
    </div>

    <div class="row">
      <% I18n.t("views.products.dora.advantage.cols").each do |col| -%>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <%= image_tag col[:icon], class: "media-object", alt: col[:title], title: col[:title], width: 100 -%>
            <div class="caption">
              <h4><%= col[:title] -%></h4>
              <ul>
                <li><p><i class="glyphicon glyphicon-ok"></i><%= col[:desc1] -%></p></li>
                <li><p><i class="glyphicon glyphicon-ok"></i><%= col[:desc2] -%></p></li>
              </ul>
              <%#  %>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# 产品功能 %>
<div class="features features-less features-dora-func tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.func.title") -%></h2>
    </div>
    <div class="tabs">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
            <% I18n.t("views.products.dora.func.leftbar").each do |linkbar| -%>
              <li class="<%= linkbar[:class] -%>"><%= link_to linkbar[:title], linkbar[:href], data: {toggle: "tab"} -%></li>
            <% end -%>
          </ul>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12 col-tab-content">
          <div class="tab-content">
            <% I18n.t("views.products.dora.func.sections").each do |unit| -%>
              <section id="<%= unit[:id] %>" class="<%= unit[:class] -%>">
                <h4><%= unit[:title] -%></h4>
                <% unit[:list].each do |item| -%>
                <h5><%= item[:title] -%></h5>
                <p><%= item[:desc] -%></p>
                <%# 按钮部分 %>
                <% if item[:btnType] == "link" -%>
                <%= link_to item[:btnText], item[:url], class: "tab-content-link", id: item[:flag], title: item[:title], target: "_blank" -%>
                <% elsif item[:btnType] == "form" -%>
                <%= link_to item[:btnText], "", class: "tab-content-link tab-content-form", id: item[:flag], title: item[:title], target: "", data: { toggle: "modal", target: "#feedback-modal"} -%>
                <% end -%>
                <% end -%>
              </section>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 应用场景 %>
<div class="features features-less features-cases features-dora-scene tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.scene.title") -%></h2>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.dora.scene.middlebar").each do |linkbar| -%>
          <li class="<%= linkbar[:class] -%>"><%= link_to linkbar[:title], linkbar[:href], data: {toggle: "tab"} -%></li>
        <% end -%>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.dora.scene.sections").each do |unit| -%>
          <section id="<%= unit[:id] %>" class="<%= unit[:class] -%>">
            <div class="media">
              <div class="media-left">
                <%= image_tag unit[:icon], class: "media-object", alt: unit[:title], title: unit[:title] -%>
              </div>
              <div class="media-body">
                <h4><%= unit[:title] -%></h3>
                <p><%= unit[:desc] -%></p>
                <h4>能够解决的问题</h4>
                <ul>
                  <% unit[:list].each do |item| -%>
                  <li><h5><%= item[:title] -%></h4><p><%= item[:desc] -%></p></li>
                  <% end -%>
                </ul>
              </div>
            </div>
          </section>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<%# 客户案例 %>
<div class="features features-less features-dora-client tab-content-section-4">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.client.title") -%></h2>
    </div>
    <div class="row">
      <div id="cases-slider" class="conveyor slick-slider draggable">
        <div><%= image_tag "dora/icon-client-qingting.png", class: "case", alt: "蜻蜓 FM", title: "蜻蜓 FM" -%></div>
        <div><%= image_tag "dora/icon-client-xiaohongshu.png", class: "case", alt: "小红书", title: "小红书" -%></div>
        <div><%= image_tag "dora/icon-client-jumei.png", class: "case", alt: "聚美优品", title: "聚美优品" -%></div>
        <div><%= image_tag "dora/icon-client-blued.png", class: "case", alt: "blued", title: "blued" -%></div>
        <div><%= image_tag "dora/icon-client-dji.png", class: "case", alt: "DJI", title: "DJI" -%></div>
        <div><%= image_tag "dora/icon-client-yingyu.png", class: "case", alt: "英语流利说", title: "英语流利说" -%></div>
        <div><%= image_tag "dora/icon-client-fangduoduo.png", class: "case", alt: "房多多", title: "房多多" -%></div>
        <div><%= image_tag "dora/icon-client-changba.png", class: "case", alt: "唱吧", title: "唱吧" -%></div>
      </div>
    </div>
  </div>
</div>

<%# 文档 & 资源 %>
<div class="features features-less features-cases features-dora-doc tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="title">文档&nbsp;&amp;&nbsp;资源</h2>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>用户指南</h4>
            <ul class="links-list">
              <li><%= link_to "如何使用智能多媒体服务", "https://developer.qiniu.com/dora", title: "如何使用智能多媒体服务", target: "_blank", id: "dora-doc-guide" -%></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>SDK 及文档</h4>
            <ul class="links-list">
              <li><%= link_to "快速实现 API 调用及 SDK集成开发", "https://developer.qiniu.com/dora/tools/1222/qdoractl", title: "快速实现 API 调用及 SDK集成开发", target: "_blank", id: "dora-doc-sdk" -%></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "智能多媒体服务使用过程中常遇到的问题", "https://developer.qiniu.com/faq?space=dora", title: "智能多媒体服务使用过程中常遇到的问题", target: "_blank", id: "dora-doc-faq" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 底部 banner %>
<div class="features features-less features-dora-footer">
  <div class="container">
    <p>
      注册即可免费试用智能多媒体服务&nbsp;&nbsp;
      <%= link_to "立即开通", "https://portal.qiniu.com/create", target: "_blank", class: "btn btn-lg btn-hollow m-b-xs", id: "dora-bottom-create" -%>
    </p>
  </div>
</div>

<% else -%>

<%# 英文版页面 %>
<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2><%= I18n.t("views.products.dora.title") %></h2>
          <p><%= I18n.t("views.products.dora.desc") %></p>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-duomeitiAPI-right-zh.png", alt: "duomeitiAPI", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav dora-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.products.dora.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <% I18n.t("views.products.dora.feature1.col1").each do |col| %>
      <div class="row row-dora">
        <div class="<%= col[:class] %>">
          <h4 class=""><%= col[:title] %></h4>
          <p><%= col[:desc] %></p>
          <%# 改为判断形式遍历进行渲染 %>
          <%# 判断是否存在 actions 项并渲染 %>
          <% if col[:actions] then %>
            <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' -%>">
              <% col[:actions].each do |action| %>
                <%= link_to action[:title], "", target: "_balnk", class: "btn feature-btn", data: { toggle: "modal", target: "#feedback-modal"} -%>
              <% end %>
            </div>
          <% end %>
          <%# 改为判断形式遍历进行渲染 %>
          <%# 判断是否存在 links 项并渲染 %>
          <% if col[:links] then %>
            <% col[:links].each do |link| %>
              <ul class="list-inline <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' -%>">
                <% link[:group].each do |item| %>
                  <li><%= link_to item[:title], item[:target], target: "_balnk", class: item[:class] -%></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-6 col-video">
          <video loop autoplay poster="<%= col[:poster] %>" src="<%= col[:src] %>"></video>
        </div>
      </div>
    <% end %>

    <% I18n.t("views.products.dora.feature1.col2").each do |col| %>
      <div class="row row-dora">
        <div class="<%= col[:class] %>">
          <div class="col-sm-6">
            <h5><%= col[:title1] %></h5>
            <p><%= col[:desc1] %></p>
          </div>
          <div class="col-sm-6">
            <h5><%= col[:title2] %></h5>
            <p><%= col[:desc2] %></p>
            <%= link_to raw("查看更多功能 &gt;"), "https://developer.qiniu.com/dora/manual/3683/img-directions-for-use", target: "_blank", class: "more"+I18n.t("views.language") != 'zh' ? 'd-none' : '' -%>
          </div>
        </div>
        <div class="col-sm-6 col-clear">
          <%= image_tag col[:src], class: "", alt: col[:alt], width: "100%" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="features features-less features-cases features-superiority tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.feature2.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.products.dora.feature2.col").each do |col| %>
        <div class="col-sm-6 col-xs-6">
          <div class="media">
            <div class="media-left">
              <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 110 %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= col[:title] %></h4>
              <p><%= col[:desc] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-dora features-scene tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.feature3.title") %></h2>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.dora.feature3.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href], data: {toggle: "tab"} -%></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.dora.feature3.sections").each do |unit| %>
          <section id="<%= unit[:id] %>" class="<%= unit[:class] %>">
            <div class="media">
              <div class="media-left">
                <%= image_tag unit[:icon], class: "media-object img-left", alt: unit[:title] %>
              </div>
              <div class="media-body">
                <p><%= unit[:desc] %></p>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h2 class="title"><%= I18n.t("views.products.dora.feature4.title") %></h2>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-changba-highlight@2x.jpg", class: "case", alt: "唱吧", title: "唱吧" %></div>
          <div><%= image_tag "dora/client-jumeiyoupin-highlight@2x.jpg", class: "case", alt: "聚美优品", title: "聚美优品" %></div>
          <div><%= image_tag "dora/client-huanbei-highlight@2x.jpg", class: "case", alt: "还呗", title: "还呗" %></div>
          <div><%= image_tag "dora/client-pinganhaofang-highlight@2x.jpg", class: "case", alt: "平安好房", title: "平安好房" %></div>
          <div><%= image_tag "dora/client-zaker-highlight@2x.jpg", class: "case", alt: "zaker", title: "zaker" %></div>
          <div><%= image_tag "dora/client-timelink-highlight@2x.jpg", class: "case", alt: "天英联合", title: "天英联合" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end -%>