<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2><%= I18n.t("views.products.dora.title") %></h2>
          <p><%= I18n.t("views.products.dora.desc") %></p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "立即使用", "https://portal.qiniu.com/signup/choice", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
            <%= link_to "产品价格", prices_path + "?source=dora", class: "btn btn-lg btn-hollow m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-duomeitiAPI-right-zh.png", alt: "duomeitiAPI", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav dora-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.products.dora.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <% I18n.t("views.products.dora.feature1.col1").each do |col| %>
      <div class="row row-dora">
        <div class="<%= col[:class] %>">
          <h4 class=""><%= col[:title] %></h4>
          <p><%= col[:desc] %></p>
          <%# 改为判断形式遍历进行渲染 %>
          <%# 判断是否存在 actions 项并渲染 %>
          <% if col[:actions] then %>
            <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' -%>">
              <% col[:actions].each do |action| %>
                <%= link_to action[:title], "", target: "_balnk", class: "btn feature-btn", data: { toggle: "modal", target: "#feedback-modal"} -%>
              <% end %>
            </div>
          <% end %>
          <%# 改为判断形式遍历进行渲染 %>
          <%# 判断是否存在 links 项并渲染 %>
          <% if col[:links] then %>
            <% col[:links].each do |link| %>
              <ul class="list-inline <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' -%>">
                <% link[:group].each do |item| %>
                  <li><%= link_to item[:title], item[:target], target: "_balnk", class: item[:class] -%></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-6 col-video">
          <video loop autoplay poster="<%= col[:poster] %>" src="<%= col[:src] %>"></video>
        </div>
      </div>
    <% end %>

    <% I18n.t("views.products.dora.feature1.col2").each do |col| %>
      <div class="row row-dora">
        <div class="<%= col[:class] %>">
          <div class="col-sm-6">
            <h5><%= col[:title1] %></h5>
            <p><%= col[:desc1] %></p>
          </div>
          <div class="col-sm-6">
            <h5><%= col[:title2] %></h5>
            <p><%= col[:desc2] %></p>
            <%= link_to raw("查看更多功能 &gt;"), "https://developer.qiniu.com/dora/manual/3683/img-directions-for-use", target: "_blank", class: "more"+I18n.t("views.language") != 'zh' ? 'd-none' : '' -%>
          </div>
        </div>
        <div class="col-sm-6 col-clear">
          <%= image_tag col[:src], class: "", alt: col[:alt], width: "100%" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="features features-less features-cases features-superiority tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.feature2.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.products.dora.feature2.col").each do |col| %>
        <div class="col-sm-6 col-xs-6">
          <div class="media">
            <div class="media-left">
              <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 110 %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= col[:title] %></h4>
              <p><%= col[:desc] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-dora features-scene tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.dora.feature3.title") %></h2>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.dora.feature3.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href], data: {toggle: "tab"} -%></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.dora.feature3.sections").each do |unit| %>
          <section id="<%= unit[:id] %>" class="<%= unit[:class] %>">
            <div class="media">
              <div class="media-left">
                <%= image_tag unit[:icon], class: "media-object img-left", alt: unit[:title] %>
              </div>
              <div class="media-body">
                <p><%= unit[:desc] %></p>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-4">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h2 class="title"><%= I18n.t("views.products.dora.feature4.title") %></h2>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-changba-highlight@2x.jpg", class: "case", alt: "唱吧", title: "唱吧" %></div>
          <div><%= image_tag "dora/client-jumeiyoupin-highlight@2x.jpg", class: "case", alt: "聚美优品", title: "聚美优品" %></div>
          <div><%= image_tag "dora/client-huanbei-highlight@2x.jpg", class: "case", alt: "还呗", title: "还呗" %></div>
          <div><%= image_tag "dora/client-pinganhaofang-highlight@2x.jpg", class: "case", alt: "平安好房", title: "平安好房" %></div>
          <div><%= image_tag "dora/client-zaker-highlight@2x.jpg", class: "case", alt: "zaker", title: "zaker" %></div>
          <div><%= image_tag "dora/client-timelink-highlight@2x.jpg", class: "case", alt: "天英联合", title: "天英联合" %></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features features-less features-cases tab-content-section-5 <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "音视频处理", "https://developer.qiniu.com/dora/manual/3685/directions-for-use-av" -%></li>
              <li><%= link_to "图片处理", "https://developer.qiniu.com/dora/manual/3683/img-directions-for-use" -%></li>
              <li><%= link_to "自定义数据处理", "https://developer.qiniu.com/dora/manual/3687/ufop-directions-for-use" -%></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "自定义数据处理命令行工具", "https://developer.qiniu.com/dora/tools/1222/qdoractl" -%></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "音视频支持和音视频播放", "https://developer.qiniu.com/kodo/kb/1362/audio-and-video-support-and-audio-and-video" -%></li>
              <li><%= link_to "avthumb 参数 formats 格式及解释", "https://developer.qiniu.com/dora/kb/1320/avthumb-parameters-formats-format-and-explanation" -%></li>
              <li><%= link_to "部分 mp4 在网页播放器兼容问题", "https://developer.qiniu.com/dora/kb/2637/some-customers-mp4-problems-in-distributed-web-page" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>