<%# banner part %>
<div class="jumbotron hero hero-ess">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-7 col-xs-10">
          <h2><%= I18n.t("views.products.ess.title") -%></h2>
          <p><%= I18n.t("views.products.ess.desc") -%></p>
          <div class="actions <%= I18n.t("views.language") != "zh" ? "d-none" : "" -%>">
            <%= link_to "咨询详情", "http://qiniu.mikecrm.com/yGntQCJ", target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
          </div>
        </div>
        <div class="col-sm-5 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-ess-right-zh.png", alt: "ess", width: "100%" -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# nav part %>
<div class="ess-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.products.ess.navs").each do |nav| -%>
          <li class="<%= nav[:class] -%>"><a href="<%= nav[:href] -%>"><%= nav[:title] -%></a></li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>

<%# panoramic part %>
<div class="features ess-tab-content-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.ess.panoramic.title") -%></h2>
    </div>
    <div class="text-center">
      <%= image_tag I18n.t("views.products.ess.panoramic.image"), width:"80%" -%>
    </div>
  </div>
</div>

<%# pain point part %>
<div class="features features-less features-cases features-ess features-ess-painpoint ess-tab-content-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.ess.painpoint.title") -%></h2>
    </div>
    <div class="row">
      <% I18n.t("views.products.ess.painpoint.items").each do |item| -%>
        <div class="col-sm-4 col-xs-6 col-item">
          <%= image_tag item[:image], width: 120 -%>
          <h4><%= item[:title] -%></h4>
          <p><%= item[:desc] -%></p>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# unique part %>
<div class="features features-ess ess-tab-content-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.ess.unique.title") -%></h2>
    </div>
    <div class="row">
      <% I18n.t("views.products.ess.unique.items").each do |item| -%>
        <div class="col-sm-4 col-xs-6 col-item">
          <%= image_tag item[:image], width: 120 -%>
          <h4><%= item[:title] -%></h4>
          <p><%= item[:desc] -%></p>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# advantage part %>
<div class="features features-less features-cases features-ess ess-tab-content-4">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.ess.advantage.title") -%></h2>
    </div>
    <div class="row">
      <% I18n.t("views.products.ess.advantage.items").each do |item| -%>
        <div class="col-sm-4 col-xs-6 col-item">
          <%= image_tag item[:image], width: 120 -%>
          <h4><%= item[:title] -%></h4>
          <p><%= item[:desc] -%></p>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%# scene part %>
<div class="features features-ess-scene ess-tab-content-5">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.ess.scene.title") -%></h2>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.ess.scene.tabs").each do |tab| -%>
          <li class="<%= tab[:class] -%>"><%= link_to tab[:name], tab[:href], data:{ toggle: "tab" } -%></li>
        <% end -%>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.ess.scene.sections").each do |sec| -%>
          <section class="<%= sec[:class] -%>" id="<%= sec[:id] -%>">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <%= content_tag :div, image_tag(sec[:image], alt: sec[:title]), class: "col-left" -%>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-right">
                  <h3><%= sec[:title] -%></h3>
                  <p class="desc"><%= sec[:desc] -%></p>
                </div>
              </div>
            </div>
          </section>
        <% end -%>
      </div>
    </div>
  </div>
</div>