<div class="jumbotron hero hero-fusion">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <h2><%= I18n.t("views.products.fusion.banner.title") %></h2>
          <p><%= I18n.t("views.products.fusion.banner.desc") %></p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "立即使用", signup_url(), target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs fusion-banner-btn" -%>
            <%= link_to "产品价格", prices_path + "?source=fusion", class: "btn btn-lg btn-hollow m-b-xs" -%>
            <h5><%= link_to raw("域名型 DV SSL 证书免费申请 &gt;&gt;"), ssl_path, target: "_blank", class: "out_link" -%></h5>
            <h5 class="margin-l-negative">「 CDN 动态加速&nbsp;<%= link_to "立即使用", Rails.configuration.portal_host + "/cdn/domain/create?platform=dynamic&guideDynamic#platform", target: "_blank", class: "out_link", id: "fusion-page-employ" -%> 」</h5>
            <h5>融合 CDN 闲时资源包上线，<%= link_to "5 折特惠限时抢", events_cdn_package_path + "?entry=products-fusion", target: "_blank", class: "out_link underline" -%></h5>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag "banner/banner-cdn-right-zh.png", alt: "fusion", width: '100%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-nav fusion-nav hidden-xs">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
        <% I18n.t("views.products.fusion.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="features section tab-content-section-1">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.fusion.feature1.title") %></h2>
    </div>

    <div class="bottom-line" style="text-align: center;">
      <%= image_tag I18n.t("views.products.fusion.feature1.icon"), width: "80%" %>
    </div>
  </div>
</div>

<div class="features features-superiority tab-content-section-2">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.fusion.feature2.title") %></h2>
    </div>

    <div class="row">
      <% I18n.t("views.products.fusion.feature2.col").each do |col| %>
        <div class="col-sm-6 col-xs-12">
          <div class="media">
            <div class="media-left">
              <%= image_tag col[:icon], class: "media-object", alt: col[:title], width: 110 %></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= col[:title] -%></h4>
              <p><%= col[:desc] -%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-fusion features-distribute feature-color tab-content-section-3">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.fusion.feature3.title") %></h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.fusion.feature3.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>">
            <%= link_to linkbar[:title], linkbar[:href], data:{toggle:"tab"} -%>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.fusion.feature3.sections").each do |sec| %>
          <section id="<%= sec[:id] %>" class="<%= sec[:class] %>">
            <%= image_tag sec[:icon] %>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-fusion features-scene tab-content-section-4" id="products-fusion-scene">
  <div class="container bottom-line">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.fusion.feature4.title") %></h2>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.fusion.feature4.middlebar").each do |linkbar| %>
          <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href], data:{toggle:"tab"} -%></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% I18n.t("views.products.fusion.feature4.sections").each do |sec| %>
          <section id="<%= sec[:id] %>" class="<%= sec[:class] %>">
            <div class="media">
              <div class="media-left">
                <%= image_tag sec[:icon], class: "media-object img-left", alt: sec[:title] %>
              </div>

              <div class="media-body">
                <p>
                  <%= sec[:desc] -%>
                  <% if sec[:id] == "tab-usage-section-4" -%>
                  <%= link_to "立即使用", Rails.configuration.portal_host + "/cdn/domain/create?platform=dynamic&guideDynamic#platform", target: "_blank", class: "more", id: "fusion-scene-employ" -%>
                  <% end -%>
                </p>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2">
        <h2 class="title"><%= I18n.t("views.products.fusion.feature5.title") %></h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-zte-highlight@2x.jpg", alt: "中兴", title: "中兴", class: "case" %></div>
          <div><%= image_tag "fusion/client-momo.jpg", alt: "陌陌", title: "陌陌", class: "case" %></div>
          <div><%= image_tag "fusion/client-anxinzhengquan-highlight@2x.jpg", alt: "安信证券", title: "安信证券", class: "case" %></div>
          <div><%= image_tag "fusion/client-miaopai.jpg", alt: "秒拍", title: "秒拍", class: "case" %></div>
          <div><%= image_tag "fusion/client-mangguotv-highlight@2x.jpg", alt: "芒果TV", title: "芒果TV", class: "case" %></div>
          <div><%= image_tag "fusion/client-wifibanlv-highlight@2x.jpg", alt: "wifi伴侣", title: "wifi伴侣", class: "case" %></div>
          <div><%= image_tag "fusion/client-qichezhijia.jpg", alt: "汽车之家", title: "汽车之家", class: "case" %></div>
          <div><%= image_tag "fusion/client-tantan.jpg", alt: "探探", title: "探探", class: "case" %></div>
          <div><%= image_tag "fusion/client-kuaikan.jpg", alt: "快看", title: "快看", class: "case" %></div>
          <div><%= image_tag "client-yuekezaixianxuexi.jpg", alt: "粤科学习在线", title: "粤科学习在线", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-less feature-color tab-content-section-6 <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="row">
          <div class="col-sm-2 col-xs-6">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "快速入门", "https://developer.qiniu.com/fusion/manual/1228/fusion-quick-start", target: "_blank", title: "快速入门" -%></li>
              <li><%= link_to "DV 证书验证指南", "https://developer.qiniu.com/ssl/manual/3667/ssl-certificate-of-free-dns-validation-guide", target: "_blank", title: "DV 证书验证指南" -%></li>
              <li><%= link_to "七牛全球下载加速的海外一览表", "https://developer.qiniu.com/fusion/manual/1360/seven-cattle-download-speed-of-the-world-s-overseas-schedule", target: "_blank", title: "七牛全球下载加速的海外一览表" -%></li>
              <li><%= link_to "绑定加速域名和域名解析流程", "https://developer.qiniu.com/fusion/manual/1367/custom-domain-name-binding-process", target: "_blank", title: "绑定加速域名和域名解析流程" -%></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-6">
            <h4>API 文档</h4>
            <ul class="links-list">
              <li><%= link_to "流量带宽", "https://developer.qiniu.com/fusion/api/1230/traffic-bandwidth", target: "_blank", title: "流量带宽" -%></li>
              <li><%= link_to "缓存刷新与查询", "https://developer.qiniu.com/fusion/api/1229/cache-refresh", target: "_blank", title: "缓存刷新与查询" -%></li>
              <li><%= link_to "文件预取与查询", "https://developer.qiniu.com/fusion/api/1227/file-prefetching", target: "_blank", title: "文件预取与查询" -%></li>
              <li><%= link_to "日志下载", "https://developer.qiniu.com/fusion/api/1226/download-the-log", target: "_blank", title: "日志下载" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>SDK 及工具</h4>
            <ul class="links-list">
              <li><%= link_to "融合 CDN 日志查询", "https://developer.qiniu.com/fusion/tools/1665/qlogfetch", target: "_blank", title: "融合 CDN 日志查询和下载工具" -%></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-6">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "域名配置问题", "https://developer.qiniu.com/fusion/kb/1322/how-to-configure-cname-domain-name", target: "_blank", title: "域名配置问题" -%></li>
              <li><%= link_to "刷新缓存问题", "https://developer.qiniu.com/fusion/kb/3644/refresh-the-cache-fails-consistency-method-validation-file", target: "_blank", title: "刷新缓存问题" -%></li>
              <li><%= link_to "HTTPS 相关问题", "https://developer.qiniu.com/fusion/kb/3725/how-to-apply-for-and-use-free-certificate", target: "_blank", title: "HTTPS 相关问题" -%></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h4>产品动态</h4>
            <ul class="links-list">
              <li><%= link_to "斩获 GFIC 2016 “产品创新奖”，七牛云融合 CDN 突围而出", "https://blog.qiniu.com/archives/7541", target: "_blank", title: "斩获 GFIC 2016 “产品创新奖”，七牛云融合 CDN 突围而出" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
