<div class="banner-box banner-box-newmedia">
    <div class="banner-wrap">
      <div class="tittle-newmedia">
          <div class="title-detail">
            <h1>媒体融合一站式解决方案</h1>
            <p class="title-detial-p">全面 · 智能 · 深度 · 融合</p>
            <p>提供超越传统IT的定制服务，实现统一的跨终端交互体验,</p>
            <p>云端数据永不过期、永远在线，大于三级等保的安全防护</p>
          </div>
      </div>
    </div>
</div>
<div class="container newmedia media-item-list">
    <h2>新媒体行业产品体系</h2>
    <div class="content-matrix-newmedia container">
        <div class="col-sm-4">
            <h5 class="blue">媒体数据加工</h5>
            <ul>
                <li>
                    <%= link_to "", "/products/newmedia/playout",class: "link-index-newmedia" -%>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-zhinengbokong" %>
                    </div>
                    <p>智能播控</p>
                    <p class="detail">简洁易用的云端直播在线生产系统</p>
                    <p class="detail">无需传统导播台的巨额成本</p>
                    <p class="detail">显著提升直播体验和互动效果</p>
                    <span class="list-item-tips">HOT</span>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-chaojifenbianlv" %></div>
                    <p>超级分辨率</p>
                    <p class="detail">稳定高效的直播流量压缩工具</p>
                    <p class="detail">基于超分辩率成像技术对视频流进行重构</p>
                    <p class="detail">大幅度降低 CDN 带宽成本</p>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-zhinengchaitiao" %></div>
                    <p>智能拆条</p>
                    <p class="detail">快速智能的新闻内容拆条工具</p>
                    <p class="detail">基于深度学习系统的算法优化</p>
                    <p class="detail">有效提高人工效率和传播速度</p>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-yunfeibian" %></div>
                    <p>云非编</p>
                    <p class="detail">云快编以强大云端资源作支持</p>
                    <p class="detail">实现多轨无上限编辑、主流视频特效及音频、</p>
                    <p class="detail">字幕、转场模版等丰富功能</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5 class="orange">媒体数据管理</h5>
            <ul>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-neirongguanlipingtai" %></div>
                    <p>内容管理平台</p>
                    <p class="detail">集成图文编辑能力、音频和视频编辑能力</p>
                    <p class="detail">搭建统一的融合媒体生产平台</p>
                    <p class="detail">赋能广电新媒体以及大型企事业单位的新闻中心</p>
                </li>
                <li>
                    <%= link_to "", "/products/newmedia/mam",class: "link-index-newmedia" -%>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-zhinengmeizi" %></div>
                    <p>智能媒资</p>
                    <p class="detail">智能媒资以强大的工作流引擎</p>
                    <p class="detail">组织调度采编流程中的各个环节</p>
                    <p class="detail">提高采编效率，保障内容安全、编目可用</p>
                    <span class="list-item-tips">HOT</span>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-zhinengshenhe" %></div>
                    <p>智能审核</p>
                    <p class="detail">智能审核从技审、文字、音频、画面等方面</p>
                    <p class="detail">全维度保障播出内容安全</p>
                    <p class="detail">强大的智能学习平台助力敏感信息快速学习</p>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-yewuweifuwuyinqing" %></div>
                    <p>业务微服务引擎</p>
                    <p class="detail">灵活便捷的资源整合平台</p>
                    <p class="detail">基于微服务架构的容器云技术推进融合发展</p>
                    <p class="detail">满足业务应用的多变性和敏捷交付要求</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5 class="green">媒体数据经营</h5>
            <ul>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-zhinengshujujiankong" %></div>
                    <p>智能数据监控系统</p>
                    <p class="detail">智能化、体系化运维管理工具，</p>
                    <p class="detail">降低运维人员工作强度，</p>
                    <p class="detail">为精细化资源管理提供决策依据</p>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-banquanjiaoyi" %></div>
                    <p>版权交易</p>
                    <p class="detail">优质媒体资产的经营分发平台，</p>
                    <p class="detail">淘宝式的交易流程管理，降低运营成本，</p>
                    <p class="detail">促进地区版权交易良性发展</p>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-shujukeshihua" %></div>
                    <p>数据可视化</p>
                    <p class="detail">轻松搭建专业水准的大屏幕可视化应用，</p>
                    <p class="detail">定制数十种行业专业数据模版，</p>
                    <p class="detail">满足业务监控、成果汇聚等多种展示需求</p>
                </li>
                <li>
                    <div class="icon-matrix-newmedia">
                        <%= image_tag "newmedia/icon-chanpintixi.png", class: "icon-weihudongpingtai" %></div>
                    <p>微互动平台</p>
                    <p class="detail">免开发快速搭建直播互动页面，</p>
                    <p class="detail">实时接入公众号菜单，</p>
                    <p class="detail">伴随电视直播流同步提供互动模块化功能</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container newmedia index-solution-wrap-newmedia">
    <h2>新媒体行业解决方案全景</h2>
    <div class="container index-solution-newmedia">
        <div class="center-newmedia">
            <div class="col-sm-4 col-xs-6">
                <div class="index-scene-newmedia">
                    <%= image_tag "newmedia/icon-ronghemeiti1.png" %>
                    <p>融合媒体效率解决方案</p>
                    <div class="line-newmedia"></div>
                    <div class="entrance-newmedia">
                        <p>整合全媒体渠道</p>
                        <p>为省市县各级媒体融合</p>
                        <p>提供完整的解决方案</p>
                        <%= link_to "查看详情", "/products/newmedia/convergence",class: "btn-newmedia" -%>
                    </div>
                </div>
                <%= image_tag "newmedia/img-ronghemeiti1.jpg", class: "fanganquanjing-newmedia" %>
            </div>
            <div class="col-sm-4 col-xs-6">
            <div class="index-scene-newmedia">
                <%= image_tag "newmedia/icon-ronghemeiti2.png" %>
                <p>互动直播管理解决方案</p>
                <div class="line-newmedia"></div>
                <div class="entrance-newmedia">
                    <p>以实时音视频云为平台，支持</p>
                    <p>多码率自适应云转码、多径传输</p>
                    <p>实现大规模低延时直播互动</p>
                    <div class="btn-newmedia undone-newmedia">敬请期待</div>
                </div>
            </div>
            <%= image_tag "newmedia/img-ronghemeiti2.jpg", class: "fanganquanjing-newmedia" %>
        </div>
            <div class="col-sm-4 col-xs-6">
            <div class="index-scene-newmedia">
                <%= image_tag "newmedia/icon-ronghemeiti3.png" %>
                <p>智能流化解决方案</p>
                <div class="line-newmedia"></div>
                <div class="entrance-newmedia">
                    <p>以容器虚拟化技术为核心</p>
                    <p>将终端负载，迁至云端容器</p>
                    <p>实现可低延时交互的流化业务</p>
                    <div class="btn-newmedia undone-newmedia">敬请期待</div>
                </div>
            </div>
            <%= image_tag "newmedia/img-ronghemeiti3.jpg", class: "fanganquanjing-newmedia" %>
        </div>
    </div> 
</div>