<div class="jumbotron hero">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2><%= I18n.t("views.products.pili.banner.title") %></h2>
          <p><%= I18n.t("views.products.pili.banner.desc") %></p>
          <div class="actions <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
            <%= link_to "立即使用", "https://jinshuju.net/f/NhLqLx", target: "_blank", class: "btn btn-lg btn-default m-r m-b-xs" -%>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag I18n.t("views.products.pili.banner.icon"), alt: "pili", width: '90%' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-suspension">
  <div class="container">
    <div class="suspension">
      <div class="row">
        <% I18n.t("views.products.pili.specialty").each do |event| %>
          <div class="col-sm-3 col-xs-6 col-clear">
            <a href="javascript:;" class="suspension-item">
              <i class="icon diubao-icon"></i>
              <div class="desc">
                <p><%= event[:title] -%></p>
                <p><%= event[:desc] -%></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-suspension-next">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.pili.scheme.title") -%></h2>
    </div>
    <div class="text-center">
      <%= image_tag I18n.t("views.products.pili.scheme.link"), width:"80%" %>
    </div>
  </div>
</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h3 class="title"><%= I18n.t("views.products.pili.serve.title") -%></h3>
      <p class="desc"><%= I18n.t("views.products.pili.serve.desc") -%></p>
    </div>

    <div class="row row-flex">
      <% I18n.t("views.products.pili.serve.content").each do |event| %>
        <div class="col-sm-6">
          <div class="details-card">
            <div class="card-title">
              <h3 class="title play-icon"><%= event[:title] -%></h3>
              <p class="desc"><%= event[:desc] -%></p>
            </div>
            <div class="card-body">
              <% event[:children].each do |item| %>
                <% if item[:isLink] -%>
                  <h3 class="title"><%= link_to item[:name], item[:link], target: "_blank" -%></h3>
                <% else -%>
                  <h3 class="title"><%= item[:name] -%></h3>
                <% end -%>
                <p class="desc"><%= item[:desc] -%></p>
              <% end %>
            </div>
            <div class="action">
              <%= link_to event[:tagName], event[:link], target: "_blank", class:"btn btn-primary" -%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-bottom-line <%= I18n.t("views.language") != 'zh' ? 'features-en-pili-network' : '' -%>">
  <div class="container container-net-bg bottom-line">
    <div class="intro">
      <h3 class="title"><%= I18n.t("views.products.pili.network.title") -%></h3>
      <p class="desc"><%= I18n.t("views.products.pili.network.desc") -%></p>
    </div>

    <div class="row">
      <% I18n.t("views.products.pili.network.children").each do |item| %>
        <div class="col-sm-3 col-xs-6">
          <div class="thumbnail">
            <%= image_tag "pili/icon-anxushensuo.png", class:"media-object", alt: item[:name], width:"100" %>
            <div class="caption">
              <h4><%= item[:name] -%></h4>
              <p><%= item[:desc] -%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="features features-scene features-pili-scene">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.pili.scene.title") %></h2>
      <p class="desc"><%= I18n.t("views.products.pili.scene.desc") %></p>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.pili.scene.middlebar").each do |col| %>
          <li class="<%= col[:class] %>"><%= link_to col[:name], col[:href], data:{ toggle: "tab" } -%></li>
        <% end %>
      </ul>
      <div class="tab-content bottom-line">
        <% I18n.t("views.products.pili.scene.sections").each do |sec| %>
          <section class="<%= sec[:class] %>" id="<%= sec[:id] -%>">
            <div class="media">
              <%= content_tag :div, image_tag(sec[:icon], alt: sec[:title], class: "media-object img-left"), class: "media-left" %>
              <div class="media-body">
                <p><%= sec[:desc] %></p>
                <p>
                  <%= sec[:link] %>
                  <% sec[:linkarr].each do |unit| %>
                    <%= link_to unit[:title], unit[:link], target: "_blank", class: "more m-r-sm" -%>
                  <% end %>
                </p>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-section-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h2 class="title"><%= I18n.t("views.products.pili.case.title") -%></h2>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div id="cases-slider" class="conveyor slick-slider draggable">
          <div><%= image_tag "client-pandatv-highlight@2x.jpg", alt: "熊猫", title: "熊猫", class: "case" %></div>
          <div><%= image_tag "client-quanmintv-highlight@2x.jpg", alt: "全民TV", title: "全民TV", class: "case" %></div>
          <div><%= image_tag "client-longzhuzhibo-highlight@2x.jpg", alt: "龙珠", title: "龙珠", class: "case" %></div>
          <div><%= image_tag "client-tonghuashun-highlight@2x.jpg", alt: "同花顺", title: "同花顺", class: "case" %></div>
          <div><%= image_tag "client-sobey-highlight@2x.jpg", alt: "索贝数码", title: "索贝数码", class: "case" %></div>
          <div><%= image_tag "client-dongqiudi-highlight@2x.jpg", alt: "懂球帝", title: "懂球帝", class: "case" %></div>
          <div><%= image_tag "client-qichezhijia-highlight@2x.jpg", alt: "汽车之家", title: "汽车之家", class: "case" %></div>
          <div><%= image_tag "client-langrensha.jpg", alt: "天天狼人杀", title: "天天狼人杀", class: "case" %></div>
          <div><%= image_tag "client-7k7k-highlight@2x.jpg", alt: "7K7K", title: "7K7K", class: "case" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-less features-cases tab-content-section-6 <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品简介", "https://developer.qiniu.com/pili/manual/3694/pili-product-introduction", target: "_blank" -%></li>
              <li><%= link_to "直播架构快速搭建", "https://developer.qiniu.com/pili/manual/1217/live-architecture-fleetly", target: "_blank" -%></li>
              <li><%= link_to "七牛直播云技术白皮书", "https://developer.qiniu.com/pili/manual/1209/live-the-core-function", target: "_blank" -%></li>
              <li><%= link_to '小程序直播接入文档', 'https://developer.qiniu.com/pili/manual/4211/small-program-live-access-to-documents', target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>SDK及工具</h4>
            <ul class="links-list">
              <li><%= link_to "Android 推流端 SDK", "https://developer.qiniu.com/pili/sdk/3715/PLDroidMediaStreaming-overview", target: "_blank" -%></li>
              <li><%= link_to "iOS 推流端 SDK", "https://developer.qiniu.com/pili/sdk/3778/PLMediaStreamingKit-overview", target: "_blank" -%></li>
              <li><%= link_to "Android 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1210/the-android-client-sdk", target: "_blank" -%></li>
              <li><%= link_to "iOS 播放端 SDK", "https://developer.qiniu.com/pili/sdk/1211/ios-playback-end-the-sdk", target: "_blank" -%></li>
              <li><%= link_to "服务端 SDK", "https://developer.qiniu.com/pili/sdk/1220/server-sdk", target: "_blank" -%></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>常见问题</h4>
            <ul class="links-list">
              <li><%= link_to "iOS/Android 崩溃信息搜集方法", "https://developer.qiniu.com/pili/kb/3646/ios-android-collapse-information-gathering-methods", target: "_blank" -%></li>
              <li><%= link_to "直播封面落是否永久保存", "https://developer.qiniu.com/pili/kb/3876/a-live-cover-is-permanent", target: "_blank" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>