<div class="banner-box banner-box-newmedia">
    <div class="tittle-newmedia tittle-zhinengbokong">
        <div class="banner-wrap">
            <div class="tittle-newmedia">
                <div class="title-detail bokong-title-wrap">
                    <h1 class="bokong-text">飞影 | 智能播控</h1>
                    <p>智能播控以人工智能云计算为能力核心，智能汇聚、编排直播内容,添加专业级视音效果</p>
                    <p>最终自动化安全播出，为您搭建一个云上演播室！</p>
                    <%= link_to "查看详情", "https://developer.qiniu.com/", target: "_blank", class: "btn-newmedia" -%>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-nav media-bk-features-nav hidden-xs">
    <div class="container">
        <div class="tabs">
            <ul class="nav nav-tabs nav-justified navbar-wrapper-middle">
                <% I18n.t("views.products.playout.middlebar").each do |linkbar| %>
                    <li class="<%= linkbar[:class] %>"><%= link_to linkbar[:title], linkbar[:href] -%></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<div class="tab-content-section-1 container newmedia bokong-jieshao">
    <h2>产品介绍</h2>
    <div class="container center-newmedia intro-newmedia">
        <div class="col-sm-6 introword-newmedia">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智能播控以人工智能云计算为能力核心，汇聚直播内容；通过智能识别，自动编排播出脚本；添加专业级视音效果，最终自动化安全播出。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智能播控采用预付费的购买使用模式，根据用户输入源数目、输出分辨率和使用时长进行计费，购买后，即开即播。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智能播控同样支持在用户私有化环境中进行部署，对直播环境中的系统进行智能化自动化的播出控制。</p>
        </div>
        <div class="col-sm-6">
            <%= image_tag "playout/img-bokongjiemian.jpg", class: "bokongjiemian-newmedia" %></div>
        </div>
    </div>
</div>
<div class="tab-content-section-2 container newmedia changjieshao-newmedia white">
    <h2>产品优势</h2>
    <div class="container center-newmedia">
        <% I18n.t("views.products.playout.feature2").each do |adv| %>
            <div class=" col-sm-6 col-xs-12">
                <div class="changjieshao-wrap-newmedia col-xs-4">
                    <div class="icon-bokongyoushi-newmedia">
                        <%= image_tag "playout/icon-bokong-youshi.png", class: adv[:class] %>
                    </div>
                </div>
                <div class="word-newmedia col-xs-8">
                    <h3><%= adv[:title] %></h3>
                    <% adv[:desc].each do |des|%>
                        <p><%= des[:text] %></p>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="tab-content-section-3 container newmedia bokong-jieshao bokong-func-newmedia">
    <h2>核心功能</h2>
    <div class="container center-newmedia">
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png"%>
            </div>
            <p>多路音视频直播源接入</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-tuiliuzhibo"%>
            </div>
            <p>多路本地素材推流直播</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-neirongjiankong"%>
            </div>
            <p>内容监控</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-shichuangxiaoguo"%>
            </div>
            <p>视窗效果</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-kouxiangxiaoguo"%>
            </div>
            <p>扣像效果</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-qiehuankongzhi"%>
            </div>
            <p>切换控制及切换效果</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-yinpinxiaoguo"%>
            </div>
            <p>音频效果</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-tuwenxiaoguo"%>
            </div>
            <p>图文效果</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-yanshiguanli"%>
            </div>
            <p>垫片切换传输及输出延时管理</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-tuiliushuchu"%>
            </div>
            <p>推流输出</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-xitongjicheng"%>
            </div>
            <p>文稿及播控系统集成</p>
        </div>
        <div class="col-sm-3">
            <div class="icon-bokongfunc-newmedia">
                <%= image_tag "playout/icon-bokong-func.png", class:"icon-zhinenghuabokong"%>
            </div>
            <p>智能化播控</p>
        </div>
    </div>
</div>

<div class="tab-content-section-4 container newmedia img-scene-newmedia white">
    <h2>适用场景</h2>
    <div class="col-sm-3 col-xs-6">
        <div class="tittle-newmedia">
            <h4>现场内容实时还原</h4>
            <p>充分挖掘多机位直播内容资源，对多输入源，进行同步音视频切换</p>
        </div>
        <%= image_tag "playout/img-bokong-scenarios1.jpg" %>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="tittle-newmedia">
            <h4>传统直播运营升级</h4>
            <p>演播室级二次效果加工，更符合移动端用户的观看体验</p>
        </div>
        <%= image_tag "playout/img-bokong-scenarios2.jpg" %>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="tittle-newmedia">
            <h4>复杂场景协同播出</h4>
            <p>减少复杂直播场景的人工依赖，避免播出协同失误，完成智能自动化播出控制</p>
        </div>
        <%= image_tag "playout/img-bokong-scenarios3.jpg" %>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="tittle-newmedia">
            <h4>媒体升级追赶潮流</h4>
            <p>提供从采集端到播出端的一站式直播平台</p>
        </div>
        <%= image_tag "playout/img-bokong-scenarios4.jpg" %>
    </div>
</div>