<div class="qvm-company-page">
  <%# banner 部分 %>
  <div class="jumbotron hero hero-qvm-company">
    <div class="container">
      <div class="middle-container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h2>企业云主机</h2>
            <p>七牛云为企业提供安全、稳定、易用的云主机服务，帮助企业快速上云。通过七牛云主机服务，企业只需根据业务发展需要创建相应规模的虚拟机实例、云硬盘和网络服务，无需采购其他相关资源，缩短业务部署上线周期，大大降低企业运维成本。</p>
            <div class="actions">
              <%= link_to "立即选购", Rails.configuration.portal_host + "/qvm/dashboard", class: "btn btn-lg btn-hollow m-r m-b-xs", target: "_blank" -%>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs">
            <div class="right-mask-banner">
              <%= image_tag "qvmcompany/banner-right-icon.png", title: "企业云主机", alt: "企业云主机", width: "100%" -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cloud-1 features-qvmcompany-nav">
    <ul>
      <li>
        <%= image_tag "qvmcompany/icon-nav-1.png", title: "企业 0 元云主机", alt: "企业 0 元云主机" -%>
        <p><strong>企业 0 元云主机</strong><br>最高可达 4 核 8 G<br><a href="/events/qvm0rmb" title="企业 0 元云主机" target="_blank">了解更多</a></p>
      </li>
      <li>
        <%= image_tag "qvmcompany/icon-nav-2.png", title: "云主机合伙人", alt: "云主机合伙人" -%>
        <p><strong>云主机合伙人</strong><br>最高 25% 奖励<br><a href="/products/qvm/partner" title="云主机合伙人" target="_blank">了解更多</a></p>
      </li>
      <li>
        <%= image_tag "qvmcompany/icon-nav-3.png", title: "免费云服务套餐", alt: "免费云服务套餐" -%>
        <p><strong>免费云服务套餐</strong><br>0 元体验云服务<br><a href="/events/free" title="免费云服务套餐" target="_blank">了解更多</a></p>
      </li>
    </ul>
  </div>

  <div class="features">
    <div class="container">
      <div class="intro">
        <h2 class="title">企业云主机推荐</h2>
      </div>
      <div class="cloud-2">
        <div class="cloud-2-1">
          <div class="cloud-2-1-l">
            <h3>企业官网、简单 Web 应用<a><i></i>轻量级、计算量较少</a></h3>
            <p><strong>热门机型</strong> - CPU 1 核 内存 1 G 云硬盘 40G</p>
          </div>
          <div class="cloud-2-1-r">
            <%= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?mode=DirectOrder&region_id=cn-shanghai&instance_type=ecs.t5-lc1m1.small&buymonth=1", title: "企业官网、简单 Web 应用", target: "_blank" -%>
            <p><span class="symbol-money">￥</span><strong>34.9</strong>/月</p>
          </div>
        </div>

        <div class="cloud-2-1">
          <div class="cloud-2-1-l">
            <h3>网站、App、小程序后端服务<a><i></i>波动性大、高可用需求</a></h3>
            <p><strong>热门机型</strong> - CPU 2 核 内存 8 G 云硬盘 40G</p>
          </div>
          <div class="cloud-2-1-r">
            <%= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?mode=DirectOrder&region_id=cn-shanghai&instance_type=ecs.g5.large&buymonth=1", title: "网站、App、小程序后端服务", target: "_blank" -%>
            <p><span class="symbol-money">￥</span><strong>242.8</strong>/月</p>
          </div>
        </div>

        <div class="cloud-2-1">
          <div class="cloud-2-1-l">
            <h3>自建数据库集群服务<a><i></i>高 I/O、高内存需求</a></h3>
            <p><strong>热门机型</strong> - CPU 2 核 内存 16G 云硬盘 40G</p>
          </div>
          <div class="cloud-2-1-r">
            <%= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?mode=DirectOrder&region_id=cn-shanghai&instance_type=ecs.r5.large&buymonth=1", title: "自建数据库集群服务", target: "_blank" -%>
            <p><span class="symbol-money">￥</span><strong>306.7</strong>/月</p>
          </div>
        </div>

        <div class="cloud-2-1">
          <div class="cloud-2-1-l">
            <h3>高性能计算、科学计算<a><i></i>CPU 密集型计算、要求计算性能稳定</a></h3>
            <p><strong>热门机型</strong> - CPU 2 核 内存 4 G 云硬盘 40G</p>
          </div>
          <div class="cloud-2-1-r">
            <%= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?mode=DirectOrder&region_id=cn-shanghai&instance_type=ecs.hfc5.large&buymonth=1", title: "高性能计算、科学计算", target: "_blank" -%>
            <p><span class="symbol-money">￥</span><strong>239.2</strong>/月</p>
          </div>
        </div>

        <div class="cloud-2-1">
          <div class="cloud-2-1-l">
            <h3>编解码、GPU 计算、机器学习<a><i></i>高性能计算能力、高图形处理能力</a></h3>
            <p><strong>热门机型</strong> - CPU 4 核 内存 30 G 云硬盘 40G</p>
          </div>
          <div class="cloud-2-1-r">
            <%= link_to "立即购买", Rails.configuration.portal_host + "/qvm/vm/instance/create?mode=DirectOrder&region_id=cn-shanghai&instance_type=ecs.gn5-c4g1.xlarge&buymonth=1", title: "编解码、GPU 计算、机器学习", target: "_blank" -%>
            <p><span class="symbol-money">￥</span><strong>312.1</strong>/月</p>
          </div>
        </div>
      </div>
      <h4 class="know-more-models">
        <%= link_to "了解更多机型", Rails.configuration.portal_host + "/qvm/vm/instance/create", title: "了解更多机型", target: "_blank" -%>
    </div>
  </div>

  <%# 七牛云主机优势 %>
  <div class="features features-qvmcompany-adva">
    <div class="container">
      <div class="intro">
        <h2 class="title">七牛云主机优势</h2>
      </div>
      <ul class="cloud-3">
        <li>
          <h3>弹性</h3>
          <p>千台七牛云服务器一分钟创建，快速响应企业业务需求；随时调整配置，多种计费模式，企业灵活选择</p>
        </li>
        <li>
          <h3>稳定</h3>
          <p>高达 99.95% 的服务可用性和 99.9999999% 的数据可靠性，自动宕机迁移，自动快照备份，企业数据恢复更方便</p>
        </li>
        <li>
          <h3>安全</h3>
          <p>专有网络隔离攻击；安全组、高防等安全服务保证企业服务安全运行</p>
        </li>
        <div class="divide-dom"></div>
        <li>
          <h3>易用</h3>
          <p>上千台七牛云服务器多重实时管理，企业一键部署，快速复制环境，轻松扩展</p>
        </li>
        <li>
          <h3>可拓展</h3>
          <p>无缝衔接七牛云丰富产品，持续为企业业务发展提供完整的计算、存储、安全等解决方案</p>
        </li>
        <li>
          <h3>高性能</h3>
          <p>单实例最高可选 88vCPU，内存 704GB，700 万 PPS 网络收发包，35Gbps 带宽</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="features features-qvmcompany-server">
    <div class="container">
      <div class="intro">
        <h2 class="title">相关产品与服务</h2>
      </div>
      <ul class="cloud-4">
        <li>
          <%= image_tag "qvmcompany/icon-server-1.png", title: "专有网络", alt: "专有网络" -%>
          <p><a href="/products/qvm#qvm-product-section-2" target="_blank">专有网络</a></p>
        </li>
        <li>
          <%= image_tag "qvmcompany/icon-server-2.png", title: "弹性公⽹ IP", alt: "弹性公⽹ IP" -%>
          <p><a href="/products/qvm#qvm-product-section-3" target="_blank">弹性公⽹ IP</a></p>
        </li>
        <li>
          <%= image_tag "qvmcompany/icon-server-3.png", title: "高速通道", alt: "高速通道" -%>
          <p><a href="/products/qvm#qvm-product-section-4" target="_blank">高速通道</a></p>
        </li>
        <li>
          <%= image_tag "qvmcompany/icon-server-4.png", title: "云数据库", alt: "云数据库" -%>
          <p><a href="/products/qvm#qvm-product-section-5" target="_blank">云数据库</a></p>
        </li>
        <li>
          <%= image_tag "qvmcompany/icon-server-5.png", title: "负载均衡", alt: "负载均衡" -%>
          <p><a href="/products/qvm#qvm-product-section-6" target="_blank">负载均衡</a></p>
        </li>
        <li>
          <%= image_tag "qvmcompany/icon-server-6.png", title: "安全产品", alt: "安全产品" -%>
          <p><a href="/products/qvm#qvm-product-section-7" target="_blank">安全产品</a></p>
        </li>
      </ul>
    </div>
  </div>

  <div class="features features-cases">
    <div class="container">
      <div class="intro">
        <h2 class="title">
          他们都在用七牛云
        </h2>
      </div>

      <div id="index-cases-slider" class="conveyor slick-slider draggable">
        <div>
          <div class="customer-changba index-case"></div>
          <div class="customer-changhong index-case"></div>
        </div>
        <div>
          <div class="customer-dajiang index-case"></div>
          <div class="customer-dianping index-case"></div>
        </div>
        <div>
          <div class="customer-guanglianda index-case"></div>
          <div class="customer-haikangweishi index-case"></div>
        </div>
        <div>
          <div class="customer-hubeiguangdian index-case"></div>
          <div class="customer-hujiang index-case"></div>
        </div>
        <div>
          <div class="customer-intel index-case"></div>
          <div class="customer-jiangsuweishi index-case"></div>
        </div>
        <div>
          <div class="customer-meipai index-case"></div>
          <div class="customer-oppo index-case"></div>
        </div>
        <div>
          <div class="customer-qingtingfm index-case"></div>
          <div class="customer-shunfeng index-case"></div>
        </div>
        <div>
          <div class="customer-sobey index-case"></div>
          <div class="customer-souhu index-case"></div>
        </div>
        <div>
          <div class="customer-zhihu index-case"></div>
          <div class="customer-zhongguopingan index-case"></div>
        </div>
        <div>
          <div class="customer-zhongguoyidong index-case"></div>
          <div class="customer-zhongxing index-case"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="container">
      <div class="intro">
        <h2 class="title">帮助与文档</h2>
      </div>
      <ul class="cloud-5">
        <li>
          <h3>产品文档</h3>
          <p><a href="https://developer.qiniu.com/qvm/manual/4289/qvm-overview" title="云主机简介" target="_blank">云主机简介</a></p>
          <p><a href="/caculator_qvm" title="云主机价格" target="_blank">云主机价格</a></p>
          <p><a href="https://developer.qiniu.com/qvm/manual/5491/waf-buying-guide" title="云主机购买指南" target="_blank">云主机购买指南</a></p>
          <p><a href="https://developer.qiniu.com/qvm/api/5564/create-instance" title="创建云主机" target="_blank">创建云主机</a></p>
          <a href="https://developer.qiniu.com/qvm" title="查看更多" target="_blank">查看更多</a>
        </li>
        <li>
          <h3>常见问题</h3>
          <p><a href="https://developer.qiniu.com/qvm/kb/5099/connection-on-redis" title="为什么云主机连接不上 Redis？" target="_blank">为什么云主机连接不上 Redis？</a></p>
          <p><a href="https://developer.qiniu.com/qvm/kb/5146/how-to-install-grub-for-linux-server" title="如何为 Linux 服务器安装 GRUB" target="_blank">如何为 Linux 服务器安装 GRUB</a></p>
          <p><a href="https://developer.qiniu.com/qvm/kb/5390/cloud-host-reverse-dns-application-process" title="云主机反向解析的申请流程" target="_blank">云主机反向解析的申请流程</a></p>
          <p><a href="https://developer.qiniu.com/qvm/kb/5145/the-common-problems-in-migration-tool" title="迁移工具常见问题" target="_blank">迁移工具常见问题</a></p>
          <a href="https://developer.qiniu.com/faq?space=qvm" title="查看更多" target="_blank">查看更多</a>
        </li>
        <li>
          <h3>企业上云实践</h3>
          <p><a href="https://developer.qiniu.com/qvm/manual/4288/server-migration-qiniu" title="使用迁移工具迁移服务器至 QVM" target="_blank">使用迁移工具迁移服务器至 QVM</a></p>
          <p><a href="https://developer.qiniu.com/qvm/manual/4269/qvm-kodo" title="通过加速域名访问对象存储" target="_blank">通过加速域名访问对象存储</a></p>
          <p><a href="https://developer.qiniu.com/qvm/manual/5116/how-to-make-the-defense-support-according-to-the-domain-name-back-to-the-source" title="设置高防根据域名回源到不同的业务服务器" target="_blank">设置高防根据域名回源到不同的业务服务器</a></p>
          <p><a href="https://developer.qiniu.com/qvm/manual/5686/by-using-iptables-do-nat-the-web-site" title="通过用 iptables 做 NAT 代理上网" target="_blank">通过用 iptables 做 NAT 代理上网</a></p>
          <a href="https://developer.qiniu.com/qvm" title="查看更多" target="_blank">查看更多</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer">
    <div class="container">企业云主机 0 元起 <a href="/events/qvm0rmb" title="企业云主机 0 元起立即选购" target="_blank">立即选购</a></div>
  </div>
</div>