<div class="jumbotron hero hero-qvmfeeds qvmfeeds-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-hero">
        <%= image_tag "qvmfeeds/image-banner.png", class: "image-banner", width: "100%" -%>
        <%= image_tag "qvmfeeds/icon-red-packet.png", class: "icon-red-packet", alt: "3000 元云服务器抵用券", width: "90%" -%>
      </div>
    </div>
  </div>
</div>

<div class="features features-qvmfeeds-body qvmfeeds-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-body-image">
        <%= image_tag "qvmfeeds/image-body.png", class: "image-body", width: "100%" -%>
      </div>
    </div>
    <div class="row row-operation">
      <div class="col-xs-12 col-sm-12 col-md-12 col-operation">
        <%= link_to "马上领取", "https://jinshuju.net/f/GoMRMG?ref=www.qiniu.com/products/qvmfeeds", class: "btn btn-danger btn-lg btn-qvmfeeds", id: "btn-qvmfeeds-get", target: "_blank" -%>
        <div class="rules-container">
          <%= image_tag "qvmfeeds/icon-coin.png", class: "icon-coin", width: 60 -%>
          <p>填写完整信息即可领取代金券</p>
          <p>每位用户限领一次，不限新老用户</p>
          <p>代金券将在一周内通过邮件形式发送</p>
        </div>
      </div>
    </div>
  </div>
</div>