<div class="jumbotron hero hero-rtn">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2 class="<%= I18n.t("views.language") != "zh" ? "en-version" : "" -%>"><%= I18n.t("views.products.rtn.banner.title") %></h2>
          <p class="<%= I18n.t("views.language") != "zh" ? "en-version" : "" -%>"><%= I18n.t("views.products.rtn.banner.desc") -%></p>
          <div class="actions <%= I18n.t("views.language") != "zh" ? "d-none" : "" -%>">
            <% I18n.t("views.products.rtn.action").each do |event| %>
              <% if event[:type] == "link" -%>
                <% if event[:jumphost] == "portal" -%>
                  <%= link_to event[:title], Rails.configuration.portal_host + event[:link], target: event[:target], class: event[:class] -%>
                <% else -%>
                  <%= link_to event[:title], event[:link], target: event[:target], class: event[:class] -%>
                <% end -%>
              <% elsif event[:type] == "form" -%>
              <%= link_to event[:title], event[:link], target: event[:target], class: event[:class], data: { toggle: "modal", target: "#feedback-modal", intention: "实时音视频云"}, id: "rtn-consult-button" -%>
              <% end -%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-4 hidden-xs">
          <div class="right-mask-banner">
            <%= image_tag I18n.t("views.products.rtn.banner.icon"), alt: "rtn", width: "100%" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features features-suspension">
  <div class="container">
    <div class="suspension">
      <div class="row rtn-row">
        <% I18n.t("views.products.rtn.specialty").each do |event| %>
          <div class="col-sm-3 col-xs-6 col-clear">
            <a href="javascript:;" class="suspension-item rtn-specialty">
              <%= image_tag event[:img] %>
              <div class="desc">
                <p><%= event[:title] -%></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-suspension-next rtn-suspension-next">
  <div class="intro rtn-network-title">
    <h3 class="title"><%= I18n.t("views.products.rtn.scheme.title") -%></h3>
    <p class="desc"><%= I18n.t("views.products.rtn.scheme.desc") -%></p>
  </div>
  <div class="container rtn-scheme">
    <ul>
      <% I18n.t("views.products.rtn.scheme.content").each do |event| %>
        <li>
          <p class="title"><%= event[:title] -%></p>
          <% event[:desc].each do |desc| %>
            <p><%= desc -%></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h3 class="title"><%= I18n.t("views.products.rtn.serve.title") -%></h3>
      <p class="desc"><%= I18n.t("views.products.rtn.serve.desc") -%></p>
    </div>
    <ul class="rtn-serve">
      <% I18n.t("views.products.rtn.serve.content").each do |event| %>
        <li>
          <div class="active cont">
            <%= image_tag event[:active_img] %>
            <div>
              <p class="title <%= I18n.t("views.language") != "zh" ? "en-title" : "" %>"><%= event[:title] -%></p>
              <p class="desc <%= I18n.t("views.language") != "zh" ? "en-desc" : "" %>"><%= event[:desc] -%></p>
            </div>
          </div>
          <div class="normal cont">
            <%= image_tag event[:img] %>
            <p class="title <%= I18n.t("views.language") != "zh" ? "en-title" : "" %>"><%= event[:title] -%></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="features features-scene features-rtn-scene">
  <div class="container">
    <div class="intro">
      <h2 class="title"><%= I18n.t("views.products.rtn.scene.title") %></h2>
      <p class="desc"><%= I18n.t("views.products.rtn.scene.desc") %></p>
    </div>
    <div class="tabs rtn-scene">
      <ul class="nav nav-tabs nav-justified points-bar nav-short" role="tablist">
        <% I18n.t("views.products.rtn.scene.middlebar").each do |col| %>
          <li class="<%= col[:class] %>"><%= link_to col[:name], col[:href], data:{ toggle: "tab" } -%></li>
        <% end %>
      </ul>
      <div class="tab-content bottom-line">
        <% I18n.t("views.products.rtn.scene.sections").each do |sec| %>
          <section class="<%= sec[:class] %>" id="<%= sec[:id] -%>">
            <div class="media">
              <%= content_tag :div, image_tag(sec[:icon], alt: sec[:title], class: "media-object img-left"), class: "media-left" %>
              <div class="media-body">
                <h3 class="title"><%= sec[:title] %></h3>
                <p><%= sec[:desc] %></p>
                <h5><%= sec[:link] %></h5>
                <p>
                  <% sec[:scenes].each do |item| %>
                    <span><%= item %></span>
                  <% end %>
                </p>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h3 class="title"><%= I18n.t("views.products.rtn.demo.title") -%></h3>
    </div>
    <div class="row rtn-demo">
      <ul>
        <% I18n.t("views.products.rtn.demo.items").each do |item| %>
          <li>
            <%= image_tag item[:img] %>
            <p><%= item[:desc] %></p>
          </li>
        <% end %>
      </ul>
      <div class="btn-box">
        <% I18n.t("views.products.rtn.demo.btns").each do |btn| %>
          <%= link_to btn[:name], btn[:link], target: "_blank", class:"btn btn-primary" -%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="features features-less tab-content-products <%= I18n.t("views.language") != "zh" ? "d-none" : "" %>">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <h2 class="title">产品相关</h2>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-4 col-xs-4">
            <h4>常用文档</h4>
            <ul class="links-list">
              <li><%= link_to "产品简介", "https://doc.qnsdk.com/rtn/docs/rtn_overview", target: "_blank", title: "产品简介" -%></li>
              <li><%= link_to "核心功能", "https://doc.qnsdk.com/rtn/docs/feature_list", target: "_blank", title: "核心功能" -%></li>
              <li><%= link_to "接入流程", "https://doc.qnsdk.com/rtn/docs/rtn_startup", target: "_blank", title: "接入流程" -%></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-4">
            <h4>开发手册</h4>
            <ul class="links-list">
              <li><%= link_to "Android 开发手册", "https://doc.qnsdk.com/rtn/android", target: "_blank", title: "Android 开发手册" -%></li>
              <li><%= link_to "iOS 开发手册", "https://doc.qnsdk.com/rtn/ios", target: "_blank", title: "iOS 开发手册" -%></li>
              <li><%= link_to "Web 开发手册", "https://doc.qnsdk.com/rtn/web", target: "_blank", title: "Web 开发手册" -%></li>
              <li><%= link_to "Windows 开发手册", "https://doc.qnsdk.com/rtn/windows", target: "_blank", title: "Windows 开发手册" -%></li>
              <li><%= link_to "服务端开发手册", "https://doc.qnsdk.com/rtn/docs/server_overview", target: "_blank", title: "服务端开发手册" -%></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-4">
            <h4>其他</h4>
            <ul class="links-list">
              <li><%= link_to "Demo 体验及源码下载", "https://doc.qnsdk.com/rtn/docs/demo", target: "_blank", title: "Demo 体验及源码下载" -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>