<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <% seo = I18n.t("seo")["#{controller_name}_#{action_name}".to_sym] || {} %>
    <%= tag("meta", name: "keywords", content: seo[:keywords]) unless seo[:keywords].blank? %>
    <%= tag("meta", name: "description", content: seo[:description]) unless seo[:description].blank? %>
    <%= meta_go_import %>
    <meta name="baidu-site-verification" content="otBvF33R0a" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title><%= seo[:title] || @title || "七牛云" -%></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link href="https://dn-mars-assets.qbox.me/jquery.jsonview.min.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      (function(para) {
        var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
        if(typeof(w['sensorsDataAnalytic201505']) !== 'undefined') {
          return false;
        }
        w['sensorsDataAnalytic201505'] = n;
        w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
        var ifs = ['track','quick','register','registerPage','registerOnce','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister','getAppStatus'];
        for (var i = 0; i < ifs.length; i++) {
          w[n][ifs[i]] = w[n].call(null, ifs[i]);
        }
        if (!w[n]._t) {
          x = d.createElement(s), y = d.getElementsByTagName(s)[0];
          x.async = 1;
          x.src = p;
          x.setAttribute('charset','UTF-8');
          w[n].para = para;
          y.parentNode.insertBefore(x, y);
        }
      })({
        sdk_url: 'https://static.sensorsdata.cn/sdk/1.13.14/sensorsdata.min.js',
        heatmap_url: 'https://static.sensorsdata.cn/sdk/1.13.14/heatmap.min.js',
        name: 'sensors',
        server_url: 'https://sensors.qiniu.com/sa?project=default',
        heatmap: {},
        show_log: false
      });
      sensors.quick('autoTrack');
    </script>
  </head>

  <body class="<%= controller_name -%>-page <%= "#{controller_name}-page-#{action_name}" -%>">
    <!--[if lt IE 10]>
      <div class="browsehappy alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        您正在使用 <strong>旧浏览器</strong> . 为了更好的体验，请 <a href="http://browsehappy.com/" target="_blank">更新</a> 您的浏览器.
      </div>
    <![endif]-->

    <nav class="navbar navbar-default" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag(I18n.t("navbar.logo"), width: 100), I18n.t('views.language') == 'zh' ? '/' : '/en', class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-nav-mobile">

            <%# 产品下拉菜单 %>
            <li class="dropdown" id="spaces-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t("navbar.product") -%></a>

              <% if I18n.t("views.language") == 'zh' -%>
              <ul class="dropdown-menu services-menu services-menu-multicols">
                <ul class="services-col-left">
                  <% I18n.t("services.left").each do |left| -%>
                    <%= content_tag :li, left[:group], class: "menu-title hidden-xs" -%>
                    <% left[:list].each do |product| -%>
                      <%= content_tag :li, class: I18n.t("views.language") != 'zh' && product[:name]=='kirk' ? 'd-none' : 'service' do -%>
                        <% service_path = "products_#{product[:name]}_path" -%>
                        <% if product[:catalog] == "welcome" -%>
                          <% service_path = "#{product[:name]}_path" -%>
                        <% end -%>
                        <%= link_to(send(service_path)) do -%>
                          <h4 class="<%= product[:name] -%>">
                            <%= product[:label] -%>
                            <% if product[:isNew] -%><i class="new-icon"></i><% end -%>
                          </h4>
                          <p>
                            <%= product[:desc] -%>
                            <% if product[:highlight] -%><span class="text-highlight"><%= product[:highlight] -%></span><% end -%>
                          </p>
                        <% end -%>
                      <% end -%>
                    <% end -%>
                  <% end -%>
                </ul>

                <ul class="services-col-right">
                  <% I18n.t("services.right").each do |right| -%>
                    <%= content_tag :li, right[:group], class: "menu-title hidden-xs" -%>
                    <% right[:list].each do |product| -%>
                      <%= content_tag :li, class: I18n.t("views.language") != 'zh' && product[:name]=='kirk' ? 'd-none' : 'service' do -%>
                        <%= link_to(send("products_#{product[:name]}_path")) do -%>
                          <h4 class="<%= product[:name] -%>">
                            <%= product[:label] -%>
                            <% if product[:isNew] -%><i class="new-icon"></i><% end -%>
                          </h4>
                          <p>
                            <%= product[:desc] -%>
                            <% if product[:highlight] -%><span class="text-highlight"><%= product[:highlight] -%></span><% end -%>
                          </p>
                        <% end -%>
                      <% end -%>
                    <% end -%>
                  <% end -%>
                </ul>
              </ul>
              <% elsif I18n.t("views.language") == 'en' -%>
              <ul class="dropdown-menu services-menu">
                <% I18n.t("services").each do |service| -%>
                  <%= content_tag :li, service[:group], class: "menu-title hidden-xs" -%>
                  <% service[:list].each do |product| -%>
                    <%= content_tag :li, class: I18n.t("views.language") != 'zh' && product[:name]=='kirk' ? 'd-none' : 'service' do -%>
                      <%= link_to(send("products_#{product[:name]}_path")) do -%>
                        <h4 class="<%= product[:name] -%>">
                          <%= product[:label] -%>
                          <% if product[:isNew] -%><i class="new-icon"></i><% end -%>
                        </h4>
                        <p>
                          <%= product[:desc] -%>
                          <% if product[:highlight] -%><span class="text-highlight"><%= product[:highlight] -%></span><% end -%>
                        </p>
                      <% end -%>
                    <% end -%>
                  <% end -%>
                <% end -%>
              </ul>
              <% end -%>

            </li>

            <%# 解决方案下拉菜单 %>
            <li class="dropdown" id="solution-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile" id="solution-dropdown-title" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t("navbar.solution") %></a>

              <% if I18n.t("views.language") == 'zh' -%>

                <ul class="dropdown-menu solutions-menu solutions-menu-multicols">
                  <li class="solution menu-title hidden-xs">
                    <%= content_tag :span, I18n.t("solutions.title1"), class: "group-title" -%>
                    <%= content_tag :span, I18n.t("solutions.title2"), class: "group-title" -%>
                  </li>

                  <% I18n.t("solutions.list").each do |item| -%>
                    <li class="solution">
                      <% item[:cols].each do |col| -%>
                        <% if col[:type].blank? -%>

                          <%= content_tag :span, class: "hidden-xs" do -%>
                            <h4 class="menu-title"></h4>
                            <p class="hidden-xs"></p>
                          <% end -%>

                        <% else -%>

                          <% if col[:type] == 'product' -%>
                            <%= link_to(raw(send("products_#{col[:name]}_path"))) do -%>
                              <h4 class="<%= col[:name] -%> menu-title">
                                <%= col[:label] -%>
                                <% if col[:isNew] -%><i class="new-icon"></i><% end -%>
                              </h4>
                              <%= content_tag :p, col[:desc], class: "hidden-xs" -%>
                            <% end -%>
                          <% elsif col[:type] == 'solution_page' -%>
                            <%= link_to(raw(send("solutions_#{col[:name]}_path"))) do -%>
                              <h4 class="<%= col[:name] -%> menu-title">
                                <%= col[:label] -%>
                                <% if col[:isNew] -%><i class="new-icon"></i><% end -%>
                              </h4>
                              <%= content_tag :p, col[:desc], class: "hidden-xs" -%>
                            <% end -%>
                          <% elsif col[:type] == 'solution_hash' -%>
                            <%= link_to(raw(solutions_path(anchor: col[:name]))) do -%>
                              <h4 class="<%= col[:name] -%> menu-title">
                                <%= col[:label] -%>
                                <% if col[:isNew] -%><i class="new-icon"></i><% end -%>
                              </h4>
                              <%= content_tag :p, col[:desc], class: "hidden-xs" -%>
                            <% end -%>
                          <% end -%>

                        <% end -%>

                      <% end -%>
                    </li>
                  <% end -%>
                </ul>

              <% elsif I18n.t("views.language") == 'en' -%>
                <ul class="dropdown-menu solutions-menu">
                  <% I18n.t("solutions.arr1").each do |solution| %>
                    <%= content_tag :li, class: I18n.t("views.language") == 'en' ? 'd-none' : 'solution' do -%>
                      <%= link_to(send("products_#{solution[:name]}_path")) do -%>
                        <%= content_tag :h4, solution[:label], class: solution[:name]+" menu-title" -%>
                        <%= content_tag :p, solution[:desc], class: "hidden-xs" -%>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% I18n.t("solutions.arr2").each do |solution| %>
                    <%= content_tag :li, class: "solution" do -%>
                      <%= link_to(solutions_path(anchor: solution[:name])) do -%>
                        <%= content_tag :h4, solution[:label], class: solution[:name]+" menu-title" -%>
                        <%= content_tag :p, solution[:desc], class: "hidden-xs" -%>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>

              <% end -%>

            </li>

            <%# 价格 %>
            <li class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>"><%= link_to I18n.t("navbar.price"), prices_path -%></li>

            <%# 活动与合作下拉菜单 %>
            <li class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : 'dropdown' %>" id="events-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t("navbar.events") %></a>

              <ul class="dropdown-menu events-menu">
                <% I18n.t("events").each do |units| %>
                  <%= content_tag :li, units[:group], class: "menu-title hidden-xs" -%>

                  <% units[:list].each do |unit| %>
                    <%= content_tag :li, class: I18n.t("views.language") != 'zh'? 'd-none' : 'events' do -%>
                      <% if unit[:type] == "path" -%>
                      <%= link_to(send("#{unit[:path]}_path")) do -%>
                        <h4 class="<%= unit[:name] -%>">
                          <%= raw(unit[:label]) -%>
                          <% if unit[:isHot] -%><i class="hot-icon"></i><% end -%>
                        </h4>
                        <%= content_tag :p, '', class: "hidden-xs" -%>
                      <% end %>
                      <% elsif unit[:type] == "url" -%>
                      <%= link_to(unit[:url], {target: unit[:target]}) do -%>
                        <h4 class="<%= unit[:name] -%>">
                          <%= raw(unit[:label]) -%>
                          <% if unit[:isHot] -%><i class="hot-icon"></i><% end -%>
                        </h4>
                        <%= content_tag :p, '', class: "hidden-xs" -%>
                      <% end %>
                      <% end -%>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </li>

            <%# 服务与支持下拉菜单 %>
            <li class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : 'dropdown' %>" id="supports-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t("navbar.supports") %></a>

              <ul class="dropdown-menu supports-menu">
                <% I18n.t("supports").each do |support| -%>
                  <%= content_tag :li, class: I18n.t("views.language") != 'zh'? 'd-none' : 'supports' do -%>
                    <%= link_to(support[:url], {target: "_blank"}) do -%>
                      <h4 class="<%= support[:name] -%>">
                        <%= raw(support[:label]) -%>
                      </h4>
                      <%= content_tag :p, '', class: "hidden-xs" -%>
                    <% end -%>
                  <% end %>
                <% end -%>
              </ul>
            </li>

            <%# 新闻动态 %>
            <li class="company-news <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>"><%= link_to "新闻动态", news_path -%></li>

            <%# 关于我们 %>
            <%# 新增下拉菜单 %>
            <%# https://jira.qiniu.io/browse/BO-6548 %>
            <% if I18n.t("views.language") == 'zh' -%>
            <%# 中文站显示下拉菜单 %>
            <li class="dropdown company-more" id="about-us-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t("navbar.about") %></a>

              <ul class="dropdown-menu about-us-menu">
                <% I18n.t("aboutUs").each do |about| -%>
                  <%= content_tag :li, class: I18n.t("views.language") != 'zh'? 'd-none' : 'about-item' do -%>
                    <%= link_to(about[:url], {target: "_blank"}) do -%>
                      <h4 class="<%= about[:name] -%>">
                        <%= raw(about[:label]) -%>
                        <% if about[:isHot] -%><i class="hot-icon"></i><% end -%>
                      </h4>
                      <%= content_tag :p, '', class: "hidden-xs" -%>
                    <% end -%>
                  <% end %>
                <% end -%>
              </ul>
            </li>
            <% else -%>
            <%# 英文站显示跳转链接 %>
            <li class="company-more"><%= link_to I18n.t("navbar.about"), company_path -%></li>
            <% end -%>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-nav-mobile">
            <li class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : 'manage-control' %>">
              <%= link_to "管理控制台", Rails.configuration.portal_host, target: "_blank" -%>
            </li>
            <li class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : 'presentation-more select-unit' %>" id="more-dropdown">
              <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">更多</a>
              <ul class="presentation-menu dropdown-menu dropdown-menu-right m-0 p-0">
                <li class="manage-control">
                  <%= link_to "管理控制台", Rails.configuration.portal_host, target: "_blank" -%>
                </li>
                <li class="company-more"><%= link_to I18n.t("navbar.about"), company_path -%></li>
                <li class="company-news"><%= link_to "新闻动态", news_path -%></li>
              </ul>
            </li>
            <li class="select-unit" id="language-dropdown">
              <a class="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="line <%= I18n.t("views.language") != 'zh' ? 'en' : '' %>"></span>
                <span class="current"><%= I18n.t("views.locale") %></span> &nbsp;
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
              <ul class="language-menu dropdown-menu dropdown-menu-right m-0 p-0">
                <li val="zh">
                  <%= link_to "中文站", controller: controller_name, action: action_name, locale: nil %>
                </li>
                <li val="en">
                  <%= link_to "International-English", controller: controller_name, action: action_name, locale: "en" %>
                </li>
              </ul>
            </li>
            <li class="dropdown hidden userinfo <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>" id="user-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile user-email" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
              <ul class="dropdown-menu user-menu">
                <li><a href="<%= signout_url() -%>" class="text-sub">退出当前帐号</a></li>
              </ul>
            </li>
            <li class="need-signin <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
              <div class="actions">
                <a href="<%= signin_url('www', '') %>" class="btn btn-hollow">登录</a>
                <a href="<%= signup_url() %>" target="_blank" class="btn btn-primary">注册有礼</a>
              </div>
            </li>
            <li class="<%= I18n.t("views.language") == 'zh' ? 'd-none' : '' %>">
              <div class="actions">
                <a href="#" class="btn btn-hollow hidden-xs" data-toggle="modal" data-target="#feedback-modal" data-intention="Contact Us">Contact Us</a>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <%= yield %>


    <%# 悬浮按钮 %>
    <div class="helper">
      <% if Time.now.to_i >= Time.local(2019, 12, 11).to_i && Time.now.to_i < Time.local(2020, 1, 15).to_i -%>
      <div class="helper-image">
        <%= link_to image_tag("double12_2019/icon-helper.png"), "/events/20191212?entry=index-floatwin", id: "helper-double12-2019-icon", class: "helper-double12-2019-icon", title: "12.12 年终盛惠", target: "_blank" -%>
      </div>
      <% end -%>
      <% if Time.now.to_i < Time.local(2019, 12, 11).to_i -%>
      <div class="helper-image">
        <%= link_to image_tag("double11_2019/icon-helper.png"), "/events/20191111?entry=index-floatwin", id: "helper-double11-2019-icon", class: "helper-double11-2019-icon", title: "11.11 云采购嘉年华", target: "_blank" -%>
      </div>
      <% end -%>
      <div class="helper-image">
        <% if Time.now.to_i < Time.local(2019, 7, 1).to_i -%>
          <%# 2019 年 618 活动上线状态 %>
          <%# https://jira.qiniu.io/browse/BO-7593 %>
          <%= link_to image_tag("bigpromotion/icon-helper.gif"), "/events/2019618?entry=index-floatwin", id: "helper-bigpromotion-icon", class: "bigpromotion-icon", title: "七牛云 618 年中特惠，1 元秒杀", target: "_blank" -%>
        <% else -%>
          <%# 2019 年 618 活动下线状态 %>
          <%= link_to image_tag("free/icon-helper.png"), "/events/free?entry=index-floatwin", id: "helper-free-icon", class: "free-icon", title: "免费云服务套餐", target: "_blank" -%>
        <% end -%>
      </div>
      <a id="waiter" data-toggle="modal" data-target="#feedback-modal" data-intention="服务咨询">
        <%= image_tag "icon-sevice@2x.png", alt: nil, class: I18n.t("views.language") != "zh" ? "icon-en" : "" -%>
        <span class="<%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">服务&bull;咨询</span>
      </a>
      <%= link_to image_tag("close.png"), "javascript:;", class:I18n.t("views.language") != "zh" ? "d-none" : "close-btn" %>
    </div>

    <!-- Modal -->
    <%# 表单改版 %>
    <%# https://jira.qiniu.io/browse/BO-6391 %>
    <%# https://jira.qiniu.io/browse/BO-6428 %>
    <div class="modal fade alert-modal-css form-wrapper" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label" data-keyboard="false" data-backdrop="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="feedback-modal-label"><%= I18n.t("views.welcome.helper.title") %></h4>
          </div>
          <div class="modal-body">

            <div id="feedback-alert-success" class="feedback-alert-success">
              <%= image_tag "icon-feedback-success.png", alt: "提交成功", title: "提交成功", class: "icon-feedback", width: 60 -%>
              <h3 class="title-feedback"><%= I18n.t("views.welcome.helper.tips.success") -%></h3>
              <p class="desc-feedback <%= I18n.t("views.language") == 'zh' ? '' : 'd-none' %>"><%= I18n.t("views.welcome.helper.tips.successDesc") -%></p>
            </div>

            <div id="feedback-alert-error" class="feedback-alert-error">
              <%= image_tag "icon-feedback-error.png", alt: "提交失败", title: "提交失败", class: "icon-feedback", width: 60 -%>
              <h3 class="title-feedback"><%= I18n.t("views.welcome.helper.tips.error") -%></h3>
              <p class="desc-feedback <%= I18n.t("views.language") == 'zh' ? '' : 'd-none' %>"><%= I18n.t("views.welcome.helper.tips.errorDesc") -%></p>
            </div>

            <% if I18n.t("views.language") == 'zh' -%>
            <p id="feedback-alert-link" class="feedback-alert-link">
              <%= link_to "免费云服务套餐 0 元上云 立即体验 >>", "/events/free?entry=feedback-form", class: "feedback-link", target: "_blank", title: "免费云服务套餐 0 元上云 立即体验" -%>
            </p>
            <% end -%>

            <%= form_for Feedback.new, url: {controller: "feedbacks", action: "create", t: SecureRandom.uuid}, :remote => true, html: {class: "form-horizontal", id: "feedback-form"} do |f| %>
              <div class="tips text-center <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
                如有售后问题，请 <%= link_to "提交工单", "https://support.qiniu.com/tickets/category", class: "more underline tips-dark", target: "_blank" -%>
              </div>

              <div class="tips text-center <%= I18n.t("views.language") == 'zh' ? 'd-none' : '' %>">
                <%= I18n.t("views.welcome.helper.desc") %>
              </div>

              <%= f.hidden_field :referer, value: request.original_url -%>

              <div class="form-group valid-bottom-border">
                <label for="feedback-content" class="col-sm-2 control-label"><%= I18n.t("views.welcome.helper.content") %></label>
                <div class="col-sm-10">
                  <%= f.text_area :content, size: "x5", maxLength: 255, placeholder: I18n.t("views.welcome.helper.placeholder.content"), class: "form-control", id:"feedback-content" %>
                  <div class="div-error">
                    <label for="" class="error-label"><%= I18n.t("views.welcome.helper.tips.content") %></label>
                  </div>
                  <div class="maxLength-tips">
                    <label for="" class="maxLength-label"><%= I18n.t("views.welcome.helper.tips.tip") %></label>
                  </div>
                </div>
              </div>

              <div class="form-group valid-up-border">
                <label for="feedback-company" class="col-sm-2 control-label"><%= I18n.t("views.welcome.helper.company") %></label>
                <div class="col-sm-10">
                  <%= f.text_field :company, class:"form-control", placeholder: I18n.t("views.welcome.helper.placeholder.company"), id:"feedback-company" %>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-name" class="col-sm-2 control-label"><small class="text-danger required-mark">*</small><%= I18n.t("views.welcome.helper.name") %></label>
                <div class="col-sm-10">
                  <%= f.text_field :name, class:"form-control", placeholder: I18n.t("views.welcome.helper.placeholder.name"), id:"feedback-name", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label"><%= I18n.t("views.welcome.helper.tips.name") %></label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-phone" class="col-sm-2 control-label"><small class="text-danger required-mark">*</small><%= I18n.t("views.welcome.helper.phone") %></label>
                <div class="col-sm-10">
                  <%= f.telephone_field :phone, class:"form-control", placeholder: I18n.t("views.welcome.helper.placeholder.phone"), id:"feedback-phone", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label"><%= I18n.t("views.welcome.helper.tips.phone") %></label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-email" class="col-sm-2 control-label"><small class="text-danger required-mark">*</small><%= I18n.t("views.welcome.helper.email") %></label>
                <div class="col-sm-10">
                  <%= f.text_field :email, type: "email", class:"form-control", placeholder: I18n.t("views.welcome.helper.placeholder.email"), id:"feedback-email", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label"><%= I18n.t("views.welcome.helper.tips.email") %></label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-city" class="col-sm-2 control-label"><small class="text-danger required-mark">*</small><%= I18n.t("views.welcome.helper.country") %></label>
                <% if I18n.t("views.language") == 'zh' %>
                  <div class="col-sm-10" id="province_city" required="true">
                    <select name="feedback[province]" id="province" class="province form-control" required="true" validate="true"></select>
                    <div class="div-error">
                      <label for="" class="error-label"><%= I18n.t("views.welcome.helper.tips.country") %></label>
                    </div>
                  </div>
                <% else %>
                  <div class="col-sm-10" id="province_city">
                  <%= f.text_field :province, class:"form-control", id:"feedback-province", validate: true %>
                    <div class="div-error">
                      <label for="" class="error-label"><%= I18n.t("views.welcome.helper.tips.country") %></label>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="form-group <%= I18n.t("views.language") == 'zh' ? 'd-none' : '' %>">
                <div class="col-sm-12 text-center tips p-b-0">Email our Marketing Team：Marketing@Qiniu.com</div>
              </div>

              <div class="actions">
                <%= f.button I18n.t("views.welcome.helper.submit"), class:"btn btn-primary submit-btn", id:"feedback-submit", disabled: true, data: {disable_with: I18n.t("views.welcome.helper.tips.submit")} %>
              </div>

              <div class="tips text-center bottom-tips <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
                您也可以拨打 <span class="tips-dark">400-808-9176 转 1</span> 进行电话咨询
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <footer class="hidden-xs <%= I18n.t("views.language") != 'zh' ? 'en' : '' %>">
      <div class="container">
        <div class="row <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <div class="col-sm-9">
            <div class="row grey-link">
              <div class="col-sm-3 col-xs-3">
                <dl>
                  <dt>产品与服务</dt>
                  <% if I18n.t("views.language") == 'zh' -%>
                  <% I18n.t("services.left").each do |left| -%>
                    <% left[:list].each do |product| -%>
                      <% service_path = "products_#{product[:name]}_path" -%>
                      <% if product[:catalog] == "welcome" -%>
                        <% service_path = "#{product[:name]}_path" -%>
                      <% end -%>
                      <%= content_tag :dd, link_to(raw(product[:label]), send(service_path)) -%>
                    <% end -%>
                  <% end -%>
                  <% I18n.t("services.right").each do |right| -%>
                    <% right[:list].each do |product| -%>
                      <%= content_tag :dd, link_to(raw(product[:label]), send("products_#{product[:name]}_path")) -%>
                    <% end -%>
                  <% end -%>
                  <% elsif I18n.t("views.language") == 'en' -%>
                  <% I18n.t("services").each do |service| -%>
                    <% service[:list].each do |product| -%>
                      <%= content_tag :dd, link_to(raw(product[:label]), send("products_#{product[:name]}_path")) -%>
                    <% end -%>
                  <% end -%>
                  <% end -%>
                </dl>
              </div>
              <div class="col-sm-3 col-xs-3">
                <dl>
                  <dt>支持</dt>
                  <dd><%= link_to "开发者中心", "https://developer.qiniu.com", target: "_blank" -%></dd>
                  <dd><%= link_to "技术支持", "https://support.qiniu.com", target: "_blank" -%></dd>
                  <dd><%= link_to "问答社区", "https://segmentfault.com/qiniu", target: "_blank" -%></dd>
                  <dd><%= link_to "热门活动", events_path -%></dd>
                  <dd><%= link_to "违规内容举报", "mailto:jubao@qiniu.com", id: "report" -%></dd>
                  <dd><%= link_to "工单系统", "https://support.qiniu.com/login", target: "_blank" -%></dd>
                  <dd><%= link_to "技术博客", "https://blog.qiniu.com/", target: "blank" -%></dd>
                </dl>
              </div>
              <div class="col-sm-3 col-xs-3">
                <dl>
                  <dt>关于我们</dt>
                  <dd><%= link_to "公司介绍", company_path -%></dd>
                  <dd><%= link_to "新闻动态", news_path -%></dd>
                  <dd><%= link_to "产品动态", product_news_path -%></dd>
                  <dd><%= link_to "近期福利", welfares_path -%></dd>
                  <dd><%= link_to "品牌标识", "https://developer.qiniu.com/brand", target: "_blank" -%></dd>
                  <dd><%= link_to "客户案例", case_path -%></dd>
                  <dd><%= link_to "市场合作", cooperations_path -%></dd>
                  <dd><%= link_to "加入我们", "http://career.qiniu.com/", target: "_blank" -%></dd>
                  <dd><%= link_to "联系我们", contact_path -%></dd>
                </dl>
              </div>
              <div class="col-sm-3 col-xs-3">
                <dl>
                  <dt>售前咨询</dt>
                  <dd class="grey-tip">400-808-9176 转 1</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-sm-3 text-center">
            <%= link_to image_tag("logo-zh.png", alt: "七牛云"), "/", class: "logo" -%>
            <div class="qrcode">
              <%= image_tag "weixin-qrcode.png" -%>
            </div>
            <div>关注七牛云公众号</div>
            <div class="sns">
              <a class="github" href="https://github.com/qiniu" target="_blank"></a>
              <a class="weibo" href="http://weibo.com/qiniutek" target="_blank"></a>
            </div>
          </div>
        </div>

        <div class="links grey-link grey-darker-link">
          <div class="cloud-verify">
            <a target="_blank" rel="noopener" href="https://www.kexinyun.org/" class="verify-logo" title="可信云"></a>
            <a target="_blank" rel="noopener" href="#" class="cmmi3-logo" title="CMMI3 国际认证企业"></a>
            <a target="_blank" rel="noopener" href="#" class="iso-logo" title="iso"></a>
            <a target="_blank" rel="noopener" href="https://www.cncf.io/" class="cncf-logo" title="cncf"></a>
            <a target="_blank" rel="noopener" href="http://www.shjbzx.cn/" class="report-logo" title="违法和不良信息举报中心"></a>
          </div>
          <ul class="<%= I18n.t("views.language") == 'en' ? 'd-none' : '' %>">
            <li><div class="copyright grey-darker-color">© <%= Time.now.strftime "%Y" -%> 七牛云</div></li>
            <li><%= link_to "用户协议", user_agreement_path -%></li>
            <li><%= link_to "隐私权政策", privacy_right_path -%></li>
            <% if false -%>
            <li><%= link_to "SLA", sla_kodo_path -%></li>
            <% end -%>
            <li><%= link_to "服务状态", "https://status.qiniu.com/", target: "_blank" -%></li>
          </ul>
          <div class="report-call grey-darker-color <%= I18n.t("views.language") == 'zh' ? '' : 'd-none' %>">
            <span>24 小时互联网违法和不良信息举报：举报电话：021-20703838，举报邮箱：jubao@qiniu.com</span>
          </div>
          <div class="copyright grey-darker-color p-h-sm <%= I18n.t("views.language") == 'zh' ? 'd-none' : '' %>">© 2011-<%= Time.now.strftime "%Y" -%> Copyright by Qiniu Cloud All rights reserved</div>
          <div class="net-compn grey-darker-color <%= I18n.t("views.language") == 'zh' ? '' : 'd-none' %>">
            <span><%= link_to "『网络举报知识竞赛』", "https://newsxmwb.xinmin.cn/special/mljbzsjs/index.html", title: "网络举报知识竞赛", target: "_blank" -%></span>
          </div>
          <div class="icp grey-darker-color">
            <% icp = I18n.t("icps")[(request.domain || "qiniu.com").to_sym] || I18n.t("icps")[("qiniu.com").to_sym] %>
            <%= link_to content_tag(:span, icp[1], class: "icon icon-aq"), "http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000961", target: "_blank" unless icp[1].blank? %>
            <a href="http://www.beian.miit.gov.cn/" target="_blank"><span class="icon icon-aq"> <%= icp[0] -%> </span></a>
          </div>
        </div>
      </div>
    </footer>
    <footer class="visible-xs footer-mobile <%= I18n.t("views.language") != 'zh' ? 'en' : '' %>">
      <div class="container">
        <div class="collapse-wrapper <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
          <ul class="panel-group" id="accordion">
            <li class="panel panel-info">
              <div class="panel-heading panel-sort">
                <a class="sort-name" data-toggle="collapse" data-parent="#accordion" href="#collapseProduct">产品</a>
              </div>

              <div id="collapseProduct" class="panel-collapse collapse collapse-menu">
                <div class="panel-body panel-menu">
                  <% if I18n.t("views.language") == 'zh' -%>
                  <% I18n.t("services.left").each do |left| -%>
                    <% left[:list].each do |product| -%>
                      <% service_path = "products_#{product[:name]}_path" -%>
                      <% if product[:catalog] == "welcome" -%>
                        <% service_path = "#{product[:name]}_path" -%>
                      <% end -%>
                      <%= content_tag :div, link_to(content_tag(:h4, raw(product[:label]), class: product[:name]), send(service_path)), class: "menu-unit" -%>
                    <% end -%>
                  <% end -%>
                  <% I18n.t("services.right").each do |right| -%>
                    <% right[:list].each do |product| -%>
                      <%= content_tag :div, link_to(content_tag(:h4, raw(product[:label]), class: product[:name]), send("products_#{product[:name]}_path")), class: "menu-unit" -%>
                    <% end -%>
                  <% end -%>
                  <% elsif I18n.t("views.language") == 'en' -%>
                  <% I18n.t("services").each do |service| -%>
                    <% service[:list].each do |product| -%>
                      <%= content_tag :div, link_to(content_tag(:h4, raw(product[:label]), class: product[:name]), send("products_#{product[:name]}_path")), class: "menu-unit" -%>
                    <% end -%>
                  <% end -%>
                  <% end -%>
                </div>
              </div>
            </li>
            <li class="panel panel-info">
              <div class="panel-heading panel-sort">
                <a class="sort-name" data-toggle="collapse" data-parent="#accordion" href="#collapseSupport">支持</a>
              </div>

              <div id="collapseSupport" class="panel-collapse collapse collapse-menu">
                <div class="panel-body panel-menu">
                  <div class="menu-unit">
                    <a href="https://developer.qiniu.com/" target="_blank">
                      <h4>开发者中心</h4>
                    </a>
                  </div>
                  <div class="menu-unit">
                    <a href="https://support.qiniu.com/" target="_blank">
                      <h4>技术支持</h4>
                    </a>
                  </div>
                  <div class="menu-unit">
                    <a href="https://segmentfault.com/qiniu" target="_blank">
                      <h4>问答社区</h4>
                    </a>
                  </div>
                  <%= content_tag :div, link_to(content_tag(:h4, "热门活动"), events_path), class: "menu-unit" -%>
                  <div class="menu-unit">
                    <a href="mailto:jubao@qiniu.com" id="report">
                      <h4>违规内容举报</h4>
                    </a>
                  </div>
                  <div class="menu-unit">
                    <a href="https://support.qiniu.com/login" target="_blank">
                      <h4>工单系统</h4>
                    </a>
                  </div>
                  <div class="menu-unit">
                    <a href="https://blog.qiniu.com/" target="_blank">
                      <h4>技术博客</h4>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="panel panel-info">
              <div class="panel-heading panel-sort">
                <a class="sort-name" data-toggle="collapse" data-parent="#accordion" href="#collapseUs">关于我们</a>
              </div>
              <div id="collapseUs" class="panel-collapse collapse collapse-menu">
                <div class="panel-body panel-menu">
                  <%= content_tag :div, link_to(content_tag(:h4, "公司介绍"), company_path), class: "menu-unit" -%>
                  <%= content_tag :div, link_to(content_tag(:h4, "新闻动态"), news_path), class: "menu-unit" -%>
                  <%= content_tag :div, link_to(content_tag(:h4, "产品动态"), product_news_path), class: "menu-unit" -%>
                  <%= content_tag :div, link_to(content_tag(:h4, "近期福利"), welfares_path), class: "menu-unit" -%>
                  <div class="menu-unit">
                    <a href="https://developer.qiniu.com/brand" target="_blank">
                      <h4>品牌标识</h4>
                    </a>
                  </div>
                  <%= content_tag :div, link_to(content_tag(:h4, "客户案例"), case_path), class: "menu-unit" -%>
                  <%= content_tag :div, link_to(content_tag(:h4, "市场合作"), cooperations_path), class: "menu-unit" -%>
                  <div class="menu-unit">
                    <a href="http://career.qiniu.com/" target="_blank">
                      <h4>加入我们</h4>
                    </a>
                  </div>
                  <%= content_tag :div, link_to(content_tag(:h4, "联系我们"), contact_path), class: "menu-unit" -%>
                </div>
              </div>
            </li>
            <li class="panel panel-info">
              <div class="panel-heading panel-sort">
                <a class="sort-name" data-toggle="collapse" data-parent="#accordion" href="#pre-consultation">售前咨询</a>
              </div>
              <div id="pre-consultation" class="panel-collapse collapse collapse-menu">
                <div class="panel-body panel-menu">
                  <div class="menu-unit">
                    <%= content_tag :h4, "400-808-9176 转 1" -%>
                  </div>
                </div>
              </div>
            </li>
            <li class="panel panel-info">
              <div class="panel-heading panel-sort">
                <a class="sort-name" data-toggle="collapse" data-parent="#accordion" href="#collapseCare">关注我们</a>
              </div>

              <div id="collapseCare" class="panel-collapse collapse collapse-menu">
                <div class="panel-body panel-menu">
                  <div class="text-center">
                    <%= link_to image_tag("logo-zh.png", alt: "七牛云"), "/", class: "logo" -%>
                    <div class="qrcode">
                      <%= image_tag "weixin-qrcode.png" -%>
                    </div>
                    <div>关注七牛云公众号</div>
                    <div class="sns">
                      <a class="github" href="https://github.com/qiniu" target="_blank"></a>
                      <a class="weibo" href="http://weibo.com/qiniutek" target="_blank"></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="links grey-link grey-darker-link">
          <div class="cloud-verify">
            <a target="_blank" rel="noopener" href="https://www.kexinyun.org/" class="verify-logo" title="可信云"></a>
            <a target="_blank" rel="noopener" href="#" class="cmmi3-logo" title="CMMI3 国际认证企业"></a>
            <a target="_blank" rel="noopener" href="#" class="iso-logo" title="iso"></a>
            <a target="_blank" rel="noopener" href="https://www.cncf.io/" class="cncf-logo" title="cncf"></a>
            <a target="_blank" rel="noopener" href="http://www.shjbzx.cn/" class="report-logo" title="违法和不良信息举报中心"></a>
          </div>
          <ul class="<%= I18n.t("views.language") == 'en' ? 'd-none' : '' %>">
            <li><div class="copyright grey-darker-color">© <%= Time.now.strftime "%Y" -%> 七牛云</div></li>
            <li><%= link_to "用户协议", user_agreement_path -%></li>
            <li><%= link_to "隐私权政策", privacy_right_path -%></li>
            <% if false -%>
            <li><%= link_to "SLA", sla_kodo_path -%></li>
            <% end -%>
            <li><%= link_to "服务状态", "https://status.qiniu.com/", target: "_blank" -%></li>
          </ul>
          <div class="report-call grey-darker-color <%= I18n.t("views.language") == 'zh' ? '' : 'd-none' %>">
            <span>24 小时互联网违法和不良信息举报：举报电话：021-20703838</span>
            <span>举报邮箱：jubao@qiniu.com</span>
          </div>
          <div class="net-compn grey-darker-color <%= I18n.t("views.language") == 'zh' ? '' : 'd-none' %>">
            <span><%= link_to "『网络举报知识竞赛』", "https://newsxmwb.xinmin.cn/special/mljbzsjs/index.html", title: "网络举报知识竞赛", target: "_blank" -%></span>
          </div>
          <div class="copyright grey-darker-color p-h-sm <%= I18n.t("views.language") == 'zh' ? 'd-none' : '' %>">© 2011-<%= Time.now.strftime "%Y" -%> Copyright by Qiniu Cloud All rights reserved</div>
          <div class="icp grey-darker-color">
            <% icp = I18n.t("icps")[(request.domain || "qiniu.com").to_sym] || I18n.t("icps")[("qiniu.com").to_sym] %>
            <%= link_to content_tag(:span, icp[1], class: "icon icon-aq"), "http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000961", rel:'nofollow', target: "_blank" unless icp[1].blank? %>
            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow"><span class="icon icon-aq"><%= icp[0] -%></span></a>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-sign <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
      <div class="stripe stripe-blue p-xxl visible-xs fixed-b">
        <div class="text-center">
          <%= link_to "马上免费注册", Rails.configuration.portal_host + "/signup", class: "btn btn-lg btn-hollow around-xl hidden-xs", target: "_blank" -%>
        </div>
        <div class="text-center">
          <%= link_to "马上免费注册", Rails.configuration.portal_host + "/signup", class: "btn btn-lg btn-hollow around-xl visible-xs-inline", target: "_blank" -%>
        </div>
        <%= link_to image_tag("close.png", class: "stripe-close-img"), "javascript:;", class: "stripe-close-btn" %>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40857860-16', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?204fcf6777f8efa834fe7c45a2336bf1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script>
      (function() {
        var hostname = window.location.hostname;
        var domain = hostname.split('.').slice(-2).join('.');
        if (domain && domain !== 'localhost' && domain.indexOf('qiniu.io') < 0) {
          var bp = document.createElement('script');
          var curProtocol = window.location.protocol.split(':')[0];
          if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(bp, s);
        }
      })();
    </script>
    <script src="https://dn-mars-assets.qbox.me/clipboard.min.js"></script>
    <script src="https://dn-mars-assets.qbox.me/FileSaver.min.js"></script>
    <script src="https://dn-mars-assets.qbox.me/jquery.jsonview.min.js"></script>
    <script src="https://dn-mars-assets.qbox.me/countUp.min.js"></script>
  </body>
</html>
