<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">var qns = window._qns || []; window._qns=qns;qns.push(["setStartLoadTime",new Date().getTime()]);qns.push(["setAccountID","591ead7b54630dd7aed533df"]);</script>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <% seo = I18n.t("seo")["#{controller_name}_#{action_name}".to_sym] || {} -%>
    <% unless seo[:keywords].blank? %>
    <meta name="keywords" content="<%= seo[:keywords] -%>" />
    <% end %>
    <% unless seo[:description].blank? %>
    <meta name="description" content="<%= seo[:description] -%>">
    <% end %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title><%= seo[:title] || @title || "七牛云" -%></title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name -%>-page <%= "#{controller_name}-page-#{action_name}" -%>">
    <!--[if lt IE 10]>
      <div class="browsehappy alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        您正在使用 <strong>旧浏览器</strong> . 为了更好的体验，请 <a href="http://browsehappy.com/" target="_blank">更新</a> 您的浏览器.
      </div>
    <![endif]-->

    <nav class="navbar navbar-default" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to content_tag(:i, nil, class: "fa fa-bars"), "javascript:;", class: "sidebar-toggle" if controller_name == "articles" %>
          <%= link_to image_tag("logo-white.png", width: 50), "/", class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown" id="spaces-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">产品</a>

              <ul class="dropdown-menu services-menu">
                <% I18n.t("services").each do |service| %>
                  <%= content_tag :li, service[:group], class: "menu-title hidden-xs" -%>

                  <% service[:list].each do |product| %>
                    <%= content_tag :li, link_to(content_tag(:h4, product[:label],class: product[:name]) + content_tag(:p, product[:desc], class: "hidden-xs"), '/products/' + product[:name]), class: "service" -%>
                  <% end %>
                <% end %>
              </ul>
            </li>

            <li class="dropdown" id="solution-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">解决方案</a>

              <ul class="dropdown-menu solutions-menu">
                <% I18n.t("solutions").each do |solution| %>
                  <%= content_tag :li, link_to(content_tag(:h4, solution[:label], class: solution[:name]) + content_tag(:p, solution[:desc], class: "hidden-xs"), solutions_path(anchor: solution[:name])), class: "solution" -%>
                <% end %>
              </ul>
            </li>
            <li><%= link_to "价格", prices_path -%></li>
            <li><%= link_to "关于我们", company_path -%></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="https://portal.qiniu.com">管理控制台</a></li>
            <li><a target="_blank" href="https://developer.qiniu.com">开发者中心</a></li>
            <li><%= link_to "热门活动", events_path -%></li>
            <li>
              <div class="actions">
                <a target="_blank" href="https://portal.qiniu.com/signin" class="btn btn-hollow">登录</a>
                <a target="_blank" href="https://portal.qiniu.com/signup" class="btn btn-primary">注册有礼</a>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <%= yield %>


    <%# 悬浮按钮 %>
    <div class="helper">
      <a id="waiter" data-toggle="modal" data-target="#feedback-modal">
        <%= image_tag "icon-sevice@2x.png", alt: nil -%>
        <span>服务&bull;咨询</span>
      </a>
      <%= link_to image_tag("close.png"), "javascript:;", class: "close-btn" %>
    </div>

    <!-- Modal -->
    <div class="modal fade alert-modal-css form-wrapper" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label" data-keyboard="false" data-backdrop="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="feedback-modal-label">产品及服务咨询</h4>
          </div>
          <div class="modal-body">
            <div id="feedback-alert" class="alert alert-success" style="display: none;"></div>
            <div class="tips">温馨提示：此表单仅用于产品及服务售前咨询，如有售后技术咨询，请<%= link_to "提交工单", "https://support.qiniu.com/tickets/category", class: "more underline" -%>，谢谢!</div>


            <%= form_for Feedback.new, url: {controller: "feedbacks", action: "create", t: SecureRandom.uuid}, :remote => true, html: {class: "form-horizontal", id: "feedback-form"} do |f| %>
              <%= f.hidden_field :referer, value: request.original_url -%>

              <div class="form-group">
                <label for="feedback-content" class="col-sm-2 control-label">咨询内容<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_area :content, size: "x5", class: "form-control", id:"feedback-content", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写咨询内容</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-name" class="col-sm-2 control-label">姓名<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.text_field :name, class:"form-control", id:"feedback-name", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请填写姓名</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-company" class="col-sm-2 control-label">公司名称</label>
                <div class="col-sm-10">
                  <%= f.text_field :company, class:"form-control", id:"feedback-company" %>
                </div>
              </div>

              <div class="form-group">
                <label for="feedback-phone" class="col-sm-2 control-label">联系电话<small class="text-danger">*</small></label>
                <div class="col-sm-10">
                  <%= f.telephone_field :phone, class:"form-control", id:"feedback-phone", validate: true %>
                  <div class="div-error">
                    <label for="" class="error-label">请以正确的格式填写联系电话</label>
                  </div>
                </div>
              </div>

              <div class="actions">
                <%= f.button "提 交", class:"btn btn-primary", id:"feedback-submit", disabled: true, data: {disable_with: "正在提交中..."}  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="row grey-link">
              <div class="col-sm-4 col-xs-4">
                <dl>
                  <dt>产品与服务</dt>
                  <% I18n.t("services").each do |service| %>
                    <% service[:list].each do |product| %>
                      <%= content_tag :dd, link_to(product[:label], '/products/' + product[:name]) -%>
                    <% end %>
                  <% end %>
                </dl>
              </div>
              <div class="col-sm-4 col-xs-4">
                <dl>
                  <dt>支持</dt>
                  <dd><%= link_to "开发者中心", "https://developer.qiniu.com", target: "_blank" -%></dd>
                  <dd><%= link_to "技术支持", "https://support.qiniu.com", target: "_blank" -%></dd>
                  <dd><%= link_to "问答社区", "https://segmentfault.com/qiniu", target: "_blank" -%></dd>
                  <dd><%= link_to "热门活动", events_path -%></dd>
                  <dd><%= link_to "违规内容举报", "mailto:jubao@qiniu.com", id: "report" -%></dd>
                  <dd><%= link_to "工单系统", "https://support.qiniu.com/login", target: "_blank" -%></dd>
                  <dd><%= link_to "技术博客", "http://blog.qiniu.com/", target: "blank" -%></dd>
                </dl>
              </div>
              <div class="col-sm-4 col-xs-4">
                <dl>
                  <dt>关于我们</dt>
                  <dd><%= link_to "公司介绍", company_path -%></dd>
                  <dd><%= link_to "新闻动态", news_path -%></dd>
                  <dd><%= link_to "产品动态", product_news_path -%></dd>
                  <dd><%= link_to "近期福利", welfares_path -%></dd>
                  <dd><%= link_to "品牌标识", "https://developer.qiniu.com/brand", target: "_blank" -%></dd>
                  <dd><%= link_to "客户案例", case_path -%></dd>
                  <dd><%= link_to "市场合作", cooperations_path -%></dd>
                  <dd><%= link_to "加入我们", "http://career.qiniu.com/", target: "_blank" -%></dd>
                  <dd><%= link_to "联系我们", contact_path -%></dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <%= link_to image_tag("logo.png", alt: "七牛云"), "/", class: "logo" -%>
            <div class="qrcode">
              <%= image_tag "weixin-qrcode.png" -%>
            </div>
            <div class="sns">
              <a class="github" href="https://github.com/qiniu" target="_blank"></a>
              <a class="weibo" href="http://weibo.com/qiniutek" target="_blank"></a>
            </div>
          </div>
        </div>

        <div class="links grey-link">
          <div class="cloud-verify">
            <a target="_blank" rel="noopener" href="http://www.dca.org.cn/" class="verify-logo" title="可信云"></a>
            <a target="_blank" rel="noopener" href="#" class="iso-logo" title="iso"></a>
          </div>
          <ul>
            <li><div class="copyright grey-color">© 2017 七牛云</div></li>
            <li><a href="/user-agreement">用户协议</a></li>
            <li><%= link_to "SLA", user_agreement_path -%></li>
          </ul>
          <div class="icp grey-color">
            <span>沪公网安备 31011502000961 号</span>
            <span>沪 ICP 备 11037377 号-5</span>
          </div>
        </div>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40857860-16', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?204fcf6777f8efa834fe7c45a2336bf1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script src="https://mars-assets.qnssl.com/stalker.js"></script>
  </body>
</html>
