<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="keywords" content="qiniu" />
    <meta name="description" content="qiniu.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title><%= @title && "#{@title} - " -%>七牛云</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      (function(para) {
        var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
        if(typeof(w['sensorsDataAnalytic201505']) !== 'undefined') {
          return false;
        }
        w['sensorsDataAnalytic201505'] = n;
        w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
        var ifs = ['track','quick','register','registerPage','registerOnce','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister','getAppStatus'];
        for (var i = 0; i < ifs.length; i++) {
          w[n][ifs[i]] = w[n].call(null, ifs[i]);
        }
        if (!w[n]._t) {
          x = d.createElement(s), y = d.getElementsByTagName(s)[0];
          x.async = 1;
          x.src = p;
          x.setAttribute('charset','UTF-8');
          w[n].para = para;
          y.parentNode.insertBefore(x, y);
        }
      })({
        sdk_url: 'https://static.sensorsdata.cn/sdk/1.13.14/sensorsdata.min.js',
        heatmap_url: 'https://static.sensorsdata.cn/sdk/1.13.14/heatmap.min.js',
        name: 'sensors',
        server_url: 'https://sensors.qiniu.com/sa?project=default',
        heatmap:{}
      });
      sensors.quick('autoTrack');
    </script>
  </head>

  <body class="<%= controller_name -%>-page <%= "#{controller_name}-page-#{action_name}" -%>">
    <!--[if lt IE 10]>
      <p class="browsehappy">您正在使用 <strong>旧浏览器</strong> . 为了更好的体验，请 <a href="http://browsehappy.com/">更新</a> 您的浏览器.</p>
    <![endif]-->

    <nav class="navbar navbar-default nav-bg" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo-qiniu.png", width: 40) + content_tag( :span, '七牛招聘', class: "navbar-brand-text"), "/", class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "人在七牛", "/" -%></li>
            <li><%= link_to "认识七牛", "https://www.qiniu.com/company", target: "_blank" -%></li>
            <li><%= link_to "社会招聘", social_path -%></li>
            <li><%= link_to "校园招聘", school_path -%></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-nav-mobile">
            <li class="dropdown hidden userinfo <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>" id="user-dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-mobile user-email" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
              <ul class="dropdown-menu user-menu">
                <li><a href="<%= signout_url() -%>" class="text-sub">退出当前帐号</a></li>
              </ul>
            </li>
            <li class="need-signin <%= I18n.t("views.language") != 'zh' ? 'd-none' : '' %>">
              <div class="actions">
                <a href="<%= signin_url('career', '') %>" class="btn btn-hollow">登录</a>
                <a href="<%= signup_url() %>" target="_blank" class="btn btn-primary">注册有礼</a>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <footer class="form-footer">
      <div class="container">
        <div class="links career-footer-links">
          <ul>
            <li><div class="copyright">© <%= Time.now.strftime "%Y" -%> 七牛云</div></li>
            <li><a href="/user-agreement">用户协议</a></li>
            <li><a href="/privacy-right">隐私权政策</a></li>
            <% if false -%>
            <li><a href="/sla-kodo">SLA</a></li>
            <% end -%>
          </ul>
          <div class="icp">
              <a class="out_link" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000961" target="_blank" rel="nofollow"><span class="icon icon-aq">沪公网安备 31011502000961 号</span></a>
              <a class="out_link" href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow"><span>沪 ICP 备 11037377 号-5</span></a>
          </div>
        </div>
        <div class="contact-links">
          <div class="sns">
            <a class="weixin" href="javascript:;"></a>
            <div class="popover fade top in" id="wexin-qrcode-popover">
              <div class="arrow"></div>
              <div class="popover-content"><%= image_tag "weixin-qrcode.png", width: 140 -%></div>
            </div>
            <a class="github" href="https://github.com/qiniu" target="_blank"></a>
            <a class="weibo" href="http://weibo.com/qiniutek" target="_blank"></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88944261-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-88944261-3');
    </script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?204fcf6777f8efa834fe7c45a2336bf1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
